{
  "metadata": {
    "apiVersion": "2019-02-03",
    "endpointPrefix": "kendra",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "kendra",
    "serviceFullName": "AWSKendraFrontendService",
    "serviceId": "kendra",
    "signatureVersion": "v4",
    "signingName": "kendra",
    "targetPrefix": "AWSKendraFrontendService",
    "uid": "kendra-2019-02-03"
  },
  "operations": {
    "AssociateEntitiesToExperience": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateEntitiesToExperienceRequest"
      },
      "name": "AssociateEntitiesToExperience",
      "output": {
        "shape": "AssociateEntitiesToExperienceResponse"
      }
    },
    "AssociatePersonasToEntities": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociatePersonasToEntitiesRequest"
      },
      "name": "AssociatePersonasToEntities",
      "output": {
        "shape": "AssociatePersonasToEntitiesResponse"
      }
    },
    "BatchDeleteDocument": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDeleteDocumentRequest"
      },
      "name": "BatchDeleteDocument",
      "output": {
        "shape": "BatchDeleteDocumentResponse"
      }
    },
    "BatchGetDocumentStatus": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetDocumentStatusRequest"
      },
      "name": "BatchGetDocumentStatus",
      "output": {
        "shape": "BatchGetDocumentStatusResponse"
      }
    },
    "BatchPutDocument": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchPutDocumentRequest"
      },
      "name": "BatchPutDocument",
      "output": {
        "shape": "BatchPutDocumentResponse"
      }
    },
    "ClearQuerySuggestions": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ClearQuerySuggestionsRequest"
      },
      "name": "ClearQuerySuggestions"
    },
    "CreateAccessControlConfiguration": {
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAccessControlConfigurationRequest"
      },
      "name": "CreateAccessControlConfiguration",
      "output": {
        "shape": "CreateAccessControlConfigurationResponse"
      }
    },
    "CreateDataSource": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDataSourceRequest"
      },
      "name": "CreateDataSource",
      "output": {
        "shape": "CreateDataSourceResponse"
      }
    },
    "CreateExperience": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateExperienceRequest"
      },
      "name": "CreateExperience",
      "output": {
        "shape": "CreateExperienceResponse"
      }
    },
    "CreateFaq": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateFaqRequest"
      },
      "name": "CreateFaq",
      "output": {
        "shape": "CreateFaqResponse"
      }
    },
    "CreateIndex": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceAlreadyExistException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateIndexRequest"
      },
      "name": "CreateIndex",
      "output": {
        "shape": "CreateIndexResponse"
      }
    },
    "CreateQuerySuggestionsBlockList": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateQuerySuggestionsBlockListRequest"
      },
      "name": "CreateQuerySuggestionsBlockList",
      "output": {
        "shape": "CreateQuerySuggestionsBlockListResponse"
      }
    },
    "CreateThesaurus": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateThesaurusRequest"
      },
      "name": "CreateThesaurus",
      "output": {
        "shape": "CreateThesaurusResponse"
      }
    },
    "DeleteAccessControlConfiguration": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAccessControlConfigurationRequest"
      },
      "name": "DeleteAccessControlConfiguration",
      "output": {
        "shape": "DeleteAccessControlConfigurationResponse"
      }
    },
    "DeleteDataSource": {
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDataSourceRequest"
      },
      "name": "DeleteDataSource"
    },
    "DeleteExperience": {
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteExperienceRequest"
      },
      "name": "DeleteExperience",
      "output": {
        "shape": "DeleteExperienceResponse"
      }
    },
    "DeleteFaq": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFaqRequest"
      },
      "name": "DeleteFaq"
    },
    "DeleteIndex": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteIndexRequest"
      },
      "name": "DeleteIndex"
    },
    "DeletePrincipalMapping": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePrincipalMappingRequest"
      },
      "name": "DeletePrincipalMapping"
    },
    "DeleteQuerySuggestionsBlockList": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteQuerySuggestionsBlockListRequest"
      },
      "name": "DeleteQuerySuggestionsBlockList"
    },
    "DeleteThesaurus": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteThesaurusRequest"
      },
      "name": "DeleteThesaurus"
    },
    "DescribeAccessControlConfiguration": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAccessControlConfigurationRequest"
      },
      "name": "DescribeAccessControlConfiguration",
      "output": {
        "shape": "DescribeAccessControlConfigurationResponse"
      }
    },
    "DescribeDataSource": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDataSourceRequest"
      },
      "name": "DescribeDataSource",
      "output": {
        "shape": "DescribeDataSourceResponse"
      }
    },
    "DescribeExperience": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeExperienceRequest"
      },
      "name": "DescribeExperience",
      "output": {
        "shape": "DescribeExperienceResponse"
      }
    },
    "DescribeFaq": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeFaqRequest"
      },
      "name": "DescribeFaq",
      "output": {
        "shape": "DescribeFaqResponse"
      }
    },
    "DescribeIndex": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeIndexRequest"
      },
      "name": "DescribeIndex",
      "output": {
        "shape": "DescribeIndexResponse"
      }
    },
    "DescribePrincipalMapping": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePrincipalMappingRequest"
      },
      "name": "DescribePrincipalMapping",
      "output": {
        "shape": "DescribePrincipalMappingResponse"
      }
    },
    "DescribeQuerySuggestionsBlockList": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeQuerySuggestionsBlockListRequest"
      },
      "name": "DescribeQuerySuggestionsBlockList",
      "output": {
        "shape": "DescribeQuerySuggestionsBlockListResponse"
      }
    },
    "DescribeQuerySuggestionsConfig": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeQuerySuggestionsConfigRequest"
      },
      "name": "DescribeQuerySuggestionsConfig",
      "output": {
        "shape": "DescribeQuerySuggestionsConfigResponse"
      }
    },
    "DescribeThesaurus": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeThesaurusRequest"
      },
      "name": "DescribeThesaurus",
      "output": {
        "shape": "DescribeThesaurusResponse"
      }
    },
    "DisassociateEntitiesFromExperience": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateEntitiesFromExperienceRequest"
      },
      "name": "DisassociateEntitiesFromExperience",
      "output": {
        "shape": "DisassociateEntitiesFromExperienceResponse"
      }
    },
    "DisassociatePersonasFromEntities": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociatePersonasFromEntitiesRequest"
      },
      "name": "DisassociatePersonasFromEntities",
      "output": {
        "shape": "DisassociatePersonasFromEntitiesResponse"
      }
    },
    "GetQuerySuggestions": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetQuerySuggestionsRequest"
      },
      "name": "GetQuerySuggestions",
      "output": {
        "shape": "GetQuerySuggestionsResponse"
      }
    },
    "GetSnapshots": {
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSnapshotsRequest"
      },
      "name": "GetSnapshots",
      "output": {
        "shape": "GetSnapshotsResponse"
      }
    },
    "ListAccessControlConfigurations": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAccessControlConfigurationsRequest"
      },
      "name": "ListAccessControlConfigurations",
      "output": {
        "shape": "ListAccessControlConfigurationsResponse"
      }
    },
    "ListDataSourceSyncJobs": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDataSourceSyncJobsRequest"
      },
      "name": "ListDataSourceSyncJobs",
      "output": {
        "shape": "ListDataSourceSyncJobsResponse"
      }
    },
    "ListDataSources": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDataSourcesRequest"
      },
      "name": "ListDataSources",
      "output": {
        "shape": "ListDataSourcesResponse"
      }
    },
    "ListEntityPersonas": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEntityPersonasRequest"
      },
      "name": "ListEntityPersonas",
      "output": {
        "shape": "ListEntityPersonasResponse"
      }
    },
    "ListExperienceEntities": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListExperienceEntitiesRequest"
      },
      "name": "ListExperienceEntities",
      "output": {
        "shape": "ListExperienceEntitiesResponse"
      }
    },
    "ListExperiences": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListExperiencesRequest"
      },
      "name": "ListExperiences",
      "output": {
        "shape": "ListExperiencesResponse"
      }
    },
    "ListFaqs": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFaqsRequest"
      },
      "name": "ListFaqs",
      "output": {
        "shape": "ListFaqsResponse"
      }
    },
    "ListGroupsOlderThanOrderingId": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListGroupsOlderThanOrderingIdRequest"
      },
      "name": "ListGroupsOlderThanOrderingId",
      "output": {
        "shape": "ListGroupsOlderThanOrderingIdResponse"
      }
    },
    "ListIndices": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListIndicesRequest"
      },
      "name": "ListIndices",
      "output": {
        "shape": "ListIndicesResponse"
      }
    },
    "ListQuerySuggestionsBlockLists": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListQuerySuggestionsBlockListsRequest"
      },
      "name": "ListQuerySuggestionsBlockLists",
      "output": {
        "shape": "ListQuerySuggestionsBlockListsResponse"
      }
    },
    "ListTagsForResource": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListThesauri": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListThesauriRequest"
      },
      "name": "ListThesauri",
      "output": {
        "shape": "ListThesauriResponse"
      }
    },
    "PutPrincipalMapping": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutPrincipalMappingRequest"
      },
      "name": "PutPrincipalMapping"
    },
    "Query": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "QueryRequest"
      },
      "name": "Query",
      "output": {
        "shape": "QueryResult"
      }
    },
    "StartDataSourceSyncJob": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartDataSourceSyncJobRequest"
      },
      "name": "StartDataSourceSyncJob",
      "output": {
        "shape": "StartDataSourceSyncJobResponse"
      }
    },
    "StopDataSourceSyncJob": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopDataSourceSyncJobRequest"
      },
      "name": "StopDataSourceSyncJob"
    },
    "SubmitFeedback": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SubmitFeedbackRequest"
      },
      "name": "SubmitFeedback"
    },
    "TagResource": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateAccessControlConfiguration": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAccessControlConfigurationRequest"
      },
      "name": "UpdateAccessControlConfiguration",
      "output": {
        "shape": "UpdateAccessControlConfigurationResponse"
      }
    },
    "UpdateDataSource": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDataSourceRequest"
      },
      "name": "UpdateDataSource"
    },
    "UpdateExperience": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateExperienceRequest"
      },
      "name": "UpdateExperience"
    },
    "UpdateIndex": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateIndexRequest"
      },
      "name": "UpdateIndex"
    },
    "UpdateQuerySuggestionsBlockList": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateQuerySuggestionsBlockListRequest"
      },
      "name": "UpdateQuerySuggestionsBlockList"
    },
    "UpdateQuerySuggestionsConfig": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateQuerySuggestionsConfigRequest"
      },
      "name": "UpdateQuerySuggestionsConfig"
    },
    "UpdateThesaurus": {
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateThesaurusRequest"
      },
      "name": "UpdateThesaurus"
    }
  },
  "shapes": {
    "AccessControlConfigurationId": {
      "max": 36,
      "min": 1,
      "pattern": "[a-zA-Z0-9-]+",
      "type": "string"
    },
    "AccessControlConfigurationName": {
      "max": 200,
      "min": 1,
      "pattern": "[\\S\\s]*",
      "type": "string"
    },
    "AccessControlConfigurationSummary": {
      "members": {
        "Id": {
          "shape": "AccessControlConfigurationId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "AccessControlConfigurationSummaryList": {
      "member": {
        "shape": "AccessControlConfigurationSummary"
      },
      "type": "list"
    },
    "AccessControlListConfiguration": {
      "members": {
        "KeyPath": {
          "shape": "S3ObjectKey"
        }
      },
      "type": "structure"
    },
    "AccessDeniedException": {
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AclConfiguration": {
      "members": {
        "AllowedGroupsColumnName": {
          "shape": "ColumnName"
        }
      },
      "required": [
        "AllowedGroupsColumnName"
      ],
      "type": "structure"
    },
    "AdditionalResultAttribute": {
      "members": {
        "Key": {
          "shape": "String"
        },
        "Value": {
          "shape": "AdditionalResultAttributeValue"
        },
        "ValueType": {
          "shape": "AdditionalResultAttributeValueType"
        }
      },
      "required": [
        "Key",
        "ValueType",
        "Value"
      ],
      "type": "structure"
    },
    "AdditionalResultAttributeList": {
      "member": {
        "shape": "AdditionalResultAttribute"
      },
      "type": "list"
    },
    "AdditionalResultAttributeValue": {
      "members": {
        "TextWithHighlightsValue": {
          "shape": "TextWithHighlights"
        }
      },
      "type": "structure"
    },
    "AdditionalResultAttributeValueType": {
      "enum": [
        "TEXT_WITH_HIGHLIGHTS_VALUE"
      ],
      "type": "string"
    },
    "AlfrescoConfiguration": {
      "members": {
        "BlogFieldMappings": {
          "shape": "DataSourceToIndexFieldMappingList"
        },
        "CrawlComments": {
          "shape": "Boolean"
        },
        "CrawlSystemFolders": {
          "shape": "Boolean"
        },
        "DocumentLibraryFieldMappings": {
          "shape": "DataSourceToIndexFieldMappingList"
        },
        "EntityFilter": {
          "shape": "EntityFilter"
        },
        "ExclusionPatterns": {
          "shape": "DataSourceInclusionsExclusionsStrings"
        },
        "InclusionPatterns": {
          "shape": "DataSourceInclusionsExclusionsStrings"
        },
        "SecretArn": {
          "shape": "SecretArn"
        },
        "SiteId": {
          "shape": "SiteId"
        },
        "SiteUrl": {
          "shape": "SiteUrl"
        },
        "SslCertificateS3Path": {
          "shape": "S3Path"
        },
        "VpcConfiguration": {
          "shape": "DataSourceVpcConfiguration"
        },
        "WikiFieldMappings": {
          "shape": "DataSourceToIndexFieldMappingList"
        }
      },
      "required": [
        "SiteUrl",
        "SiteId",
        "SecretArn",
        "SslCertificateS3Path"
      ],
      "type": "structure"
    },
    "AlfrescoEntity": {
      "enum": [
        "wiki",
        "blog",
        "documentLibrary"
      ],
      "type": "string"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "AssociateEntitiesToExperienceFailedEntityList": {
      "max": 20,
      "member": {
        "shape": "FailedEntity"
      },
      "min": 1,
      "type": "list"
    },
    "AssociateEntitiesToExperienceRequest": {
      "members": {
        "EntityList": {
          "shape": "AssociateEntityList"
        },
        "Id": {
          "shape": "ExperienceId"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId",
        "EntityList"
      ],
      "type": "structure"
    },
    "AssociateEntitiesToExperienceResponse": {
      "members": {
        "FailedEntityList": {
          "shape": "AssociateEntitiesToExperienceFailedEntityList"
        }
      },
      "type": "structure"
    },
    "AssociateEntityList": {
      "max": 20,
      "member": {
        "shape": "EntityConfiguration"
      },
      "min": 1,
      "type": "list"
    },
    "AssociatePersonasToEntitiesRequest": {
      "members": {
        "Id": {
          "shape": "ExperienceId"
        },
        "IndexId": {
          "shape": "IndexId"
        },
        "Personas": {
          "shape": "EntityPersonaConfigurationList"
        }
      },
      "required": [
        "Id",
        "IndexId",
        "Personas"
      ],
      "type": "structure"
    },
    "AssociatePersonasToEntitiesResponse": {
      "members": {
        "FailedEntityList": {
          "shape": "FailedEntityList"
        }
      },
      "type": "structure"
    },
    "AttributeFilter": {
      "members": {
        "AndAllFilters": {
          "shape": "AttributeFilterList"
        },
        "ContainsAll": {
          "shape": "DocumentAttribute"
        },
        "ContainsAny": {
          "shape": "DocumentAttribute"
        },
        "EqualsTo": {
          "shape": "DocumentAttribute"
        },
        "GreaterThan": {
          "shape": "DocumentAttribute"
        },
        "GreaterThanOrEquals": {
          "shape": "DocumentAttribute"
        },
        "LessThan": {
          "shape": "DocumentAttribute"
        },
        "LessThanOrEquals": {
          "shape": "DocumentAttribute"
        },
        "NotFilter": {
          "shape": "AttributeFilter"
        },
        "OrAllFilters": {
          "shape": "AttributeFilterList"
        }
      },
      "type": "structure"
    },
    "AttributeFilterList": {
      "member": {
        "shape": "AttributeFilter"
      },
      "type": "list"
    },
    "AuthenticationConfiguration": {
      "members": {
        "BasicAuthentication": {
          "shape": "BasicAuthenticationConfigurationList"
        }
      },
      "type": "structure"
    },
    "BasicAuthenticationConfiguration": {
      "members": {
        "Credentials": {
          "shape": "SecretArn"
        },
        "Host": {
          "shape": "Host"
        },
        "Port": {
          "shape": "Port"
        }
      },
      "required": [
        "Host",
        "Port",
        "Credentials"
      ],
      "type": "structure"
    },
    "BasicAuthenticationConfigurationList": {
      "max": 10,
      "member": {
        "shape": "BasicAuthenticationConfiguration"
      },
      "min": 0,
      "type": "list"
    },
    "BatchDeleteDocumentRequest": {
      "members": {
        "DataSourceSyncJobMetricTarget": {
          "shape": "DataSourceSyncJobMetricTarget"
        },
        "DocumentIdList": {
          "shape": "DocumentIdList"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "IndexId",
        "DocumentIdList"
      ],
      "type": "structure"
    },
    "BatchDeleteDocumentResponse": {
      "members": {
        "FailedDocuments": {
          "shape": "BatchDeleteDocumentResponseFailedDocuments"
        }
      },
      "type": "structure"
    },
    "BatchDeleteDocumentResponseFailedDocument": {
      "members": {
        "ErrorCode": {
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "shape": "ErrorMessage"
        },
        "Id": {
          "shape": "DocumentId"
        }
      },
      "type": "structure"
    },
    "BatchDeleteDocumentResponseFailedDocuments": {
      "member": {
        "shape": "BatchDeleteDocumentResponseFailedDocument"
      },
      "type": "list"
    },
    "BatchGetDocumentStatusRequest": {
      "members": {
        "DocumentInfoList": {
          "shape": "DocumentInfoList"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "IndexId",
        "DocumentInfoList"
      ],
      "type": "structure"
    },
    "BatchGetDocumentStatusResponse": {
      "members": {
        "DocumentStatusList": {
          "shape": "DocumentStatusList"
        },
        "Errors": {
          "shape": "BatchGetDocumentStatusResponseErrors"
        }
      },
      "type": "structure"
    },
    "BatchGetDocumentStatusResponseError": {
      "members": {
        "DocumentId": {
          "shape": "DocumentId"
        },
        "ErrorCode": {
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "BatchGetDocumentStatusResponseErrors": {
      "member": {
        "shape": "BatchGetDocumentStatusResponseError"
      },
      "type": "list"
    },
    "BatchPutDocumentRequest": {
      "members": {
        "CustomDocumentEnrichmentConfiguration": {
          "shape": "CustomDocumentEnrichmentConfiguration"
        },
        "Documents": {
          "shape": "DocumentList"
        },
        "IndexId": {
          "shape": "IndexId"
        },
        "RoleArn": {
          "shape": "RoleArn"
        }
      },
      "required": [
        "IndexId",
        "Documents"
      ],
      "type": "structure"
    },
    "BatchPutDocumentResponse": {
      "members": {
        "FailedDocuments": {
          "shape": "BatchPutDocumentResponseFailedDocuments"
        }
      },
      "type": "structure"
    },
    "BatchPutDocumentResponseFailedDocument": {
      "members": {
        "ErrorCode": {
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "shape": "ErrorMessage"
        },
        "Id": {
          "shape": "DocumentId"
        }
      },
      "type": "structure"
    },
    "BatchPutDocumentResponseFailedDocuments": {
      "member": {
        "shape": "BatchPutDocumentResponseFailedDocument"
      },
      "type": "list"
    },
    "Blob": {
      "type": "blob"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BoxConfiguration": {
      "members": {
        "CommentFieldMappings": {
          "shape": "DataSourceToIndexFieldMappingList"
        },
        "CrawlComments": {
          "shape": "Boolean"
        },
        "CrawlTasks": {
          "shape": "Boolean"
        },
        "CrawlWebLinks": {
          "shape": "Boolean"
        },
        "EnterpriseId": {
          "shape": "EnterpriseId"
        },
        "ExclusionPatterns": {
          "shape": "DataSourceInclusionsExclusionsStrings"
        },
        "FileFieldMappings": {
          "shape": "DataSourceToIndexFieldMappingList"
        },
        "InclusionPatterns": {
          "shape": "DataSourceInclusionsExclusionsStrings"
        },
        "SecretArn": {
          "shape": "SecretArn"
        },
        "TaskFieldMappings": {
          "shape": "DataSourceToIndexFieldMappingList"
        },
        "UseChangeLog": {
          "shape": "Boolean"
        },
        "VpcConfiguration": {
          "shape": "DataSourceVpcConfiguration"
        },
        "WebLinkFieldMappings": {
          "shape": "DataSourceToIndexFieldMappingList"
        }
      },
      "required": [
        "EnterpriseId",
        "SecretArn"
      ],
      "type": "structure"
    },
    "CapacityUnitsConfiguration": {
      "members": {
        "QueryCapacityUnits": {
          "shape": "QueryCapacityUnit"
        },
        "StorageCapacityUnits": {
          "shape": "StorageCapacityUnit"
        }
      },
      "required": [
        "StorageCapacityUnits",
        "QueryCapacityUnits"
      ],
      "type": "structure"
    },
    "ChangeDetectingColumns": {
      "max": 5,
      "member": {
        "shape": "ColumnName"
      },
      "min": 1,
      "type": "list"
    },
    "ClaimRegex": {
      "max": 100,
      "min": 1,
      "pattern": "^\\P{C}*$",
      "type": "string"
    },
    "ClearQuerySuggestionsRequest": {
      "members": {
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "IndexId"
      ],
      "type": "structure"
    },
    "ClickFeedback": {
      "members": {
        "ClickTime": {
          "shape": "Timestamp"
        },
        "ResultId": {
          "shape": "ResultId"
        }
      },
      "required": [
        "ResultId",
        "ClickTime"
      ],
      "type": "structure"
    },
    "ClickFeedbackList": {
      "member": {
        "shape": "ClickFeedback"
      },
      "type": "list"
    },
    "ClientTokenName": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "ColumnConfiguration": {
      "members": {
        "ChangeDetectingColumns": {
          "shape": "ChangeDetectingColumns"
        },
        "DocumentDataColumnName": {
          "shape": "ColumnName"
        },
        "DocumentIdColumnName": {
          "shape": "ColumnName"
        },
        "DocumentTitleColumnName": {
          "shape": "ColumnName"
        },
        "FieldMappings": {
          "shape": "DataSourceToIndexFieldMappingList"
        }
      },
      "required": [
        "DocumentIdColumnName",
        "DocumentDataColumnName",
        "ChangeDetectingColumns"
      ],
      "type": "structure"
    },
    "ColumnName": {
      "max": 100,
      "min": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9_]*$",
      "type": "string"
    },
    "ConditionOperator": {
      "enum": [
        "GreaterThan",
        "GreaterThanOrEquals",
        "LessThan",
        "LessThanOrEquals",
        "Equals",
        "NotEquals",
        "Contains",
        "NotContains",
        "Exists",
        "NotExists",
        "BeginsWith"
      ],
      "type": "string"
    },
    "ConflictException": {
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ConfluenceAttachmentConfiguration": {
      "members": {
        "AttachmentFieldMappings": {
          "shape": "ConfluenceAttachmentFieldMappingsList"
        },
        "CrawlAttachments": {
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "ConfluenceAttachmentFieldMappingsList": {
      "max": 11,
      "member": {
        "shape": "ConfluenceAttachmentToIndexFieldMapping"
      },
      "min": 1,
      "type": "list"
    },
    "ConfluenceAttachmentFieldName": {
      "enum": [
        "AUTHOR",
        "CONTENT_TYPE",
        "CREATED_DATE",
        "DISPLAY_URL",
        "FILE_SIZE",
        "ITEM_TYPE",
        "PARENT_ID",
        "SPACE_KEY",
        "SPACE_NAME",
        "URL",
        "VERSION"
      ],
      "type": "string"
    },
    "ConfluenceAttachmentToIndexFieldMapping": {
      "members": {
        "DataSourceFieldName": {
          "shape": "ConfluenceAttachmentFieldName"
        },
        "DateFieldFormat": {
          "shape": "DataSourceDateFieldFormat"
        },
        "IndexFieldName": {
          "shape": "IndexFieldName"
        }
      },
      "type": "structure"
    },
    "ConfluenceAuthenticationType": {
      "enum": [
        "HTTP_BASIC",
        "PAT"
      ],
      "type": "string"
    },
    "ConfluenceBlogConfiguration": {
      "members": {
        "BlogFieldMappings": {
          "shape": "ConfluenceBlogFieldMappingsList"
        }
      },
      "type": "structure"
    },
    "ConfluenceBlogFieldMappingsList": {
      "max": 9,
      "member": {
        "shape": "ConfluenceBlogToIndexFieldMapping"
      },
      "min": 1,
      "type": "list"
    },
    "ConfluenceBlogFieldName": {
      "enum": [
        "AUTHOR",
        "DISPLAY_URL",
        "ITEM_TYPE",
        "LABELS",
        "PUBLISH_DATE",
        "SPACE_KEY",
        "SPACE_NAME",
        "URL",
        "VERSION"
      ],
      "type": "string"
    },
    "ConfluenceBlogToIndexFieldMapping": {
      "members": {
        "DataSourceFieldName": {
          "shape": "ConfluenceBlogFieldName"
        },
        "DateFieldFormat": {
          "shape": "DataSourceDateFieldFormat"
        },
        "IndexFieldName": {
          "shape": "IndexFieldName"
        }
      },
      "type": "structure"
    },
    "ConfluenceConfiguration": {
      "members": {
        "AttachmentConfiguration": {
          "shape": "ConfluenceAttachmentConfiguration"
        },
        "AuthenticationType": {
          "shape": "ConfluenceAuthenticationType"
        },
        "BlogConfiguration": {
          "shape": "ConfluenceBlogConfiguration"
        },
        "ExclusionPatterns": {
          "shape": "DataSourceInclusionsExclusionsStrings"
        },
        "InclusionPatterns": {
          "shape": "DataSourceInclusionsExclusionsStrings"
        },
        "PageConfiguration": {
          "shape": "ConfluencePageConfiguration"
        },
        "ProxyConfiguration": {
          "shape": "ProxyConfiguration"
        },
        "SecretArn": {
          "shape": "SecretArn"
        },
        "ServerUrl": {
          "shape": "Url"
        },
        "SpaceConfiguration": {
          "shape": "ConfluenceSpaceConfiguration"
        },
        "Version": {
          "shape": "ConfluenceVersion"
        },
        "VpcConfiguration": {
          "shape": "DataSourceVpcConfiguration"
        }
      },
      "required": [
        "ServerUrl",
        "SecretArn",
        "Version"
      ],
      "type": "structure"
    },
    "ConfluencePageConfiguration": {
      "members": {
        "PageFieldMappings": {
          "shape": "ConfluencePageFieldMappingsList"
        }
      },
      "type": "structure"
    },
    "ConfluencePageFieldMappingsList": {
      "max": 12,
      "member": {
        "shape": "ConfluencePageToIndexFieldMapping"
      },
      "min": 1,
      "type": "list"
    },
    "ConfluencePageFieldName": {
      "enum": [
        "AUTHOR",
        "CONTENT_STATUS",
        "CREATED_DATE",
        "DISPLAY_URL",
        "ITEM_TYPE",
        "LABELS",
        "MODIFIED_DATE",
        "PARENT_ID",
        "SPACE_KEY",
        "SPACE_NAME",
        "URL",
        "VERSION"
      ],
      "type": "string"
    },
    "ConfluencePageToIndexFieldMapping": {
      "members": {
        "DataSourceFieldName": {
          "shape": "ConfluencePageFieldName"
        },
        "DateFieldFormat": {
          "shape": "DataSourceDateFieldFormat"
        },
        "IndexFieldName": {
          "shape": "IndexFieldName"
        }
      },
      "type": "structure"
    },
    "ConfluenceSpaceConfiguration": {
      "members": {
        "CrawlArchivedSpaces": {
          "shape": "Boolean"
        },
        "CrawlPersonalSpaces": {
          "shape": "Boolean"
        },
        "ExcludeSpaces": {
          "shape": "ConfluenceSpaceList"
        },
        "IncludeSpaces": {
          "shape": "ConfluenceSpaceList"
        },
        "SpaceFieldMappings": {
          "shape": "ConfluenceSpaceFieldMappingsList"
        }
      },
      "type": "structure"
    },
    "ConfluenceSpaceFieldMappingsList": {
      "max": 4,
      "member": {
        "shape": "ConfluenceSpaceToIndexFieldMapping"
      },
      "min": 1,
      "type": "list"
    },
    "ConfluenceSpaceFieldName": {
      "enum": [
        "DISPLAY_URL",
        "ITEM_TYPE",
        "SPACE_KEY",
        "URL"
      ],
      "type": "string"
    },
    "ConfluenceSpaceIdentifier": {
      "max": 255,
      "min": 1,
      "pattern": "^\\P{C}*$",
      "type": "string"
    },
    "ConfluenceSpaceList": {
      "member": {
        "shape": "ConfluenceSpaceIdentifier"
      },
      "min": 1,
      "type": "list"
    },
    "ConfluenceSpaceToIndexFieldMapping": {
      "members": {
        "DataSourceFieldName": {
          "shape": "ConfluenceSpaceFieldName"
        },
        "DateFieldFormat": {
          "shape": "DataSourceDateFieldFormat"
        },
        "IndexFieldName": {
          "shape": "IndexFieldName"
        }
      },
      "type": "structure"
    },
    "ConfluenceVersion": {
      "enum": [
        "CLOUD",
        "SERVER"
      ],
      "type": "string"
    },
    "ConnectionConfiguration": {
      "members": {
        "DatabaseHost": {
          "shape": "DatabaseHost"
        },
        "DatabaseName": {
          "shape": "DatabaseName"
        },
        "DatabasePort": {
          "shape": "DatabasePort"
        },
        "SecretArn": {
          "shape": "SecretArn"
        },
        "TableName": {
          "shape": "TableName"
        }
      },
      "required": [
        "DatabaseHost",
        "DatabasePort",
        "DatabaseName",
        "TableName",
        "SecretArn"
      ],
      "type": "structure"
    },
    "ContentSourceConfiguration": {
      "members": {
        "DataSourceIds": {
          "shape": "DataSourceIdList"
        },
        "DirectPutContent": {
          "shape": "Boolean"
        },
        "FaqIds": {
          "shape": "FaqIdsList"
        }
      },
      "type": "structure"
    },
    "ContentType": {
      "enum": [
        "PDF",
        "HTML",
        "MS_WORD",
        "PLAIN_TEXT",
        "PPT"
      ],
      "type": "string"
    },
    "Correction": {
      "members": {
        "BeginOffset": {
          "shape": "Integer"
        },
        "CorrectedTerm": {
          "shape": "String"
        },
        "EndOffset": {
          "shape": "Integer"
        },
        "Term": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CorrectionList": {
      "member": {
        "shape": "Correction"
      },
      "type": "list"
    },
    "CrawlDepth": {
      "max": 10,
      "min": 0,
      "type": "integer"
    },
    "CreateAccessControlConfigurationRequest": {
      "members": {
        "AccessControlList": {
          "shape": "PrincipalList"
        },
        "ClientToken": {
          "idempotencyToken": true,
          "shape": "ClientTokenName"
        },
        "Description": {
          "shape": "Description"
        },
        "HierarchicalAccessControlList": {
          "shape": "HierarchicalPrincipalList"
        },
        "IndexId": {
          "shape": "IndexId"
        },
        "Name": {
          "shape": "AccessControlConfigurationName"
        }
      },
      "required": [
        "IndexId",
        "Name"
      ],
      "type": "structure"
    },
    "CreateAccessControlConfigurationResponse": {
      "members": {
        "Id": {
          "shape": "AccessControlConfigurationId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "CreateDataSourceRequest": {
      "members": {
        "ClientToken": {
          "idempotencyToken": true,
          "shape": "ClientTokenName"
        },
        "Configuration": {
          "shape": "DataSourceConfiguration"
        },
        "CustomDocumentEnrichmentConfiguration": {
          "shape": "CustomDocumentEnrichmentConfiguration"
        },
        "Description": {
          "shape": "Description"
        },
        "IndexId": {
          "shape": "IndexId"
        },
        "LanguageCode": {
          "shape": "LanguageCode"
        },
        "Name": {
          "shape": "DataSourceName"
        },
        "RoleArn": {
          "shape": "RoleArn"
        },
        "Schedule": {
          "shape": "ScanSchedule"
        },
        "Tags": {
          "shape": "TagList"
        },
        "Type": {
          "shape": "DataSourceType"
        },
        "VpcConfiguration": {
          "shape": "DataSourceVpcConfiguration"
        }
      },
      "required": [
        "Name",
        "IndexId",
        "Type"
      ],
      "type": "structure"
    },
    "CreateDataSourceResponse": {
      "members": {
        "Id": {
          "shape": "DataSourceId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "CreateExperienceRequest": {
      "members": {
        "ClientToken": {
          "idempotencyToken": true,
          "shape": "ClientTokenName"
        },
        "Configuration": {
          "shape": "ExperienceConfiguration"
        },
        "Description": {
          "shape": "Description"
        },
        "IndexId": {
          "shape": "IndexId"
        },
        "Name": {
          "shape": "ExperienceName"
        },
        "RoleArn": {
          "shape": "RoleArn"
        }
      },
      "required": [
        "Name",
        "IndexId"
      ],
      "type": "structure"
    },
    "CreateExperienceResponse": {
      "members": {
        "Id": {
          "shape": "ExperienceId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "CreateFaqRequest": {
      "members": {
        "ClientToken": {
          "idempotencyToken": true,
          "shape": "ClientTokenName"
        },
        "Description": {
          "shape": "Description"
        },
        "FileFormat": {
          "shape": "FaqFileFormat"
        },
        "IndexId": {
          "shape": "IndexId"
        },
        "LanguageCode": {
          "shape": "LanguageCode"
        },
        "Name": {
          "shape": "FaqName"
        },
        "RoleArn": {
          "shape": "RoleArn"
        },
        "S3Path": {
          "shape": "S3Path"
        },
        "Tags": {
          "shape": "TagList"
        }
      },
      "required": [
        "IndexId",
        "Name",
        "S3Path",
        "RoleArn"
      ],
      "type": "structure"
    },
    "CreateFaqResponse": {
      "members": {
        "Id": {
          "shape": "FaqId"
        }
      },
      "type": "structure"
    },
    "CreateIndexRequest": {
      "members": {
        "ClientToken": {
          "idempotencyToken": true,
          "shape": "ClientTokenName"
        },
        "Description": {
          "shape": "Description"
        },
        "Edition": {
          "shape": "IndexEdition"
        },
        "Name": {
          "shape": "IndexName"
        },
        "RoleArn": {
          "shape": "RoleArn"
        },
        "ServerSideEncryptionConfiguration": {
          "shape": "ServerSideEncryptionConfiguration"
        },
        "Tags": {
          "shape": "TagList"
        },
        "UserContextPolicy": {
          "shape": "UserContextPolicy"
        },
        "UserGroupResolutionConfiguration": {
          "shape": "UserGroupResolutionConfiguration"
        },
        "UserTokenConfigurations": {
          "shape": "UserTokenConfigurationList"
        }
      },
      "required": [
        "Name",
        "RoleArn"
      ],
      "type": "structure"
    },
    "CreateIndexResponse": {
      "members": {
        "Id": {
          "shape": "IndexId"
        }
      },
      "type": "structure"
    },
    "CreateQuerySuggestionsBlockListRequest": {
      "members": {
        "ClientToken": {
          "idempotencyToken": true,
          "shape": "ClientTokenName"
        },
        "Description": {
          "shape": "Description"
        },
        "IndexId": {
          "shape": "IndexId"
        },
        "Name": {
          "shape": "QuerySuggestionsBlockListName"
        },
        "RoleArn": {
          "shape": "RoleArn"
        },
        "SourceS3Path": {
          "shape": "S3Path"
        },
        "Tags": {
          "shape": "TagList"
        }
      },
      "required": [
        "IndexId",
        "Name",
        "SourceS3Path",
        "RoleArn"
      ],
      "type": "structure"
    },
    "CreateQuerySuggestionsBlockListResponse": {
      "members": {
        "Id": {
          "shape": "QuerySuggestionsBlockListId"
        }
      },
      "type": "structure"
    },
    "CreateThesaurusRequest": {
      "members": {
        "ClientToken": {
          "idempotencyToken": true,
          "shape": "ClientTokenName"
        },
        "Description": {
          "shape": "Description"
        },
        "IndexId": {
          "shape": "IndexId"
        },
        "Name": {
          "shape": "ThesaurusName"
        },
        "RoleArn": {
          "shape": "RoleArn"
        },
        "SourceS3Path": {
          "shape": "S3Path"
        },
        "Tags": {
          "shape": "TagList"
        }
      },
      "required": [
        "IndexId",
        "Name",
        "RoleArn",
        "SourceS3Path"
      ],
      "type": "structure"
    },
    "CreateThesaurusResponse": {
      "members": {
        "Id": {
          "shape": "ThesaurusId"
        }
      },
      "type": "structure"
    },
    "CustomDocumentEnrichmentConfiguration": {
      "members": {
        "InlineConfigurations": {
          "shape": "InlineCustomDocumentEnrichmentConfigurationList"
        },
        "PostExtractionHookConfiguration": {
          "shape": "HookConfiguration"
        },
        "PreExtractionHookConfiguration": {
          "shape": "HookConfiguration"
        },
        "RoleArn": {
          "shape": "RoleArn"
        }
      },
      "type": "structure"
    },
    "DataSourceConfiguration": {
      "members": {
        "AlfrescoConfiguration": {
          "shape": "AlfrescoConfiguration"
        },
        "BoxConfiguration": {
          "shape": "BoxConfiguration"
        },
        "ConfluenceConfiguration": {
          "shape": "ConfluenceConfiguration"
        },
        "DatabaseConfiguration": {
          "shape": "DatabaseConfiguration"
        },
        "FsxConfiguration": {
          "shape": "FsxConfiguration"
        },
        "GitHubConfiguration": {
          "shape": "GitHubConfiguration"
        },
        "GoogleDriveConfiguration": {
          "shape": "GoogleDriveConfiguration"
        },
        "JiraConfiguration": {
          "shape": "JiraConfiguration"
        },
        "OneDriveConfiguration": {
          "shape": "OneDriveConfiguration"
        },
        "QuipConfiguration": {
          "shape": "QuipConfiguration"
        },
        "S3Configuration": {
          "shape": "S3DataSourceConfiguration"
        },
        "SalesforceConfiguration": {
          "shape": "SalesforceConfiguration"
        },
        "ServiceNowConfiguration": {
          "shape": "ServiceNowConfiguration"
        },
        "SharePointConfiguration": {
          "shape": "SharePointConfiguration"
        },
        "SlackConfiguration": {
          "shape": "SlackConfiguration"
        },
        "TemplateConfiguration": {
          "shape": "TemplateConfiguration"
        },
        "WebCrawlerConfiguration": {
          "shape": "WebCrawlerConfiguration"
        },
        "WorkDocsConfiguration": {
          "shape": "WorkDocsConfiguration"
        }
      },
      "type": "structure"
    },
    "DataSourceDateFieldFormat": {
      "max": 40,
      "min": 4,
      "pattern": "^(?!\\s).*(?\u003c!\\s)$",
      "type": "string"
    },
    "DataSourceFieldName": {
      "max": 100,
      "min": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9_.]*$",
      "type": "string"
    },
    "DataSourceGroup": {
      "members": {
        "DataSourceId": {
          "shape": "DataSourceId"
        },
        "GroupId": {
          "shape": "PrincipalName"
        }
      },
      "required": [
        "GroupId",
        "DataSourceId"
      ],
      "type": "structure"
    },
    "DataSourceGroups": {
      "max": 2048,
      "member": {
        "shape": "DataSourceGroup"
      },
      "min": 1,
      "type": "list"
    },
    "DataSourceId": {
      "max": 100,
      "min": 1,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*",
      "type": "string"
    },
    "DataSourceIdList": {
      "max": 100,
      "member": {
        "shape": "DataSourceId"
      },
      "min": 1,
      "type": "list"
    },
    "DataSourceInclusionsExclusionsStrings": {
      "max": 100,
      "member": {
        "shape": "DataSourceInclusionsExclusionsStringsMember"
      },
      "min": 0,
      "type": "list"
    },
    "DataSourceInclusionsExclusionsStringsMember": {
      "max": 150,
      "min": 1,
      "type": "string"
    },
    "DataSourceName": {
      "max": 1000,
      "min": 1,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*",
      "type": "string"
    },
    "DataSourceStatus": {
      "enum": [
        "CREATING",
        "DELETING",
        "FAILED",
        "UPDATING",
        "ACTIVE"
      ],
      "type": "string"
    },
    "DataSourceSummary": {
      "members": {
        "CreatedAt": {
          "shape": "Timestamp"
        },
        "Id": {
          "shape": "DataSourceId"
        },
        "LanguageCode": {
          "shape": "LanguageCode"
        },
        "Name": {
          "shape": "DataSourceName"
        },
        "Status": {
          "shape": "DataSourceStatus"
        },
        "Type": {
          "shape": "DataSourceType"
        },
        "UpdatedAt": {
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DataSourceSummaryList": {
      "member": {
        "shape": "DataSourceSummary"
      },
      "type": "list"
    },
    "DataSourceSyncJob": {
      "members": {
        "DataSourceErrorCode": {
          "shape": "String"
        },
        "EndTime": {
          "shape": "Timestamp"
        },
        "ErrorCode": {
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "shape": "ErrorMessage"
        },
        "ExecutionId": {
          "shape": "String"
        },
        "Metrics": {
          "shape": "DataSourceSyncJobMetrics"
        },
        "StartTime": {
          "shape": "Timestamp"
        },
        "Status": {
          "shape": "DataSourceSyncJobStatus"
        }
      },
      "type": "structure"
    },
    "DataSourceSyncJobHistoryList": {
      "member": {
        "shape": "DataSourceSyncJob"
      },
      "type": "list"
    },
    "DataSourceSyncJobId": {
      "max": 100,
      "min": 1,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*",
      "type": "string"
    },
    "DataSourceSyncJobMetricTarget": {
      "members": {
        "DataSourceId": {
          "shape": "DataSourceId"
        },
        "DataSourceSyncJobId": {
          "shape": "DataSourceSyncJobId"
        }
      },
      "required": [
        "DataSourceId"
      ],
      "type": "structure"
    },
    "DataSourceSyncJobMetrics": {
      "members": {
        "DocumentsAdded": {
          "shape": "MetricValue"
        },
        "DocumentsDeleted": {
          "shape": "MetricValue"
        },
        "DocumentsFailed": {
          "shape": "MetricValue"
        },
        "DocumentsModified": {
          "shape": "MetricValue"
        },
        "DocumentsScanned": {
          "shape": "MetricValue"
        }
      },
      "type": "structure"
    },
    "DataSourceSyncJobStatus": {
      "enum": [
        "FAILED",
        "SUCCEEDED",
        "SYNCING",
        "INCOMPLETE",
        "STOPPING",
        "ABORTED",
        "SYNCING_INDEXING"
      ],
      "type": "string"
    },
    "DataSourceToIndexFieldMapping": {
      "members": {
        "DataSourceFieldName": {
          "shape": "DataSourceFieldName"
        },
        "DateFieldFormat": {
          "shape": "DataSourceDateFieldFormat"
        },
        "IndexFieldName": {
          "shape": "IndexFieldName"
        }
      },
      "required": [
        "DataSourceFieldName",
        "IndexFieldName"
      ],
      "type": "structure"
    },
    "DataSourceToIndexFieldMappingList": {
      "max": 100,
      "member": {
        "shape": "DataSourceToIndexFieldMapping"
      },
      "min": 1,
      "type": "list"
    },
    "DataSourceType": {
      "enum": [
        "S3",
        "SHAREPOINT",
        "DATABASE",
        "SALESFORCE",
        "ONEDRIVE",
        "SERVICENOW",
        "CUSTOM",
        "CONFLUENCE",
        "GOOGLEDRIVE",
        "WEBCRAWLER",
        "WORKDOCS",
        "FSX",
        "SLACK",
        "BOX",
        "QUIP",
        "JIRA",
        "GITHUB",
        "ALFRESCO",
        "TEMPLATE"
      ],
      "type": "string"
    },
    "DataSourceVpcConfiguration": {
      "members": {
        "SecurityGroupIds": {
          "shape": "SecurityGroupIdList"
        },
        "SubnetIds": {
          "shape": "SubnetIdList"
        }
      },
      "required": [
        "SubnetIds",
        "SecurityGroupIds"
      ],
      "type": "structure"
    },
    "DatabaseConfiguration": {
      "members": {
        "AclConfiguration": {
          "shape": "AclConfiguration"
        },
        "ColumnConfiguration": {
          "shape": "ColumnConfiguration"
        },
        "ConnectionConfiguration": {
          "shape": "ConnectionConfiguration"
        },
        "DatabaseEngineType": {
          "shape": "DatabaseEngineType"
        },
        "SqlConfiguration": {
          "shape": "SqlConfiguration"
        },
        "VpcConfiguration": {
          "shape": "DataSourceVpcConfiguration"
        }
      },
      "required": [
        "DatabaseEngineType",
        "ConnectionConfiguration",
        "ColumnConfiguration"
      ],
      "type": "structure"
    },
    "DatabaseEngineType": {
      "enum": [
        "RDS_AURORA_MYSQL",
        "RDS_AURORA_POSTGRESQL",
        "RDS_MYSQL",
        "RDS_POSTGRESQL"
      ],
      "type": "string"
    },
    "DatabaseHost": {
      "max": 253,
      "min": 1,
      "type": "string"
    },
    "DatabaseName": {
      "max": 100,
      "min": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9_]*$",
      "type": "string"
    },
    "DatabasePort": {
      "max": 65535,
      "min": 1,
      "type": "integer"
    },
    "DeleteAccessControlConfigurationRequest": {
      "members": {
        "Id": {
          "shape": "AccessControlConfigurationId"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "IndexId",
        "Id"
      ],
      "type": "structure"
    },
    "DeleteAccessControlConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteDataSourceRequest": {
      "members": {
        "Id": {
          "shape": "DataSourceId"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId"
      ],
      "type": "structure"
    },
    "DeleteExperienceRequest": {
      "members": {
        "Id": {
          "shape": "ExperienceId"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId"
      ],
      "type": "structure"
    },
    "DeleteExperienceResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteFaqRequest": {
      "members": {
        "Id": {
          "shape": "FaqId"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId"
      ],
      "type": "structure"
    },
    "DeleteIndexRequest": {
      "members": {
        "Id": {
          "shape": "IndexId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DeletePrincipalMappingRequest": {
      "members": {
        "DataSourceId": {
          "shape": "DataSourceId"
        },
        "GroupId": {
          "shape": "GroupId"
        },
        "IndexId": {
          "shape": "IndexId"
        },
        "OrderingId": {
          "shape": "PrincipalOrderingId"
        }
      },
      "required": [
        "IndexId",
        "GroupId"
      ],
      "type": "structure"
    },
    "DeleteQuerySuggestionsBlockListRequest": {
      "members": {
        "Id": {
          "shape": "QuerySuggestionsBlockListId"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "IndexId",
        "Id"
      ],
      "type": "structure"
    },
    "DeleteThesaurusRequest": {
      "members": {
        "Id": {
          "shape": "ThesaurusId"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId"
      ],
      "type": "structure"
    },
    "DescribeAccessControlConfigurationRequest": {
      "members": {
        "Id": {
          "shape": "AccessControlConfigurationId"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "IndexId",
        "Id"
      ],
      "type": "structure"
    },
    "DescribeAccessControlConfigurationResponse": {
      "members": {
        "AccessControlList": {
          "shape": "PrincipalList"
        },
        "Description": {
          "shape": "Description"
        },
        "ErrorMessage": {
          "shape": "ErrorMessage"
        },
        "HierarchicalAccessControlList": {
          "shape": "HierarchicalPrincipalList"
        },
        "Name": {
          "shape": "AccessControlConfigurationName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DescribeDataSourceRequest": {
      "members": {
        "Id": {
          "shape": "DataSourceId"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId"
      ],
      "type": "structure"
    },
    "DescribeDataSourceResponse": {
      "members": {
        "Configuration": {
          "shape": "DataSourceConfiguration"
        },
        "CreatedAt": {
          "shape": "Timestamp"
        },
        "CustomDocumentEnrichmentConfiguration": {
          "shape": "CustomDocumentEnrichmentConfiguration"
        },
        "Description": {
          "shape": "Description"
        },
        "ErrorMessage": {
          "shape": "ErrorMessage"
        },
        "Id": {
          "shape": "DataSourceId"
        },
        "IndexId": {
          "shape": "IndexId"
        },
        "LanguageCode": {
          "shape": "LanguageCode"
        },
        "Name": {
          "shape": "DataSourceName"
        },
        "RoleArn": {
          "shape": "RoleArn"
        },
        "Schedule": {
          "shape": "ScanSchedule"
        },
        "Status": {
          "shape": "DataSourceStatus"
        },
        "Type": {
          "shape": "DataSourceType"
        },
        "UpdatedAt": {
          "shape": "Timestamp"
        },
        "VpcConfiguration": {
          "shape": "DataSourceVpcConfiguration"
        }
      },
      "type": "structure"
    },
    "DescribeExperienceRequest": {
      "members": {
        "Id": {
          "shape": "ExperienceId"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId"
      ],
      "type": "structure"
    },
    "DescribeExperienceResponse": {
      "members": {
        "Configuration": {
          "shape": "ExperienceConfiguration"
        },
        "CreatedAt": {
          "shape": "Timestamp"
        },
        "Description": {
          "shape": "Description"
        },
        "Endpoints": {
          "shape": "ExperienceEndpoints"
        },
        "ErrorMessage": {
          "shape": "ErrorMessage"
        },
        "Id": {
          "shape": "ExperienceId"
        },
        "IndexId": {
          "shape": "IndexId"
        },
        "Name": {
          "shape": "ExperienceName"
        },
        "RoleArn": {
          "shape": "RoleArn"
        },
        "Status": {
          "shape": "ExperienceStatus"
        },
        "UpdatedAt": {
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DescribeFaqRequest": {
      "members": {
        "Id": {
          "shape": "FaqId"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId"
      ],
      "type": "structure"
    },
    "DescribeFaqResponse": {
      "members": {
        "CreatedAt": {
          "shape": "Timestamp"
        },
        "Description": {
          "shape": "Description"
        },
        "ErrorMessage": {
          "shape": "ErrorMessage"
        },
        "FileFormat": {
          "shape": "FaqFileFormat"
        },
        "Id": {
          "shape": "FaqId"
        },
        "IndexId": {
          "shape": "IndexId"
        },
        "LanguageCode": {
          "shape": "LanguageCode"
        },
        "Name": {
          "shape": "FaqName"
        },
        "RoleArn": {
          "shape": "RoleArn"
        },
        "S3Path": {
          "shape": "S3Path"
        },
        "Status": {
          "shape": "FaqStatus"
        },
        "UpdatedAt": {
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DescribeIndexRequest": {
      "members": {
        "Id": {
          "shape": "IndexId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DescribeIndexResponse": {
      "members": {
        "CapacityUnits": {
          "shape": "CapacityUnitsConfiguration"
        },
        "CreatedAt": {
          "shape": "Timestamp"
        },
        "Description": {
          "shape": "Description"
        },
        "DocumentMetadataConfigurations": {
          "shape": "DocumentMetadataConfigurationList"
        },
        "Edition": {
          "shape": "IndexEdition"
        },
        "ErrorMessage": {
          "shape": "ErrorMessage"
        },
        "Id": {
          "shape": "IndexId"
        },
        "IndexStatistics": {
          "shape": "IndexStatistics"
        },
        "Name": {
          "shape": "IndexName"
        },
        "RoleArn": {
          "shape": "RoleArn"
        },
        "ServerSideEncryptionConfiguration": {
          "shape": "ServerSideEncryptionConfiguration"
        },
        "Status": {
          "shape": "IndexStatus"
        },
        "UpdatedAt": {
          "shape": "Timestamp"
        },
        "UserContextPolicy": {
          "shape": "UserContextPolicy"
        },
        "UserGroupResolutionConfiguration": {
          "shape": "UserGroupResolutionConfiguration"
        },
        "UserTokenConfigurations": {
          "shape": "UserTokenConfigurationList"
        }
      },
      "type": "structure"
    },
    "DescribePrincipalMappingRequest": {
      "members": {
        "DataSourceId": {
          "shape": "DataSourceId"
        },
        "GroupId": {
          "shape": "GroupId"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "IndexId",
        "GroupId"
      ],
      "type": "structure"
    },
    "DescribePrincipalMappingResponse": {
      "members": {
        "DataSourceId": {
          "shape": "DataSourceId"
        },
        "GroupId": {
          "shape": "GroupId"
        },
        "GroupOrderingIdSummaries": {
          "shape": "GroupOrderingIdSummaries"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "type": "structure"
    },
    "DescribeQuerySuggestionsBlockListRequest": {
      "members": {
        "Id": {
          "shape": "QuerySuggestionsBlockListId"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "IndexId",
        "Id"
      ],
      "type": "structure"
    },
    "DescribeQuerySuggestionsBlockListResponse": {
      "members": {
        "CreatedAt": {
          "shape": "Timestamp"
        },
        "Description": {
          "shape": "Description"
        },
        "ErrorMessage": {
          "shape": "ErrorMessage"
        },
        "FileSizeBytes": {
          "shape": "Long"
        },
        "Id": {
          "shape": "QuerySuggestionsBlockListId"
        },
        "IndexId": {
          "shape": "IndexId"
        },
        "ItemCount": {
          "shape": "Integer"
        },
        "Name": {
          "shape": "QuerySuggestionsBlockListName"
        },
        "RoleArn": {
          "shape": "RoleArn"
        },
        "SourceS3Path": {
          "shape": "S3Path"
        },
        "Status": {
          "shape": "QuerySuggestionsBlockListStatus"
        },
        "UpdatedAt": {
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DescribeQuerySuggestionsConfigRequest": {
      "members": {
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "IndexId"
      ],
      "type": "structure"
    },
    "DescribeQuerySuggestionsConfigResponse": {
      "members": {
        "IncludeQueriesWithoutUserInformation": {
          "shape": "ObjectBoolean"
        },
        "LastClearTime": {
          "shape": "Timestamp"
        },
        "LastSuggestionsBuildTime": {
          "shape": "Timestamp"
        },
        "MinimumNumberOfQueryingUsers": {
          "shape": "MinimumNumberOfQueryingUsers"
        },
        "MinimumQueryCount": {
          "shape": "MinimumQueryCount"
        },
        "Mode": {
          "shape": "Mode"
        },
        "QueryLogLookBackWindowInDays": {
          "shape": "Integer"
        },
        "Status": {
          "shape": "QuerySuggestionsStatus"
        },
        "TotalSuggestionsCount": {
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "DescribeThesaurusRequest": {
      "members": {
        "Id": {
          "shape": "ThesaurusId"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId"
      ],
      "type": "structure"
    },
    "DescribeThesaurusResponse": {
      "members": {
        "CreatedAt": {
          "shape": "Timestamp"
        },
        "Description": {
          "shape": "Description"
        },
        "ErrorMessage": {
          "shape": "ErrorMessage"
        },
        "FileSizeBytes": {
          "shape": "Long"
        },
        "Id": {
          "shape": "ThesaurusId"
        },
        "IndexId": {
          "shape": "IndexId"
        },
        "Name": {
          "shape": "ThesaurusName"
        },
        "RoleArn": {
          "shape": "RoleArn"
        },
        "SourceS3Path": {
          "shape": "S3Path"
        },
        "Status": {
          "shape": "ThesaurusStatus"
        },
        "SynonymRuleCount": {
          "shape": "Long"
        },
        "TermCount": {
          "shape": "Long"
        },
        "UpdatedAt": {
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "Description": {
      "max": 1000,
      "min": 0,
      "pattern": "^\\P{C}*$",
      "type": "string"
    },
    "DisassociateEntitiesFromExperienceRequest": {
      "members": {
        "EntityList": {
          "shape": "DisassociateEntityList"
        },
        "Id": {
          "shape": "ExperienceId"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId",
        "EntityList"
      ],
      "type": "structure"
    },
    "DisassociateEntitiesFromExperienceResponse": {
      "members": {
        "FailedEntityList": {
          "shape": "FailedEntityList"
        }
      },
      "type": "structure"
    },
    "DisassociateEntityList": {
      "max": 40,
      "member": {
        "shape": "EntityConfiguration"
      },
      "min": 1,
      "type": "list"
    },
    "DisassociatePersonasFromEntitiesRequest": {
      "members": {
        "EntityIds": {
          "shape": "EntityIdsList"
        },
        "Id": {
          "shape": "ExperienceId"
        },
        "IndexId": {
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId",
        "EntityIds"
      ],
      "type": "structure"
    },
    "DisassociatePersonasFromEntitiesResponse": {
      "members": {
        "FailedEntityList": {
          "shape": "FailedEntityList"
        }
      },
      "type": "structure"
    },
    "Document": {
      "members": {
        "AccessControlConfigurationId": {
          "shape": "AccessControlConfigurationId"
        },
        "AccessControlList": {
          "shape": "PrincipalList"
        },
        "Attributes": {
          "shape": "DocumentAttributeList"
        },
        "Blob": {
          "shape": "Blob"
        },
        "ContentType": {
          "shape": "ContentType"
        },
        "HierarchicalAccessControlList": {
          "shape": "HierarchicalPrincipalList"
        },
        "Id": {
          "shape": "DocumentId"
        },
        "S3Path": {
          "shape": "S3Path"
        },
        "Title": {
          "shape": "Title"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DocumentAttribute": {
      "members": {
        "Key": {
          "shape": "DocumentAttributeKey"
        },
        "Value": {
          "shape": "DocumentAttributeValue"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "DocumentAttributeCondition": {
      "members": {
        "ConditionDocumentAttributeKey": {
          "shape": "DocumentAttributeKey"
        },
        "ConditionOnValue": {
          "shape": "DocumentAttributeValue"
        },
        "Operator": {
          "shape": "ConditionOperator"
        }
      },
      "required": [
        "ConditionDocumentAttributeKey",
        "Operator"
      ],
      "type": "structure"
    },
    "DocumentAttributeKey": {
      "max": 200,
      "min": 1,
      "pattern": "[a-zA-Z0-9_][a-zA-Z0-9_-]*",
      "type": "string"
    },
    "DocumentAttributeKeyList": {
      "max": 100,
      "member": {
        "shape": "DocumentAttributeKey"
      },
      "min": 1,
      "type": "list"
    },
    "DocumentAttributeList": {
      "member": {
        "shape": "DocumentAttribute"
      },
      "type": "list"
    },
    "DocumentAttributeStringListValue": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "DocumentAttributeStringValue": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "DocumentAttributeTarget": {
      "members": {
        "TargetDocumentAttributeKey": {
          "shape": "DocumentAttributeKey"
        },
        "TargetDocumentAttributeValue": {
          "shape": "DocumentAttributeValue"
        },
        "TargetDocumentAttributeValueDeletion": {
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "DocumentAttributeValue": {
      "members": {
        "DateValue": {
          "shape": "Timestamp"
        },
        "LongValue": {
          "shape": "Long"
        },
        "StringListValue": {
          "shape": "DocumentAttributeStringListValue"
        },
        "StringValue": {
          "shape": "DocumentAttributeStringValue"
        }
      },
      "type": "structure"
    },
    "DocumentAttributeValueCountPair": {
      "members": {
        "Count": {
          "shape": "Integer"
        },
        "DocumentAttributeValue": {
          "shape": "DocumentAttributeValue"
        },
        "FacetResults": {
          "shape": "FacetResultList"
        }
      },
      "type": "structure"
    },
    "DocumentAttributeValueCountPairList": {
      "member": {
        "shape": "DocumentAttributeValueCountPair"
      },
      "type": "list"
    },
    "DocumentAttributeValueType": {
      "enum": [
        "STRING_VALUE",
        "STRING_LIST_VALUE",
        "LONG_VALUE",
        "DATE_VALUE"
      ],
      "type": "string"
    },
    "DocumentId": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "DocumentIdList": {
      "max": 10,
      "member": {
        "shape": "DocumentId"
      },
      "min": 1,
      "type": "list"
    },
    "DocumentInfo": {
      "members": {
        "Attributes": {
          "shape": "DocumentAttributeList"
        },
        "DocumentId": {
          "shape": "DocumentId"
        }
      },
      "required": [
        "DocumentId"
      ],
      "type": "structure"
    },
    "DocumentInfoList": {
      "max": 10,
      "member": {
        "shape": "DocumentInfo"
      },
      "min": 1,
      "type": "list"
    },
    "DocumentList": {
      "max": 10,
      "member": {
        "shape": "Document"
      },
      "min": 1,
      "type": "list"
    },
    "DocumentMetadataBoolean": {
      "type": "boolean"
    },
    "DocumentMetadataConfiguration": {
      "members": {
        "Name": {
          "shape": "DocumentMetadataConfigurationName"
        },
        "Relevance": {
          "shape": "Relevance"
        },
        "Search": {
          "shape": "Search"
        },
        "Type": {
          "shape": "DocumentAttributeValueType"
        }
      },
      "required": [
        "Name",
        "Type"
      ],
      "type": "structure"
    },
    "DocumentMetadataConfigurationList": {
      "max": 500,
      "member": {
        "shape": "DocumentMetadataConfiguration"
      },
      "min": 0,
      "type": "list"
    },
    "DocumentMetadataConfigurationName": {
      "max": 30,
      "min": 1,
      "type": "string"
    },
    "DocumentRelevanceConfiguration": {
      "members": {
        "Name": {
          "shape": "DocumentMetadataConfigurationName"
        },
        "Relevance": {
          "shape": "Relevance"
        }
      },
      "required": [
        "Name",
        "Relevance"
      ],
      "type": "structure"
    },
    "DocumentRelevanceOverrideConfigurationList": {
      "max": 500,
      "member": {
        "shape": "DocumentRelevanceConfiguration"
      },
      "min": 0,
      "type": "list"
    },
    "DocumentStatus": {
      "enum": [
        "NOT_FOUND",
        "PROCESSING",
        "INDEXED",
        "UPDATED",
        "FAILED",
        "UPDATE_FAILED"
      ],
      "type": "string"
    },
    "DocumentStatusList": {
      "member": {
        "shape": "Status"
      },
      "type": "list"
    },
    "DocumentsMetadataConfiguration": {
      "members": {
        "S3Prefix": {
          "shape": "S3ObjectKey"
        }
      },
      "type": "structure"
    },
    "Domain": {
      "max": 63,
      "min": 1,
      "pattern": "^(?!-)[A-Za-z0-9-].*(?\u003c!-)$",
      "type": "string"
    },
    "Duration": {
      "max": 10,
      "min": 1,
      "pattern": "[0-9]+[s]",
      "type": "string"
    },
    "Endpoint": {
      "max": 2048,
      "min": 1,
      "pattern": "^\\P{C}*$",
      "type": "string"
    },
    "EndpointType": {
      "enum": [
        "HOME"
      ],
      "type": "string"
    },
    "EnterpriseId": {
      "max": 64,
      "min": 1,
      "pattern": "^[A-Z0-9]*$",
      "type": "string"
    },
    "EntityConfiguration": {
      "members": {
        "EntityId": {
          "shape": "EntityId"
        },
        "EntityType": {
          "shape": "EntityType"
        }
      },
      "required": [
        "EntityId",
        "EntityType"
      ],
      "type": "structure"
    },
    "EntityDisplayData": {
      "members": {
        "FirstName": {
[...]
