{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2010-05-08",
    "endpointPrefix":"iam",
    "globalEndpoint":"iam.amazonaws.com",
    "serviceAbbreviation":"IAM",
    "serviceFullName":"AWS Identity and Access Management",
    "signatureVersion":"v4",
    "xmlNamespace":"https://iam.amazonaws.com/doc/2010-05-08/",
    "protocol":"query"
  },
  "documentation":"<fullname>AWS Identity and Access Management</fullname> <p>AWS Identity and Access Management (IAM) is a web service that you can use to manage users and user permissions under your AWS account. This guide provides descriptions of IAM actions that you can call programmatically. For general information about IAM, see <a href=\"http://aws.amazon.com/iam/\">AWS Identity and Access Management (IAM)</a>. For the user guide for IAM, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/\">Using IAM</a>. </p> <note>AWS provides SDKs that consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .NET, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to IAM and AWS. For example, the SDKs take care of tasks such as cryptographically signing requests (see below), managing errors, and retrying requests automatically. For information about the AWS SDKs, including how to download and install them, see the <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a> page. </note> <p>We recommend that you use the AWS SDKs to make programmatic API calls to IAM. However, you can also use the IAM Query API to make direct calls to the IAM web service. To learn more about the IAM Query API, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/IAM_UsingQueryAPI.html\">Making Query Requests</a> in the <i>Using IAM</i> guide. IAM supports GET and POST requests for all actions. That is, the API does not require you to use GET for some actions and POST for others. However, GET requests are subject to the limitation size of a URL. Therefore, for operations that require larger sizes, use a POST request. </p> <p> <b>Signing Requests</b> </p> <p>Requests must be signed using an access key ID and a secret access key. We strongly recommend that you do not use your AWS account access key ID and secret access key for everyday work with IAM. You can use the access key ID and secret access key for an IAM user or you can use the AWS Security Token Service to generate temporary security credentials and use those to sign requests. </p> <p>To sign requests, we recommend that you use <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>. If you have an existing application that uses Signature Version 2, you do not have to update it to use Signature Version 4. However, some operations now require Signature Version 4. The documentation for operations that require version 4 indicate this requirement. </p> <p> <b>Additional Resources</b> </p> <p>For more information, see the following:</p> <ul> <li> <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html\">AWS Security Credentials</a>. This topic provides general information about the types of credentials used for accessing AWS. </li> <li> <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/IAMBestPractices.html\">IAM Best Practices</a>. This topic presents a list of suggestions for using the IAM service to help secure your AWS resources. </li> <li> <a href=\"http://docs.aws.amazon.com/STS/latest/UsingSTS/\">AWS Security Token Service</a>. This guide describes how to create and use temporary security credentials. </li> <li> <a href=\"http://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html\">Signing AWS API Requests</a>. This set of topics walk you through the process of signing a request using an access key ID and secret access key. </li> </ul>",
  "operations":{
    "AddClientIDToOpenIDConnectProvider":{
      "name":"AddClientIDToOpenIDConnectProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddClientIDToOpenIDConnectProviderRequest"},
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Adds a new client ID (also known as audience) to the list of client IDs already registered for the specified IAM OpenID Connect provider.</p> <p>This action is idempotent; it does not fail or return an error if you add an existing client ID to the provider.</p>"
    },
    "AddRoleToInstanceProfile":{
      "name":"AddRoleToInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddRoleToInstanceProfileRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Adds the specified role to the specified instance profile. For more information about roles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with Roles</a>. For more information about instance profiles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance Profiles</a>. </p>"
    },
    "AddUserToGroup":{
      "name":"AddUserToGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddUserToGroupRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Adds the specified user to the specified group.</p>"
    },
    "AttachGroupPolicy":{
      "name":"AttachGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachGroupPolicyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Attaches the specified managed policy to the specified group.</p> <p>You use this API to attach a managed policy to a group. To embed an inline policy in a group, use <a>PutGroupPolicy</a>. </p> <p>For more information about policies, refer to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>Using IAM</i> guide. </p>"
    },
    "AttachRolePolicy":{
      "name":"AttachRolePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachRolePolicyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Attaches the specified managed policy to the specified role.</p> <p>When you attach a managed policy to a role, the managed policy is used as the role's access (permissions) policy. You cannot use a managed policy as the role's trust policy. The role's trust policy is created at the same time as the role, using <a>CreateRole</a>. You can update a role's trust policy using <a>UpdateAssumeRolePolicy</a>. </p> <p>Use this API to attach a managed policy to a role. To embed an inline policy in a role, use <a>PutRolePolicy</a>. For more information about policies, refer to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>Using IAM</i> guide.</p>"
    },
    "AttachUserPolicy":{
      "name":"AttachUserPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachUserPolicyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Attaches the specified managed policy to the specified user.</p> <p>You use this API to attach a managed policy to a user. To embed an inline policy in a user, use <a>PutUserPolicy</a>. </p> <p>For more information about policies, refer to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>Using IAM</i> guide. </p>"
    },
    "ChangePassword":{
      "name":"ChangePassword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ChangePasswordRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"InvalidUserTypeException",
          "error":{
            "code":"InvalidUserType",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the type of user for the transaction was incorrect.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"EntityTemporarilyUnmodifiableException",
          "error":{
            "code":"EntityTemporarilyUnmodifiable",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that is temporarily unmodifiable, such as a user name that was deleted and then recreated. The error indicates that the request is likely to succeed if you try again after waiting several minutes. The error message describes the entity. </p>"
        },
        {
          "shape":"PasswordPolicyViolationException",
          "error":{
            "code":"PasswordPolicyViolation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because the provided password did not meet the requirements imposed by the account password policy. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Changes the password of the IAM user who is calling this action. The root account password is not affected by this action. </p> <p>To change the password for a different user, see <a>UpdateLoginProfile</a>. For more information about modifying passwords, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html\">Managing Passwords</a> in the <i>Using IAM</i> guide. </p>"
    },
    "CreateAccessKey":{
      "name":"CreateAccessKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAccessKeyRequest"},
      "output":{
        "shape":"CreateAccessKeyResponse",
        "documentation":"<p>Contains the response to a successful <a>CreateAccessKey</a> request. </p>",
        "resultWrapper":"CreateAccessKeyResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p> Creates a new AWS secret access key and corresponding AWS access key ID for the specified user. The default status for new keys is <code>Active</code>. </p> <p> If you do not specify a user name, IAM determines the user name implicitly based on the AWS access key ID signing the request. Because this action works for access keys under the AWS account, you can use this action to manage root credentials even if the AWS account has no associated users. </p> <p> For information about limits on the number of keys you can create, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>Using IAM</i> guide. </p> <important> To ensure the security of your AWS account, the secret access key is accessible only during key and user creation. You must save the key (for example, in a text file) if you want to be able to access it again. If a secret key is lost, you can delete the access keys for the associated user and then create new keys. </important>"
    },
    "CreateAccountAlias":{
      "name":"CreateAccountAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAccountAliasRequest"},
      "errors":[
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Creates an alias for your AWS account. For information about using an AWS account alias, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AccountAlias.html\">Using an Alias for Your AWS Account ID</a> in the <i>Using IAM</i> guide. </p>"
    },
    "CreateGroup":{
      "name":"CreateGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGroupRequest"},
      "output":{
        "shape":"CreateGroupResponse",
        "documentation":"<p>Contains the response to a successful <a>CreateGroup</a> request. </p>",
        "resultWrapper":"CreateGroupResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Creates a new group.</p> <p> For information about the number of groups you can create, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>Using IAM</i> guide. </p>"
    },
    "CreateInstanceProfile":{
      "name":"CreateInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInstanceProfileRequest"},
      "output":{
        "shape":"CreateInstanceProfileResponse",
        "documentation":"<p>Contains the response to a successful <a>CreateInstanceProfile</a> request. </p>",
        "resultWrapper":"CreateInstanceProfileResult"
      },
      "errors":[
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p> Creates a new instance profile. For information about instance profiles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance Profiles</a>. </p> <p> For information about the number of instance profiles you can create, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>Using IAM</i> guide. </p>"
    },
    "CreateLoginProfile":{
      "name":"CreateLoginProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLoginProfileRequest"},
      "output":{
        "shape":"CreateLoginProfileResponse",
        "documentation":"<p>Contains the response to a successful <a>CreateLoginProfile</a> request. </p>",
        "resultWrapper":"CreateLoginProfileResult"
      },
      "errors":[
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"PasswordPolicyViolationException",
          "error":{
            "code":"PasswordPolicyViolation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because the provided password did not meet the requirements imposed by the account password policy. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p> Creates a password for the specified user, giving the user the ability to access AWS services through the AWS Management Console. For more information about managing passwords, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html\">Managing Passwords</a> in the <i>Using IAM</i> guide. </p>"
    },
    "CreateOpenIDConnectProvider":{
      "name":"CreateOpenIDConnectProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOpenIDConnectProviderRequest"},
      "output":{
        "shape":"CreateOpenIDConnectProviderResponse",
        "documentation":"<p>Contains the response to a successful <a>CreateOpenIDConnectProvider</a> request. </p>",
        "resultWrapper":"CreateOpenIDConnectProviderResult"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Creates an IAM entity to describe an identity provider (IdP) that supports <a href=\"http://openid.net/connect/\">OpenID Connect (OIDC)</a>. </p> <p>The OIDC provider that you create with this operation can be used as a principal in a role's trust policy to establish a trust relationship between AWS and the OIDC provider. </p> <p>When you create the IAM OIDC provider, you specify the URL of the OIDC identity provider (IdP) to trust, a list of client IDs (also known as audiences) that identify the application or applications that are allowed to authenticate using the OIDC provider, and a list of thumbprints of the server certificate(s) that the IdP uses. You get all of this information from the OIDC IdP that you want to use for access to AWS. </p> <note>Because trust for the OIDC provider is ultimately derived from the IAM provider that this action creates, it is a best practice to limit access to the <a>CreateOpenIDConnectProvider</a> action to highly-privileged users. </note>"
    },
    "CreatePolicy":{
      "name":"CreatePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePolicyRequest"},
      "output":{
        "shape":"CreatePolicyResponse",
        "documentation":"<p>Contains the response to a successful <a>CreatePolicy</a> request. </p>",
        "resultWrapper":"CreatePolicyResult"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"MalformedPolicyDocumentException",
          "error":{
            "code":"MalformedPolicyDocument",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because the policy document was malformed. The error message describes the specific error. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Creates a new managed policy for your AWS account. </p> <p>This operation creates a policy version with a version identifier of <code>v1</code> and sets v1 as the policy's default version. For more information about policy versions, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html\">Versioning for Managed Policies</a> in the <i>Using IAM</i> guide. </p> <p>For more information about managed policies in general, refer to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>Using IAM</i> guide. </p>"
    },
    "CreatePolicyVersion":{
      "name":"CreatePolicyVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePolicyVersionRequest"},
      "output":{
        "shape":"CreatePolicyVersionResponse",
        "documentation":"<p>Contains the response to a successful <a>CreatePolicyVersion</a> request. </p>",
        "resultWrapper":"CreatePolicyVersionResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"MalformedPolicyDocumentException",
          "error":{
            "code":"MalformedPolicyDocument",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because the policy document was malformed. The error message describes the specific error. </p>"
        },
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Creates a new version of the specified managed policy. To update a managed policy, you create a new policy version. A managed policy can have up to five versions. If the policy has five versions, you must delete an existing version using <a>DeletePolicyVersion</a> before you create a new version. </p> <p>Optionally, you can set the new version as the policy's default version. The default version is the operative version; that is, the version that is in effect for the IAM users, groups, and roles that the policy is attached to. </p> <p>For more information about managed policy versions, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html\">Versioning for Managed Policies</a> in the <i>Using IAM</i> guide. </p>"
    },
    "CreateRole":{
      "name":"CreateRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRoleRequest"},
      "output":{
        "shape":"CreateRoleResponse",
        "documentation":"<p>Contains the response to a successful <a>CreateRole</a> request. </p>",
        "resultWrapper":"CreateRoleResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"MalformedPolicyDocumentException",
          "error":{
            "code":"MalformedPolicyDocument",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because the policy document was malformed. The error message describes the specific error. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p> Creates a new role for your AWS account. For more information about roles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with Roles</a>. For information about limitations on role names and the number of roles you can create, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>Using IAM</i> guide. </p> <p> The example policy grants permission to an EC2 instance to assume the role. The policy is URL-encoded according to RFC 3986. For more information about RFC 3986, go to <a href=\"http://www.faqs.org/rfcs/rfc3986.html\">http://www.faqs.org/rfcs/rfc3986.html</a>. </p>"
    },
    "CreateSAMLProvider":{
      "name":"CreateSAMLProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSAMLProviderRequest"},
      "output":{
        "shape":"CreateSAMLProviderResponse",
        "documentation":"<p>Contains the response to a successful <a>CreateSAMLProvider</a> request. </p>",
        "resultWrapper":"CreateSAMLProviderResult"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Creates an IAM entity to describe an identity provider (IdP) that supports SAML 2.0.</p> <p> The SAML provider that you create with this operation can be used as a principal in a role's trust policy to establish a trust relationship between AWS and a SAML identity provider. You can create an IAM role that supports Web-based single sign-on (SSO) to the AWS Management Console or one that supports API access to AWS. </p> <p> When you create the SAML provider, you upload an a SAML metadata document that you get from your IdP and that includes the issuer's name, expiration information, and keys that can be used to validate the SAML authentication response (assertions) that are received from the IdP. You must generate the metadata document using the identity management software that is used as your organization's IdP. </p> <note> This operation requires <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>. </note> <p> For more information, see <a href=\"http://docs.aws.amazon.com/STS/latest/UsingSTS/STSMgmtConsole-SAML.html\">Giving Console Access Using SAML</a> and <a href=\"http://docs.aws.amazon.com/STS/latest/UsingSTS/CreatingSAML.html\">Creating Temporary Security Credentials for SAML Federation</a> in the <i>Using Temporary Credentials</i> guide. </p>"
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserRequest"},
      "output":{
        "shape":"CreateUserResponse",
        "documentation":"<p>Contains the response to a successful <a>CreateUser</a> request. </p>",
        "resultWrapper":"CreateUserResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Creates a new user for your AWS account.</p> <p> For information about limitations on the number of users you can create, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>Using IAM</i> guide. </p>"
    },
    "CreateVirtualMFADevice":{
      "name":"CreateVirtualMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVirtualMFADeviceRequest"},
      "output":{
        "shape":"CreateVirtualMFADeviceResponse",
        "documentation":"<p>Contains the response to a successful <a>CreateVirtualMFADevice</a> request. </p>",
        "resultWrapper":"CreateVirtualMFADeviceResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Creates a new virtual MFA device for the AWS account. After creating the virtual MFA, use <a>EnableMFADevice</a> to attach the MFA device to an IAM user. For more information about creating and working with virtual MFA devices, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_VirtualMFA.html\">Using a Virtual MFA Device</a> in the <i>Using IAM</i> guide. </p> <p>For information about limits on the number of MFA devices you can create, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on Entities</a> in the <i>Using IAM</i> guide. </p> <important>The seed information contained in the QR code and the Base32 string should be treated like any other secret access information, such as your AWS access keys or your passwords. After you provision your virtual device, you should ensure that the information is destroyed following secure procedures. </important>"
    },
    "DeactivateMFADevice":{
      "name":"DeactivateMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeactivateMFADeviceRequest"},
      "errors":[
        {
          "shape":"EntityTemporarilyUnmodifiableException",
          "error":{
            "code":"EntityTemporarilyUnmodifiable",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that is temporarily unmodifiable, such as a user name that was deleted and then recreated. The error indicates that the request is likely to succeed if you try again after waiting several minutes. The error message describes the entity. </p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Deactivates the specified MFA device and removes it from association with the user name for which it was originally enabled. </p> <p>For more information about creating and working with virtual MFA devices, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_VirtualMFA.html\">Using a Virtual MFA Device</a> in the <i>Using IAM</i> guide. </p>"
    },
    "DeleteAccessKey":{
      "name":"DeleteAccessKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAccessKeyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Deletes the access key associated with the specified user.</p> <p> If you do not specify a user name, IAM determines the user name implicitly based on the AWS access key ID signing the request. Because this action works for access keys under the AWS account, you can use this action to manage root credentials even if the AWS account has no associated users. </p>"
    },
    "DeleteAccountAlias":{
      "name":"DeleteAccountAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAccountAliasRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p> Deletes the specified AWS account alias. For information about using an AWS account alias, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AccountAlias.html\">Using an Alias for Your AWS Account ID</a> in the <i>Using IAM</i> guide. </p>"
    },
    "DeleteAccountPasswordPolicy":{
      "name":"DeleteAccountPasswordPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Deletes the password policy for the AWS account.</p>"
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGroupRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to delete a resource that has attached subordinate entities. The error message describes these entities. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p> Deletes the specified group. The group must not contain any users or have any attached policies. </p>"
    },
    "DeleteGroupPolicy":{
      "name":"DeleteGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGroupPolicyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Deletes the specified inline policy that is embedded in the specified group.</p> <p>A group can also have managed policies attached to it. To detach a managed policy from a group, use <a>DetachGroupPolicy</a>. For more information about policies, refer to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>Using IAM</i> guide. </p>"
    },
    "DeleteInstanceProfile":{
      "name":"DeleteInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInstanceProfileRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to delete a resource that has attached subordinate entities. The error message describes these entities. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Deletes the specified instance profile. The instance profile must not have an associated role. </p> <important> Make sure you do not have any Amazon EC2 instances running with the instance profile you are about to delete. Deleting a role or instance profile that is associated with a running instance will break any applications running on the instance. </important> <p>For more information about instance profiles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance Profiles</a>. </p>"
    },
    "DeleteLoginProfile":{
      "name":"DeleteLoginProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLoginProfileRequest"},
      "errors":[
        {
          "shape":"EntityTemporarilyUnmodifiableException",
          "error":{
            "code":"EntityTemporarilyUnmodifiable",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that is temporarily unmodifiable, such as a user name that was deleted and then recreated. The error indicates that the request is likely to succeed if you try again after waiting several minutes. The error message describes the entity. </p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p> Deletes the password for the specified user, which terminates the user's ability to access AWS services through the AWS Management Console. </p> <important> Deleting a user's password does not prevent a user from accessing IAM through the command line interface or the API. To prevent all user access you must also either make the access key inactive or delete it. For more information about making keys inactive or deleting them, see <a>UpdateAccessKey</a> and <a>DeleteAccessKey</a>. </important>"
    },
    "DeleteOpenIDConnectProvider":{
      "name":"DeleteOpenIDConnectProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOpenIDConnectProviderRequest"},
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Deletes an IAM OpenID Connect identity provider.</p> <p>Deleting an OIDC provider does not update any roles that reference the provider as a principal in their trust policies. Any attempt to assume a role that references a provider that has been deleted will fail. </p> <p>This action is idempotent; it does not fail or return an error if you call the action for a provider that was already deleted.</p>"
    },
    "DeletePolicy":{
      "name":"DeletePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePolicyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to delete a resource that has attached subordinate entities. The error message describes these entities. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Deletes the specified managed policy.</p> <p>Before you can delete a managed policy, you must detach the policy from all users, groups, and roles that it is attached to, and you must delete all of the policy's versions. The following steps describe the process for deleting a managed policy: <ol> <li>Detach the policy from all users, groups, and roles that the policy is attached to, using the <a>DetachUserPolicy</a>, <a>DetachGroupPolicy</a>, or <a>DetachRolePolicy</a> APIs. To list all the users, groups, and roles that a policy is attached to, use <a>ListEntitiesForPolicy</a>. </li> <li>Delete all versions of the policy using <a>DeletePolicyVersion</a>. To list the policy's versions, use <a>ListPolicyVersions</a>. You cannot use <a>DeletePolicyVersion</a> to delete the version that is marked as the default version. You delete the policy's default version in the next step of the process. </li> <li>Delete the policy (this automatically deletes the policy's default version) using this API. </li> </ol> </p> <p>For information about managed policies, refer to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>Using IAM</i> guide. </p>"
    },
    "DeletePolicyVersion":{
      "name":"DeletePolicyVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePolicyVersionRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to delete a resource that has attached subordinate entities. The error message describes these entities. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Deletes the specified version of the specified managed policy.</p> <p>You cannot delete the default version of a policy using this API. To delete the default version of a policy, use <a>DeletePolicy</a>. To find out which version of a policy is marked as the default version, use <a>ListPolicyVersions</a>. </p> <p>For information about versions for managed policies, refer to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html\">Versioning for Managed Policies</a> in the <i>Using IAM</i> guide. </p>"
    },
    "DeleteRole":{
      "name":"DeleteRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRoleRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to delete a resource that has attached subordinate entities. The error message describes these entities. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Deletes the specified role. The role must not have any policies attached. For more information about roles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with Roles</a>. </p> <important>Make sure you do not have any Amazon EC2 instances running with the role you are about to delete. Deleting a role or instance profile that is associated with a running instance will break any applications running on the instance. </important>"
    },
    "DeleteRolePolicy":{
      "name":"DeleteRolePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRolePolicyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Deletes the specified inline policy that is embedded in the specified role.</p> <p>A role can also have managed policies attached to it. To detach a managed policy from a role, use <a>DetachRolePolicy</a>. For more information about policies, refer to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>Using IAM</i> guide. </p>"
    },
    "DeleteSAMLProvider":{
      "name":"DeleteSAMLProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSAMLProviderRequest"},
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Deletes a SAML provider.</p> <p> Deleting the provider does not update any roles that reference the SAML provider as a principal in their trust policies. Any attempt to assume a role that references a SAML provider that has been deleted will fail. </p> <note> This operation requires <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>. </note>"
    },
    "DeleteServerCertificate":{
      "name":"DeleteServerCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServerCertificateRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to delete a resource that has attached subordinate entities. The error message describes these entities. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Deletes the specified server certificate.</p> <important> If you are using a server certificate with Elastic Load Balancing, deleting the certificate could have implications for your application. If Elastic Load Balancing doesn't detect the deletion of bound certificates, it may continue to use the certificates. This could cause Elastic Load Balancing to stop accepting traffic. We recommend that you remove the reference to the certificate from Elastic Load Balancing before using this command to delete the certificate. For more information, go to <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/APIReference/API_DeleteLoadBalancerListeners.html\">DeleteLoadBalancerListeners</a> in the <i>Elastic Load Balancing API Reference</i>. </important>"
    },
    "DeleteSigningCertificate":{
      "name":"DeleteSigningCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSigningCertificateRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Deletes the specified signing certificate associated with the specified user.</p> <p>If you do not specify a user name, IAM determines the user name implicitly based on the AWS access key ID signing the request. Because this action works for access keys under the AWS account, you can use this action to manage root credentials even if the AWS account has no associated users. </p>"
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserRequest"},
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to delete a resource that has attached subordinate entities. The error message describes these entities. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p> Deletes the specified user. The user must not belong to any groups, have any keys or signing certificates, or have any attached policies. </p>"
    },
    "DeleteUserPolicy":{
      "name":"DeleteUserPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserPolicyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Deletes the specified inline policy that is embedded in the specified user.</p> <p>A user can also have managed policies attached to it. To detach a managed policy from a user, use <a>DetachUserPolicy</a>. For more information about policies, refer to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>Using IAM</i> guide. </p>"
    },
    "DeleteVirtualMFADevice":{
      "name":"DeleteVirtualMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVirtualMFADeviceRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to delete a resource that has attached subordinate entities. The error message describes these entities. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Deletes a virtual MFA device.</p> <note> You must deactivate a user's virtual MFA device before you can delete it. For information about deactivating MFA devices, see <a>DeactivateMFADevice</a>. </note>"
    },
    "DetachGroupPolicy":{
      "name":"DetachGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachGroupPolicyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Removes the specified managed policy from the specified group. </p> <p>A group can also have inline policies embedded with it. To delete an inline policy, use the <a>DeleteGroupPolicy</a> API. For information about policies, refer to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>Using IAM</i> guide. </p>"
    },
    "DetachRolePolicy":{
      "name":"DetachRolePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachRolePolicyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Removes the specified managed policy from the specified role. </p> <p>A role can also have inline policies embedded with it. To delete an inline policy, use the <a>DeleteRolePolicy</a> API. For information about policies, refer to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>Using IAM</i> guide. </p>"
    },
    "DetachUserPolicy":{
      "name":"DetachUserPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachUserPolicyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p>Removes the specified managed policy from the specified user. </p> <p>A user can also have inline policies embedded with it. To delete an inline policy, use the <a>DeleteUserPolicy</a> API. For information about policies, refer to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>Using IAM</i> guide. </p>"
    },
    "EnableMFADevice":{
      "name":"EnableMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableMFADeviceRequest"},
      "errors":[
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"EntityTemporarilyUnmodifiableException",
          "error":{
            "code":"EntityTemporarilyUnmodifiable",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that is temporarily unmodifiable, such as a user name that was deleted and then recreated. The error indicates that the request is likely to succeed if you try again after waiting several minutes. The error message describes the entity. </p>"
        },
        {
          "shape":"InvalidAuthenticationCodeException",
          "error":{
            "code":"InvalidAuthenticationCode",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because the authentication code was not recognized. The error message describes the specific error. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
      "documentation":"<p> Enables the specified MFA device and associates it with the specified user name. When enabled, the MFA device is required for every subsequent login by the user name associated with the device. </p>"
    },
    "GenerateCredentialReport":{
      "name":"GenerateCredentialReport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GenerateCredentialReportResponse",
        "documentation":"<p>Contains the response to a successful <a>GenerateCredentialReport</a> request. </p>",
        "resultWrapper":"GenerateCredentialReportResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"ServiceFailureException",
          "error":{
            "code":"ServiceFailure",
            "httpStatusCode":500
          },
          "exception":true,
          "documentation":"<p> The request processing has failed because of an unknown error, exception or failure. </p>"
        }
      ],
[...]
