{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-08-08",
    "endpointPrefix":"connect",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"Amazon Connect",
    "serviceFullName":"Amazon Connect Service",
    "serviceId":"Connect",
    "signatureVersion":"v4",
    "signingName":"connect",
    "uid":"connect-2017-08-08"
  },
  "operations":{
    "ActivateEvaluationForm":{
      "name":"ActivateEvaluationForm",
      "http":{
        "method":"POST",
        "requestUri":"/evaluation-forms/{InstanceId}/{EvaluationFormId}/activate"
      },
      "input":{"shape":"ActivateEvaluationFormRequest"},
      "output":{"shape":"ActivateEvaluationFormResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceConflictException"}
      ]
    },
    "AssociateAnalyticsDataSet":{
      "name":"AssociateAnalyticsDataSet",
      "http":{
        "method":"PUT",
        "requestUri":"/analytics-data/instance/{InstanceId}/association"
      },
      "input":{"shape":"AssociateAnalyticsDataSetRequest"},
      "output":{"shape":"AssociateAnalyticsDataSetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "AssociateApprovedOrigin":{
      "name":"AssociateApprovedOrigin",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/approved-origin"
      },
      "input":{"shape":"AssociateApprovedOriginRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "AssociateBot":{
      "name":"AssociateBot",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/bot"
      },
      "input":{"shape":"AssociateBotRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "AssociateDefaultVocabulary":{
      "name":"AssociateDefaultVocabulary",
      "http":{
        "method":"PUT",
        "requestUri":"/default-vocabulary/{InstanceId}/{LanguageCode}"
      },
      "input":{"shape":"AssociateDefaultVocabularyRequest"},
      "output":{"shape":"AssociateDefaultVocabularyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "AssociateFlow":{
      "name":"AssociateFlow",
      "http":{
        "method":"PUT",
        "requestUri":"/flow-associations/{InstanceId}"
      },
      "input":{"shape":"AssociateFlowRequest"},
      "output":{"shape":"AssociateFlowResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "AssociateInstanceStorageConfig":{
      "name":"AssociateInstanceStorageConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/storage-config"
      },
      "input":{"shape":"AssociateInstanceStorageConfigRequest"},
      "output":{"shape":"AssociateInstanceStorageConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "AssociateLambdaFunction":{
      "name":"AssociateLambdaFunction",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/lambda-function"
      },
      "input":{"shape":"AssociateLambdaFunctionRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "AssociateLexBot":{
      "name":"AssociateLexBot",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/lex-bot"
      },
      "input":{"shape":"AssociateLexBotRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "AssociatePhoneNumberContactFlow":{
      "name":"AssociatePhoneNumberContactFlow",
      "http":{
        "method":"PUT",
        "requestUri":"/phone-number/{PhoneNumberId}/contact-flow"
      },
      "input":{"shape":"AssociatePhoneNumberContactFlowRequest"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "AssociateQueueQuickConnects":{
      "name":"AssociateQueueQuickConnects",
      "http":{
        "method":"POST",
        "requestUri":"/queues/{InstanceId}/{QueueId}/associate-quick-connects"
      },
      "input":{"shape":"AssociateQueueQuickConnectsRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "AssociateRoutingProfileQueues":{
      "name":"AssociateRoutingProfileQueues",
      "http":{
        "method":"POST",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}/associate-queues"
      },
      "input":{"shape":"AssociateRoutingProfileQueuesRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "AssociateSecurityKey":{
      "name":"AssociateSecurityKey",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/security-key"
      },
      "input":{"shape":"AssociateSecurityKeyRequest"},
      "output":{"shape":"AssociateSecurityKeyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "AssociateTrafficDistributionGroupUser":{
      "name":"AssociateTrafficDistributionGroupUser",
      "http":{
        "method":"PUT",
        "requestUri":"/traffic-distribution-group/{TrafficDistributionGroupId}/user"
      },
      "input":{"shape":"AssociateTrafficDistributionGroupUserRequest"},
      "output":{"shape":"AssociateTrafficDistributionGroupUserResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"}
      ],
      "idempotent":true
    },
    "AssociateUserProficiencies":{
      "name":"AssociateUserProficiencies",
      "http":{
        "method":"POST",
        "requestUri":"/users/{InstanceId}/{UserId}/associate-proficiencies"
      },
      "input":{"shape":"AssociateUserProficienciesRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "BatchAssociateAnalyticsDataSet":{
      "name":"BatchAssociateAnalyticsDataSet",
      "http":{
        "method":"PUT",
        "requestUri":"/analytics-data/instance/{InstanceId}/associations"
      },
      "input":{"shape":"BatchAssociateAnalyticsDataSetRequest"},
      "output":{"shape":"BatchAssociateAnalyticsDataSetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "BatchDisassociateAnalyticsDataSet":{
      "name":"BatchDisassociateAnalyticsDataSet",
      "http":{
        "method":"POST",
        "requestUri":"/analytics-data/instance/{InstanceId}/associations"
      },
      "input":{"shape":"BatchDisassociateAnalyticsDataSetRequest"},
      "output":{"shape":"BatchDisassociateAnalyticsDataSetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "BatchGetAttachedFileMetadata":{
      "name":"BatchGetAttachedFileMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/attached-files/{InstanceId}"
      },
      "input":{"shape":"BatchGetAttachedFileMetadataRequest"},
      "output":{"shape":"BatchGetAttachedFileMetadataResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "BatchGetFlowAssociation":{
      "name":"BatchGetFlowAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/flow-associations-batch/{InstanceId}"
      },
      "input":{"shape":"BatchGetFlowAssociationRequest"},
      "output":{"shape":"BatchGetFlowAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "BatchPutContact":{
      "name":"BatchPutContact",
      "http":{
        "method":"PUT",
        "requestUri":"/contact/batch/{InstanceId}"
      },
      "input":{"shape":"BatchPutContactRequest"},
      "output":{"shape":"BatchPutContactResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"IdempotencyException"}
      ],
      "idempotent":true
    },
    "ClaimPhoneNumber":{
      "name":"ClaimPhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-number/claim"
      },
      "input":{"shape":"ClaimPhoneNumberRequest"},
      "output":{"shape":"ClaimPhoneNumberResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"IdempotencyException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "CompleteAttachedFileUpload":{
      "name":"CompleteAttachedFileUpload",
      "http":{
        "method":"POST",
        "requestUri":"/attached-files/{InstanceId}/{FileId}"
      },
      "input":{"shape":"CompleteAttachedFileUploadRequest"},
      "output":{"shape":"CompleteAttachedFileUploadResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateAgentStatus":{
      "name":"CreateAgentStatus",
      "http":{
        "method":"PUT",
        "requestUri":"/agent-status/{InstanceId}"
      },
      "input":{"shape":"CreateAgentStatusRequest"},
      "output":{"shape":"CreateAgentStatusResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateContactFlow":{
      "name":"CreateContactFlow",
      "http":{
        "method":"PUT",
        "requestUri":"/contact-flows/{InstanceId}"
      },
      "input":{"shape":"CreateContactFlowRequest"},
      "output":{"shape":"CreateContactFlowResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidContactFlowException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateContactFlowModule":{
      "name":"CreateContactFlowModule",
      "http":{
        "method":"PUT",
        "requestUri":"/contact-flow-modules/{InstanceId}"
      },
      "input":{"shape":"CreateContactFlowModuleRequest"},
      "output":{"shape":"CreateContactFlowModuleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidContactFlowModuleException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"IdempotencyException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateEvaluationForm":{
      "name":"CreateEvaluationForm",
      "http":{
        "method":"PUT",
        "requestUri":"/evaluation-forms/{InstanceId}"
      },
      "input":{"shape":"CreateEvaluationFormRequest"},
      "output":{"shape":"CreateEvaluationFormResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceConflictException"}
      ],
      "idempotent":true
    },
    "CreateHoursOfOperation":{
      "name":"CreateHoursOfOperation",
      "http":{
        "method":"PUT",
        "requestUri":"/hours-of-operations/{InstanceId}"
      },
      "input":{"shape":"CreateHoursOfOperationRequest"},
      "output":{"shape":"CreateHoursOfOperationResponse"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateInstance":{
      "name":"CreateInstance",
      "http":{
        "method":"PUT",
        "requestUri":"/instance"
      },
      "input":{"shape":"CreateInstanceRequest"},
      "output":{"shape":"CreateInstanceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateIntegrationAssociation":{
      "name":"CreateIntegrationAssociation",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/integration-associations"
      },
      "input":{"shape":"CreateIntegrationAssociationRequest"},
      "output":{"shape":"CreateIntegrationAssociationResponse"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateParticipant":{
      "name":"CreateParticipant",
      "http":{
        "method":"POST",
        "requestUri":"/contact/create-participant"
      },
      "input":{"shape":"CreateParticipantRequest"},
      "output":{"shape":"CreateParticipantResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreatePersistentContactAssociation":{
      "name":"CreatePersistentContactAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/contact/persistent-contact-association/{InstanceId}/{InitialContactId}"
      },
      "input":{"shape":"CreatePersistentContactAssociationRequest"},
      "output":{"shape":"CreatePersistentContactAssociationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreatePredefinedAttribute":{
      "name":"CreatePredefinedAttribute",
      "http":{
        "method":"PUT",
        "requestUri":"/predefined-attributes/{InstanceId}"
      },
      "input":{"shape":"CreatePredefinedAttributeRequest"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreatePrompt":{
      "name":"CreatePrompt",
      "http":{
        "method":"PUT",
        "requestUri":"/prompts/{InstanceId}"
      },
      "input":{"shape":"CreatePromptRequest"},
      "output":{"shape":"CreatePromptResponse"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateQueue":{
      "name":"CreateQueue",
      "http":{
        "method":"PUT",
        "requestUri":"/queues/{InstanceId}"
      },
      "input":{"shape":"CreateQueueRequest"},
      "output":{"shape":"CreateQueueResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateQuickConnect":{
      "name":"CreateQuickConnect",
      "http":{
        "method":"PUT",
        "requestUri":"/quick-connects/{InstanceId}"
      },
      "input":{"shape":"CreateQuickConnectRequest"},
      "output":{"shape":"CreateQuickConnectResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateRoutingProfile":{
      "name":"CreateRoutingProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/routing-profiles/{InstanceId}"
      },
      "input":{"shape":"CreateRoutingProfileRequest"},
      "output":{"shape":"CreateRoutingProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateRule":{
      "name":"CreateRule",
      "http":{
        "method":"POST",
        "requestUri":"/rules/{InstanceId}"
      },
      "input":{"shape":"CreateRuleRequest"},
      "output":{"shape":"CreateRuleResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ]
    },
    "CreateSecurityProfile":{
      "name":"CreateSecurityProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/security-profiles/{InstanceId}"
      },
      "input":{"shape":"CreateSecurityProfileRequest"},
      "output":{"shape":"CreateSecurityProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateTaskTemplate":{
      "name":"CreateTaskTemplate",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/task/template"
      },
      "input":{"shape":"CreateTaskTemplateRequest"},
      "output":{"shape":"CreateTaskTemplateResponse"},
      "errors":[
        {"shape":"PropertyValidationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateTrafficDistributionGroup":{
      "name":"CreateTrafficDistributionGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/traffic-distribution-group"
      },
      "input":{"shape":"CreateTrafficDistributionGroupRequest"},
      "output":{"shape":"CreateTrafficDistributionGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ResourceNotReadyException"}
      ]
    },
    "CreateUseCase":{
      "name":"CreateUseCase",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/integration-associations/{IntegrationAssociationId}/use-cases"
      },
      "input":{"shape":"CreateUseCaseRequest"},
      "output":{"shape":"CreateUseCaseResponse"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"PUT",
        "requestUri":"/users/{InstanceId}"
      },
      "input":{"shape":"CreateUserRequest"},
      "output":{"shape":"CreateUserResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateUserHierarchyGroup":{
      "name":"CreateUserHierarchyGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/user-hierarchy-groups/{InstanceId}"
      },
      "input":{"shape":"CreateUserHierarchyGroupRequest"},
      "output":{"shape":"CreateUserHierarchyGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "CreateView":{
      "name":"CreateView",
      "http":{
        "method":"PUT",
        "requestUri":"/views/{InstanceId}"
      },
      "input":{"shape":"CreateViewRequest"},
      "output":{"shape":"CreateViewResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceInUseException"}
      ],
      "idempotent":true
    },
    "CreateViewVersion":{
      "name":"CreateViewVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/views/{InstanceId}/{ViewId}/versions"
      },
      "input":{"shape":"CreateViewVersionRequest"},
      "output":{"shape":"CreateViewVersionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "idempotent":true
    },
    "CreateVocabulary":{
      "name":"CreateVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/vocabulary/{InstanceId}"
      },
      "input":{"shape":"CreateVocabularyRequest"},
      "output":{"shape":"CreateVocabularyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ]
    },
    "DeactivateEvaluationForm":{
      "name":"DeactivateEvaluationForm",
      "http":{
        "method":"POST",
        "requestUri":"/evaluation-forms/{InstanceId}/{EvaluationFormId}/deactivate"
      },
      "input":{"shape":"DeactivateEvaluationFormRequest"},
      "output":{"shape":"DeactivateEvaluationFormResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceConflictException"}
      ]
    },
    "DeleteAttachedFile":{
      "name":"DeleteAttachedFile",
      "http":{
        "method":"DELETE",
        "requestUri":"/attached-files/{InstanceId}/{FileId}"
      },
      "input":{"shape":"DeleteAttachedFileRequest"},
      "output":{"shape":"DeleteAttachedFileResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DeleteContactEvaluation":{
      "name":"DeleteContactEvaluation",
      "http":{
        "method":"DELETE",
        "requestUri":"/contact-evaluations/{InstanceId}/{EvaluationId}"
      },
      "input":{"shape":"DeleteContactEvaluationRequest"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceConflictException"}
      ],
      "idempotent":true
    },
    "DeleteContactFlow":{
      "name":"DeleteContactFlow",
      "http":{
        "method":"DELETE",
        "requestUri":"/contact-flows/{InstanceId}/{ContactFlowId}"
      },
      "input":{"shape":"DeleteContactFlowRequest"},
      "output":{"shape":"DeleteContactFlowResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DeleteContactFlowModule":{
      "name":"DeleteContactFlowModule",
      "http":{
        "method":"DELETE",
        "requestUri":"/contact-flow-modules/{InstanceId}/{ContactFlowModuleId}"
      },
      "input":{"shape":"DeleteContactFlowModuleRequest"},
      "output":{"shape":"DeleteContactFlowModuleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeleteEvaluationForm":{
      "name":"DeleteEvaluationForm",
      "http":{
        "method":"DELETE",
        "requestUri":"/evaluation-forms/{InstanceId}/{EvaluationFormId}"
      },
      "input":{"shape":"DeleteEvaluationFormRequest"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceConflictException"}
      ],
      "idempotent":true
    },
    "DeleteHoursOfOperation":{
      "name":"DeleteHoursOfOperation",
      "http":{
        "method":"DELETE",
        "requestUri":"/hours-of-operations/{InstanceId}/{HoursOfOperationId}"
      },
      "input":{"shape":"DeleteHoursOfOperationRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeleteInstance":{
      "name":"DeleteInstance",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}"
      },
      "input":{"shape":"DeleteInstanceRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"}
      ]
    },
    "DeleteIntegrationAssociation":{
      "name":"DeleteIntegrationAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/integration-associations/{IntegrationAssociationId}"
      },
      "input":{"shape":"DeleteIntegrationAssociationRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DeletePredefinedAttribute":{
      "name":"DeletePredefinedAttribute",
      "http":{
        "method":"DELETE",
        "requestUri":"/predefined-attributes/{InstanceId}/{Name}"
      },
      "input":{"shape":"DeletePredefinedAttributeRequest"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "idempotent":true
    },
    "DeletePrompt":{
      "name":"DeletePrompt",
      "http":{
        "method":"DELETE",
        "requestUri":"/prompts/{InstanceId}/{PromptId}"
      },
      "input":{"shape":"DeletePromptRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeleteQueue":{
      "name":"DeleteQueue",
      "http":{
        "method":"DELETE",
        "requestUri":"/queues/{InstanceId}/{QueueId}"
      },
      "input":{"shape":"DeleteQueueRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeleteQuickConnect":{
      "name":"DeleteQuickConnect",
      "http":{
        "method":"DELETE",
        "requestUri":"/quick-connects/{InstanceId}/{QuickConnectId}"
      },
      "input":{"shape":"DeleteQuickConnectRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeleteRoutingProfile":{
      "name":"DeleteRoutingProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}"
      },
      "input":{"shape":"DeleteRoutingProfileRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeleteRule":{
      "name":"DeleteRule",
      "http":{
        "method":"DELETE",
        "requestUri":"/rules/{InstanceId}/{RuleId}"
      },
      "input":{"shape":"DeleteRuleRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "DeleteSecurityProfile":{
      "name":"DeleteSecurityProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/security-profiles/{InstanceId}/{SecurityProfileId}"
      },
      "input":{"shape":"DeleteSecurityProfileRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceInUseException"}
      ]
    },
    "DeleteTaskTemplate":{
      "name":"DeleteTaskTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/task/template/{TaskTemplateId}"
      },
      "input":{"shape":"DeleteTaskTemplateRequest"},
      "output":{"shape":"DeleteTaskTemplateResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeleteTrafficDistributionGroup":{
      "name":"DeleteTrafficDistributionGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/traffic-distribution-group/{TrafficDistributionGroupId}"
      },
      "input":{"shape":"DeleteTrafficDistributionGroupRequest"},
      "output":{"shape":"DeleteTrafficDistributionGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeleteUseCase":{
      "name":"DeleteUseCase",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/integration-associations/{IntegrationAssociationId}/use-cases/{UseCaseId}"
      },
      "input":{"shape":"DeleteUseCaseRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"DELETE",
        "requestUri":"/users/{InstanceId}/{UserId}"
      },
      "input":{"shape":"DeleteUserRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeleteUserHierarchyGroup":{
      "name":"DeleteUserHierarchyGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/user-hierarchy-groups/{InstanceId}/{HierarchyGroupId}"
      },
      "input":{"shape":"DeleteUserHierarchyGroupRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DeleteView":{
      "name":"DeleteView",
      "http":{
        "method":"DELETE",
        "requestUri":"/views/{InstanceId}/{ViewId}"
      },
      "input":{"shape":"DeleteViewRequest"},
      "output":{"shape":"DeleteViewResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceInUseException"}
      ]
    },
    "DeleteViewVersion":{
      "name":"DeleteViewVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/views/{InstanceId}/{ViewId}/versions/{ViewVersion}"
      },
      "input":{"shape":"DeleteViewVersionRequest"},
      "output":{"shape":"DeleteViewVersionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceInUseException"}
      ]
    },
    "DeleteVocabulary":{
      "name":"DeleteVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/vocabulary-remove/{InstanceId}/{VocabularyId}"
      },
      "input":{"shape":"DeleteVocabularyRequest"},
      "output":{"shape":"DeleteVocabularyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceInUseException"}
      ]
    },
    "DescribeAgentStatus":{
      "name":"DescribeAgentStatus",
      "http":{
        "method":"GET",
        "requestUri":"/agent-status/{InstanceId}/{AgentStatusId}"
      },
      "input":{"shape":"DescribeAgentStatusRequest"},
      "output":{"shape":"DescribeAgentStatusResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeContact":{
      "name":"DescribeContact",
      "http":{
        "method":"GET",
        "requestUri":"/contacts/{InstanceId}/{ContactId}"
      },
      "input":{"shape":"DescribeContactRequest"},
      "output":{"shape":"DescribeContactResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DescribeContactEvaluation":{
      "name":"DescribeContactEvaluation",
      "http":{
        "method":"GET",
        "requestUri":"/contact-evaluations/{InstanceId}/{EvaluationId}"
      },
      "input":{"shape":"DescribeContactEvaluationRequest"},
      "output":{"shape":"DescribeContactEvaluationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeContactFlow":{
      "name":"DescribeContactFlow",
      "http":{
        "method":"GET",
        "requestUri":"/contact-flows/{InstanceId}/{ContactFlowId}"
      },
      "input":{"shape":"DescribeContactFlowRequest"},
      "output":{"shape":"DescribeContactFlowResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ContactFlowNotPublishedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeContactFlowModule":{
      "name":"DescribeContactFlowModule",
      "http":{
        "method":"GET",
        "requestUri":"/contact-flow-modules/{InstanceId}/{ContactFlowModuleId}"
      },
      "input":{"shape":"DescribeContactFlowModuleRequest"},
      "output":{"shape":"DescribeContactFlowModuleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeEvaluationForm":{
      "name":"DescribeEvaluationForm",
      "http":{
        "method":"GET",
        "requestUri":"/evaluation-forms/{InstanceId}/{EvaluationFormId}"
      },
      "input":{"shape":"DescribeEvaluationFormRequest"},
      "output":{"shape":"DescribeEvaluationFormResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeHoursOfOperation":{
      "name":"DescribeHoursOfOperation",
      "http":{
        "method":"GET",
        "requestUri":"/hours-of-operations/{InstanceId}/{HoursOfOperationId}"
      },
      "input":{"shape":"DescribeHoursOfOperationRequest"},
      "output":{"shape":"DescribeHoursOfOperationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeInstance":{
      "name":"DescribeInstance",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}"
      },
      "input":{"shape":"DescribeInstanceRequest"},
      "output":{"shape":"DescribeInstanceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeInstanceAttribute":{
      "name":"DescribeInstanceAttribute",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/attribute/{AttributeType}"
      },
      "input":{"shape":"DescribeInstanceAttributeRequest"},
      "output":{"shape":"DescribeInstanceAttributeResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DescribeInstanceStorageConfig":{
      "name":"DescribeInstanceStorageConfig",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/storage-config/{AssociationId}"
      },
      "input":{"shape":"DescribeInstanceStorageConfigRequest"},
      "output":{"shape":"DescribeInstanceStorageConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DescribePhoneNumber":{
      "name":"DescribePhoneNumber",
      "http":{
        "method":"GET",
        "requestUri":"/phone-number/{PhoneNumberId}"
      },
      "input":{"shape":"DescribePhoneNumberRequest"},
      "output":{"shape":"DescribePhoneNumberResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "DescribePredefinedAttribute":{
      "name":"DescribePredefinedAttribute",
      "http":{
        "method":"GET",
        "requestUri":"/predefined-attributes/{InstanceId}/{Name}"
      },
      "input":{"shape":"DescribePredefinedAttributeRequest"},
      "output":{"shape":"DescribePredefinedAttributeResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribePrompt":{
      "name":"DescribePrompt",
      "http":{
        "method":"GET",
        "requestUri":"/prompts/{InstanceId}/{PromptId}"
      },
      "input":{"shape":"DescribePromptRequest"},
      "output":{"shape":"DescribePromptResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeQueue":{
      "name":"DescribeQueue",
      "http":{
        "method":"GET",
        "requestUri":"/queues/{InstanceId}/{QueueId}"
      },
      "input":{"shape":"DescribeQueueRequest"},
      "output":{"shape":"DescribeQueueResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeQuickConnect":{
      "name":"DescribeQuickConnect",
      "http":{
        "method":"GET",
        "requestUri":"/quick-connects/{InstanceId}/{QuickConnectId}"
      },
      "input":{"shape":"DescribeQuickConnectRequest"},
      "output":{"shape":"DescribeQuickConnectResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeRoutingProfile":{
      "name":"DescribeRoutingProfile",
      "http":{
        "method":"GET",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}"
      },
      "input":{"shape":"DescribeRoutingProfileRequest"},
      "output":{"shape":"DescribeRoutingProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeRule":{
      "name":"DescribeRule",
      "http":{
        "method":"GET",
        "requestUri":"/rules/{InstanceId}/{RuleId}"
      },
      "input":{"shape":"DescribeRuleRequest"},
      "output":{"shape":"DescribeRuleResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "DescribeSecurityProfile":{
      "name":"DescribeSecurityProfile",
      "http":{
        "method":"GET",
        "requestUri":"/security-profiles/{InstanceId}/{SecurityProfileId}"
      },
      "input":{"shape":"DescribeSecurityProfileRequest"},
      "output":{"shape":"DescribeSecurityProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeTrafficDistributionGroup":{
      "name":"DescribeTrafficDistributionGroup",
      "http":{
        "method":"GET",
        "requestUri":"/traffic-distribution-group/{TrafficDistributionGroupId}"
      },
      "input":{"shape":"DescribeTrafficDistributionGroupRequest"},
      "output":{"shape":"DescribeTrafficDistributionGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DescribeUser":{
      "name":"DescribeUser",
      "http":{
        "method":"GET",
        "requestUri":"/users/{InstanceId}/{UserId}"
      },
      "input":{"shape":"DescribeUserRequest"},
      "output":{"shape":"DescribeUserResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeUserHierarchyGroup":{
      "name":"DescribeUserHierarchyGroup",
      "http":{
        "method":"GET",
        "requestUri":"/user-hierarchy-groups/{InstanceId}/{HierarchyGroupId}"
      },
      "input":{"shape":"DescribeUserHierarchyGroupRequest"},
      "output":{"shape":"DescribeUserHierarchyGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeUserHierarchyStructure":{
      "name":"DescribeUserHierarchyStructure",
      "http":{
        "method":"GET",
        "requestUri":"/user-hierarchy-structure/{InstanceId}"
      },
      "input":{"shape":"DescribeUserHierarchyStructureRequest"},
      "output":{"shape":"DescribeUserHierarchyStructureResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DescribeView":{
      "name":"DescribeView",
      "http":{
        "method":"GET",
        "requestUri":"/views/{InstanceId}/{ViewId}"
      },
      "input":{"shape":"DescribeViewRequest"},
      "output":{"shape":"DescribeViewResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"}
      ]
    },
    "DescribeVocabulary":{
      "name":"DescribeVocabulary",
      "http":{
        "method":"GET",
        "requestUri":"/vocabulary/{InstanceId}/{VocabularyId}"
      },
      "input":{"shape":"DescribeVocabularyRequest"},
      "output":{"shape":"DescribeVocabularyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "DisassociateAnalyticsDataSet":{
      "name":"DisassociateAnalyticsDataSet",
      "http":{
        "method":"POST",
        "requestUri":"/analytics-data/instance/{InstanceId}/association"
      },
      "input":{"shape":"DisassociateAnalyticsDataSetRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DisassociateApprovedOrigin":{
      "name":"DisassociateApprovedOrigin",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/approved-origin"
      },
      "input":{"shape":"DisassociateApprovedOriginRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DisassociateBot":{
      "name":"DisassociateBot",
      "http":{
        "method":"POST",
        "requestUri":"/instance/{InstanceId}/bot"
      },
      "input":{"shape":"DisassociateBotRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DisassociateFlow":{
      "name":"DisassociateFlow",
      "http":{
        "method":"DELETE",
        "requestUri":"/flow-associations/{InstanceId}/{ResourceId}/{ResourceType}"
      },
      "input":{"shape":"DisassociateFlowRequest"},
      "output":{"shape":"DisassociateFlowResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DisassociateInstanceStorageConfig":{
      "name":"DisassociateInstanceStorageConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/storage-config/{AssociationId}"
      },
      "input":{"shape":"DisassociateInstanceStorageConfigRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DisassociateLambdaFunction":{
      "name":"DisassociateLambdaFunction",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/lambda-function"
      },
      "input":{"shape":"DisassociateLambdaFunctionRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DisassociateLexBot":{
      "name":"DisassociateLexBot",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/lex-bot"
      },
      "input":{"shape":"DisassociateLexBotRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DisassociatePhoneNumberContactFlow":{
      "name":"DisassociatePhoneNumberContactFlow",
      "http":{
        "method":"DELETE",
        "requestUri":"/phone-number/{PhoneNumberId}/contact-flow"
      },
      "input":{"shape":"DisassociatePhoneNumberContactFlowRequest"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "DisassociateQueueQuickConnects":{
      "name":"DisassociateQueueQuickConnects",
      "http":{
        "method":"POST",
        "requestUri":"/queues/{InstanceId}/{QueueId}/disassociate-quick-connects"
      },
      "input":{"shape":"DisassociateQueueQuickConnectsRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DisassociateRoutingProfileQueues":{
      "name":"DisassociateRoutingProfileQueues",
      "http":{
        "method":"POST",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}/disassociate-queues"
      },
      "input":{"shape":"DisassociateRoutingProfileQueuesRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DisassociateSecurityKey":{
      "name":"DisassociateSecurityKey",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/security-key/{AssociationId}"
      },
      "input":{"shape":"DisassociateSecurityKeyRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DisassociateTrafficDistributionGroupUser":{
      "name":"DisassociateTrafficDistributionGroupUser",
      "http":{
        "method":"DELETE",
        "requestUri":"/traffic-distribution-group/{TrafficDistributionGroupId}/user"
      },
      "input":{"shape":"DisassociateTrafficDistributionGroupUserRequest"},
      "output":{"shape":"DisassociateTrafficDistributionGroupUserResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"}
      ],
      "idempotent":true
    },
    "DisassociateUserProficiencies":{
      "name":"DisassociateUserProficiencies",
      "http":{
        "method":"POST",
        "requestUri":"/users/{InstanceId}/{UserId}/disassociate-proficiencies"
      },
      "input":{"shape":"DisassociateUserProficienciesRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "DismissUserContact":{
      "name":"DismissUserContact",
      "http":{
        "method":"POST",
        "requestUri":"/users/{InstanceId}/{UserId}/contact"
      },
      "input":{"shape":"DismissUserContactRequest"},
      "output":{"shape":"DismissUserContactResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "GetAttachedFile":{
      "name":"GetAttachedFile",
      "http":{
        "method":"GET",
        "requestUri":"/attached-files/{InstanceId}/{FileId}"
      },
      "input":{"shape":"GetAttachedFileRequest"},
      "output":{"shape":"GetAttachedFileResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "GetContactAttributes":{
      "name":"GetContactAttributes",
      "http":{
        "method":"GET",
        "requestUri":"/contact/attributes/{InstanceId}/{InitialContactId}"
      },
      "input":{"shape":"GetContactAttributesRequest"},
      "output":{"shape":"GetContactAttributesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "GetCurrentMetricData":{
      "name":"GetCurrentMetricData",
      "http":{
        "method":"POST",
        "requestUri":"/metrics/current/{InstanceId}"
      },
      "input":{"shape":"GetCurrentMetricDataRequest"},
      "output":{"shape":"GetCurrentMetricDataResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetCurrentUserData":{
      "name":"GetCurrentUserData",
      "http":{
        "method":"POST",
        "requestUri":"/metrics/userdata/{InstanceId}"
      },
      "input":{"shape":"GetCurrentUserDataRequest"},
      "output":{"shape":"GetCurrentUserDataResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetFederationToken":{
      "name":"GetFederationToken",
      "http":{
        "method":"GET",
        "requestUri":"/user/federate/{InstanceId}"
      },
      "input":{"shape":"GetFederationTokenRequest"},
      "output":{"shape":"GetFederationTokenResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"DuplicateResourceException"}
      ]
    },
    "GetFlowAssociation":{
      "name":"GetFlowAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/flow-associations/{InstanceId}/{ResourceId}/{ResourceType}"
      },
      "input":{"shape":"GetFlowAssociationRequest"},
      "output":{"shape":"GetFlowAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "GetMetricData":{
      "name":"GetMetricData",
      "http":{
        "method":"POST",
        "requestUri":"/metrics/historical/{InstanceId}"
      },
      "input":{"shape":"GetMetricDataRequest"},
      "output":{"shape":"GetMetricDataResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetMetricDataV2":{
      "name":"GetMetricDataV2",
      "http":{
        "method":"POST",
        "requestUri":"/metrics/data"
      },
      "input":{"shape":"GetMetricDataV2Request"},
      "output":{"shape":"GetMetricDataV2Response"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetPromptFile":{
      "name":"GetPromptFile",
      "http":{
        "method":"GET",
        "requestUri":"/prompts/{InstanceId}/{PromptId}/file"
      },
      "input":{"shape":"GetPromptFileRequest"},
      "output":{"shape":"GetPromptFileResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "GetTaskTemplate":{
      "name":"GetTaskTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/task/template/{TaskTemplateId}"
      },
      "input":{"shape":"GetTaskTemplateRequest"},
      "output":{"shape":"GetTaskTemplateResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "GetTrafficDistribution":{
      "name":"GetTrafficDistribution",
      "http":{
        "method":"GET",
        "requestUri":"/traffic-distribution/{Id}"
      },
      "input":{"shape":"GetTrafficDistributionRequest"},
      "output":{"shape":"GetTrafficDistributionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ImportPhoneNumber":{
      "name":"ImportPhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-number/import"
      },
      "input":{"shape":"ImportPhoneNumberRequest"},
      "output":{"shape":"ImportPhoneNumberResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"IdempotencyException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListAgentStatuses":{
      "name":"ListAgentStatuses",
      "http":{
        "method":"GET",
        "requestUri":"/agent-status/{InstanceId}"
      },
      "input":{"shape":"ListAgentStatusRequest"},
      "output":{"shape":"ListAgentStatusResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListAnalyticsDataAssociations":{
      "name":"ListAnalyticsDataAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/analytics-data/instance/{InstanceId}/association"
      },
      "input":{"shape":"ListAnalyticsDataAssociationsRequest"},
      "output":{"shape":"ListAnalyticsDataAssociationsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListApprovedOrigins":{
      "name":"ListApprovedOrigins",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/approved-origins"
      },
      "input":{"shape":"ListApprovedOriginsRequest"},
      "output":{"shape":"ListApprovedOriginsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListBots":{
      "name":"ListBots",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/bots"
      },
      "input":{"shape":"ListBotsRequest"},
      "output":{"shape":"ListBotsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListContactEvaluations":{
      "name":"ListContactEvaluations",
      "http":{
        "method":"GET",
        "requestUri":"/contact-evaluations/{InstanceId}"
      },
      "input":{"shape":"ListContactEvaluationsRequest"},
      "output":{"shape":"ListContactEvaluationsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListContactFlowModules":{
      "name":"ListContactFlowModules",
      "http":{
        "method":"GET",
        "requestUri":"/contact-flow-modules-summary/{InstanceId}"
      },
      "input":{"shape":"ListContactFlowModulesRequest"},
      "output":{"shape":"ListContactFlowModulesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListContactFlows":{
      "name":"ListContactFlows",
      "http":{
        "method":"GET",
        "requestUri":"/contact-flows-summary/{InstanceId}"
      },
      "input":{"shape":"ListContactFlowsRequest"},
      "output":{"shape":"ListContactFlowsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListContactReferences":{
      "name":"ListContactReferences",
      "http":{
        "method":"GET",
        "requestUri":"/contact/references/{InstanceId}/{ContactId}"
      },
      "input":{"shape":"ListContactReferencesRequest"},
      "output":{"shape":"ListContactReferencesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListDefaultVocabularies":{
      "name":"ListDefaultVocabularies",
      "http":{
        "method":"POST",
        "requestUri":"/default-vocabulary-summary/{InstanceId}"
      },
      "input":{"shape":"ListDefaultVocabulariesRequest"},
      "output":{"shape":"ListDefaultVocabulariesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListEvaluationFormVersions":{
      "name":"ListEvaluationFormVersions",
      "http":{
        "method":"GET",
        "requestUri":"/evaluation-forms/{InstanceId}/{EvaluationFormId}/versions"
      },
      "input":{"shape":"ListEvaluationFormVersionsRequest"},
      "output":{"shape":"ListEvaluationFormVersionsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListEvaluationForms":{
      "name":"ListEvaluationForms",
      "http":{
        "method":"GET",
        "requestUri":"/evaluation-forms/{InstanceId}"
      },
      "input":{"shape":"ListEvaluationFormsRequest"},
      "output":{"shape":"ListEvaluationFormsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListFlowAssociations":{
      "name":"ListFlowAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/flow-associations-summary/{InstanceId}"
      },
      "input":{"shape":"ListFlowAssociationsRequest"},
      "output":{"shape":"ListFlowAssociationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListHoursOfOperations":{
      "name":"ListHoursOfOperations",
      "http":{
        "method":"GET",
        "requestUri":"/hours-of-operations-summary/{InstanceId}"
      },
      "input":{"shape":"ListHoursOfOperationsRequest"},
      "output":{"shape":"ListHoursOfOperationsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListInstanceAttributes":{
      "name":"ListInstanceAttributes",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/attributes"
      },
      "input":{"shape":"ListInstanceAttributesRequest"},
      "output":{"shape":"ListInstanceAttributesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListInstanceStorageConfigs":{
      "name":"ListInstanceStorageConfigs",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/storage-configs"
      },
      "input":{"shape":"ListInstanceStorageConfigsRequest"},
      "output":{"shape":"ListInstanceStorageConfigsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListInstances":{
      "name":"ListInstances",
      "http":{
        "method":"GET",
        "requestUri":"/instance"
      },
      "input":{"shape":"ListInstancesRequest"},
      "output":{"shape":"ListInstancesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListIntegrationAssociations":{
      "name":"ListIntegrationAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/integration-associations"
      },
      "input":{"shape":"ListIntegrationAssociationsRequest"},
      "output":{"shape":"ListIntegrationAssociationsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListLambdaFunctions":{
      "name":"ListLambdaFunctions",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/lambda-functions"
      },
      "input":{"shape":"ListLambdaFunctionsRequest"},
      "output":{"shape":"ListLambdaFunctionsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListLexBots":{
      "name":"ListLexBots",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/lex-bots"
      },
      "input":{"shape":"ListLexBotsRequest"},
      "output":{"shape":"ListLexBotsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListPhoneNumbers":{
      "name":"ListPhoneNumbers",
      "http":{
        "method":"GET",
        "requestUri":"/phone-numbers-summary/{InstanceId}"
      },
      "input":{"shape":"ListPhoneNumbersRequest"},
      "output":{"shape":"ListPhoneNumbersResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListPhoneNumbersV2":{
      "name":"ListPhoneNumbersV2",
      "http":{
        "method":"POST",
        "requestUri":"/phone-number/list"
      },
      "input":{"shape":"ListPhoneNumbersV2Request"},
      "output":{"shape":"ListPhoneNumbersV2Response"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListPredefinedAttributes":{
      "name":"ListPredefinedAttributes",
      "http":{
        "method":"GET",
        "requestUri":"/predefined-attributes/{InstanceId}"
      },
      "input":{"shape":"ListPredefinedAttributesRequest"},
      "output":{"shape":"ListPredefinedAttributesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListPrompts":{
      "name":"ListPrompts",
      "http":{
        "method":"GET",
        "requestUri":"/prompts-summary/{InstanceId}"
      },
      "input":{"shape":"ListPromptsRequest"},
      "output":{"shape":"ListPromptsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListQueueQuickConnects":{
      "name":"ListQueueQuickConnects",
      "http":{
        "method":"GET",
        "requestUri":"/queues/{InstanceId}/{QueueId}/quick-connects"
      },
      "input":{"shape":"ListQueueQuickConnectsRequest"},
      "output":{"shape":"ListQueueQuickConnectsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListQueues":{
      "name":"ListQueues",
      "http":{
        "method":"GET",
        "requestUri":"/queues-summary/{InstanceId}"
      },
      "input":{"shape":"ListQueuesRequest"},
      "output":{"shape":"ListQueuesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListQuickConnects":{
      "name":"ListQuickConnects",
      "http":{
        "method":"GET",
        "requestUri":"/quick-connects/{InstanceId}"
      },
      "input":{"shape":"ListQuickConnectsRequest"},
      "output":{"shape":"ListQuickConnectsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListRealtimeContactAnalysisSegmentsV2":{
      "name":"ListRealtimeContactAnalysisSegmentsV2",
      "http":{
        "method":"POST",
        "requestUri":"/contact/list-real-time-analysis-segments-v2/{InstanceId}/{ContactId}"
      },
      "input":{"shape":"ListRealtimeContactAnalysisSegmentsV2Request"},
      "output":{"shape":"ListRealtimeContactAnalysisSegmentsV2Response"},
      "errors":[
        {"shape":"OutputTypeNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListRoutingProfileQueues":{
      "name":"ListRoutingProfileQueues",
      "http":{
        "method":"GET",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}/queues"
      },
      "input":{"shape":"ListRoutingProfileQueuesRequest"},
      "output":{"shape":"ListRoutingProfileQueuesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListRoutingProfiles":{
      "name":"ListRoutingProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/routing-profiles-summary/{InstanceId}"
      },
      "input":{"shape":"ListRoutingProfilesRequest"},
      "output":{"shape":"ListRoutingProfilesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListRules":{
      "name":"ListRules",
      "http":{
        "method":"GET",
        "requestUri":"/rules/{InstanceId}"
      },
      "input":{"shape":"ListRulesRequest"},
      "output":{"shape":"ListRulesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListSecurityKeys":{
      "name":"ListSecurityKeys",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/security-keys"
      },
      "input":{"shape":"ListSecurityKeysRequest"},
      "output":{"shape":"ListSecurityKeysResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListSecurityProfileApplications":{
      "name":"ListSecurityProfileApplications",
      "http":{
        "method":"GET",
        "requestUri":"/security-profiles-applications/{InstanceId}/{SecurityProfileId}"
      },
      "input":{"shape":"ListSecurityProfileApplicationsRequest"},
      "output":{"shape":"ListSecurityProfileApplicationsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListSecurityProfilePermissions":{
      "name":"ListSecurityProfilePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/security-profiles-permissions/{InstanceId}/{SecurityProfileId}"
      },
      "input":{"shape":"ListSecurityProfilePermissionsRequest"},
      "output":{"shape":"ListSecurityProfilePermissionsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListSecurityProfiles":{
      "name":"ListSecurityProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/security-profiles-summary/{InstanceId}"
      },
      "input":{"shape":"ListSecurityProfilesRequest"},
      "output":{"shape":"ListSecurityProfilesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListTaskTemplates":{
      "name":"ListTaskTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/task/template"
      },
      "input":{"shape":"ListTaskTemplatesRequest"},
      "output":{"shape":"ListTaskTemplatesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListTrafficDistributionGroupUsers":{
      "name":"ListTrafficDistributionGroupUsers",
      "http":{
        "method":"GET",
        "requestUri":"/traffic-distribution-group/{TrafficDistributionGroupId}/user"
      },
      "input":{"shape":"ListTrafficDistributionGroupUsersRequest"},
      "output":{"shape":"ListTrafficDistributionGroupUsersResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListTrafficDistributionGroups":{
      "name":"ListTrafficDistributionGroups",
      "http":{
        "method":"GET",
        "requestUri":"/traffic-distribution-groups"
      },
      "input":{"shape":"ListTrafficDistributionGroupsRequest"},
      "output":{"shape":"ListTrafficDistributionGroupsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListUseCases":{
      "name":"ListUseCases",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/integration-associations/{IntegrationAssociationId}/use-cases"
      },
      "input":{"shape":"ListUseCasesRequest"},
      "output":{"shape":"ListUseCasesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListUserHierarchyGroups":{
      "name":"ListUserHierarchyGroups",
      "http":{
        "method":"GET",
        "requestUri":"/user-hierarchy-groups-summary/{InstanceId}"
      },
      "input":{"shape":"ListUserHierarchyGroupsRequest"},
      "output":{"shape":"ListUserHierarchyGroupsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListUserProficiencies":{
      "name":"ListUserProficiencies",
      "http":{
        "method":"GET",
        "requestUri":"/users/{InstanceId}/{UserId}/proficiencies"
      },
      "input":{"shape":"ListUserProficienciesRequest"},
      "output":{"shape":"ListUserProficienciesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"GET",
        "requestUri":"/users-summary/{InstanceId}"
      },
      "input":{"shape":"ListUsersRequest"},
      "output":{"shape":"ListUsersResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ListViewVersions":{
      "name":"ListViewVersions",
      "http":{
        "method":"GET",
        "requestUri":"/views/{InstanceId}/{ViewId}/versions"
      },
      "input":{"shape":"ListViewVersionsRequest"},
      "output":{"shape":"ListViewVersionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"}
      ]
    },
    "ListViews":{
      "name":"ListViews",
      "http":{
        "method":"GET",
        "requestUri":"/views/{InstanceId}"
      },
      "input":{"shape":"ListViewsRequest"},
      "output":{"shape":"ListViewsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"}
      ]
    },
    "MonitorContact":{
      "name":"MonitorContact",
      "http":{
        "method":"POST",
        "requestUri":"/contact/monitor"
      },
      "input":{"shape":"MonitorContactRequest"},
      "output":{"shape":"MonitorContactResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotencyException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "PauseContact":{
      "name":"PauseContact",
      "http":{
        "method":"POST",
        "requestUri":"/contact/pause"
      },
      "input":{"shape":"PauseContactRequest"},
      "output":{"shape":"PauseContactResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"}
      ]
    },
    "PutUserStatus":{
      "name":"PutUserStatus",
      "http":{
        "method":"PUT",
        "requestUri":"/users/{InstanceId}/{UserId}/status"
      },
      "input":{"shape":"PutUserStatusRequest"},
      "output":{"shape":"PutUserStatusResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "ReleasePhoneNumber":{
      "name":"ReleasePhoneNumber",
      "http":{
        "method":"DELETE",
        "requestUri":"/phone-number/{PhoneNumberId}"
      },
      "input":{"shape":"ReleasePhoneNumberRequest"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceInUseException"},
        {"shape":"IdempotencyException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ReplicateInstance":{
      "name":"ReplicateInstance",
      "http":{
        "method":"POST",
        "requestUri":"/instance/{InstanceId}/replicate"
      },
      "input":{"shape":"ReplicateInstanceRequest"},
      "output":{"shape":"ReplicateInstanceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceNotReadyException"},
        {"shape":"ResourceConflictException"}
      ]
    },
    "ResumeContact":{
      "name":"ResumeContact",
      "http":{
        "method":"POST",
        "requestUri":"/contact/resume"
      },
      "input":{"shape":"ResumeContactRequest"},
      "output":{"shape":"ResumeContactResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"}
      ]
    },
    "ResumeContactRecording":{
      "name":"ResumeContactRecording",
      "http":{
        "method":"POST",
        "requestUri":"/contact/resume-recording"
      },
      "input":{"shape":"ResumeContactRecordingRequest"},
      "output":{"shape":"ResumeContactRecordingResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "SearchAvailablePhoneNumbers":{
      "name":"SearchAvailablePhoneNumbers",
      "http":{
        "method":"POST",
        "requestUri":"/phone-number/search-available"
      },
      "input":{"shape":"SearchAvailablePhoneNumbersRequest"},
      "output":{"shape":"SearchAvailablePhoneNumbersResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "SearchContactFlowModules":{
      "name":"SearchContactFlowModules",
      "http":{
        "method":"POST",
        "requestUri":"/search-contact-flow-modules"
      },
      "input":{"shape":"SearchContactFlowModulesRequest"},
      "output":{"shape":"SearchContactFlowModulesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "SearchContactFlows":{
      "name":"SearchContactFlows",
      "http":{
        "method":"POST",
        "requestUri":"/search-contact-flows"
      },
      "input":{"shape":"SearchContactFlowsRequest"},
      "output":{"shape":"SearchContactFlowsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "SearchContacts":{
      "name":"SearchContacts",
      "http":{
        "method":"POST",
        "requestUri":"/search-contacts"
      },
      "input":{"shape":"SearchContactsRequest"},
      "output":{"shape":"SearchContactsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "SearchHoursOfOperations":{
      "name":"SearchHoursOfOperations",
      "http":{
        "method":"POST",
        "requestUri":"/search-hours-of-operations"
      },
      "input":{"shape":"SearchHoursOfOperationsRequest"},
      "output":{"shape":"SearchHoursOfOperationsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "SearchPredefinedAttributes":{
      "name":"SearchPredefinedAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/search-predefined-attributes"
      },
      "input":{"shape":"SearchPredefinedAttributesRequest"},
      "output":{"shape":"SearchPredefinedAttributesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "SearchPrompts":{
      "name":"SearchPrompts",
      "http":{
        "method":"POST",
        "requestUri":"/search-prompts"
      },
      "input":{"shape":"SearchPromptsRequest"},
      "output":{"shape":"SearchPromptsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "SearchQueues":{
      "name":"SearchQueues",
      "http":{
        "method":"POST",
        "requestUri":"/search-queues"
      },
      "input":{"shape":"SearchQueuesRequest"},
      "output":{"shape":"SearchQueuesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ]
    },
    "SearchQuickConnects":{
[...]
