{
  "metadata": {
    "apiVersion": "2020-06-15",
    "endpointPrefix": "identitystore",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "IdentityStore",
    "serviceFullName": "AWS SSO Identity Store",
    "serviceId": "identitystore",
    "signatureVersion": "v4",
    "signingName": "identitystore",
    "targetPrefix": "AWSIdentityStore",
    "uid": "identitystore-2020-06-15"
  },
  "operations": {
    "CreateGroup": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateGroupRequest"
      },
      "name": "CreateGroup",
      "output": {
        "shape": "CreateGroupResponse"
      }
    },
    "CreateGroupMembership": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateGroupMembershipRequest"
      },
      "name": "CreateGroupMembership",
      "output": {
        "shape": "CreateGroupMembershipResponse"
      }
    },
    "CreateUser": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserRequest"
      },
      "name": "CreateUser",
      "output": {
        "shape": "CreateUserResponse"
      }
    },
    "DeleteGroup": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteGroupRequest"
      },
      "name": "DeleteGroup",
      "output": {
        "shape": "DeleteGroupResponse"
      }
    },
    "DeleteGroupMembership": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteGroupMembershipRequest"
      },
      "name": "DeleteGroupMembership",
      "output": {
        "shape": "DeleteGroupMembershipResponse"
      }
    },
    "DeleteUser": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteUserRequest"
      },
      "name": "DeleteUser",
      "output": {
        "shape": "DeleteUserResponse"
      }
    },
    "DescribeGroup": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeGroupRequest"
      },
      "name": "DescribeGroup",
      "output": {
        "shape": "DescribeGroupResponse"
      }
    },
    "DescribeGroupMembership": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeGroupMembershipRequest"
      },
      "name": "DescribeGroupMembership",
      "output": {
        "shape": "DescribeGroupMembershipResponse"
      }
    },
    "DescribeUser": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUserRequest"
      },
      "name": "DescribeUser",
      "output": {
        "shape": "DescribeUserResponse"
      }
    },
    "GetGroupId": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetGroupIdRequest"
      },
      "name": "GetGroupId",
      "output": {
        "shape": "GetGroupIdResponse"
      }
    },
    "GetGroupMembershipId": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetGroupMembershipIdRequest"
      },
      "name": "GetGroupMembershipId",
      "output": {
        "shape": "GetGroupMembershipIdResponse"
      }
    },
    "GetUserId": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUserIdRequest"
      },
      "name": "GetUserId",
      "output": {
        "shape": "GetUserIdResponse"
      }
    },
    "IsMemberInGroups": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "IsMemberInGroupsRequest"
      },
      "name": "IsMemberInGroups",
      "output": {
        "shape": "IsMemberInGroupsResponse"
      }
    },
    "ListGroupMemberships": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListGroupMembershipsRequest"
      },
      "name": "ListGroupMemberships",
      "output": {
        "shape": "ListGroupMembershipsResponse"
      }
    },
    "ListGroupMembershipsForMember": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListGroupMembershipsForMemberRequest"
      },
      "name": "ListGroupMembershipsForMember",
      "output": {
        "shape": "ListGroupMembershipsForMemberResponse"
      }
    },
    "ListGroups": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListGroupsRequest"
      },
      "name": "ListGroups",
      "output": {
        "shape": "ListGroupsResponse"
      }
    },
    "ListUsers": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUsersRequest"
      },
      "name": "ListUsers",
      "output": {
        "shape": "ListUsersResponse"
      }
    },
    "UpdateGroup": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateGroupRequest"
      },
      "name": "UpdateGroup",
      "output": {
        "shape": "UpdateGroupResponse"
      }
    },
    "UpdateUser": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateUserRequest"
      },
      "name": "UpdateUser",
      "output": {
        "shape": "UpdateUserResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "shape": "RequestId"
        }
      },
      "type": "structure"
    },
    "Address": {
      "members": {
        "Country": {
          "shape": "SensitiveStringType"
        },
        "Formatted": {
          "shape": "SensitiveStringType"
        },
        "Locality": {
          "shape": "SensitiveStringType"
        },
        "PostalCode": {
          "shape": "SensitiveStringType"
        },
        "Primary": {
          "shape": "SensitiveBooleanType"
        },
        "Region": {
          "shape": "SensitiveStringType"
        },
        "StreetAddress": {
          "shape": "SensitiveStringType"
        },
        "Type": {
          "shape": "SensitiveStringType"
        }
      },
      "type": "structure"
    },
    "Addresses": {
      "max": 1,
      "member": {
        "shape": "Address"
      },
      "min": 1,
      "type": "list"
    },
    "AlternateIdentifier": {
      "members": {
        "ExternalId": {
          "shape": "ExternalId"
        }
      },
      "type": "structure",
      "union": true
    },
    "AttributeOperation": {
      "members": {
        "AttributePath": {
          "shape": "AttributePath"
        }
      },
      "required": [
        "AttributePath"
      ],
      "type": "structure"
    },
    "AttributeOperations": {
      "max": 100,
      "member": {
        "shape": "AttributeOperation"
      },
      "min": 1,
      "type": "list"
    },
    "AttributePath": {
      "max": 255,
      "min": 1,
      "pattern": "\\p{L}+(?:\\.\\p{L}+){0,2}",
      "type": "string"
    },
    "ConflictException": {
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "Reason": {
          "shape": "ConflictExceptionReason"
        },
        "RequestId": {
          "shape": "RequestId"
        }
      },
      "type": "structure"
    },
    "ConflictExceptionReason": {
      "enum": [
        "UNIQUENESS_CONSTRAINT_VIOLATION",
        "CONCURRENT_MODIFICATION"
      ],
      "type": "string"
    },
    "CreateGroupMembershipRequest": {
      "members": {
        "GroupId": {
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "MemberId": {
          "shape": "MemberId"
        }
      },
      "required": [
        "IdentityStoreId",
        "GroupId",
        "MemberId"
      ],
      "type": "structure"
    },
    "CreateGroupMembershipResponse": {
      "members": {
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "MembershipId": {
          "shape": "ResourceId"
        }
      },
      "required": [
        "MembershipId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "CreateGroupRequest": {
      "members": {
        "Description": {
          "shape": "SensitiveStringType"
        },
        "DisplayName": {
          "shape": "GroupDisplayName"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "CreateGroupResponse": {
      "members": {
        "GroupId": {
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "GroupId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "CreateUserRequest": {
      "members": {
        "Addresses": {
          "shape": "Addresses"
        },
        "DisplayName": {
          "shape": "SensitiveStringType"
        },
        "Emails": {
          "shape": "Emails"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "Locale": {
          "shape": "SensitiveStringType"
        },
        "Name": {
          "shape": "Name"
        },
        "NickName": {
          "shape": "SensitiveStringType"
        },
        "PhoneNumbers": {
          "shape": "PhoneNumbers"
        },
        "PreferredLanguage": {
          "shape": "SensitiveStringType"
        },
        "ProfileUrl": {
          "shape": "SensitiveStringType"
        },
        "Timezone": {
          "shape": "SensitiveStringType"
        },
        "Title": {
          "shape": "SensitiveStringType"
        },
        "UserName": {
          "shape": "UserName"
        },
        "UserType": {
          "shape": "SensitiveStringType"
        }
      },
      "required": [
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "CreateUserResponse": {
      "members": {
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "UserId": {
          "shape": "ResourceId"
        }
      },
      "required": [
        "UserId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "DeleteGroupMembershipRequest": {
      "members": {
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "MembershipId": {
          "shape": "ResourceId"
        }
      },
      "required": [
        "IdentityStoreId",
        "MembershipId"
      ],
      "type": "structure"
    },
    "DeleteGroupMembershipResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteGroupRequest": {
      "members": {
        "GroupId": {
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "IdentityStoreId",
        "GroupId"
      ],
      "type": "structure"
    },
    "DeleteGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteUserRequest": {
      "members": {
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "UserId": {
          "shape": "ResourceId"
        }
      },
      "required": [
        "IdentityStoreId",
        "UserId"
      ],
      "type": "structure"
    },
    "DeleteUserResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeGroupMembershipRequest": {
      "members": {
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "MembershipId": {
          "shape": "ResourceId"
        }
      },
      "required": [
        "IdentityStoreId",
        "MembershipId"
      ],
      "type": "structure"
    },
    "DescribeGroupMembershipResponse": {
      "members": {
        "GroupId": {
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "MemberId": {
          "shape": "MemberId"
        },
        "MembershipId": {
          "shape": "ResourceId"
        }
      },
      "required": [
        "IdentityStoreId",
        "MembershipId",
        "GroupId",
        "MemberId"
      ],
      "type": "structure"
    },
    "DescribeGroupRequest": {
      "members": {
        "GroupId": {
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "IdentityStoreId",
        "GroupId"
      ],
      "type": "structure"
    },
    "DescribeGroupResponse": {
      "members": {
        "Description": {
          "shape": "SensitiveStringType"
        },
        "DisplayName": {
          "shape": "GroupDisplayName"
        },
        "ExternalIds": {
          "shape": "ExternalIds"
        },
        "GroupId": {
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "GroupId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "DescribeUserRequest": {
      "members": {
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "UserId": {
          "shape": "ResourceId"
        }
      },
      "required": [
        "IdentityStoreId",
        "UserId"
      ],
      "type": "structure"
    },
    "DescribeUserResponse": {
      "members": {
        "Addresses": {
          "shape": "Addresses"
        },
        "DisplayName": {
          "shape": "SensitiveStringType"
        },
        "Emails": {
          "shape": "Emails"
        },
        "ExternalIds": {
          "shape": "ExternalIds"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "Locale": {
          "shape": "SensitiveStringType"
        },
        "Name": {
          "shape": "Name"
        },
        "NickName": {
          "shape": "SensitiveStringType"
        },
        "PhoneNumbers": {
          "shape": "PhoneNumbers"
        },
        "PreferredLanguage": {
          "shape": "SensitiveStringType"
        },
        "ProfileUrl": {
          "shape": "SensitiveStringType"
        },
        "Timezone": {
          "shape": "SensitiveStringType"
        },
        "Title": {
          "shape": "SensitiveStringType"
        },
        "UserId": {
          "shape": "ResourceId"
        },
        "UserName": {
          "shape": "UserName"
        },
        "UserType": {
          "shape": "SensitiveStringType"
        }
      },
      "required": [
        "UserId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "Email": {
      "members": {
        "Primary": {
          "shape": "SensitiveBooleanType"
        },
        "Type": {
          "shape": "SensitiveStringType"
        },
        "Value": {
          "shape": "SensitiveStringType"
        }
      },
      "type": "structure"
    },
    "Emails": {
      "max": 1,
      "member": {
        "shape": "Email"
      },
      "min": 1,
      "type": "list"
    },
    "ExceptionMessage": {
      "type": "string"
    },
    "ExternalId": {
      "members": {
        "Id": {
          "shape": "ExternalIdIdentifier"
        },
        "Issuer": {
          "shape": "ExternalIdIssuer"
        }
      },
      "required": [
        "Issuer",
        "Id"
      ],
      "type": "structure"
    },
    "ExternalIdIdentifier": {
      "max": 256,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
      "sensitive": true,
      "type": "string"
    },
    "ExternalIdIssuer": {
      "max": 100,
      "min": 1,
      "pattern": "(?!(?i)(arn|aws):)[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
      "sensitive": true,
      "type": "string"
    },
    "ExternalIds": {
      "max": 10,
      "member": {
        "shape": "ExternalId"
      },
      "min": 1,
      "type": "list"
    },
    "Filter": {
      "members": {
        "AttributePath": {
          "shape": "AttributePath"
        },
        "AttributeValue": {
          "shape": "SensitiveStringType"
        }
      },
      "required": [
        "AttributePath",
        "AttributeValue"
      ],
      "type": "structure"
    },
    "Filters": {
      "max": 1,
      "member": {
        "shape": "Filter"
      },
      "min": 0,
      "type": "list"
    },
    "GetGroupIdRequest": {
      "members": {
        "AlternateIdentifier": {
          "shape": "AlternateIdentifier"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "IdentityStoreId",
        "AlternateIdentifier"
      ],
      "type": "structure"
    },
    "GetGroupIdResponse": {
      "members": {
        "GroupId": {
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "GroupId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "GetGroupMembershipIdRequest": {
      "members": {
        "GroupId": {
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "MemberId": {
          "shape": "MemberId"
        }
      },
      "required": [
        "IdentityStoreId",
        "GroupId",
        "MemberId"
      ],
      "type": "structure"
    },
    "GetGroupMembershipIdResponse": {
      "members": {
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "MembershipId": {
          "shape": "ResourceId"
        }
      },
      "required": [
        "MembershipId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "GetUserIdRequest": {
      "members": {
        "AlternateIdentifier": {
          "shape": "AlternateIdentifier"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "IdentityStoreId",
        "AlternateIdentifier"
      ],
      "type": "structure"
    },
    "GetUserIdResponse": {
      "members": {
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "UserId": {
          "shape": "ResourceId"
        }
      },
      "required": [
        "UserId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "Group": {
      "members": {
        "Description": {
          "shape": "SensitiveStringType"
        },
        "DisplayName": {
          "shape": "GroupDisplayName"
        },
        "ExternalIds": {
          "shape": "ExternalIds"
        },
        "GroupId": {
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "GroupId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "GroupDisplayName": {
      "max": 1024,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\t\\n\\r  ]+",
      "sensitive": true,
      "type": "string"
    },
    "GroupIds": {
      "max": 100,
      "member": {
        "shape": "ResourceId"
      },
      "min": 1,
      "type": "list"
    },
    "GroupMembership": {
      "members": {
        "GroupId": {
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "MemberId": {
          "shape": "MemberId"
        },
        "MembershipId": {
          "shape": "ResourceId"
        }
      },
      "required": [
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "GroupMembershipExistenceResult": {
      "members": {
        "GroupId": {
          "shape": "ResourceId"
        },
        "MemberId": {
          "shape": "MemberId"
        },
        "MembershipExists": {
          "shape": "SensitiveBooleanType"
        }
      },
      "type": "structure"
    },
    "GroupMembershipExistenceResults": {
      "member": {
        "shape": "GroupMembershipExistenceResult"
      },
      "type": "list"
    },
    "GroupMemberships": {
      "member": {
        "shape": "GroupMembership"
      },
      "type": "list"
    },
    "Groups": {
      "member": {
        "shape": "Group"
      },
      "type": "list"
    },
    "IdentityStoreId": {
      "max": 36,
      "min": 1,
      "pattern": "d-[0-9a-f]{10}$|^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
      "type": "string"
    },
    "InternalServerException": {
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "shape": "RequestId"
        },
        "RetryAfterSeconds": {
          "shape": "RetryAfterSeconds"
        }
      },
      "retryable": {
        "throttling": false
      },
      "type": "structure"
    },
    "IsMemberInGroupsRequest": {
      "members": {
        "GroupIds": {
          "shape": "GroupIds"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "MemberId": {
          "shape": "MemberId"
        }
      },
      "required": [
        "IdentityStoreId",
        "MemberId",
        "GroupIds"
      ],
      "type": "structure"
    },
    "IsMemberInGroupsResponse": {
      "members": {
        "Results": {
          "shape": "GroupMembershipExistenceResults"
        }
      },
      "required": [
        "Results"
      ],
      "type": "structure"
    },
    "ListGroupMembershipsForMemberRequest": {
      "members": {
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "MaxResults": {
          "shape": "MaxResults"
        },
        "MemberId": {
          "shape": "MemberId"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      },
      "required": [
        "IdentityStoreId",
        "MemberId"
      ],
      "type": "structure"
    },
    "ListGroupMembershipsForMemberResponse": {
      "members": {
        "GroupMemberships": {
          "shape": "GroupMemberships"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      },
      "required": [
        "GroupMemberships"
      ],
      "type": "structure"
    },
    "ListGroupMembershipsRequest": {
      "members": {
        "GroupId": {
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "MaxResults": {
          "shape": "MaxResults"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      },
      "required": [
        "IdentityStoreId",
        "GroupId"
      ],
      "type": "structure"
    },
    "ListGroupMembershipsResponse": {
      "members": {
        "GroupMemberships": {
          "shape": "GroupMemberships"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      },
      "required": [
        "GroupMemberships"
      ],
      "type": "structure"
    },
    "ListGroupsRequest": {
      "members": {
        "Filters": {
          "deprecated": true,
          "deprecatedMessage": "Using filters with ListGroups API is deprecated, please use GetGroupId API instead.",
          "shape": "Filters"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "MaxResults": {
          "shape": "MaxResults"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      },
      "required": [
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "ListGroupsResponse": {
      "members": {
        "Groups": {
          "shape": "Groups"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      },
      "required": [
        "Groups"
      ],
      "type": "structure"
    },
    "ListUsersRequest": {
      "members": {
        "Filters": {
          "deprecated": true,
          "deprecatedMessage": "Using filters with ListUsers API is deprecated, please use GetGroupId API instead.",
          "shape": "Filters"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "MaxResults": {
          "shape": "MaxResults"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      },
      "required": [
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "ListUsersResponse": {
      "members": {
        "NextToken": {
          "shape": "NextToken"
        },
        "Users": {
          "shape": "Users"
        }
      },
      "required": [
        "Users"
      ],
      "type": "structure"
    },
    "MaxResults": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "MemberId": {
      "members": {
        "UserId": {
          "shape": "ResourceId"
        }
      },
      "type": "structure",
      "union": true
    },
    "Name": {
      "members": {
        "FamilyName": {
          "shape": "SensitiveStringType"
        },
        "Formatted": {
          "shape": "SensitiveStringType"
        },
        "GivenName": {
          "shape": "SensitiveStringType"
        },
        "HonorificPrefix": {
          "shape": "SensitiveStringType"
        },
        "HonorificSuffix": {
          "shape": "SensitiveStringType"
        },
        "MiddleName": {
          "shape": "SensitiveStringType"
        }
      },
      "type": "structure"
    },
    "NextToken": {
      "max": 65535,
      "min": 1,
      "pattern": "[-a-zA-Z0-9+=/:]*",
      "type": "string"
    },
    "PhoneNumber": {
      "members": {
        "Primary": {
          "shape": "SensitiveBooleanType"
        },
        "Type": {
          "shape": "SensitiveStringType"
        },
        "Value": {
          "shape": "SensitiveStringType"
        }
      },
      "type": "structure"
    },
    "PhoneNumbers": {
      "max": 1,
      "member": {
        "shape": "PhoneNumber"
      },
      "min": 1,
      "type": "list"
    },
    "RequestId": {
      "max": 36,
      "min": 1,
      "pattern": "[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}",
      "type": "string"
    },
    "ResourceId": {
      "max": 47,
      "min": 1,
      "pattern": "([0-9a-f]{10}-|)[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}",
      "type": "string"
    },
    "ResourceNotFoundException": {
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "shape": "RequestId"
        },
        "ResourceId": {
          "shape": "ResourceId"
        },
        "ResourceType": {
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "ResourceType": {
      "enum": [
        "GROUP",
        "USER",
        "IDENTITY_STORE",
        "GROUP_MEMBERSHIP"
      ],
      "type": "string"
    },
    "RetryAfterSeconds": {
      "type": "integer"
    },
    "SensitiveBooleanType": {
      "sensitive": true,
      "type": "boolean"
    },
    "SensitiveStringType": {
      "max": 1024,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\t\\n\\r  　]+",
      "sensitive": true,
      "type": "string"
    },
    "ServiceQuotaExceededException": {
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "shape": "RequestId"
        }
      },
      "type": "structure"
    },
    "ThrottlingException": {
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "shape": "RequestId"
        },
        "RetryAfterSeconds": {
          "shape": "RetryAfterSeconds"
        }
      },
      "retryable": {
        "throttling": true
      },
      "type": "structure"
    },
    "UpdateGroupRequest": {
      "members": {
        "GroupId": {
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "Operations": {
          "shape": "AttributeOperations"
        }
      },
      "required": [
        "IdentityStoreId",
        "GroupId",
        "Operations"
      ],
      "type": "structure"
    },
    "UpdateGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateUserRequest": {
      "members": {
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "Operations": {
          "shape": "AttributeOperations"
        },
        "UserId": {
          "shape": "ResourceId"
        }
      },
      "required": [
        "IdentityStoreId",
        "UserId",
        "Operations"
      ],
      "type": "structure"
    },
    "UpdateUserResponse": {
      "members": {},
      "type": "structure"
    },
    "User": {
      "members": {
        "Addresses": {
          "shape": "Addresses"
        },
        "DisplayName": {
          "shape": "SensitiveStringType"
        },
        "Emails": {
          "shape": "Emails"
        },
        "ExternalIds": {
          "shape": "ExternalIds"
        },
        "IdentityStoreId": {
          "shape": "IdentityStoreId"
        },
        "Locale": {
          "shape": "SensitiveStringType"
        },
        "Name": {
          "shape": "Name"
        },
        "NickName": {
          "shape": "SensitiveStringType"
        },
        "PhoneNumbers": {
          "shape": "PhoneNumbers"
        },
        "PreferredLanguage": {
          "shape": "SensitiveStringType"
        },
        "ProfileUrl": {
          "shape": "SensitiveStringType"
        },
        "Timezone": {
          "shape": "SensitiveStringType"
        },
        "Title": {
          "shape": "SensitiveStringType"
        },
        "UserId": {
          "shape": "ResourceId"
        },
        "UserName": {
          "shape": "UserName"
        },
        "UserType": {
          "shape": "SensitiveStringType"
        }
      },
      "required": [
        "UserId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "UserName": {
      "max": 128,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
      "sensitive": true,
      "type": "string"
    },
    "Users": {
      "member": {
        "shape": "User"
      },
      "type": "list"
    },
    "ValidationException": {
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "shape": "RequestId"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}