{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-04-01",
    "endpointPrefix":"quicksight",
    "jsonVersion":"1.0",
    "protocol":"rest-json",
    "serviceFullName":"Amazon QuickSight",
    "serviceId":"QuickSight",
    "signatureVersion":"v4",
    "uid":"quicksight-2018-04-01"
  },
  "operations":{
    "CancelIngestion":{
      "name":"CancelIngestion",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"CancelIngestionRequest"},
      "output":{"shape":"CancelIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateAccountCustomization":{
      "name":"CreateAccountCustomization",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"CreateAccountCustomizationRequest"},
      "output":{"shape":"CreateAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateAccountSubscription":{
      "name":"CreateAccountSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/account/{AwsAccountId}"
      },
      "input":{"shape":"CreateAccountSubscriptionRequest"},
      "output":{"shape":"CreateAccountSubscriptionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateAnalysis":{
      "name":"CreateAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"CreateAnalysisRequest"},
      "output":{"shape":"CreateAnalysisResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateDashboard":{
      "name":"CreateDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"CreateDashboardRequest"},
      "output":{"shape":"CreateDashboardResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateDataSet":{
      "name":"CreateDataSet",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sets"
      },
      "input":{"shape":"CreateDataSetRequest"},
      "output":{"shape":"CreateDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sources"
      },
      "input":{"shape":"CreateDataSourceRequest"},
      "output":{"shape":"CreateDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateFolder":{
      "name":"CreateFolder",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input":{"shape":"CreateFolderRequest"},
      "output":{"shape":"CreateFolderResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateFolderMembership":{
      "name":"CreateFolderMembership",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
      },
      "input":{"shape":"CreateFolderMembershipRequest"},
      "output":{"shape":"CreateFolderMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateGroup":{
      "name":"CreateGroup",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input":{"shape":"CreateGroupRequest"},
      "output":{"shape":"CreateGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateGroupMembership":{
      "name":"CreateGroupMembership",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"CreateGroupMembershipRequest"},
      "output":{"shape":"CreateGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateIAMPolicyAssignment":{
      "name":"CreateIAMPolicyAssignment",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/"
      },
      "input":{"shape":"CreateIAMPolicyAssignmentRequest"},
      "output":{"shape":"CreateIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateIngestion":{
      "name":"CreateIngestion",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"CreateIngestionRequest"},
      "output":{"shape":"CreateIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateNamespace":{
      "name":"CreateNamespace",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}"
      },
      "input":{"shape":"CreateNamespaceRequest"},
      "output":{"shape":"CreateNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateTemplate":{
      "name":"CreateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"CreateTemplateRequest"},
      "output":{"shape":"CreateTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateTemplateAlias":{
      "name":"CreateTemplateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"CreateTemplateAliasRequest"},
      "output":{"shape":"CreateTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateTheme":{
      "name":"CreateTheme",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"CreateThemeRequest"},
      "output":{"shape":"CreateThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateThemeAlias":{
      "name":"CreateThemeAlias",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"CreateThemeAliasRequest"},
      "output":{"shape":"CreateThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteAccountCustomization":{
      "name":"DeleteAccountCustomization",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"DeleteAccountCustomizationRequest"},
      "output":{"shape":"DeleteAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteAccountSubscription":{
      "name":"DeleteAccountSubscription",
      "http":{
        "method":"DELETE",
        "requestUri":"/account/{AwsAccountId}"
      },
      "input":{"shape":"DeleteAccountSubscriptionRequest"},
      "output":{"shape":"DeleteAccountSubscriptionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteAnalysis":{
      "name":"DeleteAnalysis",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"DeleteAnalysisRequest"},
      "output":{"shape":"DeleteAnalysisResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteDashboard":{
      "name":"DeleteDashboard",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"DeleteDashboardRequest"},
      "output":{"shape":"DeleteDashboardResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteDataSet":{
      "name":"DeleteDataSet",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"DeleteDataSetRequest"},
      "output":{"shape":"DeleteDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"DeleteDataSourceRequest"},
      "output":{"shape":"DeleteDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteFolder":{
      "name":"DeleteFolder",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input":{"shape":"DeleteFolderRequest"},
      "output":{"shape":"DeleteFolderResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteFolderMembership":{
      "name":"DeleteFolderMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
      },
      "input":{"shape":"DeleteFolderMembershipRequest"},
      "output":{"shape":"DeleteFolderMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"DeleteGroupRequest"},
      "output":{"shape":"DeleteGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteGroupMembership":{
      "name":"DeleteGroupMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"DeleteGroupMembershipRequest"},
      "output":{"shape":"DeleteGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteIAMPolicyAssignment":{
      "name":"DeleteIAMPolicyAssignment",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespace/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"DeleteIAMPolicyAssignmentRequest"},
      "output":{"shape":"DeleteIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteNamespace":{
      "name":"DeleteNamespace",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input":{"shape":"DeleteNamespaceRequest"},
      "output":{"shape":"DeleteNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteTemplate":{
      "name":"DeleteTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"DeleteTemplateRequest"},
      "output":{"shape":"DeleteTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteTemplateAlias":{
      "name":"DeleteTemplateAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"DeleteTemplateAliasRequest"},
      "output":{"shape":"DeleteTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteTheme":{
      "name":"DeleteTheme",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"DeleteThemeRequest"},
      "output":{"shape":"DeleteThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteThemeAlias":{
      "name":"DeleteThemeAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"DeleteThemeAliasRequest"},
      "output":{"shape":"DeleteThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"DeleteUserRequest"},
      "output":{"shape":"DeleteUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteUserByPrincipalId":{
      "name":"DeleteUserByPrincipalId",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/user-principals/{PrincipalId}"
      },
      "input":{"shape":"DeleteUserByPrincipalIdRequest"},
      "output":{"shape":"DeleteUserByPrincipalIdResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeAccountCustomization":{
      "name":"DescribeAccountCustomization",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"DescribeAccountCustomizationRequest"},
      "output":{"shape":"DescribeAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeAccountSettings":{
      "name":"DescribeAccountSettings",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/settings"
      },
      "input":{"shape":"DescribeAccountSettingsRequest"},
      "output":{"shape":"DescribeAccountSettingsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeAccountSubscription":{
      "name":"DescribeAccountSubscription",
      "http":{
        "method":"GET",
        "requestUri":"/account/{AwsAccountId}"
      },
      "input":{"shape":"DescribeAccountSubscriptionRequest"},
      "output":{"shape":"DescribeAccountSubscriptionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeAnalysis":{
      "name":"DescribeAnalysis",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"DescribeAnalysisRequest"},
      "output":{"shape":"DescribeAnalysisResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeAnalysisDefinition":{
      "name":"DescribeAnalysisDefinition",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}/definition"
      },
      "input":{"shape":"DescribeAnalysisDefinitionRequest"},
      "output":{"shape":"DescribeAnalysisDefinitionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeAnalysisPermissions":{
      "name":"DescribeAnalysisPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}/permissions"
      },
      "input":{"shape":"DescribeAnalysisPermissionsRequest"},
      "output":{"shape":"DescribeAnalysisPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDashboard":{
      "name":"DescribeDashboard",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"DescribeDashboardRequest"},
      "output":{"shape":"DescribeDashboardResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDashboardDefinition":{
      "name":"DescribeDashboardDefinition",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/definition"
      },
      "input":{"shape":"DescribeDashboardDefinitionRequest"},
      "output":{"shape":"DescribeDashboardDefinitionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDashboardPermissions":{
      "name":"DescribeDashboardPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input":{"shape":"DescribeDashboardPermissionsRequest"},
      "output":{"shape":"DescribeDashboardPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSet":{
      "name":"DescribeDataSet",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"DescribeDataSetRequest"},
      "output":{"shape":"DescribeDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSetPermissions":{
      "name":"DescribeDataSetPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input":{"shape":"DescribeDataSetPermissionsRequest"},
      "output":{"shape":"DescribeDataSetPermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSource":{
      "name":"DescribeDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"DescribeDataSourceRequest"},
      "output":{"shape":"DescribeDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSourcePermissions":{
      "name":"DescribeDataSourcePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input":{"shape":"DescribeDataSourcePermissionsRequest"},
      "output":{"shape":"DescribeDataSourcePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeFolder":{
      "name":"DescribeFolder",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input":{"shape":"DescribeFolderRequest"},
      "output":{"shape":"DescribeFolderResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeFolderPermissions":{
      "name":"DescribeFolderPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/permissions"
      },
      "input":{"shape":"DescribeFolderPermissionsRequest"},
      "output":{"shape":"DescribeFolderPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeFolderResolvedPermissions":{
      "name":"DescribeFolderResolvedPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/resolved-permissions"
      },
      "input":{"shape":"DescribeFolderResolvedPermissionsRequest"},
      "output":{"shape":"DescribeFolderResolvedPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeGroup":{
      "name":"DescribeGroup",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"DescribeGroupRequest"},
      "output":{"shape":"DescribeGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeGroupMembership":{
      "name":"DescribeGroupMembership",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"DescribeGroupMembershipRequest"},
      "output":{"shape":"DescribeGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeIAMPolicyAssignment":{
      "name":"DescribeIAMPolicyAssignment",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"DescribeIAMPolicyAssignmentRequest"},
      "output":{"shape":"DescribeIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeIngestion":{
      "name":"DescribeIngestion",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"DescribeIngestionRequest"},
      "output":{"shape":"DescribeIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeIpRestriction":{
      "name":"DescribeIpRestriction",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/ip-restriction"
      },
      "input":{"shape":"DescribeIpRestrictionRequest"},
      "output":{"shape":"DescribeIpRestrictionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeNamespace":{
      "name":"DescribeNamespace",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input":{"shape":"DescribeNamespaceRequest"},
      "output":{"shape":"DescribeNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeTemplate":{
      "name":"DescribeTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"DescribeTemplateRequest"},
      "output":{"shape":"DescribeTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTemplateAlias":{
      "name":"DescribeTemplateAlias",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"DescribeTemplateAliasRequest"},
      "output":{"shape":"DescribeTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTemplateDefinition":{
      "name":"DescribeTemplateDefinition",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/definition"
      },
      "input":{"shape":"DescribeTemplateDefinitionRequest"},
      "output":{"shape":"DescribeTemplateDefinitionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTemplatePermissions":{
      "name":"DescribeTemplatePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input":{"shape":"DescribeTemplatePermissionsRequest"},
      "output":{"shape":"DescribeTemplatePermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTheme":{
      "name":"DescribeTheme",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"DescribeThemeRequest"},
      "output":{"shape":"DescribeThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeThemeAlias":{
      "name":"DescribeThemeAlias",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"DescribeThemeAliasRequest"},
      "output":{"shape":"DescribeThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeThemePermissions":{
      "name":"DescribeThemePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/permissions"
      },
      "input":{"shape":"DescribeThemePermissionsRequest"},
      "output":{"shape":"DescribeThemePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeUser":{
      "name":"DescribeUser",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"DescribeUserRequest"},
      "output":{"shape":"DescribeUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "GenerateEmbedUrlForAnonymousUser":{
      "name":"GenerateEmbedUrlForAnonymousUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/embed-url/anonymous-user"
      },
      "input":{"shape":"GenerateEmbedUrlForAnonymousUserRequest"},
      "output":{"shape":"GenerateEmbedUrlForAnonymousUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"UnsupportedPricingPlanException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "GenerateEmbedUrlForRegisteredUser":{
      "name":"GenerateEmbedUrlForRegisteredUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/embed-url/registered-user"
      },
      "input":{"shape":"GenerateEmbedUrlForRegisteredUserRequest"},
      "output":{"shape":"GenerateEmbedUrlForRegisteredUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"QuickSightUserNotFoundException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"UnsupportedPricingPlanException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "GetDashboardEmbedUrl":{
      "name":"GetDashboardEmbedUrl",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/embed-url"
      },
      "input":{"shape":"GetDashboardEmbedUrlRequest"},
      "output":{"shape":"GetDashboardEmbedUrlResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"DomainNotWhitelistedException"},
        {"shape":"QuickSightUserNotFoundException"},
        {"shape":"IdentityTypeNotSupportedException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"UnsupportedPricingPlanException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "GetSessionEmbedUrl":{
      "name":"GetSessionEmbedUrl",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/session-embed-url"
      },
      "input":{"shape":"GetSessionEmbedUrlRequest"},
      "output":{"shape":"GetSessionEmbedUrlResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"QuickSightUserNotFoundException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListAnalyses":{
      "name":"ListAnalyses",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses"
      },
      "input":{"shape":"ListAnalysesRequest"},
      "output":{"shape":"ListAnalysesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListDashboardVersions":{
      "name":"ListDashboardVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions"
      },
      "input":{"shape":"ListDashboardVersionsRequest"},
      "output":{"shape":"ListDashboardVersionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListDashboards":{
      "name":"ListDashboards",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards"
      },
      "input":{"shape":"ListDashboardsRequest"},
      "output":{"shape":"ListDashboardsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListDataSets":{
      "name":"ListDataSets",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets"
      },
      "input":{"shape":"ListDataSetsRequest"},
      "output":{"shape":"ListDataSetsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources"
      },
      "input":{"shape":"ListDataSourcesRequest"},
      "output":{"shape":"ListDataSourcesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListFolderMembers":{
      "name":"ListFolderMembers",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/members"
      },
      "input":{"shape":"ListFolderMembersRequest"},
      "output":{"shape":"ListFolderMembersResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListFolders":{
      "name":"ListFolders",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders"
      },
      "input":{"shape":"ListFoldersRequest"},
      "output":{"shape":"ListFoldersResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListGroupMemberships":{
      "name":"ListGroupMemberships",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members"
      },
      "input":{"shape":"ListGroupMembershipsRequest"},
      "output":{"shape":"ListGroupMembershipsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListGroups":{
      "name":"ListGroups",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input":{"shape":"ListGroupsRequest"},
      "output":{"shape":"ListGroupsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListIAMPolicyAssignments":{
      "name":"ListIAMPolicyAssignments",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments"
      },
      "input":{"shape":"ListIAMPolicyAssignmentsRequest"},
      "output":{"shape":"ListIAMPolicyAssignmentsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListIAMPolicyAssignmentsForUser":{
      "name":"ListIAMPolicyAssignmentsForUser",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/iam-policy-assignments"
      },
      "input":{"shape":"ListIAMPolicyAssignmentsForUserRequest"},
      "output":{"shape":"ListIAMPolicyAssignmentsForUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListIngestions":{
      "name":"ListIngestions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions"
      },
      "input":{"shape":"ListIngestionsRequest"},
      "output":{"shape":"ListIngestionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListNamespaces":{
      "name":"ListNamespaces",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces"
      },
      "input":{"shape":"ListNamespacesRequest"},
      "output":{"shape":"ListNamespacesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListTemplateAliases":{
      "name":"ListTemplateAliases",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases"
      },
      "input":{"shape":"ListTemplateAliasesRequest"},
      "output":{"shape":"ListTemplateAliasesResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListTemplateVersions":{
      "name":"ListTemplateVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/versions"
      },
      "input":{"shape":"ListTemplateVersionsRequest"},
      "output":{"shape":"ListTemplateVersionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListTemplates":{
      "name":"ListTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates"
      },
      "input":{"shape":"ListTemplatesRequest"},
      "output":{"shape":"ListTemplatesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListThemeAliases":{
      "name":"ListThemeAliases",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases"
      },
      "input":{"shape":"ListThemeAliasesRequest"},
      "output":{"shape":"ListThemeAliasesResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListThemeVersions":{
      "name":"ListThemeVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/versions"
      },
      "input":{"shape":"ListThemeVersionsRequest"},
      "output":{"shape":"ListThemeVersionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListThemes":{
      "name":"ListThemes",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes"
      },
      "input":{"shape":"ListThemesRequest"},
      "output":{"shape":"ListThemesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListUserGroups":{
      "name":"ListUserGroups",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/groups"
      },
      "input":{"shape":"ListUserGroupsRequest"},
      "output":{"shape":"ListUserGroupsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users"
      },
      "input":{"shape":"ListUsersRequest"},
      "output":{"shape":"ListUsersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "RegisterUser":{
      "name":"RegisterUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users"
      },
      "input":{"shape":"RegisterUserRequest"},
      "output":{"shape":"RegisterUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "RestoreAnalysis":{
      "name":"RestoreAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/restore/analyses/{AnalysisId}"
      },
      "input":{"shape":"RestoreAnalysisRequest"},
      "output":{"shape":"RestoreAnalysisResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "SearchAnalyses":{
      "name":"SearchAnalyses",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/analyses"
      },
      "input":{"shape":"SearchAnalysesRequest"},
      "output":{"shape":"SearchAnalysesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "SearchDashboards":{
      "name":"SearchDashboards",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/dashboards"
      },
      "input":{"shape":"SearchDashboardsRequest"},
      "output":{"shape":"SearchDashboardsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "SearchDataSets":{
      "name":"SearchDataSets",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/data-sets"
      },
      "input":{"shape":"SearchDataSetsRequest"},
      "output":{"shape":"SearchDataSetsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "SearchDataSources":{
      "name":"SearchDataSources",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/data-sources"
      },
      "input":{"shape":"SearchDataSourcesRequest"},
      "output":{"shape":"SearchDataSourcesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "SearchFolders":{
      "name":"SearchFolders",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/folders"
      },
      "input":{"shape":"SearchFoldersRequest"},
      "output":{"shape":"SearchFoldersResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "SearchGroups":{
      "name":"SearchGroups",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups-search"
      },
      "input":{"shape":"SearchGroupsRequest"},
      "output":{"shape":"SearchGroupsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateAccountCustomization":{
      "name":"UpdateAccountCustomization",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"UpdateAccountCustomizationRequest"},
      "output":{"shape":"UpdateAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "UpdateAccountSettings":{
      "name":"UpdateAccountSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/settings"
      },
      "input":{"shape":"UpdateAccountSettingsRequest"},
      "output":{"shape":"UpdateAccountSettingsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "UpdateAnalysis":{
      "name":"UpdateAnalysis",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"UpdateAnalysisRequest"},
      "output":{"shape":"UpdateAnalysisResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateAnalysisPermissions":{
      "name":"UpdateAnalysisPermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}/permissions"
      },
      "input":{"shape":"UpdateAnalysisPermissionsRequest"},
      "output":{"shape":"UpdateAnalysisPermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDashboard":{
      "name":"UpdateDashboard",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"UpdateDashboardRequest"},
      "output":{"shape":"UpdateDashboardResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDashboardPermissions":{
      "name":"UpdateDashboardPermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input":{"shape":"UpdateDashboardPermissionsRequest"},
      "output":{"shape":"UpdateDashboardPermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDashboardPublishedVersion":{
      "name":"UpdateDashboardPublishedVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions/{VersionNumber}"
      },
      "input":{"shape":"UpdateDashboardPublishedVersionRequest"},
      "output":{"shape":"UpdateDashboardPublishedVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDataSet":{
      "name":"UpdateDataSet",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"UpdateDataSetRequest"},
      "output":{"shape":"UpdateDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDataSetPermissions":{
      "name":"UpdateDataSetPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input":{"shape":"UpdateDataSetPermissionsRequest"},
      "output":{"shape":"UpdateDataSetPermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"UpdateDataSourceRequest"},
      "output":{"shape":"UpdateDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDataSourcePermissions":{
      "name":"UpdateDataSourcePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input":{"shape":"UpdateDataSourcePermissionsRequest"},
      "output":{"shape":"UpdateDataSourcePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateFolder":{
      "name":"UpdateFolder",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input":{"shape":"UpdateFolderRequest"},
      "output":{"shape":"UpdateFolderResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateFolderPermissions":{
      "name":"UpdateFolderPermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/permissions"
      },
      "input":{"shape":"UpdateFolderPermissionsRequest"},
      "output":{"shape":"UpdateFolderPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateGroup":{
      "name":"UpdateGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"UpdateGroupRequest"},
      "output":{"shape":"UpdateGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "UpdateIAMPolicyAssignment":{
      "name":"UpdateIAMPolicyAssignment",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"UpdateIAMPolicyAssignmentRequest"},
      "output":{"shape":"UpdateIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateIpRestriction":{
      "name":"UpdateIpRestriction",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/ip-restriction"
      },
      "input":{"shape":"UpdateIpRestrictionRequest"},
      "output":{"shape":"UpdateIpRestrictionResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdatePublicSharingSettings":{
      "name":"UpdatePublicSharingSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/public-sharing-settings"
      },
      "input":{"shape":"UpdatePublicSharingSettingsRequest"},
      "output":{"shape":"UpdatePublicSharingSettingsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedPricingPlanException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateTemplate":{
      "name":"UpdateTemplate",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"UpdateTemplateRequest"},
      "output":{"shape":"UpdateTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateTemplateAlias":{
      "name":"UpdateTemplateAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"UpdateTemplateAliasRequest"},
      "output":{"shape":"UpdateTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateTemplatePermissions":{
      "name":"UpdateTemplatePermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input":{"shape":"UpdateTemplatePermissionsRequest"},
      "output":{"shape":"UpdateTemplatePermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateTheme":{
      "name":"UpdateTheme",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"UpdateThemeRequest"},
      "output":{"shape":"UpdateThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateThemeAlias":{
      "name":"UpdateThemeAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"UpdateThemeAliasRequest"},
      "output":{"shape":"UpdateThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateThemePermissions":{
      "name":"UpdateThemePermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/permissions"
      },
      "input":{"shape":"UpdateThemePermissionsRequest"},
      "output":{"shape":"UpdateThemePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateUser":{
      "name":"UpdateUser",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"UpdateUserRequest"},
      "output":{"shape":"UpdateUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "RequestId":{"shape":"String"}
      },
      "error":{"httpStatusCode":401},
      "exception":true
    },
    "AccountCustomization":{
      "type":"structure",
      "members":{
        "DefaultTheme":{"shape":"Arn"},
        "DefaultEmailCustomizationTemplate":{"shape":"Arn"}
      }
    },
    "AccountInfo":{
      "type":"structure",
      "members":{
        "AccountName":{"shape":"String"},
        "Edition":{"shape":"Edition"},
        "NotificationEmail":{"shape":"String"},
        "AuthenticationType":{"shape":"String"},
        "AccountSubscriptionStatus":{"shape":"String"}
      }
    },
    "AccountSettings":{
      "type":"structure",
      "members":{
        "AccountName":{"shape":"String"},
        "Edition":{"shape":"Edition"},
        "DefaultNamespace":{"shape":"Namespace"},
        "NotificationEmail":{"shape":"String"},
        "PublicSharingEnabled":{"shape":"Boolean"},
        "TerminationProtectionEnabled":{"shape":"Boolean"}
      }
    },
    "ActionList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":16,
      "min":1
    },
    "ActiveIAMPolicyAssignment":{
      "type":"structure",
      "members":{
        "AssignmentName":{"shape":"IAMPolicyAssignmentName"},
        "PolicyArn":{"shape":"Arn"}
      }
    },
    "ActiveIAMPolicyAssignmentList":{
      "type":"list",
      "member":{"shape":"ActiveIAMPolicyAssignment"}
    },
    "AdHocFilteringOption":{
      "type":"structure",
      "members":{
        "AvailabilityStatus":{"shape":"DashboardBehavior"}
      }
    },
    "AdditionalDashboardIdList":{
      "type":"list",
      "member":{"shape":"ShortRestrictiveResourceId"},
      "max":20,
      "min":1
    },
    "AggregationFunction":{
      "type":"structure",
      "members":{
        "NumericalAggregationFunction":{"shape":"NumericalAggregationFunction"},
        "CategoricalAggregationFunction":{"shape":"CategoricalAggregationFunction"},
        "DateAggregationFunction":{"shape":"DateAggregationFunction"}
      }
    },
    "AggregationSortConfiguration":{
      "type":"structure",
      "required":[
        "Column",
        "SortDirection",
        "AggregationFunction"
      ],
      "members":{
        "Column":{"shape":"ColumnIdentifier"},
        "SortDirection":{"shape":"SortDirection"},
        "AggregationFunction":{"shape":"AggregationFunction"}
      }
    },
    "AggregationSortConfigurationList":{
      "type":"list",
      "member":{"shape":"AggregationSortConfiguration"},
      "max":100
    },
    "AliasName":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[\\w\\-]+|(\\$LATEST)|(\\$PUBLISHED)"
    },
    "AmazonElasticsearchParameters":{
      "type":"structure",
      "required":["Domain"],
      "members":{
        "Domain":{"shape":"Domain"}
      }
    },
    "AmazonOpenSearchParameters":{
      "type":"structure",
      "required":["Domain"],
      "members":{
        "Domain":{"shape":"Domain"}
      }
    },
    "Analysis":{
      "type":"structure",
      "members":{
        "AnalysisId":{"shape":"ShortRestrictiveResourceId"},
        "Arn":{"shape":"Arn"},
        "Name":{"shape":"AnalysisName"},
        "Status":{"shape":"ResourceStatus"},
        "Errors":{"shape":"AnalysisErrorList"},
        "DataSetArns":{"shape":"DataSetArnsList"},
        "ThemeArn":{"shape":"Arn"},
        "CreatedTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "Sheets":{"shape":"SheetList"}
      }
    },
    "AnalysisDefaults":{
      "type":"structure",
      "required":["DefaultNewSheetConfiguration"],
      "members":{
        "DefaultNewSheetConfiguration":{"shape":"DefaultNewSheetConfiguration"}
      }
    },
    "AnalysisDefinition":{
      "type":"structure",
      "required":["DataSetIdentifierDeclarations"],
      "members":{
        "DataSetIdentifierDeclarations":{"shape":"DataSetIdentifierDeclarationList"},
        "Sheets":{"shape":"SheetDefinitionList"},
        "CalculatedFields":{"shape":"CalculatedFields"},
        "ParameterDeclarations":{"shape":"ParameterDeclarationList"},
        "FilterGroups":{"shape":"FilterGroupList"},
        "ColumnConfigurations":{"shape":"ColumnConfigurationList"},
        "AnalysisDefaults":{"shape":"AnalysisDefaults"}
      }
    },
    "AnalysisError":{
      "type":"structure",
      "members":{
        "Type":{"shape":"AnalysisErrorType"},
        "Message":{"shape":"NonEmptyString"},
        "ViolatedEntities":{"shape":"EntityList"}
      }
    },
    "AnalysisErrorList":{
      "type":"list",
      "member":{"shape":"AnalysisError"},
      "min":1
    },
    "AnalysisErrorType":{
      "type":"string",
      "enum":[
        "ACCESS_DENIED",
        "SOURCE_NOT_FOUND",
        "DATA_SET_NOT_FOUND",
        "INTERNAL_FAILURE",
        "PARAMETER_VALUE_INCOMPATIBLE",
        "PARAMETER_TYPE_INVALID",
        "PARAMETER_NOT_FOUND",
        "COLUMN_TYPE_MISMATCH",
        "COLUMN_GEOGRAPHIC_ROLE_MISMATCH",
        "COLUMN_REPLACEMENT_MISSING"
      ]
    },
    "AnalysisFilterAttribute":{
      "type":"string",
      "enum":[
        "QUICKSIGHT_USER",
        "QUICKSIGHT_VIEWER_OR_OWNER",
        "DIRECT_QUICKSIGHT_VIEWER_OR_OWNER",
        "QUICKSIGHT_OWNER",
        "DIRECT_QUICKSIGHT_OWNER",
        "DIRECT_QUICKSIGHT_SOLE_OWNER",
        "ANALYSIS_NAME"
      ]
    },
    "AnalysisName":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "AnalysisSearchFilter":{
      "type":"structure",
      "members":{
        "Operator":{"shape":"FilterOperator"},
        "Name":{"shape":"AnalysisFilterAttribute"},
        "Value":{"shape":"String"}
      }
    },
    "AnalysisSearchFilterList":{
      "type":"list",
      "member":{"shape":"AnalysisSearchFilter"},
      "max":1,
      "min":1
    },
    "AnalysisSourceEntity":{
      "type":"structure",
      "members":{
        "SourceTemplate":{"shape":"AnalysisSourceTemplate"}
      }
    },
    "AnalysisSourceTemplate":{
      "type":"structure",
      "required":[
        "DataSetReferences",
        "Arn"
      ],
      "members":{
        "DataSetReferences":{"shape":"DataSetReferenceList"},
        "Arn":{"shape":"Arn"}
      }
    },
    "AnalysisSummary":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "AnalysisId":{"shape":"ShortRestrictiveResourceId"},
        "Name":{"shape":"AnalysisName"},
        "Status":{"shape":"ResourceStatus"},
        "CreatedTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"}
      }
    },
    "AnalysisSummaryList":{
      "type":"list",
      "member":{"shape":"AnalysisSummary"},
      "max":100
    },
    "AnchorDateConfiguration":{
      "type":"structure",
      "members":{
        "AnchorOption":{"shape":"AnchorOption"},
        "ParameterName":{"shape":"ParameterName"}
      }
    },
    "AnchorOption":{
      "type":"string",
      "enum":["NOW"]
    },
    "AnonymousUserDashboardEmbeddingConfiguration":{
      "type":"structure",
      "required":["InitialDashboardId"],
      "members":{
        "InitialDashboardId":{"shape":"ShortRestrictiveResourceId"}
      }
    },
    "AnonymousUserDashboardVisualEmbeddingConfiguration":{
      "type":"structure",
      "required":["InitialDashboardVisualId"],
      "members":{
        "InitialDashboardVisualId":{"shape":"DashboardVisualId"}
      }
    },
    "AnonymousUserEmbeddingExperienceConfiguration":{
      "type":"structure",
      "members":{
        "Dashboard":{"shape":"AnonymousUserDashboardEmbeddingConfiguration"},
        "DashboardVisual":{"shape":"AnonymousUserDashboardVisualEmbeddingConfiguration"},
        "QSearchBar":{"shape":"AnonymousUserQSearchBarEmbeddingConfiguration"}
      }
    },
    "AnonymousUserQSearchBarEmbeddingConfiguration":{
      "type":"structure",
      "required":["InitialTopicId"],
      "members":{
        "InitialTopicId":{"shape":"RestrictiveResourceId"}
      }
    },
    "ArcAxisConfiguration":{
      "type":"structure",
      "members":{
        "Range":{"shape":"ArcAxisDisplayRange"},
        "ReserveRange":{"shape":"Integer"}
      }
    },
    "ArcAxisDisplayRange":{
      "type":"structure",
      "members":{
        "Min":{
          "shape":"Double",
          "box":true
        },
        "Max":{
          "shape":"Double",
          "box":true
        }
      }
    },
    "ArcConfiguration":{
      "type":"structure",
      "members":{
        "ArcAngle":{
          "shape":"Double",
          "box":true
        },
        "ArcThickness":{"shape":"ArcThicknessOptions"}
      }
    },
    "ArcOptions":{
      "type":"structure",
      "members":{
        "ArcThickness":{"shape":"ArcThickness"}
      }
    },
    "ArcThickness":{
      "type":"string",
      "enum":[
        "SMALL",
        "MEDIUM",
        "LARGE",
        "WHOLE"
      ]
    },
    "ArcThicknessOptions":{
      "type":"string",
      "enum":[
        "SMALL",
        "MEDIUM",
        "LARGE"
      ]
    },
    "Arn":{"type":"string"},
    "ArnList":{
      "type":"list",
      "member":{"shape":"Arn"}
    },
    "AssignmentStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DRAFT",
        "DISABLED"
      ]
    },
    "AthenaParameters":{
      "type":"structure",
      "members":{
        "WorkGroup":{"shape":"WorkGroup"},
        "RoleArn":{"shape":"RoleArn"}
      }
    },
    "AuroraParameters":{
      "type":"structure",
      "required":[
        "Host",
        "Port",
        "Database"
      ],
      "members":{
        "Host":{"shape":"Host"},
        "Port":{"shape":"Port"},
        "Database":{"shape":"Database"}
      }
    },
    "AuroraPostgreSqlParameters":{
      "type":"structure",
      "required":[
        "Host",
        "Port",
        "Database"
      ],
      "members":{
        "Host":{"shape":"Host"},
        "Port":{"shape":"Port"},
        "Database":{"shape":"Database"}
      }
    },
    "AuthenticationMethodOption":{
      "type":"string",
      "enum":[
        "IAM_AND_QUICKSIGHT",
        "IAM_ONLY",
        "ACTIVE_DIRECTORY"
      ]
    },
    "AwsAccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"^[0-9]{12}$"
    },
    "AwsAndAccountId":{
      "type":"string",
      "pattern":"^(aws|[0-9]{12})$"
    },
    "AwsIotAnalyticsParameters":{
      "type":"structure",
      "required":["DataSetName"],
      "members":{
        "DataSetName":{"shape":"DataSetName"}
      }
    },
    "AxisBinding":{
      "type":"string",
      "enum":[
        "PRIMARY_YAXIS",
        "SECONDARY_YAXIS"
      ]
    },
    "AxisDataOptions":{
      "type":"structure",
      "members":{
        "NumericAxisOptions":{"shape":"NumericAxisOptions"},
        "DateAxisOptions":{"shape":"DateAxisOptions"}
      }
    },
    "AxisDisplayDataDrivenRange":{
      "type":"structure",
      "members":{
      }
    },
    "AxisDisplayMinMaxRange":{
      "type":"structure",
      "members":{
        "Minimum":{
          "shape":"Double",
          "box":true
        },
        "Maximum":{
          "shape":"Double",
          "box":true
        }
      }
    },
    "AxisDisplayOptions":{
      "type":"structure",
      "members":{
        "TickLabelOptions":{"shape":"AxisTickLabelOptions"},
        "AxisLineVisibility":{"shape":"Visibility"},
        "GridLineVisibility":{"shape":"Visibility"},
        "DataOptions":{"shape":"AxisDataOptions"},
        "ScrollbarOptions":{"shape":"ScrollBarOptions"},
        "AxisOffset":{"shape":"PixelLength"}
      }
    },
    "AxisDisplayRange":{
      "type":"structure",
      "members":{
        "MinMax":{"shape":"AxisDisplayMinMaxRange"},
        "DataDriven":{"shape":"AxisDisplayDataDrivenRange"}
      }
    },
    "AxisLabelOptions":{
      "type":"structure",
      "members":{
        "FontConfiguration":{"shape":"FontConfiguration"},
        "CustomLabel":{"shape":"String"},
        "ApplyTo":{"shape":"AxisLabelReferenceOptions"}
      }
    },
    "AxisLabelOptionsList":{
      "type":"list",
      "member":{"shape":"AxisLabelOptions"},
      "max":100
    },
    "AxisLabelReferenceOptions":{
      "type":"structure",
      "required":[
        "FieldId",
        "Column"
      ],
      "members":{
        "FieldId":{"shape":"FieldId"},
        "Column":{"shape":"ColumnIdentifier"}
      }
    },
    "AxisLinearScale":{
      "type":"structure",
      "members":{
        "StepCount":{
          "shape":"Integer",
          "box":true
        },
        "StepSize":{
          "shape":"Double",
          "box":true
        }
      }
    },
    "AxisLogarithmicScale":{
      "type":"structure",
      "members":{
        "Base":{
          "shape":"Double",
          "box":true
        }
      }
    },
    "AxisScale":{
      "type":"structure",
      "members":{
        "Linear":{"shape":"AxisLinearScale"},
        "Logarithmic":{"shape":"AxisLogarithmicScale"}
      }
    },
    "AxisTickLabelOptions":{
      "type":"structure",
      "members":{
        "LabelOptions":{"shape":"LabelOptions"},
        "RotationAngle":{
          "shape":"Double",
          "box":true
        }
      }
    },
    "BarChartAggregatedFieldWells":{
      "type":"structure",
      "members":{
        "Category":{"shape":"DimensionFieldList"},
        "Values":{"shape":"MeasureFieldList"},
        "Colors":{"shape":"DimensionFieldList"},
        "SmallMultiples":{"shape":"SmallMultiplesDimensionFieldList"}
      }
    },
    "BarChartConfiguration":{
      "type":"structure",
      "members":{
        "FieldWells":{"shape":"BarChartFieldWells"},
        "SortConfiguration":{"shape":"BarChartSortConfiguration"},
        "Orientation":{"shape":"BarChartOrientation"},
        "BarsArrangement":{"shape":"BarsArrangement"},
        "VisualPalette":{"shape":"VisualPalette"},
        "SmallMultiplesOptions":{"shape":"SmallMultiplesOptions"},
        "CategoryAxis":{"shape":"AxisDisplayOptions"},
        "CategoryLabelOptions":{"shape":"ChartAxisLabelOptions"},
        "ValueAxis":{"shape":"AxisDisplayOptions"},
        "ValueLabelOptions":{"shape":"ChartAxisLabelOptions"},
        "ColorLabelOptions":{"shape":"ChartAxisLabelOptions"},
        "Legend":{"shape":"LegendOptions"},
        "DataLabels":{"shape":"DataLabelOptions"},
        "Tooltip":{"shape":"TooltipOptions"},
        "ReferenceLines":{"shape":"ReferenceLineList"},
        "ContributionAnalysisDefaults":{"shape":"ContributionAnalysisDefaultList"}
      }
    },
    "BarChartFieldWells":{
      "type":"structure",
      "members":{
        "BarChartAggregatedFieldWells":{"shape":"BarChartAggregatedFieldWells"}
      }
    },
    "BarChartOrientation":{
      "type":"string",
      "enum":[
        "HORIZONTAL",
        "VERTICAL"
      ]
    },
    "BarChartSortConfiguration":{
      "type":"structure",
      "members":{
        "CategorySort":{"shape":"FieldSortOptionsList"},
        "CategoryItemsLimit":{"shape":"ItemsLimitConfiguration"},
        "ColorSort":{"shape":"FieldSortOptionsList"},
        "ColorItemsLimit":{"shape":"ItemsLimitConfiguration"},
        "SmallMultiplesSort":{"shape":"FieldSortOptionsList"},
        "SmallMultiplesLimitConfiguration":{"shape":"ItemsLimitConfiguration"}
      }
    },
    "BarChartVisual":{
      "type":"structure",
      "required":["VisualId"],
      "members":{
        "VisualId":{"shape":"ShortRestrictiveResourceId"},
        "Title":{"shape":"VisualTitleLabelOptions"},
        "Subtitle":{"shape":"VisualSubtitleLabelOptions"},
        "ChartConfiguration":{"shape":"BarChartConfiguration"},
        "Actions":{"shape":"VisualCustomActionList"},
        "ColumnHierarchies":{"shape":"ColumnHierarchyList"}
      }
    },
    "BarsArrangement":{
      "type":"string",
      "enum":[
        "CLUSTERED",
        "STACKED",
        "STACKED_PERCENT"
      ]
    },
    "BaseMapStyleType":{
      "type":"string",
      "enum":[
        "LIGHT_GRAY",
        "DARK_GRAY",
        "STREET",
        "IMAGERY"
      ]
    },
    "BinCountLimit":{
      "type":"long",
      "max":1000,
      "min":0
    },
    "BinCountOptions":{
      "type":"structure",
      "members":{
        "Value":{"shape":"BinCountValue"}
      }
    },
    "BinCountValue":{
      "type":"integer",
      "min":0
    },
    "BinWidthOptions":{
      "type":"structure",
      "members":{
        "Value":{"shape":"BinWidthValue"},
        "BinCountLimit":{"shape":"BinCountLimit"}
      }
    },
    "BinWidthValue":{
      "type":"double",
      "min":0
    },
    "BodySectionConfiguration":{
      "type":"structure",
      "required":[
        "SectionId",
        "Content"
      ],
      "members":{
        "SectionId":{"shape":"ShortRestrictiveResourceId"},
        "Content":{"shape":"BodySectionContent"},
        "Style":{"shape":"SectionStyle"},
        "PageBreakConfiguration":{"shape":"SectionPageBreakConfiguration"}
      }
    },
    "BodySectionConfigurationList":{
      "type":"list",
      "member":{"shape":"BodySectionConfiguration"},
      "max":28
    },
    "BodySectionContent":{
      "type":"structure",
      "members":{
        "Layout":{"shape":"SectionLayoutConfiguration"}
      }
    },
    "Boolean":{"type":"boolean"},
    "BooleanObject":{"type":"boolean"},
    "BorderStyle":{
      "type":"structure",
      "members":{
        "Show":{
          "shape":"Boolean",
          "box":true
        }
      }
    },
    "BoxPlotAggregatedFieldWells":{
      "type":"structure",
      "members":{
        "GroupBy":{"shape":"BoxPlotDimensionFieldList"},
        "Values":{"shape":"BoxPlotMeasureFieldList"}
      }
    },
    "BoxPlotChartConfiguration":{
      "type":"structure",
      "members":{
        "FieldWells":{"shape":"BoxPlotFieldWells"},
        "SortConfiguration":{"shape":"BoxPlotSortConfiguration"},
        "BoxPlotOptions":{"shape":"BoxPlotOptions"},
        "CategoryAxis":{"shape":"AxisDisplayOptions"},
        "CategoryLabelOptions":{"shape":"ChartAxisLabelOptions"},
        "PrimaryYAxisDisplayOptions":{"shape":"AxisDisplayOptions"},
        "PrimaryYAxisLabelOptions":{"shape":"ChartAxisLabelOptions"},
        "Legend":{"shape":"LegendOptions"},
        "Tooltip":{"shape":"TooltipOptions"},
        "ReferenceLines":{"shape":"ReferenceLineList"},
        "VisualPalette":{"shape":"VisualPalette"}
      }
    },
    "BoxPlotDimensionFieldList":{
      "type":"list",
      "member":{"shape":"DimensionField"},
      "max":1
    },
    "BoxPlotFieldWells":{
      "type":"structure",
      "members":{
[...]
