{
  "metadata": {
    "apiVersion": "2021-11-01",
    "endpointPrefix": "aoss",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceFullName": "OpenSearch Service Serverless",
    "serviceId": "OpenSearchServerless",
    "signatureVersion": "v4",
    "signingName": "aoss",
    "targetPrefix": "OpenSearchServerless",
    "uid": "opensearchserverless-2021-11-01"
  },
  "operations": {
    "BatchGetCollection": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetCollectionRequest"
      },
      "name": "BatchGetCollection",
      "output": {
        "shape": "BatchGetCollectionResponse"
      }
    },
    "BatchGetVpcEndpoint": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetVpcEndpointRequest"
      },
      "name": "BatchGetVpcEndpoint",
      "output": {
        "shape": "BatchGetVpcEndpointResponse"
      }
    },
    "CreateAccessPolicy": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateAccessPolicyRequest"
      },
      "name": "CreateAccessPolicy",
      "output": {
        "shape": "CreateAccessPolicyResponse"
      }
    },
    "CreateCollection": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateCollectionRequest"
      },
      "name": "CreateCollection",
      "output": {
        "shape": "CreateCollectionResponse"
      }
    },
    "CreateSecurityConfig": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateSecurityConfigRequest"
      },
      "name": "CreateSecurityConfig",
      "output": {
        "shape": "CreateSecurityConfigResponse"
      }
    },
    "CreateSecurityPolicy": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateSecurityPolicyRequest"
      },
      "name": "CreateSecurityPolicy",
      "output": {
        "shape": "CreateSecurityPolicyResponse"
      }
    },
    "CreateVpcEndpoint": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateVpcEndpointRequest"
      },
      "name": "CreateVpcEndpoint",
      "output": {
        "shape": "CreateVpcEndpointResponse"
      }
    },
    "DeleteAccessPolicy": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteAccessPolicyRequest"
      },
      "name": "DeleteAccessPolicy",
      "output": {
        "shape": "DeleteAccessPolicyResponse"
      }
    },
    "DeleteCollection": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteCollectionRequest"
      },
      "name": "DeleteCollection",
      "output": {
        "shape": "DeleteCollectionResponse"
      }
    },
    "DeleteSecurityConfig": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteSecurityConfigRequest"
      },
      "name": "DeleteSecurityConfig",
      "output": {
        "shape": "DeleteSecurityConfigResponse"
      }
    },
    "DeleteSecurityPolicy": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteSecurityPolicyRequest"
      },
      "name": "DeleteSecurityPolicy",
      "output": {
        "shape": "DeleteSecurityPolicyResponse"
      }
    },
    "DeleteVpcEndpoint": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteVpcEndpointRequest"
      },
      "name": "DeleteVpcEndpoint",
      "output": {
        "shape": "DeleteVpcEndpointResponse"
      }
    },
    "GetAccessPolicy": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAccessPolicyRequest"
      },
      "name": "GetAccessPolicy",
      "output": {
        "shape": "GetAccessPolicyResponse"
      }
    },
    "GetAccountSettings": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAccountSettingsRequest"
      },
      "name": "GetAccountSettings",
      "output": {
        "shape": "GetAccountSettingsResponse"
      }
    },
    "GetPoliciesStats": {
      "errors": [
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPoliciesStatsRequest"
      },
      "name": "GetPoliciesStats",
      "output": {
        "shape": "GetPoliciesStatsResponse"
      }
    },
    "GetSecurityConfig": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSecurityConfigRequest"
      },
      "name": "GetSecurityConfig",
      "output": {
        "shape": "GetSecurityConfigResponse"
      }
    },
    "GetSecurityPolicy": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSecurityPolicyRequest"
      },
      "name": "GetSecurityPolicy",
      "output": {
        "shape": "GetSecurityPolicyResponse"
      }
    },
    "ListAccessPolicies": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAccessPoliciesRequest"
      },
      "name": "ListAccessPolicies",
      "output": {
        "shape": "ListAccessPoliciesResponse"
      }
    },
    "ListCollections": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCollectionsRequest"
      },
      "name": "ListCollections",
      "output": {
        "shape": "ListCollectionsResponse"
      }
    },
    "ListSecurityConfigs": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSecurityConfigsRequest"
      },
      "name": "ListSecurityConfigs",
      "output": {
        "shape": "ListSecurityConfigsResponse"
      }
    },
    "ListSecurityPolicies": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSecurityPoliciesRequest"
      },
      "name": "ListSecurityPolicies",
      "output": {
        "shape": "ListSecurityPoliciesResponse"
      }
    },
    "ListTagsForResource": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListVpcEndpoints": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListVpcEndpointsRequest"
      },
      "name": "ListVpcEndpoints",
      "output": {
        "shape": "ListVpcEndpointsResponse"
      }
    },
    "TagResource": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateAccessPolicy": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateAccessPolicyRequest"
      },
      "name": "UpdateAccessPolicy",
      "output": {
        "shape": "UpdateAccessPolicyResponse"
      }
    },
    "UpdateAccountSettings": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAccountSettingsRequest"
      },
      "name": "UpdateAccountSettings",
      "output": {
        "shape": "UpdateAccountSettingsResponse"
      }
    },
    "UpdateCollection": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateCollectionRequest"
      },
      "name": "UpdateCollection",
      "output": {
        "shape": "UpdateCollectionResponse"
      }
    },
    "UpdateSecurityConfig": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateSecurityConfigRequest"
      },
      "name": "UpdateSecurityConfig",
      "output": {
        "shape": "UpdateSecurityConfigResponse"
      }
    },
    "UpdateSecurityPolicy": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateSecurityPolicyRequest"
      },
      "name": "UpdateSecurityPolicy",
      "output": {
        "shape": "UpdateSecurityPolicyResponse"
      }
    },
    "UpdateVpcEndpoint": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateVpcEndpointRequest"
      },
      "name": "UpdateVpcEndpoint",
      "output": {
        "shape": "UpdateVpcEndpointResponse"
      }
    }
  },
  "shapes": {
    "AccessPolicyDetail": {
      "members": {
        "createdDate": {
          "shape": "Long"
        },
        "description": {
          "shape": "PolicyDescription"
        },
        "lastModifiedDate": {
          "shape": "Long"
        },
        "name": {
          "shape": "PolicyName"
        },
        "policyVersion": {
          "shape": "PolicyVersion"
        },
        "type": {
          "shape": "AccessPolicyType"
        }
      },
      "type": "structure"
    },
    "AccessPolicyStats": {
      "members": {
        "DataPolicyCount": {
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "AccessPolicySummaries": {
      "member": {
        "shape": "AccessPolicySummary"
      },
      "type": "list"
    },
    "AccessPolicySummary": {
      "members": {
        "createdDate": {
          "shape": "Long"
        },
        "description": {
          "shape": "PolicyDescription"
        },
        "lastModifiedDate": {
          "shape": "Long"
        },
        "name": {
          "shape": "PolicyName"
        },
        "policyVersion": {
          "shape": "PolicyVersion"
        },
        "type": {
          "shape": "AccessPolicyType"
        }
      },
      "type": "structure"
    },
    "AccessPolicyType": {
      "enum": [
        "data"
      ],
      "type": "string"
    },
    "AccountSettingsDetail": {
      "members": {
        "capacityLimits": {
          "shape": "CapacityLimits"
        }
      },
      "type": "structure"
    },
    "Arn": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "BatchGetCollectionRequest": {
      "members": {
        "ids": {
          "shape": "CollectionIds"
        },
        "names": {
          "shape": "CollectionNames"
        }
      },
      "type": "structure"
    },
    "BatchGetCollectionResponse": {
      "members": {
        "collectionDetails": {
          "shape": "CollectionDetails"
        },
        "collectionErrorDetails": {
          "shape": "CollectionErrorDetails"
        }
      },
      "type": "structure"
    },
    "BatchGetVpcEndpointRequest": {
      "members": {
        "ids": {
          "shape": "VpcEndpointIds"
        }
      },
      "required": [
        "ids"
      ],
      "type": "structure"
    },
    "BatchGetVpcEndpointResponse": {
      "members": {
        "vpcEndpointDetails": {
          "shape": "VpcEndpointDetails"
        },
        "vpcEndpointErrorDetails": {
          "shape": "VpcEndpointErrorDetails"
        }
      },
      "type": "structure"
    },
    "CapacityLimits": {
      "members": {
        "maxIndexingCapacityInOCU": {
          "shape": "IndexingCapacityValue"
        },
        "maxSearchCapacityInOCU": {
          "shape": "SearchCapacityValue"
        }
      },
      "type": "structure"
    },
    "ClientToken": {
      "max": 512,
      "min": 1,
      "type": "string"
    },
    "CollectionDetail": {
      "members": {
        "arn": {
          "shape": "String"
        },
        "collectionEndpoint": {
          "shape": "String"
        },
        "createdDate": {
          "shape": "Long"
        },
        "dashboardEndpoint": {
          "shape": "String"
        },
        "description": {
          "shape": "String"
        },
        "id": {
          "shape": "CollectionId"
        },
        "kmsKeyArn": {
          "shape": "String"
        },
        "lastModifiedDate": {
          "shape": "Long"
        },
        "name": {
          "shape": "CollectionName"
        },
        "status": {
          "shape": "CollectionStatus"
        },
        "type": {
          "shape": "CollectionType"
        }
      },
      "type": "structure"
    },
    "CollectionDetails": {
      "member": {
        "shape": "CollectionDetail"
      },
      "type": "list"
    },
    "CollectionErrorDetail": {
      "members": {
        "errorCode": {
          "shape": "String"
        },
        "errorMessage": {
          "shape": "String"
        },
        "id": {
          "shape": "CollectionId"
        },
        "name": {
          "shape": "CollectionName"
        }
      },
      "type": "structure"
    },
    "CollectionErrorDetails": {
      "member": {
        "shape": "CollectionErrorDetail"
      },
      "type": "list"
    },
    "CollectionFilters": {
      "members": {
        "name": {
          "shape": "CollectionName"
        },
        "status": {
          "shape": "CollectionStatus"
        }
      },
      "type": "structure"
    },
    "CollectionId": {
      "max": 40,
      "min": 3,
      "pattern": "^[a-z0-9]{3,40}$",
      "type": "string"
    },
    "CollectionIds": {
      "max": 100,
      "member": {
        "shape": "CollectionId"
      },
      "min": 1,
      "type": "list"
    },
    "CollectionName": {
      "max": 32,
      "min": 3,
      "pattern": "^[a-z][a-z0-9-]+$",
      "type": "string"
    },
    "CollectionNames": {
      "max": 100,
      "member": {
        "shape": "CollectionName"
      },
      "min": 1,
      "type": "list"
    },
    "CollectionStatus": {
      "enum": [
        "CREATING",
        "DELETING",
        "ACTIVE",
        "FAILED"
      ],
      "type": "string"
    },
    "CollectionSummaries": {
      "member": {
        "shape": "CollectionSummary"
      },
      "type": "list"
    },
    "CollectionSummary": {
      "members": {
        "arn": {
          "shape": "String"
        },
        "id": {
          "shape": "CollectionId"
        },
        "name": {
          "shape": "CollectionName"
        },
        "status": {
          "shape": "CollectionStatus"
        }
      },
      "type": "structure"
    },
    "CollectionType": {
      "enum": [
        "SEARCH",
        "TIMESERIES"
      ],
      "type": "string"
    },
    "ConfigDescription": {
      "max": 1000,
      "min": 1,
      "type": "string"
    },
    "ConfigName": {
      "max": 32,
      "min": 3,
      "pattern": "^[a-z][a-z0-9-]+$",
      "type": "string"
    },
    "ConflictException": {
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreateAccessPolicyRequest": {
      "members": {
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "description": {
          "shape": "PolicyDescription"
        },
        "name": {
          "shape": "PolicyName"
        },
        "policy": {
          "shape": "PolicyDocument"
        },
        "type": {
          "shape": "AccessPolicyType"
        }
      },
      "required": [
        "name",
        "policy",
        "type"
      ],
      "type": "structure"
    },
    "CreateAccessPolicyResponse": {
      "members": {
        "accessPolicyDetail": {
          "shape": "AccessPolicyDetail"
        }
      },
      "type": "structure"
    },
    "CreateCollectionDetail": {
      "members": {
        "arn": {
          "shape": "String"
        },
        "createdDate": {
          "shape": "Long"
        },
        "description": {
          "shape": "String"
        },
        "id": {
          "shape": "CollectionId"
        },
        "kmsKeyArn": {
          "shape": "String"
        },
        "lastModifiedDate": {
          "shape": "Long"
        },
        "name": {
          "shape": "CollectionName"
        },
        "status": {
          "shape": "CollectionStatus"
        },
        "type": {
          "shape": "CollectionType"
        }
      },
      "type": "structure"
    },
    "CreateCollectionRequest": {
      "members": {
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "description": {
          "shape": "CreateCollectionRequestDescriptionString"
        },
        "name": {
          "shape": "CollectionName"
        },
        "tags": {
          "shape": "Tags"
        },
        "type": {
          "shape": "CollectionType"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateCollectionRequestDescriptionString": {
      "max": 1000,
      "min": 0,
      "type": "string"
    },
    "CreateCollectionResponse": {
      "members": {
        "createCollectionDetail": {
          "shape": "CreateCollectionDetail"
        }
      },
      "type": "structure"
    },
    "CreateSecurityConfigRequest": {
      "members": {
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "description": {
          "shape": "ConfigDescription"
        },
        "name": {
          "shape": "ConfigName"
        },
        "samlOptions": {
          "shape": "SamlConfigOptions"
        },
        "type": {
          "shape": "SecurityConfigType"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "structure"
    },
    "CreateSecurityConfigResponse": {
      "members": {
        "securityConfigDetail": {
          "shape": "SecurityConfigDetail"
        }
      },
      "type": "structure"
    },
    "CreateSecurityPolicyRequest": {
      "members": {
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "description": {
          "shape": "PolicyDescription"
        },
        "name": {
          "shape": "PolicyName"
        },
        "policy": {
          "shape": "PolicyDocument"
        },
        "type": {
          "shape": "SecurityPolicyType"
        }
      },
      "required": [
        "name",
        "policy",
        "type"
      ],
      "type": "structure"
    },
    "CreateSecurityPolicyResponse": {
      "members": {
        "securityPolicyDetail": {
          "shape": "SecurityPolicyDetail"
        }
      },
      "type": "structure"
    },
    "CreateVpcEndpointDetail": {
      "members": {
        "id": {
          "shape": "VpcEndpointId"
        },
        "name": {
          "shape": "VpcEndpointName"
        },
        "status": {
          "shape": "VpcEndpointStatus"
        }
      },
      "type": "structure"
    },
    "CreateVpcEndpointRequest": {
      "members": {
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "name": {
          "shape": "VpcEndpointName"
        },
        "securityGroupIds": {
          "shape": "SecurityGroupIds"
        },
        "subnetIds": {
          "shape": "SubnetIds"
        },
        "vpcId": {
          "shape": "VpcId"
        }
      },
      "required": [
        "name",
        "subnetIds",
        "vpcId"
      ],
      "type": "structure"
    },
    "CreateVpcEndpointResponse": {
      "members": {
        "createVpcEndpointDetail": {
          "shape": "CreateVpcEndpointDetail"
        }
      },
      "type": "structure"
    },
    "DeleteAccessPolicyRequest": {
      "members": {
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "name": {
          "shape": "PolicyName"
        },
        "type": {
          "shape": "AccessPolicyType"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "structure"
    },
    "DeleteAccessPolicyResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteCollectionDetail": {
      "members": {
        "id": {
          "shape": "CollectionId"
        },
        "name": {
          "shape": "CollectionName"
        },
        "status": {
          "shape": "CollectionStatus"
        }
      },
      "type": "structure"
    },
    "DeleteCollectionRequest": {
      "members": {
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "id": {
          "shape": "CollectionId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DeleteCollectionResponse": {
      "members": {
        "deleteCollectionDetail": {
          "shape": "DeleteCollectionDetail"
        }
      },
      "type": "structure"
    },
    "DeleteSecurityConfigRequest": {
      "members": {
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "id": {
          "shape": "SecurityConfigId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DeleteSecurityConfigResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteSecurityPolicyRequest": {
      "members": {
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "name": {
          "shape": "PolicyName"
        },
        "type": {
          "shape": "SecurityPolicyType"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "structure"
    },
    "DeleteSecurityPolicyResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteVpcEndpointDetail": {
      "members": {
        "id": {
          "shape": "VpcEndpointId"
        },
        "name": {
          "shape": "VpcEndpointName"
        },
        "status": {
          "shape": "VpcEndpointStatus"
        }
      },
      "type": "structure"
    },
    "DeleteVpcEndpointRequest": {
      "members": {
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "id": {
          "shape": "VpcEndpointId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DeleteVpcEndpointResponse": {
      "members": {
        "deleteVpcEndpointDetail": {
          "shape": "DeleteVpcEndpointDetail"
        }
      },
      "type": "structure"
    },
    "GetAccessPolicyRequest": {
      "members": {
        "name": {
          "shape": "PolicyName"
        },
        "type": {
          "shape": "AccessPolicyType"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "structure"
    },
    "GetAccessPolicyResponse": {
      "members": {
        "accessPolicyDetail": {
          "shape": "AccessPolicyDetail"
        }
      },
      "type": "structure"
    },
    "GetAccountSettingsRequest": {
      "members": {},
      "type": "structure"
    },
    "GetAccountSettingsResponse": {
      "members": {
        "accountSettingsDetail": {
          "shape": "AccountSettingsDetail"
        }
      },
      "type": "structure"
    },
    "GetPoliciesStatsRequest": {
      "members": {},
      "type": "structure"
    },
    "GetPoliciesStatsResponse": {
      "members": {
        "AccessPolicyStats": {
          "shape": "AccessPolicyStats"
        },
        "SecurityConfigStats": {
          "shape": "SecurityConfigStats"
        },
        "SecurityPolicyStats": {
          "shape": "SecurityPolicyStats"
        },
        "TotalPolicyCount": {
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "GetSecurityConfigRequest": {
      "members": {
        "id": {
          "shape": "SecurityConfigId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "GetSecurityConfigResponse": {
      "members": {
        "securityConfigDetail": {
          "shape": "SecurityConfigDetail"
        }
      },
      "type": "structure"
    },
    "GetSecurityPolicyRequest": {
      "members": {
        "name": {
          "shape": "PolicyName"
        },
        "type": {
          "shape": "SecurityPolicyType"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "structure"
    },
    "GetSecurityPolicyResponse": {
      "members": {
        "securityPolicyDetail": {
          "shape": "SecurityPolicyDetail"
        }
      },
      "type": "structure"
    },
    "IndexingCapacityValue": {
      "box": true,
      "min": 2,
      "type": "integer"
    },
    "InternalServerException": {
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListAccessPoliciesRequest": {
      "members": {
        "maxResults": {
          "shape": "ListAccessPoliciesRequestMaxResultsInteger"
        },
        "nextToken": {
          "shape": "String"
        },
        "resource": {
          "shape": "ListAccessPoliciesRequestResourceList"
        },
        "type": {
          "shape": "AccessPolicyType"
        }
      },
      "required": [
        "type"
      ],
      "type": "structure"
    },
    "ListAccessPoliciesRequestMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListAccessPoliciesRequestResourceList": {
      "max": 1000,
      "member": {
        "shape": "Resource"
      },
      "min": 1,
      "type": "list"
    },
    "ListAccessPoliciesResponse": {
      "members": {
        "accessPolicySummaries": {
          "shape": "AccessPolicySummaries"
        },
        "nextToken": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListCollectionsRequest": {
      "members": {
        "collectionFilters": {
          "shape": "CollectionFilters"
        },
        "maxResults": {
          "shape": "ListCollectionsRequestMaxResultsInteger"
        },
        "nextToken": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListCollectionsRequestMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListCollectionsResponse": {
      "members": {
        "collectionSummaries": {
          "shape": "CollectionSummaries"
        },
        "nextToken": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListSecurityConfigsRequest": {
      "members": {
        "maxResults": {
          "shape": "ListSecurityConfigsRequestMaxResultsInteger"
        },
        "nextToken": {
          "shape": "String"
        },
        "type": {
          "shape": "SecurityConfigType"
        }
      },
      "required": [
        "type"
      ],
      "type": "structure"
    },
    "ListSecurityConfigsRequestMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListSecurityConfigsResponse": {
      "members": {
        "nextToken": {
          "shape": "String"
        },
        "securityConfigSummaries": {
          "shape": "SecurityConfigSummaries"
        }
      },
      "type": "structure"
    },
    "ListSecurityPoliciesRequest": {
      "members": {
        "maxResults": {
          "shape": "ListSecurityPoliciesRequestMaxResultsInteger"
        },
        "nextToken": {
          "shape": "String"
        },
        "resource": {
          "shape": "ListSecurityPoliciesRequestResourceList"
        },
        "type": {
          "shape": "SecurityPolicyType"
        }
      },
      "required": [
        "type"
      ],
      "type": "structure"
    },
    "ListSecurityPoliciesRequestMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListSecurityPoliciesRequestResourceList": {
      "max": 1000,
      "member": {
        "shape": "Resource"
      },
      "min": 1,
      "type": "list"
    },
    "ListSecurityPoliciesResponse": {
      "members": {
        "nextToken": {
          "shape": "String"
        },
        "securityPolicySummaries": {
          "shape": "SecurityPolicySummaries"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "shape": "Arn"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "tags": {
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "ListVpcEndpointsRequest": {
      "members": {
        "maxResults": {
          "shape": "ListVpcEndpointsRequestMaxResultsInteger"
        },
        "nextToken": {
          "shape": "String"
        },
        "vpcEndpointFilters": {
          "shape": "VpcEndpointFilters"
        }
      },
      "type": "structure"
    },
    "ListVpcEndpointsRequestMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListVpcEndpointsResponse": {
      "members": {
        "nextToken": {
          "shape": "String"
        },
        "vpcEndpointSummaries": {
          "shape": "VpcEndpointSummaries"
        }
      },
      "type": "structure"
    },
    "Long": {
      "box": true,
      "type": "long"
    },
    "PolicyDescription": {
      "max": 1000,
      "min": 1,
      "type": "string"
    },
    "PolicyDocument": {
      "max": 20480,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u00A1-\\u00FF]+",
      "type": "string"
    },
    "PolicyName": {
      "max": 32,
      "min": 3,
      "pattern": "^[a-z][a-z0-9-]+$",
      "type": "string"
    },
    "PolicyVersion": {
      "max": 36,
      "min": 20,
      "pattern": "^([0-9a-zA-Z+/]{4})*(([0-9a-zA-Z+/]{2}==)|([0-9a-zA-Z+/]{3}=))?$",
      "type": "string"
    },
    "Resource": {
      "type": "string"
    },
    "ResourceNotFoundException": {
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "SamlConfigOptions": {
      "members": {
        "groupAttribute": {
          "shape": "samlGroupAttribute"
        },
        "metadata": {
          "shape": "samlMetadata"
        },
        "sessionTimeout": {
          "shape": "SamlConfigOptionsSessionTimeoutInteger"
        },
        "userAttribute": {
          "shape": "samlUserAttribute"
        }
      },
      "required": [
        "metadata"
      ],
      "type": "structure"
    },
    "SamlConfigOptionsSessionTimeoutInteger": {
      "box": true,
      "max": 720,
      "min": 5,
      "type": "integer"
    },
    "SearchCapacityValue": {
      "box": true,
      "min": 2,
      "type": "integer"
    },
    "SecurityConfigDetail": {
      "members": {
        "configVersion": {
          "shape": "PolicyVersion"
        },
        "createdDate": {
          "shape": "Long"
        },
        "description": {
          "shape": "ConfigDescription"
        },
        "id": {
          "shape": "SecurityConfigId"
        },
        "lastModifiedDate": {
          "shape": "Long"
        },
        "samlOptions": {
          "shape": "SamlConfigOptions"
        },
        "type": {
          "shape": "SecurityConfigType"
        }
      },
      "type": "structure"
    },
    "SecurityConfigId": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "SecurityConfigStats": {
      "members": {
        "SamlConfigCount": {
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "SecurityConfigSummaries": {
      "member": {
        "shape": "SecurityConfigSummary"
      },
      "type": "list"
    },
    "SecurityConfigSummary": {
      "members": {
        "configVersion": {
          "shape": "PolicyVersion"
        },
        "createdDate": {
          "shape": "Long"
        },
        "description": {
          "shape": "ConfigDescription"
        },
        "id": {
          "shape": "SecurityConfigId"
        },
        "lastModifiedDate": {
          "shape": "Long"
        },
        "type": {
          "shape": "SecurityConfigType"
        }
      },
      "type": "structure"
    },
    "SecurityConfigType": {
      "enum": [
        "saml"
      ],
      "type": "string"
    },
    "SecurityGroupId": {
      "max": 128,
      "min": 1,
      "pattern": "^[\\w+\\-]+$",
      "type": "string"
    },
    "SecurityGroupIds": {
      "max": 5,
      "member": {
        "shape": "SecurityGroupId"
      },
      "min": 1,
      "type": "list"
    },
    "SecurityPolicyDetail": {
      "members": {
        "createdDate": {
          "shape": "Long"
        },
        "description": {
          "shape": "PolicyDescription"
        },
        "lastModifiedDate": {
          "shape": "Long"
        },
        "name": {
          "shape": "PolicyName"
        },
        "policyVersion": {
          "shape": "PolicyVersion"
        },
        "type": {
          "shape": "SecurityPolicyType"
        }
      },
      "type": "structure"
    },
    "SecurityPolicyStats": {
      "members": {
        "EncryptionPolicyCount": {
          "shape": "Long"
        },
        "NetworkPolicyCount": {
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "SecurityPolicySummaries": {
      "member": {
        "shape": "SecurityPolicySummary"
      },
      "type": "list"
    },
    "SecurityPolicySummary": {
      "members": {
        "createdDate": {
          "shape": "Long"
        },
        "description": {
          "shape": "PolicyDescription"
        },
        "lastModifiedDate": {
          "shape": "Long"
        },
        "name": {
          "shape": "PolicyName"
        },
        "policyVersion": {
          "shape": "PolicyVersion"
        },
        "type": {
          "shape": "SecurityPolicyType"
        }
      },
      "type": "structure"
    },
    "SecurityPolicyType": {
      "enum": [
        "encryption",
        "network"
      ],
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "SubnetId": {
      "max": 32,
      "min": 1,
      "pattern": "^subnet-([0-9a-f]{8}|[0-9a-f]{17})$",
      "type": "string"
    },
    "SubnetIds": {
      "max": 6,
      "member": {
        "shape": "SubnetId"
      },
      "min": 1,
      "type": "list"
    },
    "Tag": {
      "members": {
        "key": {
          "shape": "TagKey"
        },
        "value": {
          "shape": "TagValue"
        }
      },
      "required": [
        "key",
        "value"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "TagKeys": {
      "max": 50,
      "member": {
        "shape": "TagKey"
      },
      "min": 0,
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "resourceArn": {
          "shape": "Arn"
        },
        "tags": {
          "shape": "Tags"
        }
      },
      "required": [
        "resourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "Tags": {
      "max": 50,
      "member": {
        "shape": "Tag"
      },
      "min": 0,
      "type": "list"
    },
    "UntagResourceRequest": {
      "members": {
        "resourceArn": {
          "shape": "Arn"
        },
        "tagKeys": {
          "shape": "TagKeys"
        }
      },
      "required": [
        "resourceArn",
        "tagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateAccessPolicyRequest": {
      "members": {
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "description": {
          "shape": "PolicyDescription"
        },
        "name": {
          "shape": "PolicyName"
        },
        "policy": {
          "shape": "PolicyDocument"
        },
        "policyVersion": {
          "shape": "PolicyVersion"
        },
        "type": {
          "shape": "AccessPolicyType"
        }
      },
      "required": [
        "name",
        "policyVersion",
        "type"
      ],
      "type": "structure"
    },
    "UpdateAccessPolicyResponse": {
      "members": {
        "accessPolicyDetail": {
          "shape": "AccessPolicyDetail"
        }
      },
      "type": "structure"
    },
    "UpdateAccountSettingsRequest": {
      "members": {
        "capacityLimits": {
          "shape": "CapacityLimits"
        }
      },
      "type": "structure"
    },
    "UpdateAccountSettingsResponse": {
      "members": {
        "accountSettingsDetail": {
          "shape": "AccountSettingsDetail"
        }
      },
      "type": "structure"
    },
    "UpdateCollectionDetail": {
      "members": {
        "arn": {
          "shape": "String"
        },
        "createdDate": {
          "shape": "Long"
        },
        "description": {
          "shape": "String"
        },
        "id": {
          "shape": "CollectionId"
        },
        "lastModifiedDate": {
          "shape": "Long"
        },
        "name": {
          "shape": "CollectionName"
        },
        "status": {
          "shape": "CollectionStatus"
        },
        "type": {
          "shape": "CollectionType"
        }
      },
      "type": "structure"
    },
    "UpdateCollectionRequest": {
      "members": {
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "description": {
          "shape": "UpdateCollectionRequestDescriptionString"
        },
        "id": {
          "shape": "CollectionId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "UpdateCollectionRequestDescriptionString": {
      "max": 1000,
      "min": 0,
      "type": "string"
    },
    "UpdateCollectionResponse": {
      "members": {
        "updateCollectionDetail": {
          "shape": "UpdateCollectionDetail"
        }
      },
      "type": "structure"
    },
    "UpdateSecurityConfigRequest": {
      "members": {
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "configVersion": {
          "shape": "PolicyVersion"
        },
        "description": {
          "shape": "ConfigDescription"
        },
        "id": {
          "shape": "SecurityConfigId"
        },
        "samlOptions": {
          "shape": "SamlConfigOptions"
        }
      },
      "required": [
        "configVersion",
        "id"
      ],
      "type": "structure"
    },
    "UpdateSecurityConfigResponse": {
      "members": {
        "securityConfigDetail": {
          "shape": "SecurityConfigDetail"
        }
      },
      "type": "structure"
    },
    "UpdateSecurityPolicyRequest": {
      "members": {
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "description": {
          "shape": "PolicyDescription"
        },
        "name": {
          "shape": "PolicyName"
        },
        "policy": {
          "shape": "PolicyDocument"
        },
        "policyVersion": {
          "shape": "PolicyVersion"
        },
        "type": {
          "shape": "SecurityPolicyType"
        }
      },
      "required": [
        "name",
        "policyVersion",
        "type"
      ],
      "type": "structure"
    },
    "UpdateSecurityPolicyResponse": {
      "members": {
        "securityPolicyDetail": {
          "shape": "SecurityPolicyDetail"
        }
      },
      "type": "structure"
    },
    "UpdateVpcEndpointDetail": {
      "members": {
        "id": {
          "shape": "VpcEndpointId"
        },
        "lastModifiedDate": {
          "shape": "Long"
        },
        "name": {
          "shape": "VpcEndpointName"
        },
        "securityGroupIds": {
          "shape": "SecurityGroupIds"
        },
        "status": {
          "shape": "VpcEndpointStatus"
        },
        "subnetIds": {
          "shape": "SubnetIds"
        }
      },
      "type": "structure"
    },
    "UpdateVpcEndpointRequest": {
      "members": {
        "addSecurityGroupIds": {
          "shape": "SecurityGroupIds"
        },
        "addSubnetIds": {
          "shape": "SubnetIds"
        },
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "id": {
          "shape": "VpcEndpointId"
        },
        "removeSecurityGroupIds": {
          "shape": "SecurityGroupIds"
        },
        "removeSubnetIds": {
          "shape": "SubnetIds"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "UpdateVpcEndpointResponse": {
      "members": {
        "UpdateVpcEndpointDetail": {
          "shape": "UpdateVpcEndpointDetail"
        }
      },
      "type": "structure"
    },
    "ValidationException": {
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "VpcEndpointDetail": {
      "members": {
        "createdDate": {
          "shape": "Long"
        },
        "id": {
          "shape": "VpcEndpointId"
        },
        "name": {
          "shape": "VpcEndpointName"
        },
        "securityGroupIds": {
          "shape": "SecurityGroupIds"
        },
        "status": {
          "shape": "VpcEndpointStatus"
        },
        "subnetIds": {
          "shape": "SubnetIds"
        },
        "vpcId": {
          "shape": "VpcId"
        }
      },
      "type": "structure"
    },
    "VpcEndpointDetails": {
      "member": {
        "shape": "VpcEndpointDetail"
      },
      "type": "list"
    },
    "VpcEndpointErrorDetail": {
      "members": {
        "errorCode": {
          "shape": "String"
        },
        "errorMessage": {
          "shape": "String"
        },
        "id": {
          "shape": "VpcEndpointId"
        }
      },
      "type": "structure"
    },
    "VpcEndpointErrorDetails": {
      "member": {
        "shape": "VpcEndpointErrorDetail"
      },
      "type": "list"
    },
    "VpcEndpointFilters": {
      "members": {
        "status": {
          "shape": "VpcEndpointStatus"
        }
      },
      "type": "structure"
    },
    "VpcEndpointId": {
      "max": 255,
      "min": 1,
      "pattern": "^vpce-[0-9a-z]*$",
      "type": "string"
    },
    "VpcEndpointIds": {
      "member": {
        "shape": "VpcEndpointId"
      },
      "min": 1,
      "type": "list"
    },
    "VpcEndpointName": {
      "max": 32,
      "min": 3,
      "pattern": "^[a-z][a-z0-9-]+$",
      "type": "string"
    },
    "VpcEndpointStatus": {
      "enum": [
        "PENDING",
        "DELETING",
        "ACTIVE",
        "FAILED"
      ],
      "type": "string"
    },
    "VpcEndpointSummaries": {
      "member": {
        "shape": "VpcEndpointSummary"
      },
      "type": "list"
    },
    "VpcEndpointSummary": {
      "members": {
        "id": {
          "shape": "VpcEndpointId"
        },
        "name": {
          "shape": "VpcEndpointName"
        },
        "status": {
          "shape": "VpcEndpointStatus"
        }
      },
      "type": "structure"
    },
    "VpcId": {
      "max": 255,
      "min": 1,
      "pattern": "^vpc-[0-9a-z]*$",
      "type": "string"
    },
    "samlGroupAttribute": {
      "max": 2048,
      "min": 1,
      "pattern": "[\\w+=,.@-]+",
      "type": "string"
    },
    "samlMetadata": {
      "max": 20480,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u00A1-\\u00FF]+",
      "type": "string"
    },
    "samlUserAttribute": {
      "max": 2048,
      "min": 1,
      "pattern": "[\\w+=,.@-]+",
      "type": "string"
    }
  },
  "version": "2.0"
}