{
  "metadata": {
    "apiVersion": "2022-07-28",
    "endpointPrefix": "resource-explorer-2",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Resource Explorer",
    "serviceId": "Resource Explorer 2",
    "signatureVersion": "v4",
    "signingName": "resource-explorer-2",
    "uid": "resource-explorer-2-2022-07-28"
  },
  "operations": {
    "AssociateDefaultView": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/AssociateDefaultView",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "AssociateDefaultViewInput"
      },
      "name": "AssociateDefaultView",
      "output": {
        "shape": "AssociateDefaultViewOutput"
      }
    },
    "BatchGetView": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/BatchGetView",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchGetViewInput"
      },
      "name": "BatchGetView",
      "output": {
        "shape": "BatchGetViewOutput"
      }
    },
    "CreateIndex": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/CreateIndex",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateIndexInput"
      },
      "name": "CreateIndex",
      "output": {
        "shape": "CreateIndexOutput"
      }
    },
    "CreateView": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/CreateView",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateViewInput"
      },
      "name": "CreateView",
      "output": {
        "shape": "CreateViewOutput"
      }
    },
    "DeleteIndex": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DeleteIndex",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteIndexInput"
      },
      "name": "DeleteIndex",
      "output": {
        "shape": "DeleteIndexOutput"
      }
    },
    "DeleteView": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DeleteView",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteViewInput"
      },
      "name": "DeleteView",
      "output": {
        "shape": "DeleteViewOutput"
      }
    },
    "DisassociateDefaultView": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DisassociateDefaultView",
        "responseCode": 200
      },
      "idempotent": true,
      "name": "DisassociateDefaultView"
    },
    "GetDefaultView": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/GetDefaultView",
        "responseCode": 200
      },
      "name": "GetDefaultView",
      "output": {
        "shape": "GetDefaultViewOutput"
      }
    },
    "GetIndex": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/GetIndex",
        "responseCode": 200
      },
      "name": "GetIndex",
      "output": {
        "shape": "GetIndexOutput"
      }
    },
    "GetView": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/GetView",
        "responseCode": 200
      },
      "input": {
        "shape": "GetViewInput"
      },
      "name": "GetView",
      "output": {
        "shape": "GetViewOutput"
      }
    },
    "ListIndexes": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListIndexes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListIndexesInput"
      },
      "name": "ListIndexes",
      "output": {
        "shape": "ListIndexesOutput"
      }
    },
    "ListSupportedResourceTypes": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListSupportedResourceTypes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSupportedResourceTypesInput"
      },
      "name": "ListSupportedResourceTypes",
      "output": {
        "shape": "ListSupportedResourceTypesOutput"
      }
    },
    "ListTagsForResource": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceInput"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceOutput"
      }
    },
    "ListViews": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListViews",
        "responseCode": 200
      },
      "input": {
        "shape": "ListViewsInput"
      },
      "name": "ListViews",
      "output": {
        "shape": "ListViewsOutput"
      }
    },
    "Search": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/Search",
        "responseCode": 200
      },
      "input": {
        "shape": "SearchInput"
      },
      "name": "Search",
      "output": {
        "shape": "SearchOutput"
      }
    },
    "TagResource": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "TagResourceInput"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceOutput"
      }
    },
    "UntagResource": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UntagResourceInput"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceOutput"
      }
    },
    "UpdateIndexType": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/UpdateIndexType",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateIndexTypeInput"
      },
      "name": "UpdateIndexType",
      "output": {
        "shape": "UpdateIndexTypeOutput"
      }
    },
    "UpdateView": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/UpdateView",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateViewInput"
      },
      "name": "UpdateView",
      "output": {
        "shape": "UpdateViewOutput"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AssociateDefaultViewInput": {
      "members": {
        "ViewArn": {
          "shape": "AssociateDefaultViewInputViewArnString"
        }
      },
      "required": [
        "ViewArn"
      ],
      "type": "structure"
    },
    "AssociateDefaultViewInputViewArnString": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "AssociateDefaultViewOutput": {
      "members": {
        "ViewArn": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "BatchGetViewError": {
      "members": {
        "ErrorMessage": {
          "shape": "String"
        },
        "ViewArn": {
          "shape": "String"
        }
      },
      "required": [
        "ErrorMessage",
        "ViewArn"
      ],
      "type": "structure"
    },
    "BatchGetViewErrors": {
      "member": {
        "shape": "BatchGetViewError"
      },
      "type": "list"
    },
    "BatchGetViewInput": {
      "members": {
        "ViewArns": {
          "shape": "BatchGetViewInputViewArnsList"
        }
      },
      "type": "structure"
    },
    "BatchGetViewInputViewArnsList": {
      "max": 20,
      "member": {
        "shape": "String"
      },
      "min": 1,
      "type": "list"
    },
    "BatchGetViewOutput": {
      "members": {
        "Errors": {
          "shape": "BatchGetViewErrors"
        },
        "Views": {
          "shape": "ViewList"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "ConflictException": {
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "CreateIndexInput": {
      "members": {
        "ClientToken": {
          "idempotencyToken": true,
          "shape": "String"
        },
        "Tags": {
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreateIndexOutput": {
      "members": {
        "Arn": {
          "shape": "String"
        },
        "CreatedAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "State": {
          "shape": "IndexState"
        }
      },
      "type": "structure"
    },
    "CreateViewInput": {
      "members": {
        "ClientToken": {
          "idempotencyToken": true,
          "shape": "CreateViewInputClientTokenString"
        },
        "Filters": {
          "shape": "SearchFilter"
        },
        "IncludedProperties": {
          "shape": "IncludedPropertyList"
        },
        "Tags": {
          "shape": "TagMap"
        },
        "ViewName": {
          "shape": "ViewName"
        }
      },
      "required": [
        "ViewName"
      ],
      "type": "structure"
    },
    "CreateViewInputClientTokenString": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "CreateViewOutput": {
      "members": {
        "View": {
          "shape": "View"
        }
      },
      "type": "structure"
    },
    "DeleteIndexInput": {
      "members": {
        "Arn": {
          "shape": "String"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "DeleteIndexOutput": {
      "members": {
        "Arn": {
          "shape": "String"
        },
        "LastUpdatedAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "State": {
          "shape": "IndexState"
        }
      },
      "type": "structure"
    },
    "DeleteViewInput": {
      "members": {
        "ViewArn": {
          "shape": "DeleteViewInputViewArnString"
        }
      },
      "required": [
        "ViewArn"
      ],
      "type": "structure"
    },
    "DeleteViewInputViewArnString": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "DeleteViewOutput": {
      "members": {
        "ViewArn": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetDefaultViewOutput": {
      "members": {
        "ViewArn": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetIndexOutput": {
      "members": {
        "Arn": {
          "shape": "String"
        },
        "CreatedAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "LastUpdatedAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "ReplicatingFrom": {
          "shape": "RegionList"
        },
        "ReplicatingTo": {
          "shape": "RegionList"
        },
        "State": {
          "shape": "IndexState"
        },
        "Tags": {
          "shape": "TagMap"
        },
        "Type": {
          "shape": "IndexType"
        }
      },
      "type": "structure"
    },
    "GetViewInput": {
      "members": {
        "ViewArn": {
          "shape": "GetViewInputViewArnString"
        }
      },
      "required": [
        "ViewArn"
      ],
      "type": "structure"
    },
    "GetViewInputViewArnString": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "GetViewOutput": {
      "members": {
        "Tags": {
          "shape": "TagMap"
        },
        "View": {
          "shape": "View"
        }
      },
      "type": "structure"
    },
    "IncludedProperty": {
      "members": {
        "Name": {
          "shape": "IncludedPropertyNameString"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "IncludedPropertyList": {
      "member": {
        "shape": "IncludedProperty"
      },
      "type": "list"
    },
    "IncludedPropertyNameString": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "Index": {
      "members": {
        "Arn": {
          "shape": "String"
        },
        "Region": {
          "shape": "String"
        },
        "Type": {
          "shape": "IndexType"
        }
      },
      "type": "structure"
    },
    "IndexList": {
      "member": {
        "shape": "Index"
      },
      "type": "list"
    },
    "IndexState": {
      "enum": [
        "CREATING",
        "ACTIVE",
        "DELETING",
        "DELETED",
        "UPDATING"
      ],
      "type": "string"
    },
    "IndexType": {
      "enum": [
        "LOCAL",
        "AGGREGATOR"
      ],
      "type": "string"
    },
    "InternalServerException": {
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListIndexesInput": {
      "members": {
        "MaxResults": {
          "shape": "ListIndexesInputMaxResultsInteger"
        },
        "NextToken": {
          "shape": "ListIndexesInputNextTokenString"
        },
        "Regions": {
          "shape": "ListIndexesInputRegionsList"
        },
        "Type": {
          "shape": "IndexType"
        }
      },
      "type": "structure"
    },
    "ListIndexesInputMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListIndexesInputNextTokenString": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "ListIndexesInputRegionsList": {
      "max": 20,
      "member": {
        "shape": "String"
      },
      "min": 0,
      "type": "list"
    },
    "ListIndexesOutput": {
      "members": {
        "Indexes": {
          "shape": "IndexList"
        },
        "NextToken": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListSupportedResourceTypesInput": {
      "members": {
        "MaxResults": {
          "shape": "ListSupportedResourceTypesInputMaxResultsInteger"
        },
        "NextToken": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListSupportedResourceTypesInputMaxResultsInteger": {
      "box": true,
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "ListSupportedResourceTypesOutput": {
      "members": {
        "NextToken": {
          "shape": "String"
        },
        "ResourceTypes": {
          "shape": "ResourceTypeList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceInput": {
      "members": {
        "resourceArn": {
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "String"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceOutput": {
      "members": {
        "Tags": {
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "ListViewsInput": {
      "members": {
        "MaxResults": {
          "shape": "ListViewsInputMaxResultsInteger"
        },
        "NextToken": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListViewsInputMaxResultsInteger": {
      "box": true,
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "ListViewsOutput": {
      "members": {
        "NextToken": {
          "shape": "String"
        },
        "Views": {
          "shape": "ViewArnList"
        }
      },
      "type": "structure"
    },
    "Long": {
      "box": true,
      "type": "long"
    },
    "QueryString": {
      "max": 1011,
      "min": 0,
      "sensitive": true,
      "type": "string"
    },
    "RegionList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "Resource": {
      "members": {
        "Arn": {
          "shape": "String"
        },
        "LastReportedAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "OwningAccountId": {
          "shape": "String"
        },
        "Properties": {
          "shape": "ResourcePropertyList"
        },
        "Region": {
          "shape": "String"
        },
        "ResourceType": {
          "shape": "String"
        },
        "Service": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResourceCount": {
      "members": {
        "Complete": {
          "shape": "Boolean"
        },
        "TotalResources": {
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "ResourceList": {
      "member": {
        "shape": "Resource"
      },
      "type": "list"
    },
    "ResourceNotFoundException": {
      "error": {
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResourceProperty": {
      "members": {
        "LastReportedAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "Name": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResourcePropertyList": {
      "member": {
        "shape": "ResourceProperty"
      },
      "type": "list"
    },
    "ResourceTypeList": {
      "member": {
        "shape": "SupportedResourceType"
      },
      "type": "list"
    },
    "SearchFilter": {
      "members": {
        "FilterString": {
          "shape": "SearchFilterFilterStringString"
        }
      },
      "required": [
        "FilterString"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "SearchFilterFilterStringString": {
      "max": 2048,
      "min": 0,
      "type": "string"
    },
    "SearchInput": {
      "members": {
        "MaxResults": {
          "shape": "SearchInputMaxResultsInteger"
        },
        "NextToken": {
          "shape": "SearchInputNextTokenString"
        },
        "QueryString": {
          "shape": "QueryString"
        },
        "ViewArn": {
          "shape": "SearchInputViewArnString"
        }
      },
      "required": [
        "QueryString"
      ],
      "type": "structure"
    },
    "SearchInputMaxResultsInteger": {
      "box": true,
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "SearchInputNextTokenString": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "SearchInputViewArnString": {
      "max": 1000,
      "min": 0,
      "type": "string"
    },
    "SearchOutput": {
      "members": {
        "Count": {
          "shape": "ResourceCount"
        },
        "NextToken": {
          "shape": "SearchOutputNextTokenString"
        },
        "Resources": {
          "shape": "ResourceList"
        },
        "ViewArn": {
          "shape": "SearchOutputViewArnString"
        }
      },
      "type": "structure"
    },
    "SearchOutputNextTokenString": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "SearchOutputViewArnString": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "ServiceQuotaExceededException": {
      "error": {
        "httpStatusCode": 402,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "Name": {
          "shape": "String"
        },
        "Value": {
          "shape": "String"
        }
      },
      "required": [
        "Message",
        "Name",
        "Value"
      ],
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "StringList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "SupportedResourceType": {
      "members": {
        "ResourceType": {
          "shape": "String"
        },
        "Service": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "SyntheticTimestamp_date_time": {
      "timestampFormat": "iso8601",
      "type": "timestamp"
    },
    "TagMap": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "TagResourceInput": {
      "members": {
        "Tags": {
          "shape": "TagMap"
        },
        "resourceArn": {
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "String"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "TagResourceOutput": {
      "members": {},
      "type": "structure"
    },
    "ThrottlingException": {
      "error": {
        "httpStatusCode": 429,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "UnauthorizedException": {
      "error": {
        "httpStatusCode": 401,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "UntagResourceInput": {
      "members": {
        "resourceArn": {
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "String"
        },
        "tagKeys": {
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "StringList"
        }
      },
      "required": [
        "resourceArn",
        "tagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceOutput": {
      "members": {},
      "type": "structure"
    },
    "UpdateIndexTypeInput": {
      "members": {
        "Arn": {
          "shape": "String"
        },
        "Type": {
          "shape": "IndexType"
        }
      },
      "required": [
        "Arn",
        "Type"
      ],
      "type": "structure"
    },
    "UpdateIndexTypeOutput": {
      "members": {
        "Arn": {
          "shape": "String"
        },
        "LastUpdatedAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "State": {
          "shape": "IndexState"
        },
        "Type": {
          "shape": "IndexType"
        }
      },
      "type": "structure"
    },
    "UpdateViewInput": {
      "members": {
        "Filters": {
          "shape": "SearchFilter"
        },
        "IncludedProperties": {
          "shape": "IncludedPropertyList"
        },
        "ViewArn": {
          "shape": "UpdateViewInputViewArnString"
        }
      },
      "required": [
        "ViewArn"
      ],
      "type": "structure"
    },
    "UpdateViewInputViewArnString": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "UpdateViewOutput": {
      "members": {
        "View": {
          "shape": "View"
        }
      },
      "type": "structure"
    },
    "ValidationException": {
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "FieldList": {
          "shape": "ValidationExceptionFieldList"
        },
        "Message": {
          "shape": "String"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "ValidationExceptionField": {
      "members": {
        "Name": {
          "shape": "String"
        },
        "ValidationIssue": {
          "shape": "String"
        }
      },
      "required": [
        "Name",
        "ValidationIssue"
      ],
      "type": "structure"
    },
    "ValidationExceptionFieldList": {
      "member": {
        "shape": "ValidationExceptionField"
      },
      "type": "list"
    },
    "View": {
      "members": {
        "Filters": {
          "shape": "SearchFilter"
        },
        "IncludedProperties": {
          "shape": "IncludedPropertyList"
        },
        "LastUpdatedAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "Owner": {
          "shape": "String"
        },
        "Scope": {
          "shape": "String"
        },
        "ViewArn": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ViewArnList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "ViewList": {
      "member": {
        "shape": "View"
      },
      "type": "list"
    },
    "ViewName": {
      "pattern": "^[a-zA-Z0-9\\-]{1,64}$",
      "type": "string"
    }
  },
  "version": "2.0"
}