{
  "metadata": {
    "apiVersion": "2022-02-17",
    "auth": [
      "aws.auth#sigv4"
    ],
    "endpointPrefix": "cleanrooms",
    "protocol": "rest-json",
    "protocols": [
      "rest-json"
    ],
    "serviceFullName": "AWS Clean Rooms Service",
    "serviceId": "CleanRooms",
    "signatureVersion": "v4",
    "signingName": "cleanrooms",
    "uid": "cleanrooms-2022-02-17"
  },
  "operations": {
    "BatchGetCollaborationAnalysisTemplate": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/collaborations/{collaborationIdentifier}/batch-analysistemplates",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchGetCollaborationAnalysisTemplateInput"
      },
      "name": "BatchGetCollaborationAnalysisTemplate",
      "output": {
        "shape": "BatchGetCollaborationAnalysisTemplateOutput"
      }
    },
    "BatchGetSchema": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/collaborations/{collaborationIdentifier}/batch-schema",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchGetSchemaInput"
      },
      "name": "BatchGetSchema",
      "output": {
        "shape": "BatchGetSchemaOutput"
      }
    },
    "BatchGetSchemaAnalysisRule": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/collaborations/{collaborationIdentifier}/batch-schema-analysis-rule",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchGetSchemaAnalysisRuleInput"
      },
      "name": "BatchGetSchemaAnalysisRule",
      "output": {
        "shape": "BatchGetSchemaAnalysisRuleOutput"
      }
    },
    "CreateAnalysisTemplate": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/memberships/{membershipIdentifier}/analysistemplates",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateAnalysisTemplateInput"
      },
      "name": "CreateAnalysisTemplate",
      "output": {
        "shape": "CreateAnalysisTemplateOutput"
      }
    },
    "CreateCollaboration": {
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/collaborations",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateCollaborationInput"
      },
      "name": "CreateCollaboration",
      "output": {
        "shape": "CreateCollaborationOutput"
      }
    },
    "CreateConfiguredAudienceModelAssociation": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/memberships/{membershipIdentifier}/configuredaudiencemodelassociations",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateConfiguredAudienceModelAssociationInput"
      },
      "name": "CreateConfiguredAudienceModelAssociation",
      "output": {
        "shape": "CreateConfiguredAudienceModelAssociationOutput"
      }
    },
    "CreateConfiguredTable": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/configuredTables",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateConfiguredTableInput"
      },
      "name": "CreateConfiguredTable",
      "output": {
        "shape": "CreateConfiguredTableOutput"
      }
    },
    "CreateConfiguredTableAnalysisRule": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateConfiguredTableAnalysisRuleInput"
      },
      "name": "CreateConfiguredTableAnalysisRule",
      "output": {
        "shape": "CreateConfiguredTableAnalysisRuleOutput"
      }
    },
    "CreateConfiguredTableAssociation": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateConfiguredTableAssociationInput"
      },
      "name": "CreateConfiguredTableAssociation",
      "output": {
        "shape": "CreateConfiguredTableAssociationOutput"
      }
    },
    "CreateConfiguredTableAssociationAnalysisRule": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}/analysisRule",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateConfiguredTableAssociationAnalysisRuleInput"
      },
      "name": "CreateConfiguredTableAssociationAnalysisRule",
      "output": {
        "shape": "CreateConfiguredTableAssociationAnalysisRuleOutput"
      }
    },
    "CreateIdMappingTable": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/memberships/{membershipIdentifier}/idmappingtables",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateIdMappingTableInput"
      },
      "name": "CreateIdMappingTable",
      "output": {
        "shape": "CreateIdMappingTableOutput"
      }
    },
    "CreateMembership": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/memberships",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateMembershipInput"
      },
      "name": "CreateMembership",
      "output": {
        "shape": "CreateMembershipOutput"
      }
    },
    "CreatePrivacyBudgetTemplate": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgettemplates",
        "responseCode": 200
      },
      "input": {
        "shape": "CreatePrivacyBudgetTemplateInput"
      },
      "name": "CreatePrivacyBudgetTemplate",
      "output": {
        "shape": "CreatePrivacyBudgetTemplateOutput"
      }
    },
    "DeleteAnalysisTemplate": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/analysistemplates/{analysisTemplateIdentifier}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteAnalysisTemplateInput"
      },
      "name": "DeleteAnalysisTemplate",
      "output": {
        "shape": "DeleteAnalysisTemplateOutput"
      }
    },
    "DeleteCollaboration": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/collaborations/{collaborationIdentifier}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteCollaborationInput"
      },
      "name": "DeleteCollaboration",
      "output": {
        "shape": "DeleteCollaborationOutput"
      }
    },
    "DeleteConfiguredAudienceModelAssociation": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteConfiguredAudienceModelAssociationInput"
      },
      "name": "DeleteConfiguredAudienceModelAssociation",
      "output": {
        "shape": "DeleteConfiguredAudienceModelAssociationOutput"
      }
    },
    "DeleteConfiguredTable": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/configuredTables/{configuredTableIdentifier}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteConfiguredTableInput"
      },
      "name": "DeleteConfiguredTable",
      "output": {
        "shape": "DeleteConfiguredTableOutput"
      }
    },
    "DeleteConfiguredTableAnalysisRule": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteConfiguredTableAnalysisRuleInput"
      },
      "name": "DeleteConfiguredTableAnalysisRule",
      "output": {
        "shape": "DeleteConfiguredTableAnalysisRuleOutput"
      }
    },
    "DeleteConfiguredTableAssociation": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteConfiguredTableAssociationInput"
      },
      "name": "DeleteConfiguredTableAssociation",
      "output": {
        "shape": "DeleteConfiguredTableAssociationOutput"
      }
    },
    "DeleteConfiguredTableAssociationAnalysisRule": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteConfiguredTableAssociationAnalysisRuleInput"
      },
      "name": "DeleteConfiguredTableAssociationAnalysisRule",
      "output": {
        "shape": "DeleteConfiguredTableAssociationAnalysisRuleOutput"
      }
    },
    "DeleteIdMappingTable": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/idmappingtables/{idMappingTableIdentifier}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteIdMappingTableInput"
      },
      "name": "DeleteIdMappingTable",
      "output": {
        "shape": "DeleteIdMappingTableOutput"
      }
    },
    "DeleteIdNamespaceAssociation": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/idnamespaceassociations/{idNamespaceAssociationIdentifier}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteIdNamespaceAssociationInput"
      },
      "name": "DeleteIdNamespaceAssociation",
      "output": {
        "shape": "DeleteIdNamespaceAssociationOutput"
      }
    },
    "DeleteMember": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/collaborations/{collaborationIdentifier}/member/{accountId}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteMemberInput"
      },
      "name": "DeleteMember",
      "output": {
        "shape": "DeleteMemberOutput"
      }
    },
    "DeleteMembership": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteMembershipInput"
      },
      "name": "DeleteMembership",
      "output": {
        "shape": "DeleteMembershipOutput"
      }
    },
    "DeletePrivacyBudgetTemplate": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeletePrivacyBudgetTemplateInput"
      },
      "name": "DeletePrivacyBudgetTemplate",
      "output": {
        "shape": "DeletePrivacyBudgetTemplateOutput"
      }
    },
    "GetAnalysisTemplate": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/analysistemplates/{analysisTemplateIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAnalysisTemplateInput"
      },
      "name": "GetAnalysisTemplate",
      "output": {
        "shape": "GetAnalysisTemplateOutput"
      }
    },
    "GetCollaboration": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCollaborationInput"
      },
      "name": "GetCollaboration",
      "output": {
        "shape": "GetCollaborationOutput"
      }
    },
    "GetCollaborationAnalysisTemplate": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/analysistemplates/{analysisTemplateArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCollaborationAnalysisTemplateInput"
      },
      "name": "GetCollaborationAnalysisTemplate",
      "output": {
        "shape": "GetCollaborationAnalysisTemplateOutput"
      }
    },
    "GetCollaborationConfiguredAudienceModelAssociation": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCollaborationConfiguredAudienceModelAssociationInput"
      },
      "name": "GetCollaborationConfiguredAudienceModelAssociation",
      "output": {
        "shape": "GetCollaborationConfiguredAudienceModelAssociationOutput"
      }
    },
    "GetCollaborationPrivacyBudgetTemplate": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCollaborationPrivacyBudgetTemplateInput"
      },
      "name": "GetCollaborationPrivacyBudgetTemplate",
      "output": {
        "shape": "GetCollaborationPrivacyBudgetTemplateOutput"
      }
    },
    "GetConfiguredAudienceModelAssociation": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetConfiguredAudienceModelAssociationInput"
      },
      "name": "GetConfiguredAudienceModelAssociation",
      "output": {
        "shape": "GetConfiguredAudienceModelAssociationOutput"
      }
    },
    "GetConfiguredTable": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/configuredTables/{configuredTableIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetConfiguredTableInput"
      },
      "name": "GetConfiguredTable",
      "output": {
        "shape": "GetConfiguredTableOutput"
      }
    },
    "GetConfiguredTableAnalysisRule": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetConfiguredTableAnalysisRuleInput"
      },
      "name": "GetConfiguredTableAnalysisRule",
      "output": {
        "shape": "GetConfiguredTableAnalysisRuleOutput"
      }
    },
    "GetConfiguredTableAssociation": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetConfiguredTableAssociationInput"
      },
      "name": "GetConfiguredTableAssociation",
      "output": {
        "shape": "GetConfiguredTableAssociationOutput"
      }
    },
    "GetConfiguredTableAssociationAnalysisRule": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetConfiguredTableAssociationAnalysisRuleInput"
      },
      "name": "GetConfiguredTableAssociationAnalysisRule",
      "output": {
        "shape": "GetConfiguredTableAssociationAnalysisRuleOutput"
      }
    },
    "GetIdMappingTable": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/idmappingtables/{idMappingTableIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIdMappingTableInput"
      },
      "name": "GetIdMappingTable",
      "output": {
        "shape": "GetIdMappingTableOutput"
      }
    },
    "GetMembership": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMembershipInput"
      },
      "name": "GetMembership",
      "output": {
        "shape": "GetMembershipOutput"
      }
    },
    "GetPrivacyBudgetTemplate": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetPrivacyBudgetTemplateInput"
      },
      "name": "GetPrivacyBudgetTemplate",
      "output": {
        "shape": "GetPrivacyBudgetTemplateOutput"
      }
    },
    "GetProtectedQuery": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/protectedQueries/{protectedQueryIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetProtectedQueryInput"
      },
      "name": "GetProtectedQuery",
      "output": {
        "shape": "GetProtectedQueryOutput"
      }
    },
    "GetSchema": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/schemas/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSchemaInput"
      },
      "name": "GetSchema",
      "output": {
        "shape": "GetSchemaOutput"
      }
    },
    "GetSchemaAnalysisRule": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/schemas/{name}/analysisRule/{type}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSchemaAnalysisRuleInput"
      },
      "name": "GetSchemaAnalysisRule",
      "output": {
        "shape": "GetSchemaAnalysisRuleOutput"
      }
    },
    "ListAnalysisTemplates": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/analysistemplates",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAnalysisTemplatesInput"
      },
      "name": "ListAnalysisTemplates",
      "output": {
        "shape": "ListAnalysisTemplatesOutput"
      }
    },
    "ListCollaborationAnalysisTemplates": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/analysistemplates",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCollaborationAnalysisTemplatesInput"
      },
      "name": "ListCollaborationAnalysisTemplates",
      "output": {
        "shape": "ListCollaborationAnalysisTemplatesOutput"
      }
    },
    "ListCollaborationConfiguredAudienceModelAssociations": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/configuredaudiencemodelassociations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCollaborationConfiguredAudienceModelAssociationsInput"
      },
      "name": "ListCollaborationConfiguredAudienceModelAssociations",
      "output": {
        "shape": "ListCollaborationConfiguredAudienceModelAssociationsOutput"
      }
    },
    "ListCollaborationIdNamespaceAssociations": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/idnamespaceassociations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCollaborationIdNamespaceAssociationsInput"
      },
      "name": "ListCollaborationIdNamespaceAssociations",
      "output": {
        "shape": "ListCollaborationIdNamespaceAssociationsOutput"
      }
    },
    "ListCollaborationPrivacyBudgetTemplates": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/privacybudgettemplates",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCollaborationPrivacyBudgetTemplatesInput"
      },
      "name": "ListCollaborationPrivacyBudgetTemplates",
      "output": {
        "shape": "ListCollaborationPrivacyBudgetTemplatesOutput"
      }
    },
    "ListCollaborationPrivacyBudgets": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/privacybudgets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCollaborationPrivacyBudgetsInput"
      },
      "name": "ListCollaborationPrivacyBudgets",
      "output": {
        "shape": "ListCollaborationPrivacyBudgetsOutput"
      }
    },
    "ListCollaborations": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/collaborations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCollaborationsInput"
      },
      "name": "ListCollaborations",
      "output": {
        "shape": "ListCollaborationsOutput"
      }
    },
    "ListConfiguredAudienceModelAssociations": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/configuredaudiencemodelassociations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConfiguredAudienceModelAssociationsInput"
      },
      "name": "ListConfiguredAudienceModelAssociations",
      "output": {
        "shape": "ListConfiguredAudienceModelAssociationsOutput"
      }
    },
    "ListConfiguredTableAssociations": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConfiguredTableAssociationsInput"
      },
      "name": "ListConfiguredTableAssociations",
      "output": {
        "shape": "ListConfiguredTableAssociationsOutput"
      }
    },
    "ListConfiguredTables": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/configuredTables",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConfiguredTablesInput"
      },
      "name": "ListConfiguredTables",
      "output": {
        "shape": "ListConfiguredTablesOutput"
      }
    },
    "ListIdMappingTables": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/idmappingtables",
        "responseCode": 200
      },
      "input": {
        "shape": "ListIdMappingTablesInput"
      },
      "name": "ListIdMappingTables",
      "output": {
        "shape": "ListIdMappingTablesOutput"
      }
    },
    "ListIdNamespaceAssociations": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/idnamespaceassociations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListIdNamespaceAssociationsInput"
      },
      "name": "ListIdNamespaceAssociations",
      "output": {
        "shape": "ListIdNamespaceAssociationsOutput"
      }
    },
    "ListMembers": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/members",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMembersInput"
      },
      "name": "ListMembers",
      "output": {
        "shape": "ListMembersOutput"
      }
    },
    "ListMemberships": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMembershipsInput"
      },
      "name": "ListMemberships",
      "output": {
        "shape": "ListMembershipsOutput"
      }
    },
    "ListPrivacyBudgetTemplates": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgettemplates",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPrivacyBudgetTemplatesInput"
      },
      "name": "ListPrivacyBudgetTemplates",
      "output": {
        "shape": "ListPrivacyBudgetTemplatesOutput"
      }
    },
    "ListPrivacyBudgets": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPrivacyBudgetsInput"
      },
      "name": "ListPrivacyBudgets",
      "output": {
        "shape": "ListPrivacyBudgetsOutput"
      }
    },
    "ListProtectedQueries": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/memberships/{membershipIdentifier}/protectedQueries",
        "responseCode": 200
      },
      "input": {
        "shape": "ListProtectedQueriesInput"
      },
      "name": "ListProtectedQueries",
      "output": {
        "shape": "ListProtectedQueriesOutput"
      }
    },
    "ListSchemas": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/collaborations/{collaborationIdentifier}/schemas",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSchemasInput"
      },
      "name": "ListSchemas",
      "output": {
        "shape": "ListSchemasOutput"
      }
    },
    "ListTagsForResource": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceInput"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceOutput"
      }
    },
    "PopulateIdMappingTable": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/memberships/{membershipIdentifier}/idmappingtables/{idMappingTableIdentifier}/populate",
        "responseCode": 200
      },
      "input": {
        "shape": "PopulateIdMappingTableInput"
      },
      "name": "PopulateIdMappingTable",
      "output": {
        "shape": "PopulateIdMappingTableOutput"
      }
    },
    "PreviewPrivacyImpact": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/memberships/{membershipIdentifier}/previewprivacyimpact",
        "responseCode": 200
      },
      "input": {
        "shape": "PreviewPrivacyImpactInput"
      },
      "name": "PreviewPrivacyImpact",
      "output": {
        "shape": "PreviewPrivacyImpactOutput"
      }
    },
    "StartProtectedQuery": {
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/memberships/{membershipIdentifier}/protectedQueries",
        "responseCode": 200
      },
      "input": {
        "shape": "StartProtectedQueryInput"
      },
      "name": "StartProtectedQuery",
      "output": {
        "shape": "StartProtectedQueryOutput"
      }
    },
    "TagResource": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "TagResourceInput"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceOutput"
      }
    },
    "UntagResource": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UntagResourceInput"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceOutput"
      }
    },
    "UpdateAnalysisTemplate": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/analysistemplates/{analysisTemplateIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAnalysisTemplateInput"
      },
      "name": "UpdateAnalysisTemplate",
      "output": {
        "shape": "UpdateAnalysisTemplateOutput"
      }
    },
    "UpdateCollaboration": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/collaborations/{collaborationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateCollaborationInput"
      },
      "name": "UpdateCollaboration",
      "output": {
        "shape": "UpdateCollaborationOutput"
      }
    },
    "UpdateConfiguredAudienceModelAssociation": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateConfiguredAudienceModelAssociationInput"
      },
      "name": "UpdateConfiguredAudienceModelAssociation",
      "output": {
        "shape": "UpdateConfiguredAudienceModelAssociationOutput"
      }
    },
    "UpdateConfiguredTable": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/configuredTables/{configuredTableIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateConfiguredTableInput"
      },
      "name": "UpdateConfiguredTable",
      "output": {
        "shape": "UpdateConfiguredTableOutput"
      }
    },
    "UpdateConfiguredTableAnalysisRule": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateConfiguredTableAnalysisRuleInput"
      },
      "name": "UpdateConfiguredTableAnalysisRule",
      "output": {
        "shape": "UpdateConfiguredTableAnalysisRuleOutput"
      }
    },
    "UpdateConfiguredTableAssociation": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateConfiguredTableAssociationInput"
      },
      "name": "UpdateConfiguredTableAssociation",
      "output": {
        "shape": "UpdateConfiguredTableAssociationOutput"
      }
    },
    "UpdateConfiguredTableAssociationAnalysisRule": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateConfiguredTableAssociationAnalysisRuleInput"
      },
      "name": "UpdateConfiguredTableAssociationAnalysisRule",
      "output": {
        "shape": "UpdateConfiguredTableAssociationAnalysisRuleOutput"
      }
    },
    "UpdateIdMappingTable": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/idmappingtables/{idMappingTableIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateIdMappingTableInput"
      },
      "name": "UpdateIdMappingTable",
      "output": {
        "shape": "UpdateIdMappingTableOutput"
      }
    },
    "UpdateMembership": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMembershipInput"
      },
      "name": "UpdateMembership",
      "output": {
        "shape": "UpdateMembershipOutput"
      }
    },
    "UpdatePrivacyBudgetTemplate": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdatePrivacyBudgetTemplateInput"
      },
      "name": "UpdatePrivacyBudgetTemplate",
      "output": {
        "shape": "UpdatePrivacyBudgetTemplateOutput"
      }
    },
    "UpdateProtectedQuery": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/memberships/{membershipIdentifier}/protectedQueries/{protectedQueryIdentifier}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateProtectedQueryInput"
      },
      "name": "UpdateProtectedQuery",
      "output": {
        "shape": "UpdateProtectedQueryOutput"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "reason": {
          "shape": "AccessDeniedExceptionReason"
        }
      },
      "type": "structure"
    },
    "AccessDeniedExceptionReason": {
      "enum": [
        "INSUFFICIENT_PERMISSIONS"
      ],
      "type": "string"
    },
    "AccountId": {
      "max": 12,
      "min": 12,
      "pattern": "\\d+",
      "type": "string"
    },
    "AdditionalAnalyses": {
      "enum": [
        "ALLOWED",
        "REQUIRED",
        "NOT_ALLOWED"
      ],
      "type": "string"
    },
    "AdditionalAnalysesResourceArn": {
      "max": 256,
      "min": 0,
      "pattern": "arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:([\\d]{12}|\\*):membership/[\\*\\d\\w-]+/configuredaudiencemodelassociation/[\\*\\d\\w-]+",
      "type": "string"
    },
    "AggregateColumn": {
      "members": {
        "columnNames": {
          "shape": "AggregateColumnColumnNamesList"
        },
        "function": {
          "shape": "AggregateFunctionName"
        }
      },
      "required": [
        "columnNames",
        "function"
      ],
      "type": "structure"
    },
    "AggregateColumnColumnNamesList": {
      "member": {
        "shape": "AnalysisRuleColumnName"
      },
      "min": 1,
      "type": "list"
    },
    "AggregateFunctionName": {
      "enum": [
        "SUM",
        "SUM_DISTINCT",
        "COUNT",
        "COUNT_DISTINCT",
        "AVG"
      ],
      "type": "string"
    },
    "AggregationConstraint": {
      "members": {
        "columnName": {
          "shape": "AnalysisRuleColumnName"
        },
        "minimum": {
          "shape": "AggregationConstraintMinimumInteger"
        },
        "type": {
          "shape": "AggregationType"
        }
      },
      "required": [
        "columnName",
        "minimum",
        "type"
      ],
      "type": "structure"
    },
    "AggregationConstraintMinimumInteger": {
      "box": true,
      "max": 100000,
      "min": 2,
      "type": "integer"
    },
    "AggregationConstraints": {
      "member": {
        "shape": "AggregationConstraint"
      },
      "min": 1,
      "type": "list"
    },
    "AggregationType": {
      "enum": [
        "COUNT_DISTINCT"
      ],
      "type": "string"
    },
    "AllowedAdditionalAnalyses": {
      "max": 25,
      "member": {
        "shape": "AdditionalAnalysesResourceArn"
      },
      "min": 0,
      "type": "list"
    },
    "AllowedColumnList": {
      "max": 225,
      "member": {
        "shape": "ColumnName"
      },
      "min": 1,
      "type": "list"
    },
    "AllowedResultReceivers": {
      "member": {
        "shape": "AccountId"
      },
      "type": "list"
    },
    "AnalysisFormat": {
      "enum": [
        "SQL"
      ],
      "type": "string"
    },
    "AnalysisMethod": {
      "enum": [
        "DIRECT_QUERY"
      ],
      "type": "string"
    },
    "AnalysisParameter": {
      "members": {
        "defaultValue": {
          "shape": "ParameterValue"
        },
        "name": {
          "shape": "ParameterName"
        },
        "type": {
          "shape": "ParameterType"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "AnalysisParameterList": {
      "max": 10,
      "member": {
        "shape": "AnalysisParameter"
      },
      "min": 0,
      "type": "list"
    },
    "AnalysisRule": {
      "members": {
        "collaborationId": {
          "shape": "CollaborationIdentifier"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "name": {
          "shape": "TableAlias"
        },
        "policy": {
          "shape": "AnalysisRulePolicy"
        },
        "type": {
          "shape": "AnalysisRuleType"
        },
        "updateTime": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "collaborationId",
        "type",
        "name",
        "createTime",
        "updateTime",
        "policy"
      ],
      "type": "structure"
    },
    "AnalysisRuleAggregation": {
      "members": {
        "additionalAnalyses": {
          "shape": "AdditionalAnalyses"
        },
        "aggregateColumns": {
          "shape": "AnalysisRuleAggregationAggregateColumnsList"
        },
        "allowedJoinOperators": {
          "shape": "JoinOperatorsList"
        },
        "dimensionColumns": {
          "shape": "AnalysisRuleColumnList"
        },
        "joinColumns": {
          "shape": "AnalysisRuleColumnList"
        },
        "joinRequired": {
          "shape": "JoinRequiredOption"
        },
        "outputConstraints": {
          "shape": "AggregationConstraints"
        },
        "scalarFunctions": {
          "shape": "ScalarFunctionsList"
        }
      },
      "required": [
        "aggregateColumns",
        "joinColumns",
        "dimensionColumns",
        "scalarFunctions",
        "outputConstraints"
      ],
      "type": "structure"
    },
    "AnalysisRuleAggregationAggregateColumnsList": {
      "member": {
        "shape": "AggregateColumn"
      },
      "min": 1,
      "type": "list"
    },
    "AnalysisRuleColumnList": {
      "member": {
        "shape": "AnalysisRuleColumnName"
      },
      "type": "list"
    },
    "AnalysisRuleColumnName": {
      "max": 127,
      "min": 1,
      "pattern": "[a-z0-9_](([a-z0-9_ ]+-)*([a-z0-9_ ]+))?",
      "type": "string"
    },
    "AnalysisRuleCustom": {
      "members": {
        "additionalAnalyses": {
          "shape": "AdditionalAnalyses"
        },
        "allowedAnalyses": {
          "shape": "AnalysisRuleCustomAllowedAnalysesList"
        },
        "allowedAnalysisProviders": {
          "shape": "AnalysisRuleCustomAllowedAnalysisProvidersList"
        },
        "differentialPrivacy": {
          "shape": "DifferentialPrivacyConfiguration"
        },
        "disallowedOutputColumns": {
          "shape": "AnalysisRuleColumnList"
        }
      },
      "required": [
        "allowedAnalyses"
      ],
      "type": "structure"
    },
    "AnalysisRuleCustomAllowedAnalysesList": {
      "member": {
        "shape": "AnalysisTemplateArnOrQueryWildcard"
      },
      "min": 0,
      "type": "list"
    },
    "AnalysisRuleCustomAllowedAnalysisProvidersList": {
      "member": {
        "shape": "AccountId"
      },
      "min": 0,
      "type": "list"
    },
    "AnalysisRuleIdMappingTable": {
      "members": {
        "dimensionColumns": {
          "shape": "AnalysisRuleColumnList"
        },
        "joinColumns": {
          "shape": "AnalysisRuleIdMappingTableJoinColumnsList"
        },
        "queryConstraints": {
          "shape": "QueryConstraintList"
        }
      },
      "required": [
        "joinColumns",
        "queryConstraints"
      ],
      "type": "structure"
    },
    "AnalysisRuleIdMappingTableJoinColumnsList": {
      "max": 2,
      "member": {
        "shape": "AnalysisRuleColumnName"
      },
      "min": 2,
      "type": "list"
    },
    "AnalysisRuleList": {
      "members": {
        "additionalAnalyses": {
          "shape": "AdditionalAnalyses"
        },
        "allowedJoinOperators": {
          "shape": "JoinOperatorsList"
        },
        "joinColumns": {
          "shape": "AnalysisRuleListJoinColumnsList"
        },
        "listColumns": {
          "shape": "AnalysisRuleColumnList"
        }
      },
      "required": [
        "joinColumns",
        "listColumns"
      ],
      "type": "structure"
    },
    "AnalysisRuleListJoinColumnsList": {
      "member": {
        "shape": "AnalysisRuleColumnName"
      },
      "min": 1,
      "type": "list"
    },
    "AnalysisRulePolicy": {
      "members": {
        "v1": {
          "shape": "AnalysisRulePolicyV1"
        }
      },
      "type": "structure",
      "union": true
    },
    "AnalysisRulePolicyV1": {
      "members": {
        "aggregation": {
          "shape": "AnalysisRuleAggregation"
        },
        "custom": {
          "shape": "AnalysisRuleCustom"
        },
        "idMappingTable": {
          "shape": "AnalysisRuleIdMappingTable"
        },
        "list": {
          "shape": "AnalysisRuleList"
        }
      },
      "type": "structure",
      "union": true
    },
    "AnalysisRuleType": {
      "enum": [
        "AGGREGATION",
        "LIST",
        "CUSTOM",
        "ID_MAPPING_TABLE"
      ],
      "type": "string"
    },
    "AnalysisRuleTypeList": {
      "member": {
        "shape": "AnalysisRuleType"
      },
      "type": "list"
    },
    "AnalysisSchema": {
      "members": {
        "referencedTables": {
          "shape": "QueryTables"
        }
      },
      "type": "structure"
    },
    "AnalysisSource": {
      "members": {
        "text": {
          "shape": "AnalysisTemplateText"
        }
      },
      "sensitive": true,
      "type": "structure",
      "union": true
    },
    "AnalysisTemplate": {
      "members": {
        "analysisParameters": {
          "shape": "AnalysisParameterList"
        },
        "arn": {
          "shape": "AnalysisTemplateArn"
        },
        "collaborationArn": {
          "shape": "CollaborationArn"
        },
        "collaborationId": {
          "shape": "UUID"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "description": {
          "shape": "ResourceDescription"
        },
        "format": {
          "shape": "AnalysisFormat"
        },
        "id": {
          "shape": "AnalysisTemplateIdentifier"
        },
        "membershipArn": {
          "shape": "MembershipArn"
        },
        "membershipId": {
          "shape": "UUID"
        },
        "name": {
          "shape": "ResourceAlias"
        },
        "schema": {
          "shape": "AnalysisSchema"
        },
        "source": {
          "shape": "AnalysisSource"
        },
        "updateTime": {
          "shape": "Timestamp"
        },
        "validations": {
          "shape": "AnalysisTemplateValidationStatusDetailList"
        }
      },
      "required": [
        "id",
        "arn",
        "collaborationId",
        "collaborationArn",
        "membershipId",
        "membershipArn",
        "name",
        "createTime",
        "updateTime",
        "schema",
        "format",
        "source"
      ],
      "type": "structure"
    },
    "AnalysisTemplateArn": {
      "max": 200,
      "min": 0,
      "pattern": "arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:membership/[\\d\\w-]+/analysistemplate/[\\d\\w-]+",
      "type": "string"
    },
    "AnalysisTemplateArnList": {
      "max": 10,
      "member": {
        "shape": "AnalysisTemplateArn"
      },
      "min": 1,
      "type": "list"
    },
    "AnalysisTemplateArnOrQueryWildcard": {
      "max": 200,
      "min": 0,
      "pattern": "(ANY_QUERY|arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:membership/[\\d\\w-]+/analysistemplate/[\\d\\w-]+)",
      "type": "string"
    },
    "AnalysisTemplateIdentifier": {
      "max": 36,
      "min": 36,
      "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
      "type": "string"
    },
    "AnalysisTemplateSummary": {
      "members": {
        "arn": {
          "shape": "AnalysisTemplateArn"
        },
        "collaborationArn": {
          "shape": "CollaborationArn"
        },
        "collaborationId": {
          "shape": "UUID"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "description": {
          "shape": "ResourceDescription"
        },
        "id": {
          "shape": "AnalysisTemplateIdentifier"
        },
        "membershipArn": {
          "shape": "MembershipArn"
        },
        "membershipId": {
          "shape": "UUID"
        },
        "name": {
          "shape": "ResourceAlias"
        },
        "updateTime": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "arn",
        "createTime",
        "id",
        "name",
        "updateTime",
        "membershipArn",
        "membershipId",
        "collaborationArn",
        "collaborationId"
      ],
      "type": "structure"
    },
    "AnalysisTemplateSummaryList": {
      "member": {
        "shape": "AnalysisTemplateSummary"
      },
      "type": "list"
    },
    "AnalysisTemplateText": {
      "max": 90000,
      "min": 0,
      "type": "string"
    },
    "AnalysisTemplateValidationStatus": {
      "enum": [
        "VALID",
        "INVALID",
        "UNABLE_TO_VALIDATE"
      ],
      "type": "string"
    },
    "AnalysisTemplateValidationStatusDetail": {
      "members": {
        "reasons": {
          "shape": "AnalysisTemplateValidationStatusReasonList"
        },
        "status": {
          "shape": "AnalysisTemplateValidationStatus"
        },
        "type": {
          "shape": "AnalysisTemplateValidationType"
        }
      },
      "required": [
        "type",
        "status"
      ],
      "type": "structure"
    },
    "AnalysisTemplateValidationStatusDetailList": {
      "member": {
        "shape": "AnalysisTemplateValidationStatusDetail"
      },
      "type": "list"
    },
    "AnalysisTemplateValidationStatusReason": {
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "AnalysisTemplateValidationStatusReasonList": {
      "member": {
        "shape": "AnalysisTemplateValidationStatusReason"
      },
      "type": "list"
    },
    "AnalysisTemplateValidationType": {
      "enum": [
        "DIFFERENTIAL_PRIVACY"
      ],
      "type": "string"
    },
    "AnalysisType": {
      "enum": [
        "DIRECT_ANALYSIS",
        "ADDITIONAL_ANALYSIS"
      ],
      "type": "string"
    },
    "BatchGetCollaborationAnalysisTemplateError": {
      "members": {
        "arn": {
          "shape": "AnalysisTemplateArn"
        },
        "code": {
          "shape": "String"
        },
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "arn",
        "code",
        "message"
      ],
      "type": "structure"
    },
    "BatchGetCollaborationAnalysisTemplateErrorList": {
      "max": 10,
      "member": {
        "shape": "BatchGetCollaborationAnalysisTemplateError"
      },
      "min": 0,
      "type": "list"
    },
    "BatchGetCollaborationAnalysisTemplateInput": {
      "members": {
        "analysisTemplateArns": {
          "shape": "AnalysisTemplateArnList"
        },
        "collaborationIdentifier": {
          "location": "uri",
          "locationName": "collaborationIdentifier",
          "shape": "CollaborationIdentifier"
        }
      },
      "required": [
        "collaborationIdentifier",
        "analysisTemplateArns"
      ],
      "type": "structure"
    },
    "BatchGetCollaborationAnalysisTemplateOutput": {
      "members": {
        "collaborationAnalysisTemplates": {
          "shape": "CollaborationAnalysisTemplateList"
        },
        "errors": {
          "shape": "BatchGetCollaborationAnalysisTemplateErrorList"
        }
      },
      "required": [
        "collaborationAnalysisTemplates",
        "errors"
      ],
      "type": "structure"
    },
    "BatchGetSchemaAnalysisRuleError": {
      "members": {
        "code": {
          "shape": "String"
        },
        "message": {
          "shape": "String"
        },
        "name": {
          "shape": "TableAlias"
        },
        "type": {
          "shape": "AnalysisRuleType"
        }
      },
      "required": [
        "name",
        "type",
        "code",
        "message"
      ],
      "type": "structure"
    },
    "BatchGetSchemaAnalysisRuleErrorList": {
      "max": 25,
      "member": {
        "shape": "BatchGetSchemaAnalysisRuleError"
      },
      "min": 0,
      "type": "list"
    },
    "BatchGetSchemaAnalysisRuleInput": {
      "members": {
        "collaborationIdentifier": {
          "location": "uri",
          "locationName": "collaborationIdentifier",
          "shape": "CollaborationIdentifier"
        },
        "schemaAnalysisRuleRequests": {
          "shape": "SchemaAnalysisRuleRequestList"
        }
      },
      "required": [
        "collaborationIdentifier",
        "schemaAnalysisRuleRequests"
      ],
      "type": "structure"
    },
    "BatchGetSchemaAnalysisRuleOutput": {
      "members": {
        "analysisRules": {
          "shape": "SchemaAnalysisRuleList"
        },
        "errors": {
          "shape": "BatchGetSchemaAnalysisRuleErrorList"
        }
      },
      "required": [
        "analysisRules",
        "errors"
      ],
      "type": "structure"
    },
    "BatchGetSchemaError": {
      "members": {
        "code": {
          "shape": "String"
        },
        "message": {
          "shape": "String"
        },
        "name": {
          "shape": "TableAlias"
        }
      },
      "required": [
        "name",
        "code",
        "message"
      ],
      "type": "structure"
    },
    "BatchGetSchemaErrorList": {
      "max": 25,
      "member": {
        "shape": "BatchGetSchemaError"
      },
      "min": 0,
      "type": "list"
    },
    "BatchGetSchemaInput": {
      "members": {
        "collaborationIdentifier": {
          "location": "uri",
          "locationName": "collaborationIdentifier",
          "shape": "CollaborationIdentifier"
        },
        "names": {
          "shape": "TableAliasList"
        }
      },
      "required": [
        "collaborationIdentifier",
        "names"
      ],
      "type": "structure"
    },
    "BatchGetSchemaOutput": {
      "members": {
        "errors": {
          "shape": "BatchGetSchemaErrorList"
        },
        "schemas": {
          "shape": "SchemaList"
        }
      },
      "required": [
        "schemas",
        "errors"
      ],
      "type": "structure"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "CleanroomsArn": {
      "max": 100,
      "min": 0,
      "pattern": "arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:[\\d\\w/-]+",
      "type": "string"
    },
    "Collaboration": {
      "members": {
        "arn": {
          "shape": "CollaborationArn"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "creatorAccountId": {
          "shape": "AccountId"
        },
        "creatorDisplayName": {
          "shape": "DisplayName"
        },
        "dataEncryptionMetadata": {
          "shape": "DataEncryptionMetadata"
        },
        "description": {
          "shape": "CollaborationDescription"
        },
        "id": {
          "shape": "UUID"
        },
        "memberStatus": {
          "shape": "MemberStatus"
        },
        "membershipArn": {
          "shape": "MembershipArn"
        },
        "membershipId": {
          "shape": "UUID"
        },
        "name": {
          "shape": "CollaborationName"
        },
        "queryLogStatus": {
          "shape": "CollaborationQueryLogStatus"
        },
        "updateTime": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "id",
        "arn",
        "name",
        "creatorAccountId",
        "creatorDisplayName",
        "createTime",
        "updateTime",
        "memberStatus",
        "queryLogStatus"
      ],
      "type": "structure"
    },
    "CollaborationAnalysisTemplate": {
      "members": {
        "analysisParameters": {
          "shape": "AnalysisParameterList"
        },
        "arn": {
          "shape": "AnalysisTemplateArn"
        },
        "collaborationArn": {
          "shape": "CollaborationArn"
        },
        "collaborationId": {
          "shape": "UUID"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "creatorAccountId": {
          "shape": "AccountId"
        },
        "description": {
          "shape": "ResourceDescription"
        },
        "format": {
          "shape": "AnalysisFormat"
        },
        "id": {
          "shape": "AnalysisTemplateIdentifier"
        },
        "name": {
          "shape": "ResourceAlias"
        },
        "schema": {
          "shape": "AnalysisSchema"
        },
        "source": {
          "shape": "AnalysisSource"
        },
        "updateTime": {
          "shape": "Timestamp"
        },
        "validations": {
          "shape": "AnalysisTemplateValidationStatusDetailList"
        }
      },
      "required": [
        "id",
        "arn",
        "collaborationId",
        "collaborationArn",
        "creatorAccountId",
        "name",
        "createTime",
        "updateTime",
        "schema",
        "format",
        "source"
      ],
      "type": "structure"
    },
    "CollaborationAnalysisTemplateList": {
      "max": 10,
      "member": {
        "shape": "CollaborationAnalysisTemplate"
      },
      "min": 0,
      "type": "list"
    },
    "CollaborationAnalysisTemplateSummary": {
      "members": {
        "arn": {
          "shape": "AnalysisTemplateArn"
        },
        "collaborationArn": {
          "shape": "CollaborationArn"
        },
        "collaborationId": {
          "shape": "UUID"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "creatorAccountId": {
          "shape": "AccountId"
        },
        "description": {
          "shape": "ResourceDescription"
        },
        "id": {
          "shape": "AnalysisTemplateIdentifier"
        },
        "name": {
          "shape": "ResourceAlias"
        },
        "updateTime": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "arn",
        "createTime",
        "id",
        "name",
        "updateTime",
        "collaborationArn",
        "collaborationId",
        "creatorAccountId"
      ],
      "type": "structure"
    },
    "CollaborationAnalysisTemplateSummaryList": {
      "member": {
        "shape": "CollaborationAnalysisTemplateSummary"
      },
      "type": "list"
    },
    "CollaborationArn": {
      "max": 100,
      "min": 0,
      "pattern": "arn:aws:[\\w]+:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:collaboration/[\\d\\w-]+",
      "type": "string"
    },
    "CollaborationConfiguredAudienceModelAssociation": {
      "members": {
        "arn": {
          "shape": "ConfiguredAudienceModelAssociationArn"
        },
        "collaborationArn": {
          "shape": "CollaborationArn"
        },
        "collaborationId": {
          "shape": "UUID"
        },
        "configuredAudienceModelArn": {
          "shape": "ConfiguredAudienceModelArn"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "creatorAccountId": {
          "shape": "AccountId"
        },
        "description": {
          "shape": "ResourceDescription"
        },
        "id": {
          "shape": "ConfiguredAudienceModelAssociationIdentifier"
        },
        "name": {
          "shape": "ConfiguredAudienceModelAssociationName"
        },
        "updateTime": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "id",
        "arn",
        "collaborationId",
        "collaborationArn",
        "configuredAudienceModelArn",
        "name",
        "creatorAccountId",
        "createTime",
        "updateTime"
      ],
      "type": "structure"
    },
    "CollaborationConfiguredAudienceModelAssociationSummary": {
      "members": {
        "arn": {
          "shape": "ConfiguredAudienceModelAssociationArn"
        },
        "collaborationArn": {
          "shape": "CollaborationArn"
        },
        "collaborationId": {
          "shape": "UUID"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "creatorAccountId": {
          "shape": "AccountId"
        },
        "description": {
          "shape": "ResourceDescription"
        },
        "id": {
          "shape": "ConfiguredAudienceModelAssociationIdentifier"
        },
        "name": {
          "shape": "ConfiguredAudienceModelAssociationName"
        },
        "updateTime": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "arn",
        "createTime",
        "id",
        "name",
        "updateTime",
        "collaborationArn",
        "collaborationId",
        "creatorAccountId"
      ],
      "type": "structure"
    },
    "CollaborationConfiguredAudienceModelAssociationSummaryList": {
      "member": {
        "shape": "CollaborationConfiguredAudienceModelAssociationSummary"
      },
      "type": "list"
    },
    "CollaborationDescription": {
      "max": 255,
      "min": 1,
      "pattern": "(?!\\s*$)[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDBFF-\\uDC00\\uDFFF\\t\\r\\n]*",
      "type": "string"
    },
    "CollaborationIdNamespaceAssociationSummary": {
      "members": {
        "arn": {
          "shape": "IdNamespaceAssociationArn"
        },
        "collaborationArn": {
          "shape": "CollaborationArn"
        },
        "collaborationId": {
          "shape": "UUID"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "creatorAccountId": {
          "shape": "AccountId"
        },
        "description": {
          "shape": "ResourceDescription"
        },
        "id": {
          "shape": "IdNamespaceAssociationIdentifier"
        },
        "inputReferenceConfig": {
          "shape": "IdNamespaceAssociationInputReferenceConfig"
        },
        "inputReferenceProperties": {
          "shape": "IdNamespaceAssociationInputReferencePropertiesSummary"
        },
        "name": {
          "shape": "GenericResourceName"
        },
        "updateTime": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "arn",
        "createTime",
        "id",
        "updateTime",
        "collaborationArn",
        "collaborationId",
        "creatorAccountId",
        "inputReferenceConfig",
        "name",
        "inputReferenceProperties"
      ],
      "type": "structure"
    },
    "CollaborationIdNamespaceAssociationSummaryList": {
      "member": {
        "shape": "CollaborationIdNamespaceAssociationSummary"
      },
      "type": "list"
    },
    "CollaborationIdentifier": {
      "max": 36,
      "min": 36,
      "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
      "type": "string"
    },
    "CollaborationName": {
      "max": 100,
      "min": 1,
      "pattern": "(?!\\s*$)[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDBFF-\\uDC00\\uDFFF\\t]*",
      "type": "string"
    },
    "CollaborationPrivacyBudgetSummary": {
      "members": {
        "budget": {
          "shape": "PrivacyBudget"
        },
        "collaborationArn": {
          "shape": "CollaborationArn"
        },
        "collaborationId": {
          "shape": "UUID"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "creatorAccountId": {
          "shape": "AccountId"
        },
        "id": {
          "shape": "UUID"
        },
        "privacyBudgetTemplateArn": {
          "shape": "PrivacyBudgetTemplateArn"
        },
        "privacyBudgetTemplateId": {
          "shape": "PrivacyBudgetTemplateIdentifier"
        },
        "type": {
          "shape": "PrivacyBudgetType"
        },
        "updateTime": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "id",
        "privacyBudgetTemplateId",
        "privacyBudgetTemplateArn",
        "collaborationId",
        "collaborationArn",
        "creatorAccountId",
        "type",
        "createTime",
        "updateTime",
        "budget"
      ],
      "type": "structure"
    },
    "CollaborationPrivacyBudgetSummaryList": {
      "member": {
        "shape": "CollaborationPrivacyBudgetSummary"
      },
      "type": "list"
    },
    "CollaborationPrivacyBudgetTemplate": {
      "members": {
        "arn": {
          "shape": "PrivacyBudgetTemplateArn"
        },
        "autoRefresh": {
          "shape": "PrivacyBudgetTemplateAutoRefresh"
        },
        "collaborationArn": {
          "shape": "CollaborationArn"
        },
        "collaborationId": {
          "shape": "UUID"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "creatorAccountId": {
          "shape": "AccountId"
        },
        "id": {
          "shape": "PrivacyBudgetTemplateIdentifier"
        },
        "parameters": {
          "shape": "PrivacyBudgetTemplateParametersOutput"
        },
        "privacyBudgetType": {
          "shape": "PrivacyBudgetType"
        },
        "updateTime": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "id",
        "arn",
        "collaborationId",
        "collaborationArn",
        "creatorAccountId",
        "createTime",
        "updateTime",
        "privacyBudgetType",
        "autoRefresh",
        "parameters"
      ],
      "type": "structure"
    },
    "CollaborationPrivacyBudgetTemplateSummary": {
      "members": {
        "arn": {
          "shape": "PrivacyBudgetTemplateArn"
        },
        "collaborationArn": {
          "shape": "CollaborationArn"
        },
        "collaborationId": {
          "shape": "UUID"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "creatorAccountId": {
          "shape": "AccountId"
        },
        "id": {
          "shape": "PrivacyBudgetTemplateIdentifier"
        },
        "privacyBudgetType": {
          "shape": "PrivacyBudgetType"
        },
        "updateTime": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "id",
        "arn",
        "collaborationId",
        "collaborationArn",
        "creatorAccountId",
        "privacyBudgetType",
        "createTime",
        "updateTime"
      ],
      "type": "structure"
    },
    "CollaborationPrivacyBudgetTemplateSummaryList": {
      "member": {
        "shape": "CollaborationPrivacyBudgetTemplateSummary"
      },
      "type": "list"
    },
    "CollaborationQueryLogStatus": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "CollaborationSummary": {
      "members": {
        "arn": {
          "shape": "CollaborationArn"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "creatorAccountId": {
          "shape": "AccountId"
        },
        "creatorDisplayName": {
          "shape": "DisplayName"
        },
        "id": {
          "shape": "UUID"
        },
        "memberStatus": {
          "shape": "MemberStatus"
        },
        "membershipArn": {
          "shape": "MembershipArn"
        },
        "membershipId": {
          "shape": "UUID"
        },
        "name": {
          "shape": "CollaborationName"
        },
        "updateTime": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "id",
        "arn",
        "name",
        "creatorAccountId",
        "creatorDisplayName",
        "createTime",
        "updateTime",
        "memberStatus"
      ],
      "type": "structure"
    },
    "CollaborationSummaryList": {
      "member": {
        "shape": "CollaborationSummary"
      },
      "type": "list"
    },
    "Column": {
      "members": {
        "name": {
          "shape": "ColumnName"
        },
        "type": {
          "shape": "ColumnTypeString"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "structure"
    },
    "ColumnList": {
      "member": {
        "shape": "Column"
      },
      "type": "list"
    },
    "ColumnName": {
      "max": 128,
      "min": 0,
      "pattern": "[a-z0-9_](([a-z0-9_ ]+-)*([a-z0-9_ ]+))?",
      "type": "string"
    },
    "ColumnTypeString": {
      "max": 255,
      "min": 0,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDBFF-\\uDC00\\uDFFF\\t]*",
      "type": "string"
    },
    "ConfigurationDetails": {
      "members": {
        "directAnalysisConfigurationDetails": {
          "shape": "DirectAnalysisConfigurationDetails"
        }
      },
      "type": "structure",
      "union": true
    },
    "ConfiguredAudienceModelArn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:configured-audience-model/[-a-zA-Z0-9_/.]+",
      "type": "string"
    },
    "ConfiguredAudienceModelAssociation": {
      "members": {
        "arn": {
          "shape": "ConfiguredAudienceModelAssociationArn"
        },
        "collaborationArn": {
          "shape": "CollaborationArn"
        },
        "collaborationId": {
          "shape": "UUID"
        },
        "configuredAudienceModelArn": {
          "shape": "ConfiguredAudienceModelArn"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "description": {
          "shape": "ResourceDescription"
        },
        "id": {
          "shape": "ConfiguredAudienceModelAssociationIdentifier"
        },
        "manageResourcePolicies": {
          "shape": "Boolean"
        },
        "membershipArn": {
          "shape": "MembershipArn"
        },
        "membershipId": {
          "shape": "UUID"
        },
        "name": {
          "shape": "ConfiguredAudienceModelAssociationName"
        },
        "updateTime": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "id",
        "arn",
        "configuredAudienceModelArn",
        "membershipId",
        "membershipArn",
        "collaborationId",
        "collaborationArn",
        "name",
        "manageResourcePolicies",
        "createTime",
        "updateTime"
      ],
      "type": "structure"
    },
    "ConfiguredAudienceModelAssociationArn": {
      "max": 256,
      "min": 0,
      "pattern": "arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:membership/[\\d\\w-]+/configuredaudiencemodelassociation/[\\d\\w-]+",
      "type": "string"
    },
    "ConfiguredAudienceModelAssociationIdentifier": {
      "max": 36,
      "min": 36,
      "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
      "type": "string"
    },
    "ConfiguredAudienceModelAssociationName": {
      "max": 100,
      "min": 1,
      "pattern": "(?!\\s*$)[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDBFF-\\uDC00\\uDFFF\\t]*",
      "type": "string"
    },
    "ConfiguredAudienceModelAssociationSummary": {
      "members": {
        "arn": {
          "shape": "ConfiguredAudienceModelAssociationArn"
        },
        "collaborationArn": {
          "shape": "CollaborationArn"
        },
        "collaborationId": {
          "shape": "UUID"
        },
        "configuredAudienceModelArn": {
          "shape": "ConfiguredAudienceModelArn"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "description": {
          "shape": "ResourceDescription"
        },
        "id": {
          "shape": "UUID"
        },
        "membershipArn": {
          "shape": "MembershipArn"
        },
        "membershipId": {
          "shape": "MembershipIdentifier"
        },
        "name": {
          "shape": "ConfiguredAudienceModelAssociationName"
        },
        "updateTime": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "membershipId",
        "membershipArn",
        "collaborationArn",
        "collaborationId",
        "createTime",
        "updateTime",
        "id",
        "arn",
        "name",
        "configuredAudienceModelArn"
      ],
      "type": "structure"
    },
    "ConfiguredAudienceModelAssociationSummaryList": {
      "member": {
        "shape": "ConfiguredAudienceModelAssociationSummary"
      },
      "type": "list"
    },
    "ConfiguredTable": {
      "members": {
        "allowedColumns": {
          "shape": "AllowedColumnList"
        },
        "analysisMethod": {
          "shape": "AnalysisMethod"
        },
        "analysisRuleTypes": {
          "shape": "ConfiguredTableAnalysisRuleTypeList"
        },
        "arn": {
          "shape": "ConfiguredTableArn"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "description": {
          "shape": "TableDescription"
        },
        "id": {
          "shape": "UUID"
        },
        "name": {
          "shape": "DisplayName"
        },
        "tableReference": {
          "shape": "TableReference"
        },
        "updateTime": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "id",
        "arn",
        "name",
        "tableReference",
        "createTime",
        "updateTime",
        "analysisRuleTypes",
        "analysisMethod",
        "allowedColumns"
      ],
      "type": "structure"
    },
    "ConfiguredTableAnalysisRule": {
      "members": {
        "configuredTableArn": {
          "shape": "ConfiguredTableArn"
        },
        "configuredTableId": {
          "shape": "UUID"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "policy": {
          "shape": "ConfiguredTableAnalysisRulePolicy"
        },
        "type": {
          "shape": "ConfiguredTableAnalysisRuleType"
        },
        "updateTime": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "configuredTableId",
        "configuredTableArn",
        "policy",
        "type",
        "createTime",
        "updateTime"
      ],
      "type": "structure"
    },
    "ConfiguredTableAnalysisRulePolicy": {
      "members": {
        "v1": {
          "shape": "ConfiguredTableAnalysisRulePolicyV1"
        }
      },
      "type": "structure",
      "union": true
    },
    "ConfiguredTableAnalysisRulePolicyV1": {
      "members": {
        "aggregation": {
          "shape": "AnalysisRuleAggregation"
        },
        "custom": {
          "shape": "AnalysisRuleCustom"
        },
        "list": {
          "shape": "AnalysisRuleList"
        }
      },
      "type": "structure",
      "union": true
    },
    "ConfiguredTableAnalysisRuleType": {
      "enum": [
        "AGGREGATION",
        "LIST",
        "CUSTOM"
      ],
      "type": "string"
    },
    "ConfiguredTableAnalysisRuleTypeList": {
      "member": {
        "shape": "ConfiguredTableAnalysisRuleType"
      },
      "type": "list"
    },
    "ConfiguredTableArn": {
      "max": 100,
      "min": 0,
      "pattern": "arn:aws:[\\w]+:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:configuredtable/[\\d\\w-]+",
      "type": "string"
    },
    "ConfiguredTableAssociation": {
      "members": {
        "analysisRuleTypes": {
          "shape": "ConfiguredTableAssociationAnalysisRuleTypeList"
        },
        "arn": {
          "shape": "ConfiguredTableAssociationArn"
        },
        "configuredTableArn": {
          "shape": "ConfiguredTableArn"
        },
        "configuredTableId": {
          "shape": "UUID"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "description": {
          "shape": "TableDescription"
        },
        "id": {
          "shape": "UUID"
        },
        "membershipArn": {
          "shape": "MembershipArn"
        },
        "membershipId": {
          "shape": "UUID"
        },
        "name": {
          "shape": "TableAlias"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "updateTime": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "arn",
        "id",
        "configuredTableId",
        "configuredTableArn",
        "membershipId",
        "membershipArn",
        "roleArn",
        "name",
        "createTime",
        "updateTime"
      ],
      "type": "structure"
    },
    "ConfiguredTableAssociationAnalysisRule": {
      "members": {
        "configuredTableAssociationArn": {
          "shape": "ConfiguredTableAssociationArn"
        },
        "configuredTableAssociationId": {
          "shape": "ConfiguredTableAssociationIdentifier"
        },
        "createTime": {
          "shape": "Timestamp"
        },
        "membershipIdentifier": {
          "shape": "MembershipIdentifier"
        },
        "policy": {
          "shape": "ConfiguredTableAssociationAnalysisRulePolicy"
        },
        "type": {
[...]
