{
  "metadata": {
    "apiVersion": "2023-07-26",
    "endpointPrefix": "bedrock-agent-runtime",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Agents for Amazon Bedrock Runtime",
    "serviceId": "Bedrock Agent Runtime",
    "signatureVersion": "v4",
    "signingName": "bedrock",
    "uid": "bedrock-agent-runtime-2023-07-26"
  },
  "operations": {
    "InvokeAgent": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "DependencyFailedException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/agents/{agentId}/agentAliases/{agentAliasId}/sessions/{sessionId}/text",
        "responseCode": 200
      },
      "input": {
        "shape": "InvokeAgentRequest"
      },
      "name": "InvokeAgent",
      "output": {
        "shape": "InvokeAgentResponse"
      }
    },
    "Retrieve": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "DependencyFailedException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/knowledgebases/{knowledgeBaseId}/retrieve",
        "responseCode": 200
      },
      "input": {
        "shape": "RetrieveRequest"
      },
      "name": "Retrieve",
      "output": {
        "shape": "RetrieveResponse"
      }
    },
    "RetrieveAndGenerate": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "DependencyFailedException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/retrieveAndGenerate",
        "responseCode": 200
      },
      "input": {
        "shape": "RetrieveAndGenerateRequest"
      },
      "name": "RetrieveAndGenerate",
      "output": {
        "shape": "RetrieveAndGenerateResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "ActionGroupInvocationInput": {
      "members": {
        "actionGroupName": {
          "shape": "ActionGroupName"
        },
        "apiPath": {
          "shape": "ApiPath"
        },
        "parameters": {
          "shape": "Parameters"
        },
        "requestBody": {
          "shape": "RequestBody"
        },
        "verb": {
          "shape": "Verb"
        }
      },
      "type": "structure"
    },
    "ActionGroupInvocationOutput": {
      "members": {
        "text": {
          "shape": "ActionGroupOutputString"
        }
      },
      "type": "structure"
    },
    "ActionGroupName": {
      "sensitive": true,
      "type": "string"
    },
    "ActionGroupOutputString": {
      "sensitive": true,
      "type": "string"
    },
    "AgentAliasId": {
      "max": 10,
      "min": 0,
      "pattern": "^[0-9a-zA-Z]+$",
      "type": "string"
    },
    "AgentId": {
      "max": 10,
      "min": 0,
      "pattern": "^[0-9a-zA-Z]+$",
      "type": "string"
    },
    "ApiPath": {
      "sensitive": true,
      "type": "string"
    },
    "Attribution": {
      "members": {
        "citations": {
          "shape": "Citations"
        }
      },
      "type": "structure"
    },
    "BadGatewayException": {
      "error": {
        "httpStatusCode": 502
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        },
        "resourceName": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "BedrockModelArn": {
      "max": 1011,
      "min": 20,
      "pattern": "^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12})|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}))$",
      "type": "string"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "Citation": {
      "members": {
        "generatedResponsePart": {
          "shape": "GeneratedResponsePart"
        },
        "retrievedReferences": {
          "shape": "RetrievedReferences"
        }
      },
      "type": "structure"
    },
    "Citations": {
      "member": {
        "shape": "Citation"
      },
      "type": "list"
    },
    "ConflictException": {
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "ContentMap": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "Parameters"
      }
    },
    "CreationMode": {
      "enum": [
        "DEFAULT",
        "OVERRIDDEN"
      ],
      "type": "string"
    },
    "DependencyFailedException": {
      "error": {
        "httpStatusCode": 424,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        },
        "resourceName": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "Double": {
      "box": true,
      "type": "double"
    },
    "FailureReasonString": {
      "sensitive": true,
      "type": "string"
    },
    "FailureTrace": {
      "members": {
        "failureReason": {
          "shape": "FailureReasonString"
        },
        "traceId": {
          "shape": "TraceId"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "FilterKey": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "FinalResponse": {
      "members": {
        "text": {
          "shape": "FinalResponseString"
        }
      },
      "type": "structure"
    },
    "FinalResponseString": {
      "sensitive": true,
      "type": "string"
    },
    "GeneratedResponsePart": {
      "members": {
        "textResponsePart": {
          "shape": "TextResponsePart"
        }
      },
      "type": "structure"
    },
    "GenerationConfiguration": {
      "members": {
        "promptTemplate": {
          "shape": "PromptTemplate"
        }
      },
      "type": "structure"
    },
    "InferenceConfiguration": {
      "members": {
        "maximumLength": {
          "shape": "MaximumLength"
        },
        "stopSequences": {
          "shape": "StopSequences"
        },
        "temperature": {
          "shape": "Temperature"
        },
        "topK": {
          "shape": "TopK"
        },
        "topP": {
          "shape": "TopP"
        }
      },
      "type": "structure"
    },
    "InputText": {
      "max": 25000000,
      "min": 0,
      "sensitive": true,
      "type": "string"
    },
    "InternalServerException": {
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "InvocationInput": {
      "members": {
        "actionGroupInvocationInput": {
          "shape": "ActionGroupInvocationInput"
        },
        "invocationType": {
          "shape": "InvocationType"
        },
        "knowledgeBaseLookupInput": {
          "shape": "KnowledgeBaseLookupInput"
        },
        "traceId": {
          "shape": "TraceId"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "InvocationType": {
      "enum": [
        "ACTION_GROUP",
        "KNOWLEDGE_BASE",
        "FINISH"
      ],
      "type": "string"
    },
    "InvokeAgentRequest": {
      "members": {
        "agentAliasId": {
          "location": "uri",
          "locationName": "agentAliasId",
          "shape": "AgentAliasId"
        },
        "agentId": {
          "location": "uri",
          "locationName": "agentId",
          "shape": "AgentId"
        },
        "enableTrace": {
          "shape": "Boolean"
        },
        "endSession": {
          "shape": "Boolean"
        },
        "inputText": {
          "shape": "InputText"
        },
        "sessionId": {
          "location": "uri",
          "locationName": "sessionId",
          "shape": "SessionId"
        },
        "sessionState": {
          "shape": "SessionState"
        }
      },
      "required": [
        "agentAliasId",
        "agentId",
        "inputText",
        "sessionId"
      ],
      "type": "structure"
    },
    "InvokeAgentResponse": {
      "members": {
        "completion": {
          "shape": "ResponseStream"
        },
        "contentType": {
          "location": "header",
          "locationName": "x-amzn-bedrock-agent-content-type",
          "shape": "MimeType"
        },
        "sessionId": {
          "location": "header",
          "locationName": "x-amz-bedrock-agent-session-id",
          "shape": "SessionId"
        }
      },
      "payload": "completion",
      "required": [
        "completion",
        "contentType",
        "sessionId"
      ],
      "type": "structure"
    },
    "KmsKeyArn": {
      "max": 2048,
      "min": 1,
      "pattern": "^arn:aws(|-cn|-us-gov):kms:[a-zA-Z0-9-]*:[0-9]{12}:key/[a-zA-Z0-9-]{36}$",
      "type": "string"
    },
    "KnowledgeBaseId": {
      "max": 10,
      "min": 0,
      "pattern": "^[0-9a-zA-Z]+$",
      "type": "string"
    },
    "KnowledgeBaseLookupInput": {
      "members": {
        "knowledgeBaseId": {
          "shape": "TraceKnowledgeBaseId"
        },
        "text": {
          "shape": "KnowledgeBaseLookupInputString"
        }
      },
      "type": "structure"
    },
    "KnowledgeBaseLookupInputString": {
      "sensitive": true,
      "type": "string"
    },
    "KnowledgeBaseLookupOutput": {
      "members": {
        "retrievedReferences": {
          "shape": "RetrievedReferences"
        }
      },
      "type": "structure"
    },
    "KnowledgeBaseQuery": {
      "members": {
        "text": {
          "shape": "KnowledgeBaseQueryTextString"
        }
      },
      "required": [
        "text"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "KnowledgeBaseQueryTextString": {
      "max": 1000,
      "min": 0,
      "type": "string"
    },
    "KnowledgeBaseRetrievalConfiguration": {
      "members": {
        "vectorSearchConfiguration": {
          "shape": "KnowledgeBaseVectorSearchConfiguration"
        }
      },
      "required": [
        "vectorSearchConfiguration"
      ],
      "type": "structure"
    },
    "KnowledgeBaseRetrievalResult": {
      "members": {
        "content": {
          "shape": "RetrievalResultContent"
        },
        "location": {
          "shape": "RetrievalResultLocation"
        },
        "score": {
          "shape": "Double"
        }
      },
      "required": [
        "content"
      ],
      "type": "structure"
    },
    "KnowledgeBaseRetrievalResults": {
      "member": {
        "shape": "KnowledgeBaseRetrievalResult"
      },
      "sensitive": true,
      "type": "list"
    },
    "KnowledgeBaseRetrieveAndGenerateConfiguration": {
      "members": {
        "generationConfiguration": {
          "shape": "GenerationConfiguration"
        },
        "knowledgeBaseId": {
          "shape": "KnowledgeBaseId"
        },
        "modelArn": {
          "shape": "BedrockModelArn"
        },
        "retrievalConfiguration": {
          "shape": "KnowledgeBaseRetrievalConfiguration"
        }
      },
      "required": [
        "knowledgeBaseId",
        "modelArn"
      ],
      "type": "structure"
    },
    "KnowledgeBaseVectorSearchConfiguration": {
      "members": {
        "filter": {
          "shape": "RetrievalFilter"
        },
        "numberOfResults": {
          "box": true,
          "shape": "KnowledgeBaseVectorSearchConfigurationNumberOfResultsInteger"
        },
        "overrideSearchType": {
          "shape": "SearchType"
        }
      },
      "type": "structure"
    },
    "KnowledgeBaseVectorSearchConfigurationNumberOfResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "LambdaArn": {
      "type": "string"
    },
    "MaximumLength": {
      "box": true,
      "max": 4096,
      "min": 0,
      "type": "integer"
    },
    "MimeType": {
      "type": "string"
    },
    "ModelInvocationInput": {
      "members": {
        "inferenceConfiguration": {
          "shape": "InferenceConfiguration"
        },
        "overrideLambda": {
          "shape": "LambdaArn"
        },
        "parserMode": {
          "shape": "CreationMode"
        },
        "promptCreationMode": {
          "shape": "CreationMode"
        },
        "text": {
          "shape": "PromptText"
        },
        "traceId": {
          "shape": "TraceId"
        },
        "type": {
          "shape": "PromptType"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "NextToken": {
      "max": 2048,
      "min": 1,
      "pattern": "^\\S*$",
      "type": "string"
    },
    "NonBlankString": {
      "pattern": "^[\\s\\S]*$",
      "type": "string"
    },
    "Observation": {
      "members": {
        "actionGroupInvocationOutput": {
          "shape": "ActionGroupInvocationOutput"
        },
        "finalResponse": {
          "shape": "FinalResponse"
        },
        "knowledgeBaseLookupOutput": {
          "shape": "KnowledgeBaseLookupOutput"
        },
        "repromptResponse": {
          "shape": "RepromptResponse"
        },
        "traceId": {
          "shape": "TraceId"
        },
        "type": {
          "shape": "Type"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "OrchestrationTrace": {
      "members": {
        "invocationInput": {
          "shape": "InvocationInput"
        },
        "modelInvocationInput": {
          "shape": "ModelInvocationInput"
        },
        "observation": {
          "shape": "Observation"
        },
        "rationale": {
          "shape": "Rationale"
        }
      },
      "sensitive": true,
      "type": "structure",
      "union": true
    },
    "OutputString": {
      "sensitive": true,
      "type": "string"
    },
    "Parameter": {
      "members": {
        "name": {
          "shape": "String"
        },
        "type": {
          "shape": "String"
        },
        "value": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Parameters": {
      "member": {
        "shape": "Parameter"
      },
      "type": "list"
    },
    "PartBody": {
      "max": 1000000,
      "min": 0,
      "sensitive": true,
      "type": "blob"
    },
    "PayloadPart": {
      "event": true,
      "members": {
        "attribution": {
          "shape": "Attribution"
        },
        "bytes": {
          "shape": "PartBody"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "PostProcessingModelInvocationOutput": {
      "members": {
        "parsedResponse": {
          "shape": "PostProcessingParsedResponse"
        },
        "traceId": {
          "shape": "TraceId"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "PostProcessingParsedResponse": {
      "members": {
        "text": {
          "shape": "OutputString"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "PostProcessingTrace": {
      "members": {
        "modelInvocationInput": {
          "shape": "ModelInvocationInput"
        },
        "modelInvocationOutput": {
          "shape": "PostProcessingModelInvocationOutput"
        }
      },
      "sensitive": true,
      "type": "structure",
      "union": true
    },
    "PreProcessingModelInvocationOutput": {
      "members": {
        "parsedResponse": {
          "shape": "PreProcessingParsedResponse"
        },
        "traceId": {
          "shape": "TraceId"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "PreProcessingParsedResponse": {
      "members": {
        "isValid": {
          "shape": "Boolean"
        },
        "rationale": {
          "shape": "RationaleString"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "PreProcessingTrace": {
      "members": {
        "modelInvocationInput": {
          "shape": "ModelInvocationInput"
        },
        "modelInvocationOutput": {
          "shape": "PreProcessingModelInvocationOutput"
        }
      },
      "sensitive": true,
      "type": "structure",
      "union": true
    },
    "PromptSessionAttributesMap": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "PromptTemplate": {
      "members": {
        "textPromptTemplate": {
          "shape": "TextPromptTemplate"
        }
      },
      "type": "structure"
    },
    "PromptText": {
      "sensitive": true,
      "type": "string"
    },
    "PromptType": {
      "enum": [
        "PRE_PROCESSING",
        "ORCHESTRATION",
        "KNOWLEDGE_BASE_RESPONSE_GENERATION",
        "POST_PROCESSING"
      ],
      "type": "string"
    },
    "Rationale": {
      "members": {
        "text": {
          "shape": "RationaleString"
        },
        "traceId": {
          "shape": "TraceId"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "RationaleString": {
      "sensitive": true,
      "type": "string"
    },
    "RepromptResponse": {
      "members": {
        "source": {
          "shape": "Source"
        },
        "text": {
          "shape": "String"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "RequestBody": {
      "members": {
        "content": {
          "shape": "ContentMap"
        }
      },
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "error": {
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "ResponseStream": {
      "eventstream": true,
      "members": {
        "accessDeniedException": {
          "shape": "AccessDeniedException"
        },
        "badGatewayException": {
          "shape": "BadGatewayException"
        },
        "chunk": {
          "shape": "PayloadPart"
        },
        "conflictException": {
          "shape": "ConflictException"
        },
        "dependencyFailedException": {
          "shape": "DependencyFailedException"
        },
        "internalServerException": {
          "shape": "InternalServerException"
        },
        "resourceNotFoundException": {
          "shape": "ResourceNotFoundException"
        },
        "serviceQuotaExceededException": {
          "shape": "ServiceQuotaExceededException"
        },
        "throttlingException": {
          "shape": "ThrottlingException"
        },
        "trace": {
          "shape": "TracePart"
        },
        "validationException": {
          "shape": "ValidationException"
        }
      },
      "type": "structure"
    },
    "RetrievalFilter": {
      "members": {
        "andAll": {
          "shape": "RetrievalFilterList"
        },
        "orAll": {
          "shape": "RetrievalFilterList"
        }
      },
      "sensitive": true,
      "type": "structure",
      "union": true
    },
    "RetrievalFilterList": {
      "max": 5,
      "member": {
        "shape": "RetrievalFilter"
      },
      "min": 2,
      "type": "list"
    },
    "RetrievalResultContent": {
      "members": {
        "text": {
          "shape": "String"
        }
      },
      "required": [
        "text"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "RetrievalResultLocation": {
      "members": {
        "s3Location": {
          "shape": "RetrievalResultS3Location"
        },
        "type": {
          "shape": "RetrievalResultLocationType"
        }
      },
      "required": [
        "type"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "RetrievalResultLocationType": {
      "enum": [
        "S3"
      ],
      "type": "string"
    },
    "RetrievalResultMetadataKey": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "RetrievalResultS3Location": {
      "members": {
        "uri": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "RetrieveAndGenerateConfiguration": {
      "members": {
        "knowledgeBaseConfiguration": {
          "shape": "KnowledgeBaseRetrieveAndGenerateConfiguration"
        },
        "type": {
          "shape": "RetrieveAndGenerateType"
        }
      },
      "required": [
        "type"
      ],
      "type": "structure"
    },
    "RetrieveAndGenerateInput": {
      "members": {
        "text": {
          "shape": "RetrieveAndGenerateInputTextString"
        }
      },
      "required": [
        "text"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "RetrieveAndGenerateInputTextString": {
      "max": 1000,
      "min": 0,
      "type": "string"
    },
    "RetrieveAndGenerateOutput": {
      "members": {
        "text": {
          "shape": "String"
        }
      },
      "required": [
        "text"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "RetrieveAndGenerateRequest": {
      "members": {
        "input": {
          "shape": "RetrieveAndGenerateInput"
        },
        "retrieveAndGenerateConfiguration": {
          "shape": "RetrieveAndGenerateConfiguration"
        },
        "sessionConfiguration": {
          "shape": "RetrieveAndGenerateSessionConfiguration"
        },
        "sessionId": {
          "shape": "SessionId"
        }
      },
      "required": [
        "input"
      ],
      "type": "structure"
    },
    "RetrieveAndGenerateResponse": {
      "members": {
        "citations": {
          "shape": "Citations"
        },
        "output": {
          "shape": "RetrieveAndGenerateOutput"
        },
        "sessionId": {
          "shape": "SessionId"
        }
      },
      "required": [
        "output",
        "sessionId"
      ],
      "type": "structure"
    },
    "RetrieveAndGenerateSessionConfiguration": {
      "members": {
        "kmsKeyArn": {
          "shape": "KmsKeyArn"
        }
      },
      "required": [
        "kmsKeyArn"
      ],
      "type": "structure"
    },
    "RetrieveAndGenerateType": {
      "enum": [
        "KNOWLEDGE_BASE"
      ],
      "type": "string"
    },
    "RetrieveRequest": {
      "members": {
        "knowledgeBaseId": {
          "location": "uri",
          "locationName": "knowledgeBaseId",
          "shape": "KnowledgeBaseId"
        },
        "nextToken": {
          "shape": "NextToken"
        },
        "retrievalConfiguration": {
          "shape": "KnowledgeBaseRetrievalConfiguration"
        },
        "retrievalQuery": {
          "shape": "KnowledgeBaseQuery"
        }
      },
      "required": [
        "knowledgeBaseId",
        "retrievalQuery"
      ],
      "type": "structure"
    },
    "RetrieveResponse": {
      "members": {
        "nextToken": {
          "shape": "NextToken"
        },
        "retrievalResults": {
          "shape": "KnowledgeBaseRetrievalResults"
        }
      },
      "required": [
        "retrievalResults"
      ],
      "type": "structure"
    },
    "RetrievedReference": {
      "members": {
        "content": {
          "shape": "RetrievalResultContent"
        },
        "location": {
          "shape": "RetrievalResultLocation"
        }
      },
      "type": "structure"
    },
    "RetrievedReferences": {
      "member": {
        "shape": "RetrievedReference"
      },
      "type": "list"
    },
    "SearchType": {
      "enum": [
        "HYBRID",
        "SEMANTIC"
      ],
      "type": "string"
    },
    "ServiceQuotaExceededException": {
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "SessionAttributesMap": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "SessionId": {
      "max": 100,
      "min": 2,
      "pattern": "^[0-9a-zA-Z._:-]+$",
      "type": "string"
    },
    "SessionState": {
      "members": {
        "promptSessionAttributes": {
          "shape": "PromptSessionAttributesMap"
        },
        "sessionAttributes": {
          "shape": "SessionAttributesMap"
        }
      },
      "type": "structure"
    },
    "Source": {
      "enum": [
        "ACTION_GROUP",
        "KNOWLEDGE_BASE",
        "PARSER"
      ],
      "sensitive": true,
      "type": "string"
    },
    "Span": {
      "members": {
        "end": {
          "shape": "SpanEndInteger"
        },
        "start": {
          "shape": "SpanStartInteger"
        }
      },
      "type": "structure"
    },
    "SpanEndInteger": {
      "box": true,
      "min": 0,
      "type": "integer"
    },
    "SpanStartInteger": {
      "box": true,
      "min": 0,
      "type": "integer"
    },
    "StopSequences": {
      "max": 4,
      "member": {
        "shape": "String"
      },
      "min": 0,
      "type": "list"
    },
    "String": {
      "type": "string"
    },
    "Temperature": {
      "box": true,
      "max": 1,
      "min": 0,
      "type": "float"
    },
    "TextPromptTemplate": {
      "max": 4000,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "TextResponsePart": {
      "members": {
        "span": {
          "shape": "Span"
        },
        "text": {
          "shape": "String"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "ThrottlingException": {
      "error": {
        "httpStatusCode": 429,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "TopK": {
      "box": true,
      "max": 500,
      "min": 0,
      "type": "integer"
    },
    "TopP": {
      "box": true,
      "max": 1,
      "min": 0,
      "type": "float"
    },
    "Trace": {
      "members": {
        "failureTrace": {
          "shape": "FailureTrace"
        },
        "orchestrationTrace": {
          "shape": "OrchestrationTrace"
        },
        "postProcessingTrace": {
          "shape": "PostProcessingTrace"
        },
        "preProcessingTrace": {
          "shape": "PreProcessingTrace"
        }
      },
      "sensitive": true,
      "type": "structure",
      "union": true
    },
    "TraceId": {
      "max": 16,
      "min": 2,
      "type": "string"
    },
    "TraceKnowledgeBaseId": {
      "sensitive": true,
      "type": "string"
    },
    "TracePart": {
      "event": true,
      "members": {
        "agentAliasId": {
          "shape": "AgentAliasId"
        },
        "agentId": {
          "shape": "AgentId"
        },
        "sessionId": {
          "shape": "SessionId"
        },
        "trace": {
          "shape": "Trace"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "Type": {
      "enum": [
        "ACTION_GROUP",
        "KNOWLEDGE_BASE",
        "FINISH",
        "ASK_USER",
        "REPROMPT"
      ],
      "type": "string"
    },
    "ValidationException": {
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "Verb": {
      "sensitive": true,
      "type": "string"
    }
  },
  "version": "2.0"
}