{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2011-01-01",
    "endpointPrefix":"autoscaling",
    "serviceFullName":"Auto Scaling",
    "signatureVersion":"v4",
    "xmlNamespace":"http://autoscaling.amazonaws.com/doc/2011-01-01/",
    "protocol":"query"
  },
  "documentation":"<fullname>Auto Scaling</fullname> <p>Auto Scaling is designed to automatically launch or terminate EC2 instances based on user-defined policies, schedules, and health checks. Use this service in conjunction with the Amazon CloudWatch and Elastic Load Balancing services.</p>",
  "operations":{
    "AttachInstances":{
      "name":"AttachInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachInstancesQuery"},
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Attaches one or more EC2 instances to the specified Auto Scaling group.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/attach-instance-asg.html\">Attach EC2 Instances to Your Auto Scaling Group</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "AttachLoadBalancers":{
      "name":"AttachLoadBalancers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachLoadBalancersType"},
      "output":{
        "shape":"AttachLoadBalancersResultType",
        "resultWrapper":"AttachLoadBalancersResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Attaches one or more load balancers to the specified Auto Scaling group.</p> <p>To describe the load balancers for an Auto Scaling group, use <a>DescribeLoadBalancers</a>. To detach the load balancer from the Auto Scaling group, use <a>DetachLoadBalancers</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/attach-load-balancer-asg.html\">Attach a Load Balancer to Your Auto Scaling Group</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "CompleteLifecycleAction":{
      "name":"CompleteLifecycleAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CompleteLifecycleActionType"},
      "output":{
        "shape":"CompleteLifecycleActionAnswer",
        "resultWrapper":"CompleteLifecycleActionResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Completes the lifecycle action for the associated token initiated under the given lifecycle hook with the specified result. </p> <p>This operation is a part of the basic sequence for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li>Create a notification target. A target can be either an Amazon SQS queue or an Amazon SNS topic.</li> <li>Create an IAM role. This role allows Auto Scaling to publish lifecycle notifications to the designated SQS queue or SNS topic.</li> <li>Create the lifecycle hook. You can create a hook that acts when instances launch or when instances terminate.</li> <li>If necessary, record the lifecycle action heartbeat to keep the instance in a pending state.</li> <li> <b>Complete the lifecycle action</b>.</li> </ol> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingPendingState.html\">Auto Scaling Pending State</a> and <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingTerminatingState.html\">Auto Scaling Terminating State</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "CreateAutoScalingGroup":{
      "name":"CreateAutoScalingGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAutoScalingGroupType"},
      "errors":[
        {
          "shape":"AlreadyExistsFault",
          "error":{
            "code":"AlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have an Auto Scaling group or launch configuration with this name.</p>"
        },
        {
          "shape":"LimitExceededFault",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Creates an Auto Scaling group with the specified name and attributes.</p> <p>If you exceed your maximum limit of Auto Scaling groups, which by default is 20 per region, the call fails. For information about viewing and updating these limits, see <a>DescribeAccountLimits</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingGroup.html\">Auto Scaling Groups</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "CreateLaunchConfiguration":{
      "name":"CreateLaunchConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLaunchConfigurationType"},
      "errors":[
        {
          "shape":"AlreadyExistsFault",
          "error":{
            "code":"AlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have an Auto Scaling group or launch configuration with this name.</p>"
        },
        {
          "shape":"LimitExceededFault",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Creates a launch configuration.</p> <p>If you exceed your maximum limit of launch configurations, which by default is 100 per region, the call fails. For information about viewing and updating these limits, see <a>DescribeAccountLimits</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/LaunchConfiguration.html\">Launch Configurations</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "CreateOrUpdateTags":{
      "name":"CreateOrUpdateTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOrUpdateTagsType"},
      "errors":[
        {
          "shape":"LimitExceededFault",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
        },
        {
          "shape":"AlreadyExistsFault",
          "error":{
            "code":"AlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have an Auto Scaling group or launch configuration with this name.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Creates or updates tags for the specified Auto Scaling group.</p> <p>A tag is defined by its resource ID, resource type, key, value, and propagate flag. The value and the propagate flag are optional parameters. The only supported resource type is <code>auto-scaling-group</code>, and the resource ID must be the name of the group. The <code>PropagateAtLaunch</code> flag determines whether the tag is added to instances launched in the group. Valid values are <code>true</code> or <code>false</code>.</p> <p>When you specify a tag with a key that already exists, the operation overwrites the previous tag definition, and you do not get an error message.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/ASTagging.html\">Tagging Auto Scaling Groups and Instances</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "DeleteAutoScalingGroup":{
      "name":"DeleteAutoScalingGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAutoScalingGroupType"},
      "errors":[
        {
          "shape":"ScalingActivityInProgressFault",
          "error":{
            "code":"ScalingActivityInProgress",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The Auto Scaling group can't be deleted because there are scaling activities in progress.</p>"
        },
        {
          "shape":"ResourceInUseFault",
          "error":{
            "code":"ResourceInUse",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The Auto Scaling group or launch configuration can't be deleted because it is in use.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Deletes the specified Auto Scaling group.</p> <p>The group must have no instances and no scaling activities in progress.</p> <p>To remove all instances before calling <code>DeleteAutoScalingGroup</code>, call <a>UpdateAutoScalingGroup</a> to set the minimum and maximum size of the Auto Scaling group to zero.</p>"
    },
    "DeleteLaunchConfiguration":{
      "name":"DeleteLaunchConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"LaunchConfigurationNameType"},
      "errors":[
        {
          "shape":"ResourceInUseFault",
          "error":{
            "code":"ResourceInUse",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The Auto Scaling group or launch configuration can't be deleted because it is in use.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Deletes the specified launch configuration.</p> <p>The launch configuration must not be attached to an Auto Scaling group. When this call completes, the launch configuration is no longer available for use.</p>"
    },
    "DeleteLifecycleHook":{
      "name":"DeleteLifecycleHook",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLifecycleHookType"},
      "output":{
        "shape":"DeleteLifecycleHookAnswer",
        "resultWrapper":"DeleteLifecycleHookResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Deletes the specified lifecycle hook.</p> <p>If there are any outstanding lifecycle actions, they are completed first (<code>ABANDON</code> for launching instances, <code>CONTINUE</code> for terminating instances).</p>"
    },
    "DeleteNotificationConfiguration":{
      "name":"DeleteNotificationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotificationConfigurationType"},
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Deletes the specified notification.</p>"
    },
    "DeletePolicy":{
      "name":"DeletePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeletePolicyType",
        "documentation":"<p></p>"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Deletes the specified Auto Scaling policy.</p>"
    },
    "DeleteScheduledAction":{
      "name":"DeleteScheduledAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteScheduledActionType"},
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Deletes the specified scheduled action.</p>"
    },
    "DeleteTags":{
      "name":"DeleteTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagsType"},
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Deletes the specified tags.</p>"
    },
    "DescribeAccountLimits":{
      "name":"DescribeAccountLimits",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"DescribeAccountLimitsAnswer",
        "resultWrapper":"DescribeAccountLimitsResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes the current Auto Scaling resource limits for your AWS account.</p> <p>For information about requesting an increase in these limits, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html\">AWS Service Limits</a> in the <i>Amazon Web Services General Reference</i>.</p>"
    },
    "DescribeAdjustmentTypes":{
      "name":"DescribeAdjustmentTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"DescribeAdjustmentTypesAnswer",
        "resultWrapper":"DescribeAdjustmentTypesResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes the policy adjustment types for use with <a>PutScalingPolicy</a>.</p>"
    },
    "DescribeAutoScalingGroups":{
      "name":"DescribeAutoScalingGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AutoScalingGroupNamesType"},
      "output":{
        "shape":"AutoScalingGroupsType",
        "resultWrapper":"DescribeAutoScalingGroupsResult"
      },
      "errors":[
        {
          "shape":"InvalidNextToken",
          "error":{
            "code":"InvalidNextToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The <code>NextToken</code> value is not valid.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes one or more Auto Scaling groups. If a list of names is not provided, the call describes all Auto Scaling groups.</p>"
    },
    "DescribeAutoScalingInstances":{
      "name":"DescribeAutoScalingInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAutoScalingInstancesType"},
      "output":{
        "shape":"AutoScalingInstancesType",
        "resultWrapper":"DescribeAutoScalingInstancesResult"
      },
      "errors":[
        {
          "shape":"InvalidNextToken",
          "error":{
            "code":"InvalidNextToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The <code>NextToken</code> value is not valid.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes one or more Auto Scaling instances. If a list is not provided, the call describes all instances.</p>"
    },
    "DescribeAutoScalingNotificationTypes":{
      "name":"DescribeAutoScalingNotificationTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"DescribeAutoScalingNotificationTypesAnswer",
        "resultWrapper":"DescribeAutoScalingNotificationTypesResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes the notification types that are supported by Auto Scaling.</p>"
    },
    "DescribeLaunchConfigurations":{
      "name":"DescribeLaunchConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"LaunchConfigurationNamesType"},
      "output":{
        "shape":"LaunchConfigurationsType",
        "resultWrapper":"DescribeLaunchConfigurationsResult"
      },
      "errors":[
        {
          "shape":"InvalidNextToken",
          "error":{
            "code":"InvalidNextToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The <code>NextToken</code> value is not valid.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes one or more launch configurations. If you omit the list of names, then the call describes all launch configurations.</p>"
    },
    "DescribeLifecycleHookTypes":{
      "name":"DescribeLifecycleHookTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"DescribeLifecycleHookTypesAnswer",
        "resultWrapper":"DescribeLifecycleHookTypesResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes the available types of lifecycle hooks.</p>"
    },
    "DescribeLifecycleHooks":{
      "name":"DescribeLifecycleHooks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLifecycleHooksType"},
      "output":{
        "shape":"DescribeLifecycleHooksAnswer",
        "resultWrapper":"DescribeLifecycleHooksResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes the lifecycle hooks for the specified Auto Scaling group.</p>"
    },
    "DescribeLoadBalancers":{
      "name":"DescribeLoadBalancers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLoadBalancersRequest"},
      "output":{
        "shape":"DescribeLoadBalancersResponse",
        "resultWrapper":"DescribeLoadBalancersResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes the load balancers for the specified Auto Scaling group.</p>"
    },
    "DescribeMetricCollectionTypes":{
      "name":"DescribeMetricCollectionTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"DescribeMetricCollectionTypesAnswer",
        "resultWrapper":"DescribeMetricCollectionTypesResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes the available CloudWatch metrics for Auto Scaling.</p> <p>Note that the <code>GroupStandbyInstances</code> metric is not returned by default. You must explicitly request this metric when calling <a>EnableMetricsCollection</a>.</p>"
    },
    "DescribeNotificationConfigurations":{
      "name":"DescribeNotificationConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNotificationConfigurationsType"},
      "output":{
        "shape":"DescribeNotificationConfigurationsAnswer",
        "resultWrapper":"DescribeNotificationConfigurationsResult"
      },
      "errors":[
        {
          "shape":"InvalidNextToken",
          "error":{
            "code":"InvalidNextToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The <code>NextToken</code> value is not valid.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes the notification actions associated with the specified Auto Scaling group.</p>"
    },
    "DescribePolicies":{
      "name":"DescribePolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePoliciesType"},
      "output":{
        "shape":"PoliciesType",
        "resultWrapper":"DescribePoliciesResult"
      },
      "errors":[
        {
          "shape":"InvalidNextToken",
          "error":{
            "code":"InvalidNextToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The <code>NextToken</code> value is not valid.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes the policies for the specified Auto Scaling group.</p>"
    },
    "DescribeScalingActivities":{
      "name":"DescribeScalingActivities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeScalingActivitiesType"},
      "output":{
        "shape":"ActivitiesType",
        "resultWrapper":"DescribeScalingActivitiesResult"
      },
      "errors":[
        {
          "shape":"InvalidNextToken",
          "error":{
            "code":"InvalidNextToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The <code>NextToken</code> value is not valid.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes one or more scaling activities for the specified Auto Scaling group. If you omit the <code>ActivityIds</code>, the call returns all activities from the past six weeks. Activities are sorted by the start time. Activities still in progress appear first on the list.</p>"
    },
    "DescribeScalingProcessTypes":{
      "name":"DescribeScalingProcessTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"ProcessesType",
        "resultWrapper":"DescribeScalingProcessTypesResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes the scaling process types for use with <a>ResumeProcesses</a> and <a>SuspendProcesses</a>.</p>"
    },
    "DescribeScheduledActions":{
      "name":"DescribeScheduledActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeScheduledActionsType"},
      "output":{
        "shape":"ScheduledActionsType",
        "resultWrapper":"DescribeScheduledActionsResult"
      },
      "errors":[
        {
          "shape":"InvalidNextToken",
          "error":{
            "code":"InvalidNextToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The <code>NextToken</code> value is not valid.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes the actions scheduled for your Auto Scaling group that haven't run. To describe the actions that have already run, use <a>DescribeScalingActivities</a>.</p>"
    },
    "DescribeTags":{
      "name":"DescribeTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTagsType"},
      "output":{
        "shape":"TagsType",
        "resultWrapper":"DescribeTagsResult"
      },
      "errors":[
        {
          "shape":"InvalidNextToken",
          "error":{
            "code":"InvalidNextToken",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The <code>NextToken</code> value is not valid.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes the specified tags.</p> <p>You can use filters to limit the results. For example, you can query for the tags for a specific Auto Scaling group. You can specify multiple values for a filter. A tag must match at least one of the specified values for it to be included in the results.</p> <p>You can also specify multiple filters. The result includes information for a particular tag only if it matches all the filters. If there's no match, no special message is returned.</p>"
    },
    "DescribeTerminationPolicyTypes":{
      "name":"DescribeTerminationPolicyTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"DescribeTerminationPolicyTypesAnswer",
        "resultWrapper":"DescribeTerminationPolicyTypesResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Describes the termination policies supported by Auto Scaling.</p>"
    },
    "DetachInstances":{
      "name":"DetachInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachInstancesQuery"},
      "output":{
        "shape":"DetachInstancesAnswer",
        "resultWrapper":"DetachInstancesResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Removes one or more instances from the specified Auto Scaling group. After the instances are detached, you can manage them independently from the rest of the Auto Scaling group.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/detach-instance-asg.html\">Detach EC2 Instances from Your Auto Scaling Group</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "DetachLoadBalancers":{
      "name":"DetachLoadBalancers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachLoadBalancersType"},
      "output":{
        "shape":"DetachLoadBalancersResultType",
        "resultWrapper":"DetachLoadBalancersResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Removes one or more load balancers from the specified Auto Scaling group.</p> <p>When you detach a load balancer, it enters the <code>Removing</code> state while deregistering the instances in the group. When all instances are deregistered, then you can no longer describe the load balancer using <a>DescribeLoadBalancers</a>. Note that the instances remain running.</p>"
    },
    "DisableMetricsCollection":{
      "name":"DisableMetricsCollection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableMetricsCollectionQuery"},
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Disables monitoring of the specified metrics for the specified Auto Scaling group.</p>"
    },
    "EnableMetricsCollection":{
      "name":"EnableMetricsCollection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableMetricsCollectionQuery"},
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Enables monitoring of the specified metrics for the specified Auto Scaling group.</p> <p>You can only enable metrics collection if <code>InstanceMonitoring</code> in the launch configuration for the group is set to <code>True</code>.</p>"
    },
    "EnterStandby":{
      "name":"EnterStandby",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnterStandbyQuery"},
      "output":{
        "shape":"EnterStandbyAnswer",
        "resultWrapper":"EnterStandbyResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Moves the specified instances into <code>Standby</code> mode.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingInServiceState.html\">Auto Scaling InService State</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "ExecutePolicy":{
      "name":"ExecutePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExecutePolicyType"},
      "errors":[
        {
          "shape":"ScalingActivityInProgressFault",
          "error":{
            "code":"ScalingActivityInProgress",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The Auto Scaling group can't be deleted because there are scaling activities in progress.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Executes the specified policy.</p>"
    },
    "ExitStandby":{
      "name":"ExitStandby",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExitStandbyQuery"},
      "output":{
        "shape":"ExitStandbyAnswer",
        "resultWrapper":"ExitStandbyResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Moves the specified instances out of <code>Standby</code> mode.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingInServiceState.html\">Auto Scaling InService State</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "PutLifecycleHook":{
      "name":"PutLifecycleHook",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutLifecycleHookType"},
      "output":{
        "shape":"PutLifecycleHookAnswer",
        "resultWrapper":"PutLifecycleHookResult"
      },
      "errors":[
        {
          "shape":"LimitExceededFault",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Creates or updates a lifecycle hook for the specified Auto Scaling Group.</p> <p>A lifecycle hook tells Auto Scaling that you want to perform an action on an instance that is not actively in service; for example, either when the instance launches or before the instance terminates.</p> <p>This operation is a part of the basic sequence for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li>Create a notification target. A target can be either an Amazon SQS queue or an Amazon SNS topic.</li> <li>Create an IAM role. This role allows Auto Scaling to publish lifecycle notifications to the designated SQS queue or SNS topic.</li> <li><b>Create the lifecycle hook. You can create a hook that acts when instances launch or when instances terminate.</b></li> <li>If necessary, record the lifecycle action heartbeat to keep the instance in a pending state.</li> <li>Complete the lifecycle action.</li> </ol> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingPendingState.html\">Auto Scaling Pending State</a> and <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingTerminatingState.html\">Auto Scaling Terminating State</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "PutNotificationConfiguration":{
      "name":"PutNotificationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutNotificationConfigurationType"},
      "errors":[
        {
          "shape":"LimitExceededFault",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p> Configures an Auto Scaling group to send notifications when specified events take place. Subscribers to this topic can have messages for events delivered to an endpoint such as a web server or email address. </p> <p>For more information see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/ASGettingNotifications.html\">Getting Notifications When Your Auto Scaling Group Changes</a> in the <i>Auto Scaling Developer Guide</i>.</p> <p>This configuration overwrites an existing configuration.</p>"
    },
    "PutScalingPolicy":{
      "name":"PutScalingPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutScalingPolicyType"},
      "output":{
        "shape":"PolicyARNType",
        "resultWrapper":"PutScalingPolicyResult"
      },
      "errors":[
        {
          "shape":"LimitExceededFault",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Creates or updates a policy for an Auto Scaling group. To update an existing policy, use the existing policy name and set the parameters you want to change. Any existing parameter not changed in an update to an existing policy is not changed in this update request.</p>"
    },
    "PutScheduledUpdateGroupAction":{
      "name":"PutScheduledUpdateGroupAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutScheduledUpdateGroupActionType"},
      "errors":[
        {
          "shape":"AlreadyExistsFault",
          "error":{
            "code":"AlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have an Auto Scaling group or launch configuration with this name.</p>"
        },
        {
          "shape":"LimitExceededFault",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You have already reached a limit for your Auto Scaling resources (for example, groups, launch configurations, or lifecycle hooks). For more information, see <a>DescribeAccountLimits</a>.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p> Creates or updates a scheduled scaling action for an Auto Scaling group. When updating a scheduled scaling action, if you leave a parameter unspecified, the corresponding value remains unchanged in the affected Auto Scaling group. </p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/schedule_time.html\">Scheduled Scaling</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "RecordLifecycleActionHeartbeat":{
      "name":"RecordLifecycleActionHeartbeat",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RecordLifecycleActionHeartbeatType"},
      "output":{
        "shape":"RecordLifecycleActionHeartbeatAnswer",
        "resultWrapper":"RecordLifecycleActionHeartbeatResult"
      },
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Records a heartbeat for the lifecycle action associated with a specific token. This extends the timeout by the length of time defined by the <code>HeartbeatTimeout</code> parameter of <a>PutLifecycleHook</a>.</p> <p>This operation is a part of the basic sequence for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li>Create a notification target. A target can be either an Amazon SQS queue or an Amazon SNS topic.</li> <li>Create an IAM role. This role allows Auto Scaling to publish lifecycle notifications to the designated SQS queue or SNS topic.</li> <li>Create the lifecycle hook. You can create a hook that acts when instances launch or when instances terminate.</li> <li><b>If necessary, record the lifecycle action heartbeat to keep the instance in a pending state.</b></li> <li>Complete the lifecycle action.</li> </ol> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingPendingState.html\">Auto Scaling Pending State</a> and <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingTerminatingState.html\">Auto Scaling Terminating State</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "ResumeProcesses":{
      "name":"ResumeProcesses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ScalingProcessQuery"},
      "errors":[
        {
          "shape":"ResourceInUseFault",
          "error":{
            "code":"ResourceInUse",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The Auto Scaling group or launch configuration can't be deleted because it is in use.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Resumes the specified suspended Auto Scaling processes for the specified Auto Scaling group. To resume specific processes, use the <code>ScalingProcesses</code> parameter. To resume all processes, omit the <code>ScalingProcesses</code> parameter. For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/US_SuspendResume.html\">Suspend and Resume Auto Scaling Processes</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "SetDesiredCapacity":{
      "name":"SetDesiredCapacity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetDesiredCapacityType"},
      "errors":[
        {
          "shape":"ScalingActivityInProgressFault",
          "error":{
            "code":"ScalingActivityInProgress",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The Auto Scaling group can't be deleted because there are scaling activities in progress.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Sets the size of the specified Auto Scaling group.</p> <p>For more information about desired capacity, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/WhatIsAutoScaling.html\">What Is Auto Scaling?</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "SetInstanceHealth":{
      "name":"SetInstanceHealth",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetInstanceHealthQuery"},
      "errors":[
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Sets the health status of the specified instance.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/healthcheck.html\">Health Checks</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "SuspendProcesses":{
      "name":"SuspendProcesses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ScalingProcessQuery"},
      "errors":[
        {
          "shape":"ResourceInUseFault",
          "error":{
            "code":"ResourceInUse",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The Auto Scaling group or launch configuration can't be deleted because it is in use.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Suspends the specified Auto Scaling processes for the specified Auto Scaling group. To suspend specific processes, use the <code>ScalingProcesses</code> parameter. To suspend all processes, omit the <code>ScalingProcesses</code> parameter.</p> <p>Note that if you suspend either the <code>Launch</code> or <code>Terminate</code> process types, it can prevent other process types from functioning properly.</p> <p>To resume processes that have been suspended, use <a>ResumeProcesses</a>.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/US_SuspendResume.html\">Suspend and Resume Auto Scaling Processes</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "TerminateInstanceInAutoScalingGroup":{
      "name":"TerminateInstanceInAutoScalingGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TerminateInstanceInAutoScalingGroupType"},
      "output":{
        "shape":"ActivityType",
        "resultWrapper":"TerminateInstanceInAutoScalingGroupResult"
      },
      "errors":[
        {
          "shape":"ScalingActivityInProgressFault",
          "error":{
            "code":"ScalingActivityInProgress",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The Auto Scaling group can't be deleted because there are scaling activities in progress.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Terminates the specified instance and optionally adjusts the desired group size.</p> <p>This call simply makes a termination request. The instances is not terminated immediately.</p>"
    },
    "UpdateAutoScalingGroup":{
      "name":"UpdateAutoScalingGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAutoScalingGroupType"},
      "errors":[
        {
          "shape":"ScalingActivityInProgressFault",
          "error":{
            "code":"ScalingActivityInProgress",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The Auto Scaling group can't be deleted because there are scaling activities in progress.</p>"
        },
        {
          "shape":"ResourceContentionFault",
          "error":{
            "code":"ResourceContention",
            "httpStatusCode":500,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>You already have a pending update to an Auto Scaling resource (for example, a group, instance, or load balancer).</p>"
        }
      ],
      "documentation":"<p>Updates the configuration for the specified Auto Scaling group.</p> <p>To update an Auto Scaling group with a launch configuration with <code>InstanceMonitoring</code> set to <code>False</code>, you must first disable the collection of group metrics. Otherwise, you will get an error. If you have previously enabled the collection of group metrics, you can disable it using <a>DisableMetricsCollection</a>.</p> <p>The new settings are registered upon the completion of this call. Any launch configuration settings take effect on any triggers after this call returns. Scaling activities that are currently in progress aren't affected.</p> <p>Note the following:</p> <ul> <li> <p>If you specify a new value for <code>MinSize</code> without specifying a value for <code>DesiredCapacity</code>, and the new <code>MinSize</code> is larger than the current size of the group, we implicitly call <a>SetDesiredCapacity</a> to set the size of the group to the new value of <code>MinSize</code>.</p> </li> <li> <p>If you specify a new value for <code>MaxSize</code> without specifying a value for <code>DesiredCapacity</code>, and the new <code>MaxSize</code> is smaller than the current size of the group, we implicitly call <a>SetDesiredCapacity</a> to set the size of the group to the new value of <code>MaxSize</code>.</p> </li> <li> <p>All other optional parameters are left unchanged if not specified.</p> </li> </ul>"
    }
  },
  "shapes":{
    "Activities":{
      "type":"list",
      "member":{"shape":"Activity"}
    },
    "ActivitiesType":{
      "type":"structure",
      "required":["Activities"],
      "members":{
        "Activities":{
          "shape":"Activities",
          "documentation":"<p>The scaling activities.</p>"
        },
        "NextToken":{
          "shape":"XmlString",
          "documentation":"<p>The token to use when requesting the next set of items. If there are no additional items to return, the string is empty.</p>"
        }
      }
    },
    "Activity":{
      "type":"structure",
      "required":[
        "ActivityId",
        "AutoScalingGroupName",
        "Cause",
        "StartTime",
        "StatusCode"
      ],
      "members":{
        "ActivityId":{
          "shape":"XmlString",
          "documentation":"<p>The ID of the activity.</p>"
        },
        "AutoScalingGroupName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the Auto Scaling group.</p>"
        },
        "Description":{
          "shape":"XmlString",
          "documentation":"<p>A friendly, more verbose description of the activity.</p>"
        },
        "Cause":{
          "shape":"XmlStringMaxLen1023",
          "documentation":"<p>The reason the activity began.</p>"
        },
        "StartTime":{
          "shape":"TimestampType",
          "documentation":"<p>The start time of the activity.</p>"
        },
        "EndTime":{
          "shape":"TimestampType",
          "documentation":"<p>The end time of the activity.</p>"
        },
        "StatusCode":{
          "shape":"ScalingActivityStatusCode",
          "documentation":"<p>The current status of the activity.</p>"
        },
        "StatusMessage":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>A friendly, more verbose description of the activity status.</p>"
        },
        "Progress":{
          "shape":"Progress",
          "documentation":"<p>A value between 0 and 100 that indicates the progress of the activity.</p>"
        },
        "Details":{
          "shape":"XmlString",
          "documentation":"<p>The details about the activity.</p>"
        }
      },
      "documentation":"<p>Describes scaling activity, which is a long-running process that represents a change to your Auto Scaling group, such as changing its size or replacing an instance.</p>"
    },
    "ActivityIds":{
      "type":"list",
      "member":{"shape":"XmlString"}
    },
    "ActivityType":{
      "type":"structure",
      "members":{
        "Activity":{
          "shape":"Activity",
          "documentation":"<p>A scaling activity.</p>"
        }
      }
    },
    "AdjustmentType":{
      "type":"structure",
      "members":{
        "AdjustmentType":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The policy adjustment type. The valid values are <code>ChangeInCapacity</code>, <code>ExactCapacity</code>, and <code>PercentChangeInCapacity</code>.</p>"
        }
      },
      "documentation":"<p>Describes a policy adjustment type.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/as-scale-based-on-demand.html\">Dynamic Scaling</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
    },
    "AdjustmentTypes":{
      "type":"list",
      "member":{"shape":"AdjustmentType"}
    },
    "Alarm":{
      "type":"structure",
      "members":{
        "AlarmName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the alarm.</p>"
        },
        "AlarmARN":{
          "shape":"ResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the alarm.</p>"
        }
      },
      "documentation":"<p>Describes an alarm.</p>"
    },
    "Alarms":{
      "type":"list",
      "member":{"shape":"Alarm"}
    },
    "AlreadyExistsFault":{
      "type":"structure",
      "members":{
        "message":{"shape":"XmlStringMaxLen255"}
      },
      "error":{
        "code":"AlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>You already have an Auto Scaling group or launch configuration with this name.</p>"
    },
    "AsciiStringMaxLen255":{
      "type":"string",
      "min":1,
      "max":255,
      "pattern":"[A-Za-z0-9\\-_\\/]+"
    },
    "AssociatePublicIpAddress":{"type":"boolean"},
    "AttachInstancesQuery":{
      "type":"structure",
      "required":["AutoScalingGroupName"],
      "members":{
        "InstanceIds":{
          "shape":"InstanceIds",
          "documentation":"<p>One or more EC2 instance IDs.</p>"
        },
        "AutoScalingGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the group.</p>"
        }
      }
    },
    "AttachLoadBalancersResultType":{
      "type":"structure",
      "members":{
      }
    },
    "AttachLoadBalancersType":{
      "type":"structure",
      "members":{
        "AutoScalingGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the group.</p>"
        },
        "LoadBalancerNames":{
          "shape":"LoadBalancerNames",
          "documentation":"<p>One or more load balancer names.</p>"
        }
      }
    },
    "AutoScalingGroup":{
      "type":"structure",
      "required":[
        "AutoScalingGroupName",
        "LaunchConfigurationName",
        "MinSize",
        "MaxSize",
        "DesiredCapacity",
        "DefaultCooldown",
        "AvailabilityZones",
        "HealthCheckType",
        "CreatedTime"
      ],
      "members":{
        "AutoScalingGroupName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the group.</p>"
        },
        "AutoScalingGroupARN":{
          "shape":"ResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the group.</p>"
        },
        "LaunchConfigurationName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the associated launch configuration.</p>"
        },
        "MinSize":{
          "shape":"AutoScalingGroupMinSize",
          "documentation":"<p>The minimum size of the group.</p>"
        },
        "MaxSize":{
          "shape":"AutoScalingGroupMaxSize",
          "documentation":"<p>The maximum size of the group.</p>"
        },
        "DesiredCapacity":{
          "shape":"AutoScalingGroupDesiredCapacity",
          "documentation":"<p>The desired size of the group.</p>"
        },
        "DefaultCooldown":{
          "shape":"Cooldown",
          "documentation":"<p>The number of seconds after a scaling activity completes before any further scaling activities can start.</p>"
        },
        "AvailabilityZones":{
          "shape":"AvailabilityZones",
          "documentation":"<p>One or more Availability Zones for the group.</p>"
        },
        "LoadBalancerNames":{
          "shape":"LoadBalancerNames",
          "documentation":"<p>One or more load balancers associated with the group.</p>"
        },
        "HealthCheckType":{
          "shape":"XmlStringMaxLen32",
          "documentation":"<p>The service of interest for the health status check, which can be either <code>EC2</code> for Amazon EC2 or <code>ELB</code> for Elastic Load Balancing.</p>"
        },
        "HealthCheckGracePeriod":{
          "shape":"HealthCheckGracePeriod",
          "documentation":"<p>The amount of time that Auto Scaling waits before checking an instance's health status. The grace period begins when an instance comes into service.</p>"
        },
        "Instances":{
          "shape":"Instances",
          "documentation":"<p>The EC2 instances associated with the group.</p>"
        },
        "CreatedTime":{
          "shape":"TimestampType",
          "documentation":"<p>The date and time the group was created.</p>"
        },
        "SuspendedProcesses":{
          "shape":"SuspendedProcesses",
          "documentation":"<p>The suspended processes associated with the group.</p>"
        },
        "PlacementGroup":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the placement group into which you'll launch your instances, if any. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html\">Placement Groups</a>.</p>"
        },
        "VPCZoneIdentifier":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>One or more subnet IDs, if applicable, separated by commas.</p> <p>If you specify <code>VPCZoneIdentifier</code> and <code>AvailabilityZones</code>, ensure that the Availability Zones of the subnets match the values for <code>AvailabilityZones</code>.</p>"
        },
        "EnabledMetrics":{
          "shape":"EnabledMetrics",
          "documentation":"<p>The metrics enabled for the group.</p>"
        },
        "Status":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The current state of the group when <a>DeleteAutoScalingGroup</a> is in progress.</p>"
        },
        "Tags":{
          "shape":"TagDescriptionList",
          "documentation":"<p>The tags for the group.</p>"
        },
        "TerminationPolicies":{
          "shape":"TerminationPolicies",
          "documentation":"<p>The termination policies for the group.</p>"
        }
      },
      "documentation":"<p>Describes an Auto Scaling group.</p>"
    },
    "AutoScalingGroupDesiredCapacity":{"type":"integer"},
    "AutoScalingGroupMaxSize":{"type":"integer"},
    "AutoScalingGroupMinSize":{"type":"integer"},
    "AutoScalingGroupNames":{
      "type":"list",
      "member":{"shape":"ResourceName"}
    },
    "AutoScalingGroupNamesType":{
      "type":"structure",
      "members":{
        "AutoScalingGroupNames":{
          "shape":"AutoScalingGroupNames",
          "documentation":"<p>The group names.</p>"
        },
        "NextToken":{
          "shape":"XmlString",
          "documentation":"<p>The token for the next set of items to return. (You received this token from a previous call.)</p>"
        },
        "MaxRecords":{
          "shape":"MaxRecords",
          "documentation":"<p>The maximum number of items to return with this call.</p>"
        }
      }
    },
    "AutoScalingGroups":{
      "type":"list",
      "member":{"shape":"AutoScalingGroup"}
    },
    "AutoScalingGroupsType":{
      "type":"structure",
      "required":["AutoScalingGroups"],
      "members":{
        "AutoScalingGroups":{
          "shape":"AutoScalingGroups",
          "documentation":"<p>The groups.</p>"
        },
        "NextToken":{
          "shape":"XmlString",
          "documentation":"<p>The token to use when requesting the next set of items. If there are no additional items to return, the string is empty.</p>"
        }
      }
    },
    "AutoScalingInstanceDetails":{
      "type":"structure",
      "required":[
        "InstanceId",
        "AutoScalingGroupName",
        "AvailabilityZone",
        "LifecycleState",
        "HealthStatus",
        "LaunchConfigurationName"
      ],
      "members":{
        "InstanceId":{
          "shape":"XmlStringMaxLen16",
          "documentation":"<p>The ID of the instance.</p>"
        },
        "AutoScalingGroupName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the Auto Scaling group associated with the instance.</p>"
        },
        "AvailabilityZone":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The Availability Zone for the instance.</p>"
        },
        "LifecycleState":{
          "shape":"XmlStringMaxLen32",
          "documentation":"<p>The lifecycle state for the instance. For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingGroupLifecycle.html#AutoScalingStates\">Auto Scaling Instance States</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
        },
        "HealthStatus":{
          "shape":"XmlStringMaxLen32",
          "documentation":"<p>The health status of this instance. \"Healthy\" means that the instance is healthy and should remain in service. \"Unhealthy\" means that the instance is unhealthy and Auto Scaling should terminate and replace it.</p>"
        },
        "LaunchConfigurationName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The launch configuration associated with the instance.</p>"
        }
      },
      "documentation":"<p>Describes an EC2 instance associated with an Auto Scaling group.</p>"
    },
    "AutoScalingInstances":{
      "type":"list",
      "member":{"shape":"AutoScalingInstanceDetails"}
    },
    "AutoScalingInstancesType":{
      "type":"structure",
      "members":{
        "AutoScalingInstances":{
          "shape":"AutoScalingInstances",
          "documentation":"<p>The instances.</p>"
        },
        "NextToken":{
          "shape":"XmlString",
          "documentation":"<p>The token to use when requesting the next set of items. If there are no additional items to return, the string is empty.</p>"
        }
      }
    },
    "AutoScalingNotificationTypes":{
      "type":"list",
      "member":{"shape":"XmlStringMaxLen255"}
    },
    "AvailabilityZones":{
      "type":"list",
      "member":{"shape":"XmlStringMaxLen255"},
      "min":1
    },
    "BlockDeviceEbsDeleteOnTermination":{"type":"boolean"},
    "BlockDeviceEbsIops":{
      "type":"integer",
      "min":100,
      "max":20000
    },
    "BlockDeviceEbsVolumeSize":{
      "type":"integer",
      "min":1,
      "max":16384
    },
    "BlockDeviceEbsVolumeType":{
      "type":"string",
      "min":1,
      "max":255
    },
    "BlockDeviceMapping":{
      "type":"structure",
      "required":["DeviceName"],
      "members":{
        "VirtualName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the virtual device, <code>ephemeral0</code> to <code>ephemeral3</code>.</p>"
        },
        "DeviceName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The device name exposed to the EC2 instance (for example, <code>/dev/sdh</code> or <code>xvdh</code>).</p>"
        },
        "Ebs":{
          "shape":"Ebs",
          "documentation":"<p>The information about the Amazon EBS volume.</p>"
        },
        "NoDevice":{
          "shape":"NoDevice",
          "documentation":"<p>Suppresses a device mapping.</p> <p>If <code>NoDevice</code> is set to <code>true</code> for the root device, the instance might fail the EC2 health check. Auto Scaling launches a replacement instance if the instance fails the health check.</p>"
        }
      },
      "documentation":"<p>Describes a block device mapping.</p>"
    },
    "BlockDeviceMappings":{
      "type":"list",
      "member":{"shape":"BlockDeviceMapping"}
    },
    "ClassicLinkVPCSecurityGroups":{
      "type":"list",
      "member":{"shape":"XmlStringMaxLen255"}
    },
    "CompleteLifecycleActionAnswer":{
      "type":"structure",
      "members":{
      }
    },
    "CompleteLifecycleActionType":{
      "type":"structure",
      "required":[
        "LifecycleHookName",
        "AutoScalingGroupName",
        "LifecycleActionToken",
        "LifecycleActionResult"
      ],
      "members":{
        "LifecycleHookName":{
          "shape":"AsciiStringMaxLen255",
          "documentation":"<p>The name of the lifecycle hook.</p>"
        },
        "AutoScalingGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the group for the lifecycle hook.</p>"
        },
        "LifecycleActionToken":{
          "shape":"LifecycleActionToken",
          "documentation":"<p>A universally unique identifier (UUID) that identifies a specific lifecycle action associated with an instance. Auto Scaling sends this token to the notification target you specified when you created the lifecycle hook.</p>"
        },
        "LifecycleActionResult":{
          "shape":"LifecycleActionResult",
          "documentation":"<p>The action for the group to take. This parameter can be either <code>CONTINUE</code> or <code>ABANDON</code>.</p>"
        }
      }
    },
    "Cooldown":{"type":"integer"},
    "CreateAutoScalingGroupType":{
      "type":"structure",
      "required":[
        "AutoScalingGroupName",
        "MinSize",
        "MaxSize"
      ],
      "members":{
        "AutoScalingGroupName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the group. This name must be unique within the scope of your AWS account.</p>"
        },
        "LaunchConfigurationName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the launch configuration. Alternatively, use the <code>InstanceId</code> parameter to specify an EC2 instance instead of a launch configuration.</p>"
        },
        "InstanceId":{
          "shape":"XmlStringMaxLen16",
          "documentation":"<p>The ID of the EC2 instance used to create a launch configuration for the group. Alternatively, use the <code>LaunchConfigurationName</code> parameter to specify a launch configuration instead of an EC2 instance.</p> <p>When you specify an ID of an instance, Auto Scaling creates a new launch configuration and associates it with the group. This launch configuration derives its attributes from the specified instance, with the exception of the block device mapping.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/create-asg-from-instance.html\">Create an Auto Scaling Group from an EC2 Instance</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
        },
        "MinSize":{
          "shape":"AutoScalingGroupMinSize",
          "documentation":"<p>The minimum size of the group.</p>"
        },
        "MaxSize":{
          "shape":"AutoScalingGroupMaxSize",
          "documentation":"<p>The maximum size of the group.</p>"
        },
        "DesiredCapacity":{
          "shape":"AutoScalingGroupDesiredCapacity",
          "documentation":"<p>The number of EC2 instances that should be running in the group. This value must be greater than or equal to the minimum size of the group and less than or equal to the maximum size of the group.</p>"
        },
        "DefaultCooldown":{
          "shape":"Cooldown",
          "documentation":"<p>The amount of time, in seconds, after a scaling activity completes before another scaling activity can start.</p> <p>If <code>DefaultCooldown</code> is not specified, the default value is 300. For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/Cooldown.html\">Understanding Auto Scaling Cooldowns</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
        },
        "AvailabilityZones":{
          "shape":"AvailabilityZones",
          "documentation":"<p>One or more Availability Zones for the group. This parameter is optional if you specify subnets using the <code>VPCZoneIdentifier</code> parameter.</p>"
        },
        "LoadBalancerNames":{
          "shape":"LoadBalancerNames",
          "documentation":"<p>One or more load balancers.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/US_SetUpASLBApp.html\">Load Balance Your Auto Scaling Group</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
        },
        "HealthCheckType":{
          "shape":"XmlStringMaxLen32",
          "documentation":"<p>The service to use for the health checks. The valid values are <code>EC2</code> and <code>ELB</code>.</p> <p>By default, health checks use Amazon EC2 instance status checks to determine the health of an instance. For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/healthcheck.html\">Health Checks</a>.</p>"
        },
        "HealthCheckGracePeriod":{
          "shape":"HealthCheckGracePeriod",
          "documentation":"<p>The amount of time, in seconds, after an EC2 instance comes into service that Auto Scaling starts checking its health. During this time, any health check failures for the instance are ignored.</p> <p>This parameter is required if you are adding an <code>ELB</code> health check. Frequently, new instances need to warm up, briefly, before they can pass a health check. To provide ample warm-up time, set the health check grace period of the group to match the expected startup period of your application.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/as-add-elb-healthcheck.html\">Add an Elastic Load Balancing Health Check to Your Auto Scaling Group</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
        },
        "PlacementGroup":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the placement group into which you'll launch your instances, if any. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html\">Placement Groups</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>"
        },
        "VPCZoneIdentifier":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>A comma-separated list of subnet identifiers for your virtual private cloud (VPC).</p> <p>If you specify subnets and Availability Zones with this call, ensure that the subnets' Availability Zones match the Availability Zones specified.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/autoscalingsubnets.html\">Auto Scaling and Amazon Virtual Private Cloud</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
        },
        "TerminationPolicies":{
          "shape":"TerminationPolicies",
          "documentation":"<p>One or more termination policies used to select the instance to terminate. These policies are executed in the order that they are listed.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/us-termination-policy.html\">Choosing a Termination Policy for Your Auto Scaling Group</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>The tag to be created or updated. Each tag should be defined by its resource type, resource ID, key, value, and a propagate flag. Valid values: key=<i>value</i>, value=<i>value</i>, propagate=<i>true</i> or <i>false</i>. Value and propagate are optional parameters.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/ASTagging.html\">Tagging Auto Scaling Groups and Instances</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
        }
      }
    },
    "CreateLaunchConfigurationType":{
      "type":"structure",
      "required":["LaunchConfigurationName"],
      "members":{
        "LaunchConfigurationName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the launch configuration. This name must be unique within the scope of your AWS account.</p>"
        },
        "ImageId":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The ID of the Amazon Machine Image (AMI) to use to launch your EC2 instances. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/finding-an-ami.html\">Finding an AMI</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>"
        },
        "KeyName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the key pair. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html\">Amazon EC2 Key Pairs</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>"
        },
        "SecurityGroups":{
          "shape":"SecurityGroups",
          "documentation":"<p>One or more security groups with which to associate the instances.</p> <p>If your instances are launched in EC2-Classic, you can either specify security group names or the security group IDs. For more information about security groups for EC2-Classic, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html\">Amazon EC2 Security Groups</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>If your instances are launched into a VPC, specify security group IDs. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_SecurityGroups.html\">Security Groups for Your VPC</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>"
        },
        "ClassicLinkVPCId":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The ID of a ClassicLink-enabled VPC to link your EC2-Classic instances to. This parameter can only be used if you are launching EC2-Classic instances. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html\">ClassicLink</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>"
        },
        "ClassicLinkVPCSecurityGroups":{
          "shape":"ClassicLinkVPCSecurityGroups",
          "documentation":"<p>The IDs of one or more security groups for the VPC specified in <code>ClassicLinkVPCId</code>. This parameter is required if <code>ClassicLinkVPCId</code> is specified, and cannot be used otherwise. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html\">ClassicLink</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>"
        },
        "UserData":{
          "shape":"XmlStringUserData",
          "documentation":"<p>The user data to make available to the launched EC2 instances. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html\">Instance Metadata and User Data</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <p>At this time, launch configurations don't support compressed (zipped) user data files.</p>"
        },
        "InstanceId":{
          "shape":"XmlStringMaxLen16",
          "documentation":"<p>The ID of the EC2 instance to use to create the launch configuration.</p> <p>The new launch configuration derives attributes from the instance, with the exception of the block device mapping.</p> <p>To create a launch configuration with a block device mapping or override any other instance attributes, specify them as part of the same request.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/create-lc-with-instanceID.html\">Create a Launch Configuration Using an EC2 Instance</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
        },
        "InstanceType":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p> The instance type of the EC2 instance. For information about available instance types, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html#AvailableInstanceTypes\"> Available Instance Types</a> in the <i>Amazon Elastic Cloud Compute User Guide.</i> </p>"
        },
        "KernelId":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p> The ID of the kernel associated with the AMI. </p>"
        },
        "RamdiskId":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p> The ID of the RAM disk associated with the AMI. </p>"
        },
        "BlockDeviceMappings":{
          "shape":"BlockDeviceMappings",
          "documentation":"<p>One or more mappings that specify how block devices are exposed to the instance. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/block-device-mapping-concepts.html\">Block Device Mapping</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>"
        },
        "InstanceMonitoring":{
          "shape":"InstanceMonitoring",
          "documentation":"<p>Enables detailed monitoring if it is disabled. Detailed monitoring is enabled by default.</p> <p>When detailed monitoring is enabled, Amazon CloudWatch generates metrics every minute and your account is charged a fee. When you disable detailed monitoring, by specifying <code>False</code>, CloudWatch generates metrics every 5 minutes. For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/as-instance-monitoring.html\">Monitor Your Auto Scaling Instances</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
        },
        "SpotPrice":{
          "shape":"SpotPrice",
          "documentation":"<p>The maximum hourly price to be paid for any Spot Instance launched to fulfill the request. Spot Instances are launched when the price you specify exceeds the current Spot market price. For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/US-SpotInstances.html\">Launch Spot Instances in Your Auto Scaling Group</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
        },
        "IamInstanceProfile":{
          "shape":"XmlStringMaxLen1600",
          "documentation":"<p>The name or the Amazon Resource Name (ARN) of the instance profile associated with the IAM role for the instance.</p> <p>EC2 instances launched with an IAM role will automatically have AWS security credentials available. You can use IAM roles with Auto Scaling to automatically enable applications running on your EC2 instances to securely access other AWS resources. For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/us-iam-role.html\">Launch Auto Scaling Instances with an IAM Role</a> in the <i>Auto Scaling Developer Guide</i>.</p>"
        },
        "EbsOptimized":{
          "shape":"EbsOptimized",
          "documentation":"<p>Indicates whether the instance is optimized for Amazon EBS I/O. By default, the instance is not optimized for EBS I/O. The optimization provides dedicated throughput to Amazon EBS and an optimized configuration stack to provide optimal I/O performance. This optimization is not available with all instance types. Additional usage charges apply. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSOptimized.html\">Amazon EBS-Optimized Instances</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>"
        },
        "AssociatePublicIpAddress":{
          "shape":"AssociatePublicIpAddress",
          "documentation":"<p>Used for groups that launch instances into a virtual private cloud (VPC). Specifies whether to assign a public IP address to each instance. For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/autoscalingsubnets.html\">Auto Scaling and Amazon Virtual Private Cloud</a> in the <i>Auto Scaling Developer Guide</i>.</p> <p>If you specify a value for this parameter, be sure to specify at least one subnet using the <i>VPCZoneIdentifier</i> parameter when you create your group. </p> <p>Default: If the instance is launched into a default subnet, the default is <code>true</code>. If the instance is launched into a nondefault subnet, the default is <code>false</code>. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-supported-platforms.html\">Supported Platforms</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>"
        },
        "PlacementTenancy":{
          "shape":"XmlStringMaxLen64",
          "documentation":"<p>The tenancy of the instance. An instance with a tenancy of <code>dedicated</code> runs on single-tenant hardware and can only be launched into a VPC.</p> <p>You must set the value of this parameter to <code>dedicated</code> if want to launch Dedicated Instances into a shared tenancy VPC (VPC with instance placement tenancy attribute set to <code>default</code>).</p> <p>If you specify a value for this parameter, be sure to specify at least one subnet using the <i>VPCZoneIdentifier</i> parameter when you create your group.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/autoscalingsubnets.html\">Auto Scaling and Amazon Virtual Private Cloud</a> in the <i>Auto Scaling Developer Guide</i>. </p> <p>Valid values: <code>default</code> | <code>dedicated</code></p>"
        }
      }
    },
    "CreateOrUpdateTagsType":{
      "type":"structure",
      "required":["Tags"],
      "members":{
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>One or more tags.</p>"
        }
      }
    },
    "DeleteAutoScalingGroupType":{
      "type":"structure",
      "required":["AutoScalingGroupName"],
      "members":{
        "AutoScalingGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the group to delete.</p>"
        },
        "ForceDelete":{
          "shape":"ForceDelete",
          "documentation":"<p>Specifies that the group will be deleted along with all instances associated with the group, without waiting for all instances to be terminated. This parameter also deletes any lifecycle actions associated with the group.</p>"
        }
      }
    },
    "DeleteLifecycleHookAnswer":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteLifecycleHookType":{
      "type":"structure",
      "required":[
        "LifecycleHookName",
        "AutoScalingGroupName"
      ],
      "members":{
        "LifecycleHookName":{
          "shape":"AsciiStringMaxLen255",
          "documentation":"<p>The name of the lifecycle hook.</p>"
        },
        "AutoScalingGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Auto Scaling group for the lifecycle hook.</p>"
        }
      }
    },
    "DeleteNotificationConfigurationType":{
      "type":"structure",
      "required":[
        "AutoScalingGroupName",
        "TopicARN"
      ],
      "members":{
        "AutoScalingGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Auto Scaling group.</p>"
        },
        "TopicARN":{
          "shape":"ResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Simple Notification Service (SNS) topic.</p>"
        }
      }
    },
    "DeletePolicyType":{
      "type":"structure",
      "required":["PolicyName"],
      "members":{
        "AutoScalingGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Auto Scaling group.</p>"
        },
        "PolicyName":{
          "shape":"ResourceName",
          "documentation":"<p>The name or Amazon Resource Name (ARN) of the policy.</p>"
        }
      },
      "documentation":"<p></p>"
    },
    "DeleteScheduledActionType":{
      "type":"structure",
      "required":["ScheduledActionName"],
      "members":{
        "AutoScalingGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Auto Scaling group.</p>"
        },
        "ScheduledActionName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the action to delete.</p>"
        }
      }
    },
    "DeleteTagsType":{
      "type":"structure",
      "required":["Tags"],
      "members":{
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Each tag should be defined by its resource type, resource ID, key, value, and a propagate flag. Valid values are: Resource type = <i>auto-scaling-group</i>, Resource ID = <i>AutoScalingGroupName</i>, key=<i>value</i>, value=<i>value</i>, propagate=<i>true</i> or <i>false</i>.</p>"
        }
      }
    },
    "DescribeAccountLimitsAnswer":{
      "type":"structure",
      "members":{
        "MaxNumberOfAutoScalingGroups":{
          "shape":"MaxNumberOfAutoScalingGroups",
          "documentation":"<p>The maximum number of groups allowed for your AWS account. The default limit is 20 per region.</p>"
        },
        "MaxNumberOfLaunchConfigurations":{
          "shape":"MaxNumberOfLaunchConfigurations",
          "documentation":"<p>The maximum number of launch configurations allowed for your AWS account. The default limit is 100 per region.</p>"
        }
      }
    },
    "DescribeAdjustmentTypesAnswer":{
      "type":"structure",
      "members":{
        "AdjustmentTypes":{
          "shape":"AdjustmentTypes",
          "documentation":"<p>The policy adjustment types.</p>"
        }
      }
    },
    "DescribeAutoScalingInstancesType":{
      "type":"structure",
      "members":{
        "InstanceIds":{
          "shape":"InstanceIds",
          "documentation":"<p>One or more Auto Scaling instances to describe, up to 50 instances. If you omit this parameter, all Auto Scaling instances are described. If you specify an ID that does not exist, it is ignored with no error.</p>"
        },
        "MaxRecords":{
          "shape":"MaxRecords",
          "documentation":"<p>The maximum number of items to return with this call.</p>"
        },
        "NextToken":{
          "shape":"XmlString",
          "documentation":"<p>The token for the next set of items to return. (You received this token from a previous call.)</p>"
        }
      }
    },
    "DescribeAutoScalingNotificationTypesAnswer":{
      "type":"structure",
      "members":{
        "AutoScalingNotificationTypes":{
          "shape":"AutoScalingNotificationTypes",
          "documentation":"<p>One or more of the following notification types:</p> <ul> <li><p><code>autoscaling:EC2_INSTANCE_LAUNCH</code></p></li> <li><p><code>autoscaling:EC2_INSTANCE_LAUNCH_ERROR</code></p></li> <li><p><code>autoscaling:EC2_INSTANCE_TERMINATE</code></p></li> <li><p><code>autoscaling:EC2_INSTANCE_TERMINATE_ERROR</code></p></li> <li><p><code>autoscaling:TEST_NOTIFICATION</code></p></li> </ul>"
        }
      }
    },
    "DescribeLifecycleHookTypesAnswer":{
      "type":"structure",
      "members":{
        "LifecycleHookTypes":{
          "shape":"AutoScalingNotificationTypes",
          "documentation":"<p>One or more of the following notification types:</p> <ul> <li><p><code>autoscaling:EC2_INSTANCE_LAUNCHING</code></p></li> <li><p><code>autoscaling:EC2_INSTANCE_TERMINATING</code></p></li> </ul>"
        }
      }
    },
    "DescribeLifecycleHooksAnswer":{
      "type":"structure",
      "members":{
        "LifecycleHooks":{
          "shape":"LifecycleHooks",
          "documentation":"<p>The lifecycle hooks for the specified group.</p>"
        }
      }
    },
    "DescribeLifecycleHooksType":{
      "type":"structure",
      "required":["AutoScalingGroupName"],
      "members":{
        "AutoScalingGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the group.</p>"
        },
        "LifecycleHookNames":{
          "shape":"LifecycleHookNames",
          "documentation":"<p>The names of one or more lifecycle hooks.</p>"
        }
      }
    },
    "DescribeLoadBalancersRequest":{
      "type":"structure",
      "required":["AutoScalingGroupName"],
      "members":{
        "AutoScalingGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the group.</p>"
        },
        "NextToken":{
          "shape":"XmlString",
          "documentation":"<p>The token for the next set of items to return. (You received this token from a previous call.)</p>"
        },
        "MaxRecords":{
          "shape":"MaxRecords",
[...]
