{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-11-13",
    "endpointPrefix":"ecs",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"Amazon ECS",
    "serviceFullName":"Amazon EC2 Container Service",
    "signatureVersion":"v4",
    "targetPrefix":"AmazonEC2ContainerServiceV20141113",
    "protocol":"json"
  },
  "documentation":"<p></p> <p>Amazon EC2 Container Service (Amazon ECS) is a highly scalable, fast, container management service that makes it easy to run, stop, and manage Docker containers on a cluster of Amazon EC2 instances. Amazon ECS lets you launch and stop container-enabled applications with simple API calls, allows you to get the state of your cluster from a centralized service, and gives you access to many familiar Amazon EC2 features like security groups, Amazon EBS volumes, and IAM roles.</p> <p>You can use Amazon ECS to schedule the placement of containers across your cluster based on your resource needs, isolation policies, and availability requirements. Amazon EC2 Container Service eliminates the need for you to operate your own cluster management and configuration management systems or worry about scaling your management infrastructure.</p>",
  "operations":{
    "CreateCluster":{
      "name":"CreateCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterRequest"},
      "output":{"shape":"CreateClusterResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        }
      ],
      "documentation":"<p>Creates a new Amazon ECS cluster. By default, your account will receive a <code>default</code> cluster when you launch your first container instance. However, you can create your own cluster with a unique name with the <code>CreateCluster</code> action.</p>"
    },
    "CreateService":{
      "name":"CreateService",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateServiceRequest"},
      "output":{"shape":"CreateServiceResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        },
        {
          "shape":"ClusterNotFoundException",
          "exception":true,
          "documentation":"<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
        }
      ],
      "documentation":"<p>Runs and maintains a desired number of tasks from a specified task definition. If the number of tasks running in a service drops below <code>desiredCount</code>, Amazon ECS will spawn another instantiation of the task in the specified cluster.</p>"
    },
    "DeleteCluster":{
      "name":"DeleteCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterRequest"},
      "output":{"shape":"DeleteClusterResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        },
        {
          "shape":"ClusterNotFoundException",
          "exception":true,
          "documentation":"<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
        },
        {
          "shape":"ClusterContainsContainerInstancesException",
          "exception":true,
          "documentation":"<p>You cannot delete a cluster that has registered container instances. You must first deregister the container instances before you can delete the cluster. For more information, see <a>DeregisterContainerInstance</a>.</p>"
        },
        {
          "shape":"ClusterContainsServicesException",
          "exception":true,
          "documentation":"<p>You cannot delete a cluster that contains services. You must first update the service to reduce its desired task count to 0 and then delete the service. For more information, see <a>UpdateService</a> and <a>DeleteService</a>.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified cluster. You must deregister all container instances from this cluster before you may delete it. You can list the container instances in a cluster with <a>ListContainerInstances</a> and deregister them with <a>DeregisterContainerInstance</a>.</p>"
    },
    "DeleteService":{
      "name":"DeleteService",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServiceRequest"},
      "output":{"shape":"DeleteServiceResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        },
        {
          "shape":"ClusterNotFoundException",
          "exception":true,
          "documentation":"<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
        },
        {
          "shape":"ServiceNotFoundException",
          "exception":true,
          "documentation":"<p>The specified service could not be found. You can view your available services with <a>ListServices</a>. Amazon ECS services are cluster-specific and region-specific.</p>"
        }
      ],
      "documentation":"<p>Deletes a specified service within a cluster.</p>"
    },
    "DeregisterContainerInstance":{
      "name":"DeregisterContainerInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterContainerInstanceRequest"},
      "output":{"shape":"DeregisterContainerInstanceResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        },
        {
          "shape":"ClusterNotFoundException",
          "exception":true,
          "documentation":"<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
        }
      ],
      "documentation":"<p>Deregisters an Amazon ECS container instance from the specified cluster. This instance will no longer be available to run tasks.</p>"
    },
    "DeregisterTaskDefinition":{
      "name":"DeregisterTaskDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterTaskDefinitionRequest"},
      "output":{"shape":"DeregisterTaskDefinitionResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        }
      ],
      "documentation":"<p>Deregisters the specified task definition by family and revision. Upon deregistration, the task definition is marked as <code>INACTIVE</code>. Existing tasks and services that reference an <code>INACTIVE</code> task definition continue to run without disruption. Existing services that reference an <code>INACTIVE</code> task definition can still scale up or down by modifying the service's desired count.</p> <p>You cannot use an <code>INACTIVE</code> task definition to run new tasks or create new services, and you cannot update an existing service to reference an <code>INACTIVE</code> task definition (although there may be up to a 10 minute window following deregistration where these restrictions have not yet taken effect).</p>"
    },
    "DescribeClusters":{
      "name":"DescribeClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClustersRequest"},
      "output":{"shape":"DescribeClustersResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        }
      ],
      "documentation":"<p>Describes one or more of your clusters.</p>"
    },
    "DescribeContainerInstances":{
      "name":"DescribeContainerInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeContainerInstancesRequest"},
      "output":{"shape":"DescribeContainerInstancesResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        },
        {
          "shape":"ClusterNotFoundException",
          "exception":true,
          "documentation":"<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
        }
      ],
      "documentation":"<p>Describes Amazon EC2 Container Service container instances. Returns metadata about registered and remaining resources on each container instance requested.</p>"
    },
    "DescribeServices":{
      "name":"DescribeServices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeServicesRequest"},
      "output":{"shape":"DescribeServicesResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        },
        {
          "shape":"ClusterNotFoundException",
          "exception":true,
          "documentation":"<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
        }
      ],
      "documentation":"<p>Describes the specified services running in your cluster.</p>"
    },
    "DescribeTaskDefinition":{
      "name":"DescribeTaskDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTaskDefinitionRequest"},
      "output":{"shape":"DescribeTaskDefinitionResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        }
      ],
      "documentation":"<p>Describes a task definition. You can specify a <code>family</code> and <code>revision</code> to find information on a specific task definition, or you can simply specify the family to find the latest <code>ACTIVE</code> revision in that family.</p> <note> <p>You can only describe <code>INACTIVE</code> task definitions while an active task or service references them.</p> </note>"
    },
    "DescribeTasks":{
      "name":"DescribeTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTasksRequest"},
      "output":{"shape":"DescribeTasksResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        },
        {
          "shape":"ClusterNotFoundException",
          "exception":true,
          "documentation":"<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
        }
      ],
      "documentation":"<p>Describes a specified task or tasks.</p>"
    },
    "DiscoverPollEndpoint":{
      "name":"DiscoverPollEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DiscoverPollEndpointRequest"},
      "output":{"shape":"DiscoverPollEndpointResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        }
      ],
      "documentation":"<note><p>This action is only used by the Amazon EC2 Container Service agent, and it is not intended for use outside of the agent.</p></note> <p>Returns an endpoint for the Amazon EC2 Container Service agent to poll for updates.</p>"
    },
    "ListClusters":{
      "name":"ListClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListClustersRequest"},
      "output":{"shape":"ListClustersResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        }
      ],
      "documentation":"<p>Returns a list of existing clusters.</p>"
    },
    "ListContainerInstances":{
      "name":"ListContainerInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListContainerInstancesRequest"},
      "output":{"shape":"ListContainerInstancesResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        },
        {
          "shape":"ClusterNotFoundException",
          "exception":true,
          "documentation":"<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
        }
      ],
      "documentation":"<p>Returns a list of container instances in a specified cluster.</p>"
    },
    "ListServices":{
      "name":"ListServices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListServicesRequest"},
      "output":{"shape":"ListServicesResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        },
        {
          "shape":"ClusterNotFoundException",
          "exception":true,
          "documentation":"<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
        }
      ],
      "documentation":"<p>Lists the services that are running in a specified cluster.</p>"
    },
    "ListTaskDefinitionFamilies":{
      "name":"ListTaskDefinitionFamilies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTaskDefinitionFamiliesRequest"},
      "output":{"shape":"ListTaskDefinitionFamiliesResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        }
      ],
      "documentation":"<p>Returns a list of task definition families that are registered to your account (which may include task definition families that no longer have any <code>ACTIVE</code> task definitions). You can filter the results with the <code>familyPrefix</code> parameter.</p>"
    },
    "ListTaskDefinitions":{
      "name":"ListTaskDefinitions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTaskDefinitionsRequest"},
      "output":{"shape":"ListTaskDefinitionsResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        }
      ],
      "documentation":"<p>Returns a list of task definitions that are registered to your account. You can filter the results by family name with the <code>familyPrefix</code> parameter or by status with the <code>status</code> parameter.</p>"
    },
    "ListTasks":{
      "name":"ListTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTasksRequest"},
      "output":{"shape":"ListTasksResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        },
        {
          "shape":"ClusterNotFoundException",
          "exception":true,
          "documentation":"<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
        }
      ],
      "documentation":"<p>Returns a list of tasks for a specified cluster. You can filter the results by family name, by a particular container instance, or by the desired status of the task with the <code>family</code>, <code>containerInstance</code>, and <code>desiredStatus</code> parameters.</p>"
    },
    "RegisterContainerInstance":{
      "name":"RegisterContainerInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterContainerInstanceRequest"},
      "output":{"shape":"RegisterContainerInstanceResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        }
      ],
      "documentation":"<note><p>This action is only used by the Amazon EC2 Container Service agent, and it is not intended for use outside of the agent.</p></note> <p>Registers an Amazon EC2 instance into the specified cluster. This instance will become available to place containers on.</p>"
    },
    "RegisterTaskDefinition":{
      "name":"RegisterTaskDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterTaskDefinitionRequest"},
      "output":{"shape":"RegisterTaskDefinitionResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        }
      ],
      "documentation":"<p>Registers a new task definition from the supplied <code>family</code> and <code>containerDefinitions</code>. Optionally, you can add data volumes to your containers with the <code>volumes</code> parameter. For more information on task definition parameters and defaults, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_defintions.html\">Amazon ECS Task Definitions</a> in the <i>Amazon EC2 Container Service Developer Guide</i>.</p>"
    },
    "RunTask":{
      "name":"RunTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RunTaskRequest"},
      "output":{"shape":"RunTaskResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        },
        {
          "shape":"ClusterNotFoundException",
          "exception":true,
          "documentation":"<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
        }
      ],
      "documentation":"<p>Start a task using random placement and the default Amazon ECS scheduler. If you want to use your own scheduler or place a task on a specific container instance, use <code>StartTask</code> instead.</p> <important> <p>The <code>count</code> parameter is limited to 10 tasks per call.</p> </important>"
    },
    "StartTask":{
      "name":"StartTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartTaskRequest"},
      "output":{"shape":"StartTaskResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        },
        {
          "shape":"ClusterNotFoundException",
          "exception":true,
          "documentation":"<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
        }
      ],
      "documentation":"<p>Starts a new task from the specified task definition on the specified container instance or instances. If you want to use the default Amazon ECS scheduler to place your task, use <code>RunTask</code> instead.</p> <important> <p>The list of container instances to start tasks on is limited to 10.</p> </important>"
    },
    "StopTask":{
      "name":"StopTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTaskRequest"},
      "output":{"shape":"StopTaskResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        },
        {
          "shape":"ClusterNotFoundException",
          "exception":true,
          "documentation":"<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
        }
      ],
      "documentation":"<p>Stops a running task.</p>"
    },
    "SubmitContainerStateChange":{
      "name":"SubmitContainerStateChange",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SubmitContainerStateChangeRequest"},
      "output":{"shape":"SubmitContainerStateChangeResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        }
      ],
      "documentation":"<note><p>This action is only used by the Amazon EC2 Container Service agent, and it is not intended for use outside of the agent.</p></note> <p>Sent to acknowledge that a container changed states.</p>"
    },
    "SubmitTaskStateChange":{
      "name":"SubmitTaskStateChange",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SubmitTaskStateChangeRequest"},
      "output":{"shape":"SubmitTaskStateChangeResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        }
      ],
      "documentation":"<note><p>This action is only used by the Amazon EC2 Container Service agent, and it is not intended for use outside of the agent.</p></note> <p>Sent to acknowledge that a task changed states.</p>"
    },
    "UpdateContainerAgent":{
      "name":"UpdateContainerAgent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateContainerAgentRequest"},
      "output":{"shape":"UpdateContainerAgentResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        },
        {
          "shape":"ClusterNotFoundException",
          "exception":true,
          "documentation":"<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
        },
        {
          "shape":"UpdateInProgressException",
          "exception":true,
          "documentation":"<p>There is already a current Amazon ECS container agent update in progress on the specified container instance. If the container agent becomes disconnected while it is in a transitional stage, such as <code>PENDING</code> or <code>STAGING</code>, the update process can get stuck in that state. However, when the agent reconnects, it will resume where it stopped previously.</p>"
        },
        {
          "shape":"NoUpdateAvailableException",
          "exception":true,
          "documentation":"<p>There is no update available for this Amazon ECS container agent. This could be because the agent is already running the latest version, or it is so old that there is no update path to the current version.</p>"
        },
        {
          "shape":"MissingVersionException",
          "exception":true,
          "documentation":"<p>Amazon ECS is unable to determine the current version of the Amazon ECS container agent on the container instance and does not have enough information to proceed with an update. This could be because the agent running on the container instance is an older or custom version that does not use our version information.</p>"
        }
      ],
      "documentation":"<p>Updates the Amazon ECS container agent on a specified container instance.</p>"
    },
    "UpdateService":{
      "name":"UpdateService",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateServiceRequest"},
      "output":{"shape":"UpdateServiceResponse"},
      "errors":[
        {
          "shape":"ServerException",
          "exception":true,
          "fault":true,
          "documentation":"<p>These errors are usually caused by a server-side issue.</p>"
        },
        {
          "shape":"ClientException",
          "exception":true,
          "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
        },
        {
          "shape":"InvalidParameterException",
          "exception":true,
          "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
        },
        {
          "shape":"ClusterNotFoundException",
          "exception":true,
          "documentation":"<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
        },
        {
          "shape":"ServiceNotFoundException",
          "exception":true,
          "documentation":"<p>The specified service could not be found. You can view your available services with <a>ListServices</a>. Amazon ECS services are cluster-specific and region-specific.</p>"
        },
        {
          "shape":"ServiceNotActiveException",
          "exception":true,
          "documentation":"<p>The specified service is not active. You cannot update a service that is not active. If you have previously deleted a service, you can recreate it with <a>CreateService</a>.</p>"
        }
      ],
      "documentation":"<p>Modify the desired count or task definition used in a service.</p> <p>You can add to or subtract from the number of instantiations of a task definition in a service by specifying the cluster that the service is running in and a new <code>desiredCount</code> parameter.</p> <p>You can use <code>UpdateService</code> to modify your task definition and deploy a new version of your service, one task at a time. If you modify the task definition with <code>UpdateService</code>, Amazon ECS spawns a task with the new version of the task definition and then stops an old task after the new version is running. Because <code>UpdateService</code> starts a new version of the task before stopping an old version, your cluster must have capacity to support one more instantiation of the task when <code>UpdateService</code> is run. If your cluster cannot support another instantiation of the task used in your service, you can reduce the desired count of your service by one before modifying the task definition.</p>"
    }
  },
  "shapes":{
    "AgentUpdateStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "STAGING",
        "STAGED",
        "UPDATING",
        "UPDATED",
        "FAILED"
      ]
    },
    "Boolean":{"type":"boolean"},
    "BoxedBoolean":{
      "type":"boolean",
      "box":true
    },
    "BoxedInteger":{
      "type":"integer",
      "box":true
    },
    "ClientException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true,
      "documentation":"<p>These errors are usually caused by something the client did, such as use an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specify an identifier that is not valid.</p>"
    },
    "Cluster":{
      "type":"structure",
      "members":{
        "clusterArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) that identifies the cluster. The ARN contains the <code>arn:aws:ecs</code> namespace, followed by the region of the cluster, the AWS account ID of the cluster owner, the <code>cluster</code> namespace, and then the cluster name. For example, arn:aws:ecs:<i>region</i>:<i>012345678910</i>:cluster/<i>test</i>.</p>"
        },
        "clusterName":{
          "shape":"String",
          "documentation":"<p>A user-generated string that you can use to identify your cluster.</p>"
        },
        "status":{
          "shape":"String",
          "documentation":"<p>The status of the cluster. The valid values are <code>ACTIVE</code> or <code>INACTIVE</code>. <code>ACTIVE</code> indicates that you can register container instances with the cluster and the associated instances can accept tasks.</p>"
        },
        "registeredContainerInstancesCount":{
          "shape":"Integer",
          "documentation":"<p>The number of container instances registered into the cluster.</p>"
        },
        "runningTasksCount":{
          "shape":"Integer",
          "documentation":"<p>The number of tasks in the cluster that are in the <code>RUNNING</code> state.</p>"
        },
        "pendingTasksCount":{
          "shape":"Integer",
          "documentation":"<p>The number of tasks in the cluster that are in the <code>PENDING</code> state.</p>"
        },
        "activeServicesCount":{
          "shape":"Integer",
          "documentation":"<p>The number of services that are running on the cluster in an <code>ACTIVE</code> state. You can view these services with <a>ListServices</a>.</p>"
        }
      },
      "documentation":"<p>A regional grouping of one or more container instances on which you can run task requests. Each account receives a default cluster the first time you use the Amazon ECS service, but you may also create other clusters. Clusters may contain more than one instance type simultaneously.</p>"
    },
    "ClusterContainsContainerInstancesException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>You cannot delete a cluster that has registered container instances. You must first deregister the container instances before you can delete the cluster. For more information, see <a>DeregisterContainerInstance</a>.</p>"
    },
    "ClusterContainsServicesException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>You cannot delete a cluster that contains services. You must first update the service to reduce its desired task count to 0 and then delete the service. For more information, see <a>UpdateService</a> and <a>DeleteService</a>.</p>"
    },
    "ClusterNotFoundException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific.</p>"
    },
    "Clusters":{
      "type":"list",
      "member":{"shape":"Cluster"}
    },
    "Container":{
      "type":"structure",
      "members":{
        "containerArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the container.</p>"
        },
        "taskArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the task.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the container.</p>"
        },
        "lastStatus":{
          "shape":"String",
          "documentation":"<p>The last known status of the container.</p>"
        },
        "exitCode":{
          "shape":"BoxedInteger",
          "documentation":"<p>The exit code returned from the container.</p>"
        },
        "reason":{
          "shape":"String",
          "documentation":"<p>A short (255 max characters) human-readable string to provide additional detail about a running or stopped container.</p>"
        },
        "networkBindings":{"shape":"NetworkBindings"}
      }
    },
    "ContainerDefinition":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of a container. If you are linking multiple containers together in a task definition, the <code>name</code> of one container can be entered in the <code>links</code> of another container to connect the containers.</p>"
        },
        "image":{
          "shape":"String",
          "documentation":"<p>The image used to start a container. This string is passed directly to the Docker daemon. Images in the Docker Hub registry are available by default. Other repositories are specified with <code><i>repository-url</i>/<i>image</i>:<i>tag</i></code>.</p>"
        },
        "cpu":{
          "shape":"Integer",
          "documentation":"<p>The number of <code>cpu</code> units reserved for the container. A container instance has 1,024 <code>cpu</code> units for every CPU core. This parameter specifies the minimum amount of CPU to reserve for a container, and containers share unallocated CPU units with other containers on the instance with the same ratio as their allocated amount.</p> <p>For example, if you run a single-container task on a single-core instance type with 512 CPU units specified for that container, and that is the only task running on the container instance, that container could use the full 1,024 CPU unit share at any given time. However, if you launched another copy of the same task on that container instance, each task would be guaranteed a minimum of 512 CPU units when needed, and each container could float to higher CPU usage if the other container was not using it, but if both tasks were 100% active all of the time, they would be limited to 512 CPU units.</p> <p>The Docker daemon on the container instance uses the CPU value to calculate the relative CPU share ratios for running containers. For more information, see <a href=\"https://docs.docker.com/reference/run/#cpu-share-constraint\">CPU share constraint</a> in the Docker documentation. The minimum valid CPU share value that the Linux kernel will allow is 2; however, the CPU parameter is not required, and you can use CPU values below 2 in your container definitions. For CPU values below 2 (including null), the behavior varies based on your Amazon ECS container agent version:</p> <ul> <li> <b>Agent versions less than or equal to 1.1.0:</b> Null and zero CPU values are passed to Docker as 0, which Docker then converts to 1,024 CPU shares. CPU values of 1 are passed to Docker as 1, which the Linux kernel converts to 2 CPU shares.</li> <li> <b>Agent versions greater than or equal to 1.2.0:</b> Null, zero, and CPU values of 1 are passed to Docker as 2.</li> </ul>"
        },
        "memory":{
          "shape":"Integer",
          "documentation":"<p>The number of MiB of memory reserved for the container. If your container attempts to exceed the memory allocated here, the container is killed.</p>"
        },
        "links":{
          "shape":"StringList",
          "documentation":"<p>The <code>link</code> parameter allows containers to communicate with each other without the need for port mappings, using the <code>name</code> parameter. The <code>name:internalName</code> construct is analogous to <code>name:alias</code> in Docker links. For more information on linking Docker containers, see <a href=\"https://docs.docker.com/userguide/dockerlinks/\">https://docs.docker.com/userguide/dockerlinks/</a>.</p> <important> <p>Containers that are collocated on a single container instance may be able to communicate with each other without requiring links or host port mappings. Network isolation is achieved on the container instance using security groups and VPC settings.</p> </important>"
        },
        "portMappings":{
          "shape":"PortMappingList",
          "documentation":"<p>The list of port mappings for the container.</p>"
        },
        "essential":{
          "shape":"BoxedBoolean",
          "documentation":"<p>If the <code>essential</code> parameter of a container is marked as <code>true</code>, the failure of that container will stop the task. If the <code>essential</code> parameter of a container is marked as <code>false</code>, then its failure will not affect the rest of the containers in a task. If this parameter is omitted, a container is assumed to be essential.</p> <note> <p>All tasks must have at least one essential container.</p> </note>"
        },
        "entryPoint":{
          "shape":"StringList",
          "documentation":"<important> <p>Early versions of the Amazon ECS container agent do not properly handle <code>entryPoint</code> parameters. If you have problems using <code>entryPoint</code>, update your container agent or enter your commands and arguments as <code>command</code> array items instead.</p> </important> <p>The <code>ENTRYPOINT</code> that is passed to the container. For more information on the Docker <code>ENTRYPOINT</code> parameter, see <a href=\"https://docs.docker.com/reference/builder/#entrypoint\">https://docs.docker.com/reference/builder/#entrypoint</a>.</p>"
        },
        "command":{
          "shape":"StringList",
          "documentation":"<p>The <code>CMD</code> that is passed to the container. For more information on the Docker <code>CMD</code> parameter, see <a href=\"https://docs.docker.com/reference/builder/#cmd\">https://docs.docker.com/reference/builder/#cmd</a>.</p>"
        },
        "environment":{
          "shape":"EnvironmentVariables",
          "documentation":"<p>The environment variables to pass to a container.</p>"
        },
        "mountPoints":{
          "shape":"MountPointList",
          "documentation":"<p>The mount points for data volumes in your container.</p>"
        },
        "volumesFrom":{
          "shape":"VolumeFromList",
          "documentation":"<p>Data volumes to mount from another container.</p>"
        }
      },
      "documentation":"<p>Container definitions are used in task definitions to describe the different containers that are launched as part of a task.</p>"
    },
    "ContainerDefinitions":{
      "type":"list",
      "member":{"shape":"ContainerDefinition"}
    },
    "ContainerInstance":{
      "type":"structure",
      "members":{
        "containerInstanceArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the container instance. The ARN contains the <code>arn:aws:ecs</code> namespace, followed by the region of the container instance, the AWS account ID of the container instance owner, the <code>container-instance</code> namespace, and then the container instance UUID. For example, arn:aws:ecs:<i>region</i>:<i>aws_account_id</i>:container-instance/<i>container_instance_UUID</i>.</p>"
        },
        "ec2InstanceId":{
          "shape":"String",
          "documentation":"<p>The Amazon EC2 instance ID of the container instance.</p>"
        },
        "versionInfo":{
          "shape":"VersionInfo",
          "documentation":"<p>The version information for the Amazon ECS container agent and Docker daemon running on the container instance.</p>"
        },
        "remainingResources":{
          "shape":"Resources",
          "documentation":"<p>The remaining resources of the container instance that are available for new tasks.</p>"
        },
        "registeredResources":{
          "shape":"Resources",
          "documentation":"<p>The registered resources on the container instance that are in use by current tasks.</p>"
        },
        "status":{
          "shape":"String",
          "documentation":"<p>The status of the container instance. The valid values are <code>ACTIVE</code> or <code>INACTIVE</code>. <code>ACTIVE</code> indicates that the container instance can accept tasks.</p>"
        },
        "agentConnected":{
          "shape":"Boolean",
          "documentation":"<p>This parameter returns <code>true</code> if the agent is actually connected to Amazon ECS. Registered instances with an agent that may be unhealthy or stopped will return <code>false</code>, and instances without a connected agent cannot accept placement request.</p>"
        },
        "runningTasksCount":{
          "shape":"Integer",
          "documentation":"<p>The number of tasks on the container instance that are in the <code>RUNNING</code> status.</p>"
        },
        "pendingTasksCount":{
          "shape":"Integer",
          "documentation":"<p>The number of tasks on the container instance that are in the <code>PENDING</code> status.</p>"
        },
        "agentUpdateStatus":{
          "shape":"AgentUpdateStatus",
          "documentation":"<p>The status of the most recent agent update. If an update has never been requested, this value is <code>NULL</code>.</p>"
        }
      },
      "documentation":"<p>An Amazon EC2 instance that is running the Amazon ECS agent and has been registered with a cluster.</p>"
    },
    "ContainerInstances":{
      "type":"list",
      "member":{"shape":"ContainerInstance"}
    },
    "ContainerOverride":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the container that receives the override.</p>"
        },
        "command":{
          "shape":"StringList",
          "documentation":"<p>The command to send to the container that overrides the default command from the Docker image or the task definition.</p>"
        },
        "environment":{
          "shape":"EnvironmentVariables",
          "documentation":"<p>The environment variables to send to the container. You can add new environment variables, which are added to the container at launch, or you can override the existing environment variables from the Docker image or the task definition.</p>"
        }
      },
      "documentation":"<p>The name of a container in a task definition and the command it should run instead of its default.</p>"
    },
    "ContainerOverrides":{
      "type":"list",
      "member":{"shape":"ContainerOverride"}
    },
    "Containers":{
      "type":"list",
      "member":{"shape":"Container"}
    },
    "CreateClusterRequest":{
      "type":"structure",
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of your cluster. If you do not specify a name for your cluster, you will create a cluster named <code>default</code>. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed.</p>"
        }
      }
    },
    "CreateClusterResponse":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"Cluster",
          "documentation":"<p>The full description of your new cluster.</p>"
        }
      }
    },
    "CreateServiceRequest":{
      "type":"structure",
      "required":[
        "serviceName",
        "taskDefinition",
        "desiredCount"
      ],
      "members":{
        "cluster":{
          "shape":"String",
          "documentation":"<p>The short name or full Amazon Resource Name (ARN) of the cluster that you want to run your service on. If you do not specify a cluster, the default cluster is assumed.</p>"
        },
        "serviceName":{
          "shape":"String",
          "documentation":"<p>The name of your service. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed.</p>"
        },
        "taskDefinition":{
          "shape":"String",
          "documentation":"<p>The <code>family</code> and <code>revision</code> (<code>family:revision</code>) or full Amazon Resource Name (ARN) of the task definition that you want to run in your service. If a <code>revision</code> is not specified, the latest <code>ACTIVE</code> revision is used.</p>"
        },
        "loadBalancers":{
          "shape":"LoadBalancers",
          "documentation":"<p>A list of load balancer objects, containing the load balancer name, the container name (as it appears in a container definition), and the container port to access from the load balancer.</p>"
        },
        "desiredCount":{
          "shape":"BoxedInteger",
          "documentation":"<p>The number of instantiations of the specified task definition that you would like to place and keep running on your cluster.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request. Up to 32 ASCII characters are allowed.</p>"
        },
        "role":{
          "shape":"String",
          "documentation":"<p>The name or full Amazon Resource Name (ARN) of the IAM role that allows your Amazon ECS container agent to make calls to your load balancer on your behalf. This parameter is only required if you are using a load balancer with your service.</p>"
        }
      }
    },
    "CreateServiceResponse":{
      "type":"structure",
      "members":{
        "service":{
          "shape":"Service",
          "documentation":"<p>The full description of your service following the create call.</p>"
        }
      }
    },
    "DeleteClusterRequest":{
      "type":"structure",
      "required":["cluster"],
      "members":{
        "cluster":{
          "shape":"String",
          "documentation":"<p>The short name or full Amazon Resource Name (ARN) of the cluster that you want to delete.</p>"
        }
      }
    },
    "DeleteClusterResponse":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"Cluster",
          "documentation":"<p>The full description of the deleted cluster.</p>"
        }
      }
    },
    "DeleteServiceRequest":{
      "type":"structure",
      "required":["service"],
      "members":{
        "cluster":{
          "shape":"String",
          "documentation":"<p>The name of the cluster that hosts the service you want to delete.</p>"
        },
        "service":{
          "shape":"String",
          "documentation":"<p>The name of the service you want to delete.</p>"
        }
      }
    },
    "DeleteServiceResponse":{
      "type":"structure",
      "members":{
        "service":{"shape":"Service"}
      }
    },
    "Deployment":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"String",
          "documentation":"<p>The ID of the deployment.</p>"
        },
        "status":{
          "shape":"String",
          "documentation":"<p>The status of the deployment. Valid values are <code>PRIMARY</code> (for the most recent deployment), <code>ACTIVE</code> (for previous deployments that still have tasks running, but are being replaced with the <code>PRIMARY</code> deployment), and <code>INACTIVE</code> (for deployments that have been completely replaced).</p>"
        },
        "taskDefinition":{
          "shape":"String",
          "documentation":"<p>The most recent task definition that was specified for the service to use.</p>"
        },
        "desiredCount":{
          "shape":"Integer",
          "documentation":"<p>The most recent desired count of tasks that was specified for the service to deploy and/or maintain.</p>"
        },
        "pendingCount":{
          "shape":"Integer",
          "documentation":"<p>The number of tasks in the deployment that are in the <code>PENDING</code> status.</p>"
        },
        "runningCount":{
          "shape":"Integer",
          "documentation":"<p>The number of tasks in the deployment that are in the <code>RUNNING</code> status.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix time in seconds and milliseconds when the service was created.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix time in seconds and milliseconds when the service was last updated.</p>"
        }
      }
    },
    "Deployments":{
      "type":"list",
      "member":{"shape":"Deployment"}
    },
    "DeregisterContainerInstanceRequest":{
      "type":"structure",
      "required":["containerInstance"],
      "members":{
        "cluster":{
          "shape":"String",
          "documentation":"<p>The short name or full Amazon Resource Name (ARN) of the cluster that hosts the container instance you want to deregister. If you do not specify a cluster, the default cluster is assumed.</p>"
        },
        "containerInstance":{
          "shape":"String",
          "documentation":"<p>The container instance UUID or full Amazon Resource Name (ARN) of the container instance you want to deregister. The ARN contains the <code>arn:aws:ecs</code> namespace, followed by the region of the container instance, the AWS account ID of the container instance owner, the <code>container-instance</code> namespace, and then the container instance UUID. For example, arn:aws:ecs:<i>region</i>:<i>aws_account_id</i>:container-instance/<i>container_instance_UUID</i>.</p>"
        },
        "force":{
          "shape":"BoxedBoolean",
          "documentation":"<p>Force the deregistration of the container instance. You can use the <code>force</code> parameter if you have several tasks running on a container instance and you don't want to run <code>StopTask</code> for each task before deregistering the container instance.</p>"
        }
      }
    },
    "DeregisterContainerInstanceResponse":{
      "type":"structure",
      "members":{
        "containerInstance":{"shape":"ContainerInstance"}
      }
    },
    "DeregisterTaskDefinitionRequest":{
      "type":"structure",
      "required":["taskDefinition"],
      "members":{
        "taskDefinition":{
          "shape":"String",
          "documentation":"<p>The <code>family</code> and <code>revision</code> (<code>family:revision</code>) or full Amazon Resource Name (ARN) of the task definition that you want to deregister. You must specify a <code>revision</code>.</p>"
        }
      }
    },
    "DeregisterTaskDefinitionResponse":{
      "type":"structure",
      "members":{
        "taskDefinition":{
          "shape":"TaskDefinition",
          "documentation":"<p>The full description of the deregistered task.</p>"
        }
      }
    },
    "DescribeClustersRequest":{
      "type":"structure",
      "members":{
        "clusters":{
          "shape":"StringList",
          "documentation":"<p>A space-separated list of cluster names or full cluster Amazon Resource Name (ARN) entries. If you do not specify a cluster, the default cluster is assumed.</p>"
        }
      }
    },
    "DescribeClustersResponse":{
      "type":"structure",
      "members":{
        "clusters":{
          "shape":"Clusters",
          "documentation":"<p>The list of clusters.</p>"
        },
        "failures":{"shape":"Failures"}
      }
    },
    "DescribeContainerInstancesRequest":{
      "type":"structure",
      "required":["containerInstances"],
      "members":{
        "cluster":{
          "shape":"String",
          "documentation":"<p>The short name or full Amazon Resource Name (ARN) of the cluster that hosts the container instances you want to describe. If you do not specify a cluster, the default cluster is assumed.</p>"
        },
        "containerInstances":{
          "shape":"StringList",
          "documentation":"<p>A space-separated list of container instance UUIDs or full Amazon Resource Name (ARN) entries.</p>"
        }
      }
    },
    "DescribeContainerInstancesResponse":{
      "type":"structure",
      "members":{
        "containerInstances":{
          "shape":"ContainerInstances",
          "documentation":"<p>The list of container instances.</p>"
        },
        "failures":{"shape":"Failures"}
      }
    },
    "DescribeServicesRequest":{
      "type":"structure",
      "required":["services"],
      "members":{
        "cluster":{
          "shape":"String",
          "documentation":"<p>The name of the cluster that hosts the service you want to describe.</p>"
        },
        "services":{
          "shape":"StringList",
          "documentation":"<p>A list of services you want to describe.</p>"
        }
      }
    },
    "DescribeServicesResponse":{
      "type":"structure",
      "members":{
        "services":{
          "shape":"Services",
          "documentation":"<p>The list of services described.</p>"
        },
        "failures":{
          "shape":"Failures",
          "documentation":"<p>Any failures associated with the call.</p>"
        }
      }
    },
    "DescribeTaskDefinitionRequest":{
      "type":"structure",
      "required":["taskDefinition"],
      "members":{
        "taskDefinition":{
          "shape":"String",
          "documentation":"<p>The <code>family</code> for the latest <code>ACTIVE</code> revision, <code>family</code> and <code>revision</code> (<code>family:revision</code>) for a specific revision in the family, or full Amazon Resource Name (ARN) of the task definition that you want to describe.</p>"
        }
      }
    },
    "DescribeTaskDefinitionResponse":{
      "type":"structure",
      "members":{
        "taskDefinition":{
          "shape":"TaskDefinition",
          "documentation":"<p>The full task definition description.</p>"
        }
      }
    },
    "DescribeTasksRequest":{
      "type":"structure",
      "required":["tasks"],
      "members":{
        "cluster":{
          "shape":"String",
          "documentation":"<p>The short name or full Amazon Resource Name (ARN) of the cluster that hosts the task you want to describe. If you do not specify a cluster, the default cluster is assumed.</p>"
        },
        "tasks":{
          "shape":"StringList",
          "documentation":"<p>A space-separated list of task UUIDs or full Amazon Resource Name (ARN) entries.</p>"
        }
      }
    },
    "DescribeTasksResponse":{
      "type":"structure",
      "members":{
        "tasks":{
          "shape":"Tasks",
          "documentation":"<p>The list of tasks.</p>"
        },
        "failures":{"shape":"Failures"}
      }
    },
    "DesiredStatus":{
      "type":"string",
      "enum":[
        "RUNNING",
        "PENDING",
        "STOPPED"
      ]
    },
    "DiscoverPollEndpointRequest":{
      "type":"structure",
      "members":{
        "containerInstance":{
          "shape":"String",
          "documentation":"<p>The container instance UUID or full Amazon Resource Name (ARN) of the container instance. The ARN contains the <code>arn:aws:ecs</code> namespace, followed by the region of the container instance, the AWS account ID of the container instance owner, the <code>container-instance</code> namespace, and then the container instance UUID. For example, arn:aws:ecs:<i>region</i>:<i>aws_account_id</i>:container-instance/<i>container_instance_UUID</i>.</p>"
        },
        "cluster":{
          "shape":"String",
          "documentation":"<p>The cluster that the container instance belongs to.</p>"
        }
      }
    },
    "DiscoverPollEndpointResponse":{
      "type":"structure",
      "members":{
        "endpoint":{
          "shape":"String",
          "documentation":"<p>The endpoint for the Amazon ECS agent to poll.</p>"
        },
        "telemetryEndpoint":{
          "shape":"String",
          "documentation":"<p>The telemetry endpoint for the Amazon ECS agent.</p>"
        }
      }
    },
    "Double":{"type":"double"},
    "EnvironmentVariables":{
      "type":"list",
      "member":{"shape":"KeyValuePair"}
    },
    "Failure":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the failed resource.</p>"
        },
        "reason":{
          "shape":"String",
          "documentation":"<p>The reason for the failure.</p>"
        }
      }
    },
    "Failures":{
      "type":"list",
      "member":{"shape":"Failure"}
    },
    "HostVolumeProperties":{
      "type":"structure",
      "members":{
        "sourcePath":{
          "shape":"String",
          "documentation":"<p>The path on the host container instance that is presented to the container. If this parameter is empty, then the Docker daemon has assigned a host path for you.</p>"
        }
      }
    },
    "Integer":{"type":"integer"},
    "InvalidParameterException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>"
    },
    "KeyValuePair":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the key value pair. For environment variables, this is the name of the environment variable.</p>"
        },
        "value":{
          "shape":"String",
          "documentation":"<p>The value of the key value pair. For environment variables, this is the value of the environment variable.</p>"
        }
      },
      "documentation":"<p>A key and value pair object.</p>"
    },
    "ListClustersRequest":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListClusters</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p>"
        },
        "maxResults":{
          "shape":"BoxedInteger",
          "documentation":"<p>The maximum number of cluster results returned by <code>ListClusters</code> in paginated output. When this parameter is used, <code>ListClusters</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListClusters</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListClusters</code> returns up to 100 results and a <code>nextToken</code> value if applicable.</p>"
        }
      }
    },
    "ListClustersResponse":{
      "type":"structure",
      "members":{
        "clusterArns":{
          "shape":"StringList",
          "documentation":"<p>The list of full Amazon Resource Name (ARN) entries for each cluster associated with your account.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>ListClusters</code> request. When the results of a <code>ListClusters</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "ListContainerInstancesRequest":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"String",
          "documentation":"<p>The short name or full Amazon Resource Name (ARN) of the cluster that hosts the container instances you want to list. If you do not specify a cluster, the default cluster is assumed..</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListContainerInstances</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p>"
        },
        "maxResults":{
          "shape":"BoxedInteger",
          "documentation":"<p>The maximum number of container instance results returned by <code>ListContainerInstances</code> in paginated output. When this parameter is used, <code>ListContainerInstances</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListContainerInstances</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListContainerInstances</code> returns up to 100 results and a <code>nextToken</code> value if applicable.</p>"
        }
      }
    },
    "ListContainerInstancesResponse":{
      "type":"structure",
      "members":{
        "containerInstanceArns":{
          "shape":"StringList",
          "documentation":"<p>The list of container instance full Amazon Resource Name (ARN) entries for each container instance associated with the specified cluster.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>ListContainerInstances</code> request. When the results of a <code>ListContainerInstances</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "ListServicesRequest":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"String",
          "documentation":"<p>The short name or full Amazon Resource Name (ARN) of the cluster that hosts the services you want to list. If you do not specify a cluster, the default cluster is assumed..</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListServices</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p>"
        },
        "maxResults":{
          "shape":"BoxedInteger",
          "documentation":"<p>The maximum number of container instance results returned by <code>ListServices</code> in paginated output. When this parameter is used, <code>ListServices</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListServices</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListServices</code> returns up to 100 results and a <code>nextToken</code> value if applicable.</p>"
        }
      }
    },
    "ListServicesResponse":{
      "type":"structure",
      "members":{
        "serviceArns":{
          "shape":"StringList",
          "documentation":"<p>The list of full Amazon Resource Name (ARN) entries for each service associated with the specified cluster.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>ListServices</code> request. When the results of a <code>ListServices</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "ListTaskDefinitionFamiliesRequest":{
      "type":"structure",
      "members":{
        "familyPrefix":{
          "shape":"String",
          "documentation":"<p>The <code>familyPrefix</code> is a string that is used to filter the results of <code>ListTaskDefinitionFamilies</code>. If you specify a <code>familyPrefix</code>, only task definition family names that begin with the <code>familyPrefix</code> string are returned.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListTaskDefinitionFamilies</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p>"
        },
        "maxResults":{
          "shape":"BoxedInteger",
          "documentation":"<p>The maximum number of task definition family results returned by <code>ListTaskDefinitionFamilies</code> in paginated output. When this parameter is used, <code>ListTaskDefinitions</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListTaskDefinitionFamilies</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListTaskDefinitionFamilies</code> returns up to 100 results and a <code>nextToken</code> value if applicable.</p>"
        }
      }
    },
    "ListTaskDefinitionFamiliesResponse":{
      "type":"structure",
      "members":{
        "families":{
          "shape":"StringList",
          "documentation":"<p>The list of task definition family names that match the <code>ListTaskDefinitionFamilies</code> request.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>ListTaskDefinitionFamilies</code> request. When the results of a <code>ListTaskDefinitionFamilies</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "ListTaskDefinitionsRequest":{
      "type":"structure",
      "members":{
        "familyPrefix":{
          "shape":"String",
          "documentation":"<p>The full family name that you want to filter the <code>ListTaskDefinitions</code> results with. Specifying a <code>familyPrefix</code> will limit the listed task definitions to task definition revisions that belong to that family.</p>"
        },
        "status":{
          "shape":"TaskDefinitionStatus",
          "documentation":"<p>The task definition status that you want to filter the <code>ListTaskDefinitions</code> results with. By default, only <code>ACTIVE</code> task definitions are listed. By setting this parameter to <code>INACTIVE</code>, you can view task definitions that are <code>INACTIVE</code> as long as an active task or service still references them. If you paginate the resulting output, be sure to keep the <code>status</code> value constant in each subsequent request.</p>"
        },
        "sort":{
          "shape":"SortOrder",
          "documentation":"<p>The order in which to sort the results. Valid values are <code>ASC</code> and <code>DESC</code>. By default (<code>ASC</code>), task definitions are listed lexicographically by family name and in ascending numerical order by revision so that the newest task definitions in a family are listed last. Setting this parameter to <code>DESC</code> reverses the sort order on family name and revision so that the newest task definitions in a family are listed first.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListTaskDefinitions</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p>"
        },
        "maxResults":{
          "shape":"BoxedInteger",
          "documentation":"<p>The maximum number of task definition results returned by <code>ListTaskDefinitions</code> in paginated output. When this parameter is used, <code>ListTaskDefinitions</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListTaskDefinitions</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListTaskDefinitions</code> returns up to 100 results and a <code>nextToken</code> value if applicable.</p>"
        }
      }
    },
    "ListTaskDefinitionsResponse":{
      "type":"structure",
      "members":{
        "taskDefinitionArns":{
          "shape":"StringList",
          "documentation":"<p>The list of task definition Amazon Resource Name (ARN) entries for the <code>ListTaskDefintions</code> request.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>ListTaskDefinitions</code> request. When the results of a <code>ListTaskDefinitions</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "ListTasksRequest":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"String",
          "documentation":"<p>The short name or full Amazon Resource Name (ARN) of the cluster that hosts the tasks you want to list. If you do not specify a cluster, the default cluster is assumed..</p>"
        },
        "containerInstance":{
          "shape":"String",
          "documentation":"<p>The container instance UUID or full Amazon Resource Name (ARN) of the container instance that you want to filter the <code>ListTasks</code> results with. Specifying a <code>containerInstance</code> will limit the results to tasks that belong to that container instance.</p>"
        },
        "family":{
          "shape":"String",
          "documentation":"<p>The name of the family that you want to filter the <code>ListTasks</code> results with. Specifying a <code>family</code> will limit the results to tasks that belong to that family.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListTasks</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p>"
        },
        "maxResults":{
          "shape":"BoxedInteger",
          "documentation":"<p>The maximum number of task results returned by <code>ListTasks</code> in paginated output. When this parameter is used, <code>ListTasks</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListTasks</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListTasks</code> returns up to 100 results and a <code>nextToken</code> value if applicable.</p>"
        },
        "startedBy":{
          "shape":"String",
          "documentation":"<p>The <code>startedBy</code> value that you want to filter the task results with. Specifying a <code>startedBy</code> value will limit the results to tasks that were started with that value.</p>"
        },
        "serviceName":{
          "shape":"String",
          "documentation":"<p>The name of the service that you want to filter the <code>ListTasks</code> results with. Specifying a <code>serviceName</code> will limit the results to tasks that belong to that service.</p>"
        },
        "desiredStatus":{
          "shape":"DesiredStatus",
          "documentation":"<p>The task status that you want to filter the <code>ListTasks</code> results with. Specifying a <code>desiredStatus</code> of <code>STOPPED</code> will limit the results to tasks that are in the <code>STOPPED</code> status, which can be useful for debugging tasks that are not starting properly or have died or finished. The default status filter is <code>RUNNING</code>.</p>"
        }
      }
    },
    "ListTasksResponse":{
      "type":"structure",
      "members":{
        "taskArns":{
          "shape":"StringList",
          "documentation":"<p>The list of task Amazon Resource Name (ARN) entries for the <code>ListTasks</code> request.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>ListTasks</code> request. When the results of a <code>ListTasks</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "LoadBalancer":{
      "type":"structure",
      "members":{
        "loadBalancerName":{
          "shape":"String",
          "documentation":"<p>The name of the load balancer.</p>"
        },
        "containerName":{
          "shape":"String",
          "documentation":"<p>The name of the container to associate with the load balancer.</p>"
        },
        "containerPort":{
          "shape":"BoxedInteger",
          "documentation":"<p>The port on the container to associate with the load balancer. This port must correspond to a <code>containerPort</code> in the service's task definition. Your container instances must allow ingress traffic on the <code>hostPort</code> of the port mapping.</p>"
        }
      }
    },
    "LoadBalancers":{
      "type":"list",
      "member":{"shape":"LoadBalancer"}
    },
    "Long":{"type":"long"},
    "MissingVersionException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>Amazon ECS is unable to determine the current version of the Amazon ECS container agent on the container instance and does not have enough information to proceed with an update. This could be because the agent running on the container instance is an older or custom version that does not use our version information.</p>"
    },
    "MountPoint":{
      "type":"structure",
      "members":{
        "sourceVolume":{
          "shape":"String",
          "documentation":"<p>The name of the volume to mount.</p>"
        },
        "containerPath":{
          "shape":"String",
          "documentation":"<p>The path on the container to mount the host volume at.</p>"
        },
        "readOnly":{
          "shape":"BoxedBoolean",
          "documentation":"<p>If this value is <code>true</code>, the container has read-only access to the volume. If this value is <code>false</code>, then the container can write to the volume. The default value is <code>false</code>.</p>"
        }
      }
    },
    "MountPointList":{
      "type":"list",
      "member":{"shape":"MountPoint"}
    },
    "NetworkBinding":{
      "type":"structure",
      "members":{
        "bindIP":{
          "shape":"String",
          "documentation":"<p>The IP address that the container is bound to on the container instance.</p>"
        },
        "containerPort":{
          "shape":"BoxedInteger",
          "documentation":"<p>The port number on the container that is be used with the network binding.</p>"
        },
        "hostPort":{
          "shape":"BoxedInteger",
          "documentation":"<p>The port number on the host that is used with the network binding.</p>"
        },
        "protocol":{
          "shape":"TransportProtocol",
          "documentation":"<p>The protocol used for the network binding.</p>"
        }
      }
    },
    "NetworkBindings":{
      "type":"list",
      "member":{"shape":"NetworkBinding"}
    },
    "NoUpdateAvailableException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"<p>There is no update available for this Amazon ECS container agent. This could be because the agent is already running the latest version, or it is so old that there is no update path to the current version.</p>"
    },
    "PortMapping":{
      "type":"structure",
      "members":{
        "containerPort":{
          "shape":"Integer",
          "documentation":"<p>The port number on the container that is bound to the user-specified or automatically assigned host port. If you specify a container port and not a host port, your container will automatically receive a host port in the ephemeral port range (for more information, see <code>hostPort</code>).</p>"
        },
        "hostPort":{
          "shape":"Integer",
          "documentation":"<p>The port number on the container instance to reserve for your container. You can specify a non-reserved host port for your container port mapping, or you can omit the <code>hostPort</code> (or set it to <code>0</code>) while specifying a <code>containerPort</code> and your container will automatically receive a port in the ephemeral port range for your container instance operating system and Docker version.</p> <p>The default ephemeral port range is 49153 to 65535, and this range is used for Docker versions prior to 1.6.0. For Docker version 1.6.0 and later, the Docker daemon tries to read the ephemeral port range from <code>/proc/sys/net/ipv4/ip_local_port_range</code>; if this kernel parameter is unavailable, the default ephemeral port range is used. You should not attempt to specify a host port in the ephemeral port range, since these are reserved for automatic assignment. In general, ports below 32768 are outside of the ephemeral port range.</p> <p>The default reserved ports are 22 for SSH, the Docker ports 2375 and 2376, and the Amazon ECS Container Agent port 51678. Any host port that was previously specified in a running task is also reserved while the task is running (once a task stops, the host port is released).The current reserved ports are displayed in the <code>remainingResources</code> of <a>DescribeContainerInstances</a> output, and a container instance may have up to 50 reserved ports at a time, including the default reserved ports (automatically assigned ports do not count toward this limit).</p>"
        },
        "protocol":{
          "shape":"TransportProtocol",
          "documentation":"<p>The protocol used for the port mapping. Valid values are <code>tcp</code> and <code>udp</code>. The default is <code>tcp</code>.</p>"
        }
      },
      "documentation":"<p>Port mappings allow containers to access ports on the host container instance to send or receive traffic. Port mappings are specified as part of the container definition.</p>"
    },
    "PortMappingList":{
      "type":"list",
      "member":{"shape":"PortMapping"}
    },
    "RegisterContainerInstanceRequest":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"String",
          "documentation":"<p>The short name or full Amazon Resource Name (ARN) of the cluster that you want to register your container instance with. If you do not specify a cluster, the default cluster is assumed..</p>"
        },
        "instanceIdentityDocument":{
          "shape":"String",
          "documentation":"<p>The instance identity document for the Amazon EC2 instance to register. This document can be found by running the following command from the instance: <code>curl http://169.254.169.254/latest/dynamic/instance-identity/document/</code></p>"
        },
        "instanceIdentityDocumentSignature":{
          "shape":"String",
          "documentation":"<p>The instance identity document signature for the Amazon EC2 instance to register. This signature can be found by running the following command from the instance: <code>curl http://169.254.169.254/latest/dynamic/instance-identity/signature/</code></p>"
        },
        "totalResources":{
          "shape":"Resources",
          "documentation":"<p>The resources available on the instance.</p>"
        },
        "versionInfo":{
          "shape":"VersionInfo",
          "documentation":"<p>The version information for the Amazon ECS container agent and Docker daemon running on the container instance.</p>"
        }
      }
    },
    "RegisterContainerInstanceResponse":{
      "type":"structure",
      "members":{
        "containerInstance":{"shape":"ContainerInstance"}
      }
    },
    "RegisterTaskDefinitionRequest":{
      "type":"structure",
      "required":[
        "family",
        "containerDefinitions"
      ],
      "members":{
        "family":{
          "shape":"String",
          "documentation":"<p>You must specify a <code>family</code> for a task definition, which allows you to track multiple versions of the same task definition. You can think of the <code>family</code> as a name for your task definition. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed.</p>"
        },
        "containerDefinitions":{
          "shape":"ContainerDefinitions",
          "documentation":"<p>A list of container definitions in JSON format that describe the different containers that make up your task.</p>"
        },
        "volumes":{
          "shape":"VolumeList",
          "documentation":"<p>A list of volume definitions in JSON format that containers in your task may use.</p>"
        }
      }
    },
    "RegisterTaskDefinitionResponse":{
      "type":"structure",
      "members":{
        "taskDefinition":{"shape":"TaskDefinition"}
      }
    },
    "Resource":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the resource, such as <code>CPU</code>, <code>MEMORY</code>, <code>PORTS</code>, or a user-defined resource.</p>"
        },
        "type":{
          "shape":"String",
          "documentation":"<p>The type of the resource, such as <code>INTEGER</code>, <code>DOUBLE</code>, <code>LONG</code>, or <code>STRINGSET</code>.</p>"
        },
        "doubleValue":{
          "shape":"Double",
          "documentation":"<p>When the <code>doubleValue</code> type is set, the value of the resource must be a double precision floating-point type.</p>"
        },
        "longValue":{
          "shape":"Long",
          "documentation":"<p>When the <code>longValue</code> type is set, the value of the resource must be an extended precision floating-point type.</p>"
        },
        "integerValue":{
          "shape":"Integer",
          "documentation":"<p>When the <code>integerValue</code> type is set, the value of the resource must be an integer.</p>"
        },
        "stringSetValue":{
          "shape":"StringList",
          "documentation":"<p>When the <code>stringSetValue</code> type is set, the value of the resource must be a string type.</p>"
        }
      },
      "documentation":"<p>Describes the resources available for a container instance.</p>"
    },
    "Resources":{
      "type":"list",
      "member":{"shape":"Resource"}
    },
    "RunTaskRequest":{
      "type":"structure",
      "required":["taskDefinition"],
      "members":{
        "cluster":{
          "shape":"String",
          "documentation":"<p>The short name or full Amazon Resource Name (ARN) of the cluster that you want to run your task on. If you do not specify a cluster, the default cluster is assumed..</p>"
        },
        "taskDefinition":{
          "shape":"String",
          "documentation":"<p>The <code>family</code> and <code>revision</code> (<code>family:revision</code>) or full Amazon Resource Name (ARN) of the task definition that you want to run. If a <code>revision</code> is not specified, the latest <code>ACTIVE</code> revision is used.</p>"
        },
        "overrides":{
          "shape":"TaskOverride",
[...]
