{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-07-20",
    "endpointPrefix":"sso",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"SSO Admin",
    "serviceFullName":"AWS Single Sign-On Admin",
    "serviceId":"SSO Admin",
    "signatureVersion":"v4",
    "signingName":"sso",
    "targetPrefix":"SWBExternalService",
    "uid":"sso-admin-2020-07-20"
  },
  "operations":{
    "AttachCustomerManagedPolicyReferenceToPermissionSet":{
      "name":"AttachCustomerManagedPolicyReferenceToPermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachCustomerManagedPolicyReferenceToPermissionSetRequest"},
      "output":{"shape":"AttachCustomerManagedPolicyReferenceToPermissionSetResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "AttachManagedPolicyToPermissionSet":{
      "name":"AttachManagedPolicyToPermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachManagedPolicyToPermissionSetRequest"},
      "output":{"shape":"AttachManagedPolicyToPermissionSetResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "CreateAccountAssignment":{
      "name":"CreateAccountAssignment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAccountAssignmentRequest"},
      "output":{"shape":"CreateAccountAssignmentResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "CreateInstanceAccessControlAttributeConfiguration":{
      "name":"CreateInstanceAccessControlAttributeConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInstanceAccessControlAttributeConfigurationRequest"},
      "output":{"shape":"CreateInstanceAccessControlAttributeConfigurationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "CreatePermissionSet":{
      "name":"CreatePermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePermissionSetRequest"},
      "output":{"shape":"CreatePermissionSetResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "DeleteAccountAssignment":{
      "name":"DeleteAccountAssignment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAccountAssignmentRequest"},
      "output":{"shape":"DeleteAccountAssignmentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "DeleteInlinePolicyFromPermissionSet":{
      "name":"DeleteInlinePolicyFromPermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInlinePolicyFromPermissionSetRequest"},
      "output":{"shape":"DeleteInlinePolicyFromPermissionSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "DeleteInstanceAccessControlAttributeConfiguration":{
      "name":"DeleteInstanceAccessControlAttributeConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInstanceAccessControlAttributeConfigurationRequest"},
      "output":{"shape":"DeleteInstanceAccessControlAttributeConfigurationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "DeletePermissionSet":{
      "name":"DeletePermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePermissionSetRequest"},
      "output":{"shape":"DeletePermissionSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "DeletePermissionsBoundaryFromPermissionSet":{
      "name":"DeletePermissionsBoundaryFromPermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePermissionsBoundaryFromPermissionSetRequest"},
      "output":{"shape":"DeletePermissionsBoundaryFromPermissionSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "DescribeAccountAssignmentCreationStatus":{
      "name":"DescribeAccountAssignmentCreationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountAssignmentCreationStatusRequest"},
      "output":{"shape":"DescribeAccountAssignmentCreationStatusResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "DescribeAccountAssignmentDeletionStatus":{
      "name":"DescribeAccountAssignmentDeletionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountAssignmentDeletionStatusRequest"},
      "output":{"shape":"DescribeAccountAssignmentDeletionStatusResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "DescribeInstanceAccessControlAttributeConfiguration":{
      "name":"DescribeInstanceAccessControlAttributeConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceAccessControlAttributeConfigurationRequest"},
      "output":{"shape":"DescribeInstanceAccessControlAttributeConfigurationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "DescribePermissionSet":{
      "name":"DescribePermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePermissionSetRequest"},
      "output":{"shape":"DescribePermissionSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "DescribePermissionSetProvisioningStatus":{
      "name":"DescribePermissionSetProvisioningStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePermissionSetProvisioningStatusRequest"},
      "output":{"shape":"DescribePermissionSetProvisioningStatusResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "DetachCustomerManagedPolicyReferenceFromPermissionSet":{
      "name":"DetachCustomerManagedPolicyReferenceFromPermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachCustomerManagedPolicyReferenceFromPermissionSetRequest"},
      "output":{"shape":"DetachCustomerManagedPolicyReferenceFromPermissionSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "DetachManagedPolicyFromPermissionSet":{
      "name":"DetachManagedPolicyFromPermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachManagedPolicyFromPermissionSetRequest"},
      "output":{"shape":"DetachManagedPolicyFromPermissionSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "GetInlinePolicyForPermissionSet":{
      "name":"GetInlinePolicyForPermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInlinePolicyForPermissionSetRequest"},
      "output":{"shape":"GetInlinePolicyForPermissionSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "GetPermissionsBoundaryForPermissionSet":{
      "name":"GetPermissionsBoundaryForPermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPermissionsBoundaryForPermissionSetRequest"},
      "output":{"shape":"GetPermissionsBoundaryForPermissionSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "ListAccountAssignmentCreationStatus":{
      "name":"ListAccountAssignmentCreationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAccountAssignmentCreationStatusRequest"},
      "output":{"shape":"ListAccountAssignmentCreationStatusResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "ListAccountAssignmentDeletionStatus":{
      "name":"ListAccountAssignmentDeletionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAccountAssignmentDeletionStatusRequest"},
      "output":{"shape":"ListAccountAssignmentDeletionStatusResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "ListAccountAssignments":{
      "name":"ListAccountAssignments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAccountAssignmentsRequest"},
      "output":{"shape":"ListAccountAssignmentsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "ListAccountsForProvisionedPermissionSet":{
      "name":"ListAccountsForProvisionedPermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAccountsForProvisionedPermissionSetRequest"},
      "output":{"shape":"ListAccountsForProvisionedPermissionSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "ListCustomerManagedPolicyReferencesInPermissionSet":{
      "name":"ListCustomerManagedPolicyReferencesInPermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCustomerManagedPolicyReferencesInPermissionSetRequest"},
      "output":{"shape":"ListCustomerManagedPolicyReferencesInPermissionSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "ListInstances":{
      "name":"ListInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInstancesRequest"},
      "output":{"shape":"ListInstancesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "ListManagedPoliciesInPermissionSet":{
      "name":"ListManagedPoliciesInPermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListManagedPoliciesInPermissionSetRequest"},
      "output":{"shape":"ListManagedPoliciesInPermissionSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "ListPermissionSetProvisioningStatus":{
      "name":"ListPermissionSetProvisioningStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPermissionSetProvisioningStatusRequest"},
      "output":{"shape":"ListPermissionSetProvisioningStatusResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "ListPermissionSets":{
      "name":"ListPermissionSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPermissionSetsRequest"},
      "output":{"shape":"ListPermissionSetsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "ListPermissionSetsProvisionedToAccount":{
      "name":"ListPermissionSetsProvisionedToAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPermissionSetsProvisionedToAccountRequest"},
      "output":{"shape":"ListPermissionSetsProvisionedToAccountResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ]
    },
    "ProvisionPermissionSet":{
      "name":"ProvisionPermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ProvisionPermissionSetRequest"},
      "output":{"shape":"ProvisionPermissionSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "PutInlinePolicyToPermissionSet":{
      "name":"PutInlinePolicyToPermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutInlinePolicyToPermissionSetRequest"},
      "output":{"shape":"PutInlinePolicyToPermissionSetResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "PutPermissionsBoundaryToPermissionSet":{
      "name":"PutPermissionsBoundaryToPermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutPermissionsBoundaryToPermissionSetRequest"},
      "output":{"shape":"PutPermissionsBoundaryToPermissionSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "UpdateInstanceAccessControlAttributeConfiguration":{
      "name":"UpdateInstanceAccessControlAttributeConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateInstanceAccessControlAttributeConfigurationRequest"},
      "output":{"shape":"UpdateInstanceAccessControlAttributeConfigurationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    },
    "UpdatePermissionSet":{
      "name":"UpdatePermissionSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePermissionSetRequest"},
      "output":{"shape":"UpdatePermissionSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ]
    }
  },
  "shapes":{
    "AccessControlAttribute":{
      "type":"structure",
      "required":[
        "Key",
        "Value"
      ],
      "members":{
        "Key":{"shape":"AccessControlAttributeKey"},
        "Value":{"shape":"AccessControlAttributeValue"}
      }
    },
    "AccessControlAttributeKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@]+$"
    },
    "AccessControlAttributeList":{
      "type":"list",
      "member":{"shape":"AccessControlAttribute"},
      "max":50,
      "min":0
    },
    "AccessControlAttributeValue":{
      "type":"structure",
      "required":["Source"],
      "members":{
        "Source":{"shape":"AccessControlAttributeValueSourceList"}
      }
    },
    "AccessControlAttributeValueSource":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"^[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@\\[\\]\\{\\}\\$\\\\\"]*$"
    },
    "AccessControlAttributeValueSourceList":{
      "type":"list",
      "member":{"shape":"AccessControlAttributeValueSource"},
      "max":1,
      "min":1
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"AccessDeniedExceptionMessage"}
      },
      "exception":true
    },
    "AccessDeniedExceptionMessage":{"type":"string"},
    "AccountAssignment":{
      "type":"structure",
      "members":{
        "AccountId":{"shape":"AccountId"},
        "PermissionSetArn":{"shape":"PermissionSetArn"},
        "PrincipalId":{"shape":"PrincipalId"},
        "PrincipalType":{"shape":"PrincipalType"}
      }
    },
    "AccountAssignmentList":{
      "type":"list",
      "member":{"shape":"AccountAssignment"}
    },
    "AccountAssignmentOperationStatus":{
      "type":"structure",
      "members":{
        "CreatedDate":{"shape":"Date"},
        "FailureReason":{"shape":"Reason"},
        "PermissionSetArn":{"shape":"PermissionSetArn"},
        "PrincipalId":{"shape":"PrincipalId"},
        "PrincipalType":{"shape":"PrincipalType"},
        "RequestId":{"shape":"UUId"},
        "Status":{"shape":"StatusValues"},
        "TargetId":{"shape":"TargetId"},
        "TargetType":{"shape":"TargetType"}
      }
    },
    "AccountAssignmentOperationStatusList":{
      "type":"list",
      "member":{"shape":"AccountAssignmentOperationStatusMetadata"}
    },
    "AccountAssignmentOperationStatusMetadata":{
      "type":"structure",
      "members":{
        "CreatedDate":{"shape":"Date"},
        "RequestId":{"shape":"UUId"},
        "Status":{"shape":"StatusValues"}
      }
    },
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"^\\d{12}$"
    },
    "AccountList":{
      "type":"list",
      "member":{"shape":"AccountId"}
    },
    "AttachCustomerManagedPolicyReferenceToPermissionSetRequest":{
      "type":"structure",
      "required":[
        "CustomerManagedPolicyReference",
        "InstanceArn",
        "PermissionSetArn"
      ],
      "members":{
        "CustomerManagedPolicyReference":{"shape":"CustomerManagedPolicyReference"},
        "InstanceArn":{"shape":"InstanceArn"},
        "PermissionSetArn":{"shape":"PermissionSetArn"}
      }
    },
    "AttachCustomerManagedPolicyReferenceToPermissionSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "AttachManagedPolicyToPermissionSetRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "ManagedPolicyArn",
        "PermissionSetArn"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "ManagedPolicyArn":{"shape":"ManagedPolicyArn"},
        "PermissionSetArn":{"shape":"PermissionSetArn"}
      }
    },
    "AttachManagedPolicyToPermissionSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "AttachedManagedPolicy":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"ManagedPolicyArn"},
        "Name":{"shape":"Name"}
      }
    },
    "AttachedManagedPolicyList":{
      "type":"list",
      "member":{"shape":"AttachedManagedPolicy"}
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ConflictExceptionMessage"}
      },
      "exception":true
    },
    "ConflictExceptionMessage":{"type":"string"},
    "CreateAccountAssignmentRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "PermissionSetArn",
        "PrincipalId",
        "PrincipalType",
        "TargetId",
        "TargetType"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "PermissionSetArn":{"shape":"PermissionSetArn"},
        "PrincipalId":{"shape":"PrincipalId"},
        "PrincipalType":{"shape":"PrincipalType"},
        "TargetId":{"shape":"TargetId"},
        "TargetType":{"shape":"TargetType"}
      }
    },
    "CreateAccountAssignmentResponse":{
      "type":"structure",
      "members":{
        "AccountAssignmentCreationStatus":{"shape":"AccountAssignmentOperationStatus"}
      }
    },
    "CreateInstanceAccessControlAttributeConfigurationRequest":{
      "type":"structure",
      "required":[
        "InstanceAccessControlAttributeConfiguration",
        "InstanceArn"
      ],
      "members":{
        "InstanceAccessControlAttributeConfiguration":{"shape":"InstanceAccessControlAttributeConfiguration"},
        "InstanceArn":{"shape":"InstanceArn"}
      }
    },
    "CreateInstanceAccessControlAttributeConfigurationResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreatePermissionSetRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "Name"
      ],
      "members":{
        "Description":{"shape":"PermissionSetDescription"},
        "InstanceArn":{"shape":"InstanceArn"},
        "Name":{"shape":"PermissionSetName"},
        "RelayState":{"shape":"RelayState"},
        "SessionDuration":{"shape":"Duration"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreatePermissionSetResponse":{
      "type":"structure",
      "members":{
        "PermissionSet":{"shape":"PermissionSet"}
      }
    },
    "CustomerManagedPolicyReference":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"ManagedPolicyName"},
        "Path":{"shape":"ManagedPolicyPath"}
      }
    },
    "CustomerManagedPolicyReferenceList":{
      "type":"list",
      "member":{"shape":"CustomerManagedPolicyReference"}
    },
    "Date":{"type":"timestamp"},
    "DeleteAccountAssignmentRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "PermissionSetArn",
        "PrincipalId",
        "PrincipalType",
        "TargetId",
        "TargetType"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "PermissionSetArn":{"shape":"PermissionSetArn"},
        "PrincipalId":{"shape":"PrincipalId"},
        "PrincipalType":{"shape":"PrincipalType"},
        "TargetId":{"shape":"TargetId"},
        "TargetType":{"shape":"TargetType"}
      }
    },
    "DeleteAccountAssignmentResponse":{
      "type":"structure",
      "members":{
        "AccountAssignmentDeletionStatus":{"shape":"AccountAssignmentOperationStatus"}
      }
    },
    "DeleteInlinePolicyFromPermissionSetRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "PermissionSetArn"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "PermissionSetArn":{"shape":"PermissionSetArn"}
      }
    },
    "DeleteInlinePolicyFromPermissionSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteInstanceAccessControlAttributeConfigurationRequest":{
      "type":"structure",
      "required":["InstanceArn"],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"}
      }
    },
    "DeleteInstanceAccessControlAttributeConfigurationResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeletePermissionSetRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "PermissionSetArn"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "PermissionSetArn":{"shape":"PermissionSetArn"}
      }
    },
    "DeletePermissionSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeletePermissionsBoundaryFromPermissionSetRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "PermissionSetArn"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "PermissionSetArn":{"shape":"PermissionSetArn"}
      }
    },
    "DeletePermissionsBoundaryFromPermissionSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeAccountAssignmentCreationStatusRequest":{
      "type":"structure",
      "required":[
        "AccountAssignmentCreationRequestId",
        "InstanceArn"
      ],
      "members":{
        "AccountAssignmentCreationRequestId":{"shape":"UUId"},
        "InstanceArn":{"shape":"InstanceArn"}
      }
    },
    "DescribeAccountAssignmentCreationStatusResponse":{
      "type":"structure",
      "members":{
        "AccountAssignmentCreationStatus":{"shape":"AccountAssignmentOperationStatus"}
      }
    },
    "DescribeAccountAssignmentDeletionStatusRequest":{
      "type":"structure",
      "required":[
        "AccountAssignmentDeletionRequestId",
        "InstanceArn"
      ],
      "members":{
        "AccountAssignmentDeletionRequestId":{"shape":"UUId"},
        "InstanceArn":{"shape":"InstanceArn"}
      }
    },
    "DescribeAccountAssignmentDeletionStatusResponse":{
      "type":"structure",
      "members":{
        "AccountAssignmentDeletionStatus":{"shape":"AccountAssignmentOperationStatus"}
      }
    },
    "DescribeInstanceAccessControlAttributeConfigurationRequest":{
      "type":"structure",
      "required":["InstanceArn"],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"}
      }
    },
    "DescribeInstanceAccessControlAttributeConfigurationResponse":{
      "type":"structure",
      "members":{
        "InstanceAccessControlAttributeConfiguration":{"shape":"InstanceAccessControlAttributeConfiguration"},
        "Status":{"shape":"InstanceAccessControlAttributeConfigurationStatus"},
        "StatusReason":{"shape":"InstanceAccessControlAttributeConfigurationStatusReason"}
      }
    },
    "DescribePermissionSetProvisioningStatusRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "ProvisionPermissionSetRequestId"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "ProvisionPermissionSetRequestId":{"shape":"UUId"}
      }
    },
    "DescribePermissionSetProvisioningStatusResponse":{
      "type":"structure",
      "members":{
        "PermissionSetProvisioningStatus":{"shape":"PermissionSetProvisioningStatus"}
      }
    },
    "DescribePermissionSetRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "PermissionSetArn"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "PermissionSetArn":{"shape":"PermissionSetArn"}
      }
    },
    "DescribePermissionSetResponse":{
      "type":"structure",
      "members":{
        "PermissionSet":{"shape":"PermissionSet"}
      }
    },
    "DetachCustomerManagedPolicyReferenceFromPermissionSetRequest":{
      "type":"structure",
      "required":[
        "CustomerManagedPolicyReference",
        "InstanceArn",
        "PermissionSetArn"
      ],
      "members":{
        "CustomerManagedPolicyReference":{"shape":"CustomerManagedPolicyReference"},
        "InstanceArn":{"shape":"InstanceArn"},
        "PermissionSetArn":{"shape":"PermissionSetArn"}
      }
    },
    "DetachCustomerManagedPolicyReferenceFromPermissionSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DetachManagedPolicyFromPermissionSetRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "ManagedPolicyArn",
        "PermissionSetArn"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "ManagedPolicyArn":{"shape":"ManagedPolicyArn"},
        "PermissionSetArn":{"shape":"PermissionSetArn"}
      }
    },
    "DetachManagedPolicyFromPermissionSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Duration":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^(-?)P(?=\\d|T\\d)(?:(\\d+)Y)?(?:(\\d+)M)?(?:(\\d+)([DW]))?(?:T(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+(?:\\.\\d+)?)S)?)?$"
    },
    "GetInlinePolicyForPermissionSetRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "PermissionSetArn"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "PermissionSetArn":{"shape":"PermissionSetArn"}
      }
    },
    "GetInlinePolicyForPermissionSetResponse":{
      "type":"structure",
      "members":{
        "InlinePolicy":{"shape":"PermissionSetPolicyDocument"}
      }
    },
    "GetPermissionsBoundaryForPermissionSetRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "PermissionSetArn"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "PermissionSetArn":{"shape":"PermissionSetArn"}
      }
    },
    "GetPermissionsBoundaryForPermissionSetResponse":{
      "type":"structure",
      "members":{
        "PermissionsBoundary":{"shape":"PermissionsBoundary"}
      }
    },
    "Id":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"^[a-zA-Z0-9-]*$"
    },
    "InstanceAccessControlAttributeConfiguration":{
      "type":"structure",
      "required":["AccessControlAttributes"],
      "members":{
        "AccessControlAttributes":{"shape":"AccessControlAttributeList"}
      }
    },
    "InstanceAccessControlAttributeConfigurationStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "CREATION_IN_PROGRESS",
        "CREATION_FAILED"
      ]
    },
    "InstanceAccessControlAttributeConfigurationStatusReason":{"type":"string"},
    "InstanceArn":{
      "type":"string",
      "max":1224,
      "min":10,
      "pattern":"^arn:(aws|aws-us-gov|aws-cn|aws-iso|aws-iso-b):sso:::instance/(sso)?ins-[a-zA-Z0-9-.]{16}$"
    },
    "InstanceList":{
      "type":"list",
      "member":{"shape":"InstanceMetadata"}
    },
    "InstanceMetadata":{
      "type":"structure",
      "members":{
        "IdentityStoreId":{"shape":"Id"},
        "InstanceArn":{"shape":"InstanceArn"}
      }
    },
    "InternalFailureMessage":{"type":"string"},
    "InternalServerException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"InternalFailureMessage"}
      },
      "exception":true,
      "fault":true
    },
    "ListAccountAssignmentCreationStatusRequest":{
      "type":"structure",
      "required":["InstanceArn"],
      "members":{
        "Filter":{"shape":"OperationStatusFilter"},
        "InstanceArn":{"shape":"InstanceArn"},
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListAccountAssignmentCreationStatusResponse":{
      "type":"structure",
      "members":{
        "AccountAssignmentsCreationStatus":{"shape":"AccountAssignmentOperationStatusList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListAccountAssignmentDeletionStatusRequest":{
      "type":"structure",
      "required":["InstanceArn"],
      "members":{
        "Filter":{"shape":"OperationStatusFilter"},
        "InstanceArn":{"shape":"InstanceArn"},
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListAccountAssignmentDeletionStatusResponse":{
      "type":"structure",
      "members":{
        "AccountAssignmentsDeletionStatus":{"shape":"AccountAssignmentOperationStatusList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListAccountAssignmentsRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "InstanceArn",
        "PermissionSetArn"
      ],
      "members":{
        "AccountId":{"shape":"TargetId"},
        "InstanceArn":{"shape":"InstanceArn"},
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"Token"},
        "PermissionSetArn":{"shape":"PermissionSetArn"}
      }
    },
    "ListAccountAssignmentsResponse":{
      "type":"structure",
      "members":{
        "AccountAssignments":{"shape":"AccountAssignmentList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListAccountsForProvisionedPermissionSetRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "PermissionSetArn"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"Token"},
        "PermissionSetArn":{"shape":"PermissionSetArn"},
        "ProvisioningStatus":{"shape":"ProvisioningStatus"}
      }
    },
    "ListAccountsForProvisionedPermissionSetResponse":{
      "type":"structure",
      "members":{
        "AccountIds":{"shape":"AccountList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListCustomerManagedPolicyReferencesInPermissionSetRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "PermissionSetArn"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"Token"},
        "PermissionSetArn":{"shape":"PermissionSetArn"}
      }
    },
    "ListCustomerManagedPolicyReferencesInPermissionSetResponse":{
      "type":"structure",
      "members":{
        "CustomerManagedPolicyReferences":{"shape":"CustomerManagedPolicyReferenceList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListInstancesRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListInstancesResponse":{
      "type":"structure",
      "members":{
        "Instances":{"shape":"InstanceList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListManagedPoliciesInPermissionSetRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "PermissionSetArn"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"Token"},
        "PermissionSetArn":{"shape":"PermissionSetArn"}
      }
    },
    "ListManagedPoliciesInPermissionSetResponse":{
      "type":"structure",
      "members":{
        "AttachedManagedPolicies":{"shape":"AttachedManagedPolicyList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListPermissionSetProvisioningStatusRequest":{
      "type":"structure",
      "required":["InstanceArn"],
      "members":{
        "Filter":{"shape":"OperationStatusFilter"},
        "InstanceArn":{"shape":"InstanceArn"},
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListPermissionSetProvisioningStatusResponse":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"Token"},
        "PermissionSetsProvisioningStatus":{"shape":"PermissionSetProvisioningStatusList"}
      }
    },
    "ListPermissionSetsProvisionedToAccountRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "InstanceArn"
      ],
      "members":{
        "AccountId":{"shape":"AccountId"},
        "InstanceArn":{"shape":"InstanceArn"},
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"Token"},
        "ProvisioningStatus":{"shape":"ProvisioningStatus"}
      }
    },
    "ListPermissionSetsProvisionedToAccountResponse":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"Token"},
        "PermissionSets":{"shape":"PermissionSetList"}
      }
    },
    "ListPermissionSetsRequest":{
      "type":"structure",
      "required":["InstanceArn"],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListPermissionSetsResponse":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"Token"},
        "PermissionSets":{"shape":"PermissionSetList"}
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "ResourceArn"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "NextToken":{"shape":"Token"},
        "ResourceArn":{"shape":"TaggableResourceArn"}
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"Token"},
        "Tags":{"shape":"TagList"}
      }
    },
    "ManagedPolicyArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn:(aws|aws-us-gov|aws-cn|aws-iso|aws-iso-b):iam::aws:policy/[\\p{L}\\p{M}\\p{Z}\\p{S}\\p{N}\\p{P}]+$"
    },
    "ManagedPolicyName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^[\\w+=,.@-]+$"
    },
    "ManagedPolicyPath":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"^((/[A-Za-z0-9\\.,\\+@=_-]+)*)/$"
    },
    "MaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "Name":{
      "type":"string",
      "max":100,
      "min":1
    },
    "OperationStatusFilter":{
      "type":"structure",
      "members":{
        "Status":{"shape":"StatusValues"}
      }
    },
    "PermissionSet":{
      "type":"structure",
      "members":{
        "CreatedDate":{"shape":"Date"},
        "Description":{"shape":"PermissionSetDescription"},
        "Name":{"shape":"PermissionSetName"},
        "PermissionSetArn":{"shape":"PermissionSetArn"},
        "RelayState":{"shape":"RelayState"},
        "SessionDuration":{"shape":"Duration"}
      }
    },
    "PermissionSetArn":{
      "type":"string",
      "max":1224,
      "min":10,
      "pattern":"^arn:(aws|aws-us-gov|aws-cn|aws-iso|aws-iso-b):sso:::permissionSet/(sso)?ins-[a-zA-Z0-9-.]{16}/ps-[a-zA-Z0-9-./]{16}$"
    },
    "PermissionSetDescription":{
      "type":"string",
      "max":700,
      "min":1,
      "pattern":"^[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u00A1-\\u00FF]*$"
    },
    "PermissionSetList":{
      "type":"list",
      "member":{"shape":"PermissionSetArn"}
    },
    "PermissionSetName":{
      "type":"string",
      "max":32,
      "min":1,
      "pattern":"^[\\w+=,.@-]+$"
    },
    "PermissionSetPolicyDocument":{
      "type":"string",
      "max":32768,
      "min":1,
      "pattern":"^[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+$"
    },
    "PermissionSetProvisioningStatus":{
      "type":"structure",
      "members":{
        "AccountId":{"shape":"AccountId"},
        "CreatedDate":{"shape":"Date"},
        "FailureReason":{"shape":"Reason"},
        "PermissionSetArn":{"shape":"PermissionSetArn"},
        "RequestId":{"shape":"UUId"},
        "Status":{"shape":"StatusValues"}
      }
    },
    "PermissionSetProvisioningStatusList":{
      "type":"list",
      "member":{"shape":"PermissionSetProvisioningStatusMetadata"}
    },
    "PermissionSetProvisioningStatusMetadata":{
      "type":"structure",
      "members":{
        "CreatedDate":{"shape":"Date"},
        "RequestId":{"shape":"UUId"},
        "Status":{"shape":"StatusValues"}
      }
    },
    "PermissionsBoundary":{
      "type":"structure",
      "members":{
        "CustomerManagedPolicyReference":{"shape":"CustomerManagedPolicyReference"},
        "ManagedPolicyArn":{"shape":"ManagedPolicyArn"}
      }
    },
    "PrincipalId":{
      "type":"string",
      "max":47,
      "min":1,
      "pattern":"^([0-9a-f]{10}-|)[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}$"
    },
    "PrincipalType":{
      "type":"string",
      "enum":[
        "USER",
        "GROUP"
      ]
    },
    "ProvisionPermissionSetRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "PermissionSetArn",
        "TargetType"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "PermissionSetArn":{"shape":"PermissionSetArn"},
        "TargetId":{"shape":"TargetId"},
        "TargetType":{"shape":"ProvisionTargetType"}
      }
    },
    "ProvisionPermissionSetResponse":{
      "type":"structure",
      "members":{
        "PermissionSetProvisioningStatus":{"shape":"PermissionSetProvisioningStatus"}
      }
    },
    "ProvisionTargetType":{
      "type":"string",
      "enum":[
        "AWS_ACCOUNT",
        "ALL_PROVISIONED_ACCOUNTS"
      ]
    },
    "ProvisioningStatus":{
      "type":"string",
      "enum":[
        "LATEST_PERMISSION_SET_PROVISIONED",
        "LATEST_PERMISSION_SET_NOT_PROVISIONED"
      ]
    },
    "PutInlinePolicyToPermissionSetRequest":{
      "type":"structure",
      "required":[
        "InlinePolicy",
        "InstanceArn",
        "PermissionSetArn"
      ],
      "members":{
        "InlinePolicy":{"shape":"PermissionSetPolicyDocument"},
        "InstanceArn":{"shape":"InstanceArn"},
        "PermissionSetArn":{"shape":"PermissionSetArn"}
      }
    },
    "PutInlinePolicyToPermissionSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "PutPermissionsBoundaryToPermissionSetRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "PermissionSetArn",
        "PermissionsBoundary"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "PermissionSetArn":{"shape":"PermissionSetArn"},
        "PermissionsBoundary":{"shape":"PermissionsBoundary"}
      }
    },
    "PutPermissionsBoundaryToPermissionSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Reason":{
      "type":"string",
      "pattern":"^[\\p{L}\\p{M}\\p{Z}\\p{S}\\p{N}\\p{P}]*$"
    },
    "RelayState":{
      "type":"string",
      "max":240,
      "min":1,
      "pattern":"^[a-zA-Z0-9&$@#\\\\\\/%?=~\\-_'\"|!:,.;*+\\[\\]\\ \\(\\)\\{\\}]+$"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ResourceNotFoundMessage"}
      },
      "exception":true
    },
    "ResourceNotFoundMessage":{"type":"string"},
    "ServiceQuotaExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ServiceQuotaExceededMessage"}
      },
      "exception":true
    },
    "ServiceQuotaExceededMessage":{"type":"string"},
    "StatusValues":{
      "type":"string",
      "enum":[
        "IN_PROGRESS",
        "FAILED",
        "SUCCEEDED"
      ]
    },
    "Tag":{
      "type":"structure",
      "required":[
        "Key",
        "Value"
      ],
      "members":{
        "Key":{"shape":"TagKey"},
        "Value":{"shape":"TagValue"}
      }
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":50,
      "min":1
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":50,
      "min":0
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "ResourceArn":{"shape":"TaggableResourceArn"},
        "Tags":{"shape":"TagList"}
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "TaggableResourceArn":{
      "type":"string",
      "max":2048,
      "min":10,
      "pattern":"^arn:(aws|aws-us-gov|aws-cn|aws-iso|aws-iso-b):sso:::permissionSet/(sso)?ins-[a-zA-Z0-9-.]{16}/ps-[a-zA-Z0-9-./]{16}$"
    },
    "TargetId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"^\\d{12}$"
    },
    "TargetType":{
      "type":"string",
      "enum":["AWS_ACCOUNT"]
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ThrottlingExceptionMessage"}
      },
      "exception":true
    },
    "ThrottlingExceptionMessage":{"type":"string"},
    "Token":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"^[-a-zA-Z0-9+=/_]*$"
    },
    "UUId":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"^\\b[0-9a-f]{8}\\b-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-\\b[0-9a-f]{12}\\b$"
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "ResourceArn",
        "TagKeys"
      ],
      "members":{
        "InstanceArn":{"shape":"InstanceArn"},
        "ResourceArn":{"shape":"TaggableResourceArn"},
        "TagKeys":{"shape":"TagKeyList"}
      }
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateInstanceAccessControlAttributeConfigurationRequest":{
      "type":"structure",
      "required":[
        "InstanceAccessControlAttributeConfiguration",
        "InstanceArn"
      ],
      "members":{
        "InstanceAccessControlAttributeConfiguration":{"shape":"InstanceAccessControlAttributeConfiguration"},
        "InstanceArn":{"shape":"InstanceArn"}
      }
    },
    "UpdateInstanceAccessControlAttributeConfigurationResponse":{
      "type":"structure",
      "members":{
      }
    },
    "UpdatePermissionSetRequest":{
      "type":"structure",
      "required":[
        "InstanceArn",
        "PermissionSetArn"
      ],
      "members":{
        "Description":{"shape":"PermissionSetDescription"},
        "InstanceArn":{"shape":"InstanceArn"},
        "PermissionSetArn":{"shape":"PermissionSetArn"},
        "RelayState":{"shape":"RelayState"},
        "SessionDuration":{"shape":"Duration"}
      }
    },
    "UpdatePermissionSetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "ValidationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ValidationExceptionMessage"}
      },
      "exception":true
    },
    "ValidationExceptionMessage":{"type":"string"}
  }
}
