{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-05-10",
    "endpointPrefix":"datazone",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"Amazon DataZone",
    "serviceId":"DataZone",
    "signatureVersion":"v4",
    "signingName":"datazone",
    "uid":"datazone-2018-05-10"
  },
  "operations":{
    "AcceptPredictions":{
      "name":"AcceptPredictions",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}/accept-predictions",
        "responseCode":200
      },
      "input":{"shape":"AcceptPredictionsInput"},
      "output":{"shape":"AcceptPredictionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "AcceptSubscriptionRequest":{
      "name":"AcceptSubscriptionRequest",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests/{identifier}/accept",
        "responseCode":200
      },
      "input":{"shape":"AcceptSubscriptionRequestInput"},
      "output":{"shape":"AcceptSubscriptionRequestOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "CancelMetadataGenerationRun":{
      "name":"CancelMetadataGenerationRun",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/metadata-generation-runs/{identifier}/cancel",
        "responseCode":200
      },
      "input":{"shape":"CancelMetadataGenerationRunInput"},
      "output":{"shape":"CancelMetadataGenerationRunOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "CancelSubscription":{
      "name":"CancelSubscription",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/subscriptions/{identifier}/cancel",
        "responseCode":200
      },
      "input":{"shape":"CancelSubscriptionInput"},
      "output":{"shape":"CancelSubscriptionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "CreateAsset":{
      "name":"CreateAsset",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/assets",
        "responseCode":201
      },
      "input":{"shape":"CreateAssetInput"},
      "output":{"shape":"CreateAssetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "CreateAssetRevision":{
      "name":"CreateAssetRevision",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}/revisions",
        "responseCode":200
      },
      "input":{"shape":"CreateAssetRevisionInput"},
      "output":{"shape":"CreateAssetRevisionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "CreateAssetType":{
      "name":"CreateAssetType",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/asset-types",
        "responseCode":201
      },
      "input":{"shape":"CreateAssetTypeInput"},
      "output":{"shape":"CreateAssetTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources",
        "responseCode":201
      },
      "input":{"shape":"CreateDataSourceInput"},
      "output":{"shape":"CreateDataSourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "CreateDomain":{
      "name":"CreateDomain",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains",
        "responseCode":201
      },
      "input":{"shape":"CreateDomainInput"},
      "output":{"shape":"CreateDomainOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "CreateEnvironment":{
      "name":"CreateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/environments",
        "responseCode":201
      },
      "input":{"shape":"CreateEnvironmentInput"},
      "output":{"shape":"CreateEnvironmentOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "CreateEnvironmentProfile":{
      "name":"CreateEnvironmentProfile",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-profiles",
        "responseCode":201
      },
      "input":{"shape":"CreateEnvironmentProfileInput"},
      "output":{"shape":"CreateEnvironmentProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "CreateFormType":{
      "name":"CreateFormType",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/form-types",
        "responseCode":201
      },
      "input":{"shape":"CreateFormTypeInput"},
      "output":{"shape":"CreateFormTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "CreateGlossary":{
      "name":"CreateGlossary",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/glossaries",
        "responseCode":201
      },
      "input":{"shape":"CreateGlossaryInput"},
      "output":{"shape":"CreateGlossaryOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "CreateGlossaryTerm":{
      "name":"CreateGlossaryTerm",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/glossary-terms",
        "responseCode":201
      },
      "input":{"shape":"CreateGlossaryTermInput"},
      "output":{"shape":"CreateGlossaryTermOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "CreateGroupProfile":{
      "name":"CreateGroupProfile",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/group-profiles",
        "responseCode":201
      },
      "input":{"shape":"CreateGroupProfileInput"},
      "output":{"shape":"CreateGroupProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "CreateListingChangeSet":{
      "name":"CreateListingChangeSet",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/listings/change-set",
        "responseCode":200
      },
      "input":{"shape":"CreateListingChangeSetInput"},
      "output":{"shape":"CreateListingChangeSetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "CreateProject":{
      "name":"CreateProject",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/projects",
        "responseCode":201
      },
      "input":{"shape":"CreateProjectInput"},
      "output":{"shape":"CreateProjectOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "CreateProjectMembership":{
      "name":"CreateProjectMembership",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/projects/{projectIdentifier}/createMembership",
        "responseCode":201
      },
      "input":{"shape":"CreateProjectMembershipInput"},
      "output":{"shape":"CreateProjectMembershipOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "CreateSubscriptionGrant":{
      "name":"CreateSubscriptionGrant",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-grants",
        "responseCode":200
      },
      "input":{"shape":"CreateSubscriptionGrantInput"},
      "output":{"shape":"CreateSubscriptionGrantOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "CreateSubscriptionRequest":{
      "name":"CreateSubscriptionRequest",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests",
        "responseCode":200
      },
      "input":{"shape":"CreateSubscriptionRequestInput"},
      "output":{"shape":"CreateSubscriptionRequestOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "CreateSubscriptionTarget":{
      "name":"CreateSubscriptionTarget",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets",
        "responseCode":200
      },
      "input":{"shape":"CreateSubscriptionTargetInput"},
      "output":{"shape":"CreateSubscriptionTargetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "CreateUserProfile":{
      "name":"CreateUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/user-profiles",
        "responseCode":201
      },
      "input":{"shape":"CreateUserProfileInput"},
      "output":{"shape":"CreateUserProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "DeleteAsset":{
      "name":"DeleteAsset",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAssetInput"},
      "output":{"shape":"DeleteAssetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "DeleteAssetType":{
      "name":"DeleteAssetType",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/asset-types/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAssetTypeInput"},
      "output":{"shape":"DeleteAssetTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteDataSourceInput"},
      "output":{"shape":"DeleteDataSourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "DeleteDomain":{
      "name":"DeleteDomain",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{identifier}",
        "responseCode":202
      },
      "input":{"shape":"DeleteDomainInput"},
      "output":{"shape":"DeleteDomainOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "DeleteEnvironment":{
      "name":"DeleteEnvironment",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteEnvironmentInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "DeleteEnvironmentBlueprintConfiguration":{
      "name":"DeleteEnvironmentBlueprintConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprint-configurations/{environmentBlueprintIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteEnvironmentBlueprintConfigurationInput"},
      "output":{"shape":"DeleteEnvironmentBlueprintConfigurationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "DeleteEnvironmentProfile":{
      "name":"DeleteEnvironmentProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-profiles/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteEnvironmentProfileInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "DeleteFormType":{
      "name":"DeleteFormType",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/form-types/{formTypeIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteFormTypeInput"},
      "output":{"shape":"DeleteFormTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "DeleteGlossary":{
      "name":"DeleteGlossary",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/glossaries/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteGlossaryInput"},
      "output":{"shape":"DeleteGlossaryOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "DeleteGlossaryTerm":{
      "name":"DeleteGlossaryTerm",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/glossary-terms/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteGlossaryTermInput"},
      "output":{"shape":"DeleteGlossaryTermOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "DeleteListing":{
      "name":"DeleteListing",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/listings/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteListingInput"},
      "output":{"shape":"DeleteListingOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "DeleteProject":{
      "name":"DeleteProject",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/projects/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteProjectInput"},
      "output":{"shape":"DeleteProjectOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "DeleteProjectMembership":{
      "name":"DeleteProjectMembership",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/projects/{projectIdentifier}/deleteMembership",
        "responseCode":204
      },
      "input":{"shape":"DeleteProjectMembershipInput"},
      "output":{"shape":"DeleteProjectMembershipOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "DeleteSubscriptionGrant":{
      "name":"DeleteSubscriptionGrant",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-grants/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteSubscriptionGrantInput"},
      "output":{"shape":"DeleteSubscriptionGrantOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "DeleteSubscriptionRequest":{
      "name":"DeleteSubscriptionRequest",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteSubscriptionRequestInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "DeleteSubscriptionTarget":{
      "name":"DeleteSubscriptionTarget",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteSubscriptionTargetInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "DeleteTimeSeriesDataPoints":{
      "name":"DeleteTimeSeriesDataPoints",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/time-series-data-points",
        "responseCode":204
      },
      "input":{"shape":"DeleteTimeSeriesDataPointsInput"},
      "output":{"shape":"DeleteTimeSeriesDataPointsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "GetAsset":{
      "name":"GetAsset",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetAssetInput"},
      "output":{"shape":"GetAssetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetAssetType":{
      "name":"GetAssetType",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/asset-types/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetAssetTypeInput"},
      "output":{"shape":"GetAssetTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetDataSource":{
      "name":"GetDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetDataSourceInput"},
      "output":{"shape":"GetDataSourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetDataSourceRun":{
      "name":"GetDataSourceRun",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-source-runs/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetDataSourceRunInput"},
      "output":{"shape":"GetDataSourceRunOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetDomain":{
      "name":"GetDomain",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetDomainInput"},
      "output":{"shape":"GetDomainOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetEnvironment":{
      "name":"GetEnvironment",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetEnvironmentInput"},
      "output":{"shape":"GetEnvironmentOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetEnvironmentBlueprint":{
      "name":"GetEnvironmentBlueprint",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprints/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetEnvironmentBlueprintInput"},
      "output":{"shape":"GetEnvironmentBlueprintOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetEnvironmentBlueprintConfiguration":{
      "name":"GetEnvironmentBlueprintConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprint-configurations/{environmentBlueprintIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetEnvironmentBlueprintConfigurationInput"},
      "output":{"shape":"GetEnvironmentBlueprintConfigurationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetEnvironmentProfile":{
      "name":"GetEnvironmentProfile",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-profiles/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetEnvironmentProfileInput"},
      "output":{"shape":"GetEnvironmentProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetFormType":{
      "name":"GetFormType",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/form-types/{formTypeIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetFormTypeInput"},
      "output":{"shape":"GetFormTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetGlossary":{
      "name":"GetGlossary",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/glossaries/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetGlossaryInput"},
      "output":{"shape":"GetGlossaryOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetGlossaryTerm":{
      "name":"GetGlossaryTerm",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/glossary-terms/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetGlossaryTermInput"},
      "output":{"shape":"GetGlossaryTermOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetGroupProfile":{
      "name":"GetGroupProfile",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/group-profiles/{groupIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetGroupProfileInput"},
      "output":{"shape":"GetGroupProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetIamPortalLoginUrl":{
      "name":"GetIamPortalLoginUrl",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/get-portal-login-url",
        "responseCode":200
      },
      "input":{"shape":"GetIamPortalLoginUrlInput"},
      "output":{"shape":"GetIamPortalLoginUrlOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetListing":{
      "name":"GetListing",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/listings/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetListingInput"},
      "output":{"shape":"GetListingOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetMetadataGenerationRun":{
      "name":"GetMetadataGenerationRun",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/metadata-generation-runs/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetMetadataGenerationRunInput"},
      "output":{"shape":"GetMetadataGenerationRunOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetProject":{
      "name":"GetProject",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/projects/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetProjectInput"},
      "output":{"shape":"GetProjectOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetSubscription":{
      "name":"GetSubscription",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/subscriptions/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetSubscriptionInput"},
      "output":{"shape":"GetSubscriptionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetSubscriptionGrant":{
      "name":"GetSubscriptionGrant",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-grants/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetSubscriptionGrantInput"},
      "output":{"shape":"GetSubscriptionGrantOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetSubscriptionRequestDetails":{
      "name":"GetSubscriptionRequestDetails",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetSubscriptionRequestDetailsInput"},
      "output":{"shape":"GetSubscriptionRequestDetailsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetSubscriptionTarget":{
      "name":"GetSubscriptionTarget",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetSubscriptionTargetInput"},
      "output":{"shape":"GetSubscriptionTargetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetTimeSeriesDataPoint":{
      "name":"GetTimeSeriesDataPoint",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/time-series-data-points/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetTimeSeriesDataPointInput"},
      "output":{"shape":"GetTimeSeriesDataPointOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "GetUserProfile":{
      "name":"GetUserProfile",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/user-profiles/{userIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetUserProfileInput"},
      "output":{"shape":"GetUserProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListAssetRevisions":{
      "name":"ListAssetRevisions",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}/revisions",
        "responseCode":200
      },
      "input":{"shape":"ListAssetRevisionsInput"},
      "output":{"shape":"ListAssetRevisionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListDataSourceRunActivities":{
      "name":"ListDataSourceRunActivities",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-source-runs/{identifier}/activities",
        "responseCode":200
      },
      "input":{"shape":"ListDataSourceRunActivitiesInput"},
      "output":{"shape":"ListDataSourceRunActivitiesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListDataSourceRuns":{
      "name":"ListDataSourceRuns",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources/{dataSourceIdentifier}/runs",
        "responseCode":200
      },
      "input":{"shape":"ListDataSourceRunsInput"},
      "output":{"shape":"ListDataSourceRunsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources",
        "responseCode":200
      },
      "input":{"shape":"ListDataSourcesInput"},
      "output":{"shape":"ListDataSourcesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListDomains":{
      "name":"ListDomains",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains",
        "responseCode":200
      },
      "input":{"shape":"ListDomainsInput"},
      "output":{"shape":"ListDomainsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListEnvironmentBlueprintConfigurations":{
      "name":"ListEnvironmentBlueprintConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprint-configurations",
        "responseCode":200
      },
      "input":{"shape":"ListEnvironmentBlueprintConfigurationsInput"},
      "output":{"shape":"ListEnvironmentBlueprintConfigurationsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListEnvironmentBlueprints":{
      "name":"ListEnvironmentBlueprints",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprints",
        "responseCode":200
      },
      "input":{"shape":"ListEnvironmentBlueprintsInput"},
      "output":{"shape":"ListEnvironmentBlueprintsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListEnvironmentProfiles":{
      "name":"ListEnvironmentProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-profiles",
        "responseCode":200
      },
      "input":{"shape":"ListEnvironmentProfilesInput"},
      "output":{"shape":"ListEnvironmentProfilesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListEnvironments":{
      "name":"ListEnvironments",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environments",
        "responseCode":200
      },
      "input":{"shape":"ListEnvironmentsInput"},
      "output":{"shape":"ListEnvironmentsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListMetadataGenerationRuns":{
      "name":"ListMetadataGenerationRuns",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/metadata-generation-runs",
        "responseCode":200
      },
      "input":{"shape":"ListMetadataGenerationRunsInput"},
      "output":{"shape":"ListMetadataGenerationRunsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListNotifications":{
      "name":"ListNotifications",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/notifications",
        "responseCode":200
      },
      "input":{"shape":"ListNotificationsInput"},
      "output":{"shape":"ListNotificationsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListProjectMemberships":{
      "name":"ListProjectMemberships",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/projects/{projectIdentifier}/memberships",
        "responseCode":200
      },
      "input":{"shape":"ListProjectMembershipsInput"},
      "output":{"shape":"ListProjectMembershipsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListProjects":{
      "name":"ListProjects",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/projects",
        "responseCode":200
      },
      "input":{"shape":"ListProjectsInput"},
      "output":{"shape":"ListProjectsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListSubscriptionGrants":{
      "name":"ListSubscriptionGrants",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-grants",
        "responseCode":200
      },
      "input":{"shape":"ListSubscriptionGrantsInput"},
      "output":{"shape":"ListSubscriptionGrantsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListSubscriptionRequests":{
      "name":"ListSubscriptionRequests",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests",
        "responseCode":200
      },
      "input":{"shape":"ListSubscriptionRequestsInput"},
      "output":{"shape":"ListSubscriptionRequestsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListSubscriptionTargets":{
      "name":"ListSubscriptionTargets",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets",
        "responseCode":200
      },
      "input":{"shape":"ListSubscriptionTargetsInput"},
      "output":{"shape":"ListSubscriptionTargetsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListSubscriptions":{
      "name":"ListSubscriptions",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/subscriptions",
        "responseCode":200
      },
      "input":{"shape":"ListSubscriptionsInput"},
      "output":{"shape":"ListSubscriptionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "ListTimeSeriesDataPoints":{
      "name":"ListTimeSeriesDataPoints",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/time-series-data-points",
        "responseCode":200
      },
      "input":{"shape":"ListTimeSeriesDataPointsInput"},
      "output":{"shape":"ListTimeSeriesDataPointsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "PostTimeSeriesDataPoints":{
      "name":"PostTimeSeriesDataPoints",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/time-series-data-points",
        "responseCode":201
      },
      "input":{"shape":"PostTimeSeriesDataPointsInput"},
      "output":{"shape":"PostTimeSeriesDataPointsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "PutEnvironmentBlueprintConfiguration":{
      "name":"PutEnvironmentBlueprintConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprint-configurations/{environmentBlueprintIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"PutEnvironmentBlueprintConfigurationInput"},
      "output":{"shape":"PutEnvironmentBlueprintConfigurationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "RejectPredictions":{
      "name":"RejectPredictions",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}/reject-predictions",
        "responseCode":200
      },
      "input":{"shape":"RejectPredictionsInput"},
      "output":{"shape":"RejectPredictionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "RejectSubscriptionRequest":{
      "name":"RejectSubscriptionRequest",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests/{identifier}/reject",
        "responseCode":200
      },
      "input":{"shape":"RejectSubscriptionRequestInput"},
      "output":{"shape":"RejectSubscriptionRequestOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "RevokeSubscription":{
      "name":"RevokeSubscription",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/subscriptions/{identifier}/revoke",
        "responseCode":200
      },
      "input":{"shape":"RevokeSubscriptionInput"},
      "output":{"shape":"RevokeSubscriptionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "Search":{
      "name":"Search",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/search",
        "responseCode":200
      },
      "input":{"shape":"SearchInput"},
      "output":{"shape":"SearchOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "SearchGroupProfiles":{
      "name":"SearchGroupProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/search-group-profiles",
        "responseCode":200
      },
      "input":{"shape":"SearchGroupProfilesInput"},
      "output":{"shape":"SearchGroupProfilesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "SearchListings":{
      "name":"SearchListings",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/listings/search",
        "responseCode":200
      },
      "input":{"shape":"SearchListingsInput"},
      "output":{"shape":"SearchListingsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "SearchTypes":{
      "name":"SearchTypes",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/types-search",
        "responseCode":200
      },
      "input":{"shape":"SearchTypesInput"},
      "output":{"shape":"SearchTypesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "SearchUserProfiles":{
      "name":"SearchUserProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/search-user-profiles",
        "responseCode":200
      },
      "input":{"shape":"SearchUserProfilesInput"},
      "output":{"shape":"SearchUserProfilesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "StartDataSourceRun":{
      "name":"StartDataSourceRun",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources/{dataSourceIdentifier}/runs",
        "responseCode":200
      },
      "input":{"shape":"StartDataSourceRunInput"},
      "output":{"shape":"StartDataSourceRunOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "StartMetadataGenerationRun":{
      "name":"StartMetadataGenerationRun",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/metadata-generation-runs",
        "responseCode":200
      },
      "input":{"shape":"StartMetadataGenerationRunInput"},
      "output":{"shape":"StartMetadataGenerationRunOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateDataSourceInput"},
      "output":{"shape":"UpdateDataSourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "UpdateDomain":{
      "name":"UpdateDomain",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateDomainInput"},
      "output":{"shape":"UpdateDomainOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "UpdateEnvironment":{
      "name":"UpdateEnvironment",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateEnvironmentInput"},
      "output":{"shape":"UpdateEnvironmentOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "UpdateEnvironmentProfile":{
      "name":"UpdateEnvironmentProfile",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-profiles/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateEnvironmentProfileInput"},
      "output":{"shape":"UpdateEnvironmentProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "UpdateGlossary":{
      "name":"UpdateGlossary",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/glossaries/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateGlossaryInput"},
      "output":{"shape":"UpdateGlossaryOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "UpdateGlossaryTerm":{
      "name":"UpdateGlossaryTerm",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/glossary-terms/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateGlossaryTermInput"},
      "output":{"shape":"UpdateGlossaryTermOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "UpdateGroupProfile":{
      "name":"UpdateGroupProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/group-profiles/{groupIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateGroupProfileInput"},
      "output":{"shape":"UpdateGroupProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    },
    "UpdateProject":{
      "name":"UpdateProject",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/projects/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateProjectInput"},
      "output":{"shape":"UpdateProjectOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "UpdateSubscriptionGrantStatus":{
      "name":"UpdateSubscriptionGrantStatus",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-grants/{identifier}/status/{assetIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateSubscriptionGrantStatusInput"},
      "output":{"shape":"UpdateSubscriptionGrantStatusOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "UpdateSubscriptionRequest":{
      "name":"UpdateSubscriptionRequest",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateSubscriptionRequestInput"},
      "output":{"shape":"UpdateSubscriptionRequestOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "UpdateSubscriptionTarget":{
      "name":"UpdateSubscriptionTarget",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateSubscriptionTargetInput"},
      "output":{"shape":"UpdateSubscriptionTargetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "idempotent":true
    },
    "UpdateUserProfile":{
      "name":"UpdateUserProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/user-profiles/{userIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateUserProfileInput"},
      "output":{"shape":"UpdateUserProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ]
    }
  },
  "shapes":{
    "AcceptChoice":{
      "type":"structure",
      "required":["predictionTarget"],
      "members":{
        "editedValue":{"shape":"EditedValue"},
        "predictionChoice":{"shape":"Integer"},
        "predictionTarget":{"shape":"String"}
      }
    },
    "AcceptChoices":{
      "type":"list",
      "member":{"shape":"AcceptChoice"}
    },
    "AcceptPredictionsInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "identifier"
      ],
      "members":{
        "acceptChoices":{"shape":"AcceptChoices"},
        "acceptRule":{"shape":"AcceptRule"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "identifier":{
          "shape":"AssetIdentifier",
          "location":"uri",
          "locationName":"identifier"
        },
        "revision":{
          "shape":"Revision",
          "location":"querystring",
          "locationName":"revision"
        }
      }
    },
    "AcceptPredictionsOutput":{
      "type":"structure",
      "required":[
        "assetId",
        "domainId",
        "revision"
      ],
      "members":{
        "assetId":{"shape":"AssetId"},
        "domainId":{"shape":"DomainId"},
        "revision":{"shape":"Revision"}
      }
    },
    "AcceptRule":{
      "type":"structure",
      "members":{
        "rule":{"shape":"AcceptRuleBehavior"},
        "threshold":{"shape":"Float"}
      }
    },
    "AcceptRuleBehavior":{
      "type":"string",
      "enum":[
        "ALL",
        "NONE"
      ]
    },
    "AcceptSubscriptionRequestInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "identifier"
      ],
      "members":{
        "decisionComment":{"shape":"DecisionComment"},
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "identifier":{
          "shape":"SubscriptionRequestId",
          "location":"uri",
          "locationName":"identifier"
        }
      }
    },
    "AcceptSubscriptionRequestOutput":{
      "type":"structure",
      "required":[
        "createdAt",
        "createdBy",
        "domainId",
        "id",
        "requestReason",
        "status",
        "subscribedListings",
        "subscribedPrincipals",
        "updatedAt"
      ],
      "members":{
        "createdAt":{"shape":"CreatedAt"},
        "createdBy":{"shape":"CreatedBy"},
        "decisionComment":{"shape":"DecisionComment"},
        "domainId":{"shape":"DomainId"},
        "id":{"shape":"SubscriptionRequestId"},
        "requestReason":{"shape":"RequestReason"},
        "reviewerId":{"shape":"String"},
        "status":{"shape":"SubscriptionRequestStatus"},
        "subscribedListings":{"shape":"AcceptSubscriptionRequestOutputSubscribedListingsList"},
        "subscribedPrincipals":{"shape":"AcceptSubscriptionRequestOutputSubscribedPrincipalsList"},
        "updatedAt":{"shape":"UpdatedAt"},
        "updatedBy":{"shape":"UpdatedBy"}
      }
    },
    "AcceptSubscriptionRequestOutputSubscribedListingsList":{
      "type":"list",
      "member":{"shape":"SubscribedListing"},
      "max":1,
      "min":1
    },
    "AcceptSubscriptionRequestOutputSubscribedPrincipalsList":{
      "type":"list",
      "member":{"shape":"SubscribedPrincipal"},
      "max":1,
      "min":1
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "ActionLink":{
      "type":"string",
      "sensitive":true
    },
    "ApplicableAssetTypes":{
      "type":"list",
      "member":{"shape":"TypeName"}
    },
    "AssetId":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9_-]{1,36}$"
    },
    "AssetIdentifier":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9_-]{1,36}$"
    },
    "AssetItem":{
      "type":"structure",
      "required":[
        "domainId",
        "identifier",
        "name",
        "owningProjectId",
        "typeIdentifier",
        "typeRevision"
      ],
      "members":{
        "additionalAttributes":{"shape":"AssetItemAdditionalAttributes"},
        "createdAt":{"shape":"CreatedAt"},
        "createdBy":{"shape":"CreatedBy"},
        "description":{"shape":"Description"},
        "domainId":{"shape":"DomainId"},
        "externalIdentifier":{"shape":"ExternalIdentifier"},
        "firstRevisionCreatedAt":{"shape":"CreatedAt"},
        "firstRevisionCreatedBy":{"shape":"CreatedBy"},
        "glossaryTerms":{"shape":"GlossaryTerms"},
        "identifier":{"shape":"AssetIdentifier"},
        "name":{"shape":"AssetName"},
        "owningProjectId":{"shape":"ProjectId"},
        "typeIdentifier":{"shape":"AssetTypeIdentifier"},
        "typeRevision":{"shape":"Revision"}
      }
    },
    "AssetItemAdditionalAttributes":{
      "type":"structure",
      "members":{
        "formsOutput":{"shape":"FormOutputList"},
        "latestTimeSeriesDataPointFormsOutput":{"shape":"TimeSeriesDataPointSummaryFormOutputList"},
        "readOnlyFormsOutput":{"shape":"FormOutputList"}
      }
    },
    "AssetListing":{
      "type":"structure",
      "members":{
        "assetId":{"shape":"AssetId"},
        "assetRevision":{"shape":"Revision"},
        "assetType":{"shape":"TypeName"},
        "createdAt":{"shape":"CreatedAt"},
        "forms":{"shape":"Forms"},
        "glossaryTerms":{"shape":"DetailedGlossaryTerms"},
        "latestTimeSeriesDataPointForms":{"shape":"TimeSeriesDataPointSummaryFormOutputList"},
        "owningProjectId":{"shape":"ProjectId"}
      }
    },
    "AssetListingDetails":{
      "type":"structure",
      "required":[
        "listingId",
        "listingStatus"
      ],
      "members":{
        "listingId":{"shape":"ListingId"},
        "listingStatus":{"shape":"ListingStatus"}
      }
    },
    "AssetListingItem":{
      "type":"structure",
      "members":{
        "additionalAttributes":{"shape":"AssetListingItemAdditionalAttributes"},
        "createdAt":{"shape":"CreatedAt"},
        "description":{"shape":"Description"},
        "entityId":{"shape":"AssetId"},
        "entityRevision":{"shape":"Revision"},
        "entityType":{"shape":"TypeName"},
        "glossaryTerms":{"shape":"DetailedGlossaryTerms"},
        "listingCreatedBy":{"shape":"CreatedBy"},
        "listingId":{"shape":"ListingId"},
        "listingRevision":{"shape":"Revision"},
        "listingUpdatedBy":{"shape":"UpdatedBy"},
        "name":{"shape":"AssetName"},
        "owningProjectId":{"shape":"ProjectId"}
      }
    },
    "AssetListingItemAdditionalAttributes":{
      "type":"structure",
      "members":{
        "forms":{"shape":"Forms"},
        "latestTimeSeriesDataPointForms":{"shape":"TimeSeriesDataPointSummaryFormOutputList"}
      }
    },
    "AssetName":{
      "type":"string",
      "max":256,
      "min":1,
      "sensitive":true
    },
    "AssetRevision":{
      "type":"structure",
      "members":{
        "createdAt":{"shape":"CreatedAt"},
        "createdBy":{"shape":"CreatedBy"},
        "domainId":{"shape":"DomainId"},
        "id":{"shape":"AssetId"},
        "revision":{"shape":"Revision"}
      }
    },
    "AssetRevisions":{
      "type":"list",
      "member":{"shape":"AssetRevision"}
    },
    "AssetTargetNameMap":{
      "type":"structure",
      "required":[
        "assetId",
        "targetName"
      ],
      "members":{
        "assetId":{"shape":"AssetId"},
        "targetName":{"shape":"String"}
      }
    },
    "AssetTargetNames":{
      "type":"list",
      "member":{"shape":"AssetTargetNameMap"}
    },
    "AssetTypeIdentifier":{
      "type":"string",
      "max":513,
      "min":1,
      "pattern":"^(?!\\.)[\\w\\.]*\\w$"
    },
    "AssetTypeItem":{
      "type":"structure",
      "required":[
        "domainId",
        "formsOutput",
        "name",
        "owningProjectId",
        "revision"
      ],
      "members":{
        "createdAt":{"shape":"CreatedAt"},
        "createdBy":{"shape":"CreatedBy"},
        "description":{"shape":"Description"},
        "domainId":{"shape":"DomainId"},
        "formsOutput":{"shape":"FormsOutputMap"},
        "name":{"shape":"TypeName"},
        "originDomainId":{"shape":"DomainId"},
        "originProjectId":{"shape":"ProjectId"},
        "owningProjectId":{"shape":"ProjectId"},
        "revision":{"shape":"Revision"},
        "updatedAt":{"shape":"UpdatedAt"},
        "updatedBy":{"shape":"UpdatedBy"}
      }
    },
    "Attribute":{
      "type":"string",
      "max":128,
      "min":1
    },
    "AuthType":{
      "type":"string",
      "enum":[
        "IAM_IDC",
        "DISABLED"
      ]
    },
    "AuthorizedPrincipalIdentifier":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9:/_-]*$"
    },
    "AuthorizedPrincipalIdentifiers":{
      "type":"list",
      "member":{"shape":"AuthorizedPrincipalIdentifier"},
      "max":10,
      "min":1
    },
    "AwsAccountId":{
      "type":"string",
      "pattern":"^\\d{12}$"
    },
    "AwsRegion":{
      "type":"string",
      "pattern":"^[a-z]{2}-[a-z]{4,10}-\\d$"
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BusinessNameGenerationConfiguration":{
      "type":"structure",
      "members":{
        "enabled":{"shape":"Boolean"}
      }
    },
    "CancelMetadataGenerationRunInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "identifier"
      ],
      "members":{
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "identifier":{
          "shape":"MetadataGenerationRunIdentifier",
          "location":"uri",
          "locationName":"identifier"
        }
      }
    },
    "CancelMetadataGenerationRunOutput":{
      "type":"structure",
      "members":{
      }
    },
    "CancelSubscriptionInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "identifier"
      ],
      "members":{
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "identifier":{
          "shape":"SubscriptionId",
          "location":"uri",
          "locationName":"identifier"
        }
      }
    },
    "CancelSubscriptionOutput":{
      "type":"structure",
      "required":[
        "createdAt",
        "createdBy",
        "domainId",
        "id",
        "status",
        "subscribedListing",
        "subscribedPrincipal",
        "updatedAt"
      ],
      "members":{
        "createdAt":{"shape":"CreatedAt"},
        "createdBy":{"shape":"CreatedBy"},
        "domainId":{"shape":"DomainId"},
        "id":{"shape":"SubscriptionId"},
        "retainPermissions":{"shape":"Boolean"},
        "status":{"shape":"SubscriptionStatus"},
        "subscribedListing":{"shape":"SubscribedListing"},
        "subscribedPrincipal":{"shape":"SubscribedPrincipal"},
        "subscriptionRequestId":{"shape":"SubscriptionRequestId"},
        "updatedAt":{"shape":"UpdatedAt"},
        "updatedBy":{"shape":"UpdatedBy"}
      }
    },
    "ChangeAction":{
      "type":"string",
      "enum":[
        "PUBLISH",
        "UNPUBLISH"
      ]
    },
    "ClientToken":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^[\\x21-\\x7E]+$"
    },
    "CloudFormationProperties":{
      "type":"structure",
      "required":["templateUrl"],
      "members":{
        "templateUrl":{"shape":"String"}
      }
    },
    "ConfigurableActionParameter":{
      "type":"structure",
      "members":{
        "key":{"shape":"String"},
        "value":{"shape":"String"}
      }
    },
    "ConfigurableActionParameterList":{
      "type":"list",
      "member":{"shape":"ConfigurableActionParameter"}
    },
    "ConfigurableActionTypeAuthorization":{
      "type":"string",
      "enum":[
        "IAM",
        "HTTPS"
      ]
    },
    "ConfigurableEnvironmentAction":{
      "type":"structure",
      "required":[
        "parameters",
        "type"
      ],
      "members":{
        "auth":{"shape":"ConfigurableActionTypeAuthorization"},
        "parameters":{"shape":"ConfigurableActionParameterList"},
        "type":{"shape":"String"}
      }
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateAssetInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "name",
        "owningProjectIdentifier",
        "typeIdentifier"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "description":{"shape":"Description"},
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "externalIdentifier":{"shape":"ExternalIdentifier"},
        "formsInput":{"shape":"FormInputList"},
        "glossaryTerms":{"shape":"GlossaryTerms"},
        "name":{"shape":"AssetName"},
        "owningProjectIdentifier":{"shape":"ProjectId"},
        "predictionConfiguration":{"shape":"PredictionConfiguration"},
        "typeIdentifier":{"shape":"AssetTypeIdentifier"},
        "typeRevision":{"shape":"Revision"}
      }
    },
    "CreateAssetOutput":{
      "type":"structure",
      "required":[
        "domainId",
        "formsOutput",
        "id",
        "name",
        "owningProjectId",
        "revision",
        "typeIdentifier",
        "typeRevision"
      ],
      "members":{
        "createdAt":{"shape":"CreatedAt"},
        "createdBy":{"shape":"CreatedBy"},
        "description":{"shape":"Description"},
        "domainId":{"shape":"DomainId"},
        "externalIdentifier":{"shape":"ExternalIdentifier"},
        "firstRevisionCreatedAt":{"shape":"CreatedAt"},
        "firstRevisionCreatedBy":{"shape":"CreatedBy"},
        "formsOutput":{"shape":"FormOutputList"},
        "glossaryTerms":{"shape":"GlossaryTerms"},
        "id":{"shape":"AssetId"},
        "latestTimeSeriesDataPointFormsOutput":{"shape":"TimeSeriesDataPointSummaryFormOutputList"},
        "listing":{"shape":"AssetListingDetails"},
        "name":{"shape":"AssetName"},
        "owningProjectId":{"shape":"ProjectId"},
        "predictionConfiguration":{"shape":"PredictionConfiguration"},
        "readOnlyFormsOutput":{"shape":"FormOutputList"},
        "revision":{"shape":"Revision"},
        "typeIdentifier":{"shape":"AssetTypeIdentifier"},
        "typeRevision":{"shape":"Revision"}
      }
    },
    "CreateAssetRevisionInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "identifier",
        "name"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "description":{"shape":"Description"},
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "formsInput":{"shape":"FormInputList"},
        "glossaryTerms":{"shape":"GlossaryTerms"},
        "identifier":{
          "shape":"AssetIdentifier",
          "location":"uri",
          "locationName":"identifier"
        },
        "name":{"shape":"AssetName"},
        "predictionConfiguration":{"shape":"PredictionConfiguration"},
        "typeRevision":{"shape":"Revision"}
      }
    },
    "CreateAssetRevisionOutput":{
      "type":"structure",
      "required":[
        "domainId",
        "formsOutput",
        "id",
        "name",
        "owningProjectId",
        "revision",
        "typeIdentifier",
        "typeRevision"
      ],
      "members":{
        "createdAt":{"shape":"CreatedAt"},
        "createdBy":{"shape":"CreatedBy"},
        "description":{"shape":"Description"},
        "domainId":{"shape":"DomainId"},
        "externalIdentifier":{"shape":"ExternalIdentifier"},
        "firstRevisionCreatedAt":{"shape":"CreatedAt"},
        "firstRevisionCreatedBy":{"shape":"CreatedBy"},
        "formsOutput":{"shape":"FormOutputList"},
        "glossaryTerms":{"shape":"GlossaryTerms"},
        "id":{"shape":"AssetId"},
        "latestTimeSeriesDataPointFormsOutput":{"shape":"TimeSeriesDataPointSummaryFormOutputList"},
        "listing":{"shape":"AssetListingDetails"},
        "name":{"shape":"AssetName"},
        "owningProjectId":{"shape":"ProjectId"},
        "predictionConfiguration":{"shape":"PredictionConfiguration"},
        "readOnlyFormsOutput":{"shape":"FormOutputList"},
        "revision":{"shape":"Revision"},
        "typeIdentifier":{"shape":"AssetTypeIdentifier"},
        "typeRevision":{"shape":"Revision"}
      }
    },
    "CreateAssetTypeInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "formsInput",
        "name",
        "owningProjectIdentifier"
      ],
      "members":{
        "description":{"shape":"Description"},
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "formsInput":{"shape":"FormsInputMap"},
        "name":{"shape":"TypeName"},
        "owningProjectIdentifier":{"shape":"ProjectId"}
      }
    },
    "CreateAssetTypeOutput":{
      "type":"structure",
      "required":[
        "domainId",
        "formsOutput",
        "name",
        "revision"
      ],
      "members":{
        "createdAt":{"shape":"CreatedAt"},
        "createdBy":{"shape":"CreatedBy"},
        "description":{"shape":"Description"},
        "domainId":{"shape":"DomainId"},
        "formsOutput":{"shape":"FormsOutputMap"},
        "name":{"shape":"TypeName"},
        "originDomainId":{"shape":"DomainId"},
        "originProjectId":{"shape":"ProjectId"},
        "owningProjectId":{"shape":"ProjectId"},
        "revision":{"shape":"Revision"},
        "updatedAt":{"shape":"UpdatedAt"},
        "updatedBy":{"shape":"UpdatedBy"}
      }
    },
    "CreateDataSourceInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "environmentIdentifier",
        "name",
        "projectIdentifier",
        "type"
      ],
      "members":{
        "assetFormsInput":{"shape":"FormInputList"},
        "clientToken":{
          "shape":"String",
          "idempotencyToken":true
        },
        "configuration":{"shape":"DataSourceConfigurationInput"},
        "description":{"shape":"Description"},
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "enableSetting":{"shape":"EnableSetting"},
        "environmentIdentifier":{"shape":"String"},
        "name":{"shape":"Name"},
        "projectIdentifier":{"shape":"String"},
        "publishOnImport":{"shape":"Boolean"},
        "recommendation":{"shape":"RecommendationConfiguration"},
        "schedule":{"shape":"ScheduleConfiguration"},
        "type":{"shape":"DataSourceType"}
      }
    },
    "CreateDataSourceOutput":{
      "type":"structure",
      "required":[
        "domainId",
        "environmentId",
        "id",
        "name",
        "projectId"
      ],
      "members":{
        "assetFormsOutput":{"shape":"FormOutputList"},
        "configuration":{"shape":"DataSourceConfigurationOutput"},
        "createdAt":{"shape":"DateTime"},
        "description":{"shape":"Description"},
        "domainId":{"shape":"DomainId"},
        "enableSetting":{"shape":"EnableSetting"},
        "environmentId":{"shape":"EnvironmentId"},
        "errorMessage":{"shape":"DataSourceErrorMessage"},
        "id":{"shape":"DataSourceId"},
        "lastRunAt":{"shape":"DateTime"},
        "lastRunErrorMessage":{"shape":"DataSourceErrorMessage"},
        "lastRunStatus":{"shape":"DataSourceRunStatus"},
        "name":{"shape":"Name"},
        "projectId":{"shape":"ProjectId"},
        "publishOnImport":{"shape":"Boolean"},
        "recommendation":{"shape":"RecommendationConfiguration"},
        "schedule":{"shape":"ScheduleConfiguration"},
        "status":{"shape":"DataSourceStatus"},
        "type":{"shape":"DataSourceType"},
        "updatedAt":{"shape":"DateTime"}
      }
    },
    "CreateDomainInput":{
      "type":"structure",
      "required":[
        "domainExecutionRole",
        "name"
      ],
      "members":{
        "clientToken":{
          "shape":"String",
          "idempotencyToken":true
        },
        "description":{"shape":"String"},
        "domainExecutionRole":{"shape":"RoleArn"},
        "kmsKeyIdentifier":{"shape":"KmsKeyArn"},
        "name":{"shape":"String"},
        "singleSignOn":{"shape":"SingleSignOn"},
        "tags":{"shape":"Tags"}
      }
    },
    "CreateDomainOutput":{
      "type":"structure",
      "required":["id"],
      "members":{
        "arn":{"shape":"String"},
        "description":{"shape":"String"},
        "domainExecutionRole":{"shape":"RoleArn"},
        "id":{"shape":"DomainId"},
        "kmsKeyIdentifier":{"shape":"KmsKeyArn"},
        "name":{"shape":"String"},
        "portalUrl":{"shape":"String"},
        "singleSignOn":{"shape":"SingleSignOn"},
        "status":{"shape":"DomainStatus"},
        "tags":{"shape":"Tags"}
      }
    },
    "CreateEnvironmentInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "environmentProfileIdentifier",
        "name",
        "projectIdentifier"
      ],
      "members":{
        "description":{"shape":"String"},
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "environmentProfileIdentifier":{"shape":"EnvironmentProfileId"},
        "glossaryTerms":{"shape":"GlossaryTerms"},
        "name":{"shape":"String"},
        "projectIdentifier":{"shape":"ProjectId"},
        "userParameters":{"shape":"EnvironmentParametersList"}
      }
    },
    "CreateEnvironmentOutput":{
      "type":"structure",
      "required":[
        "createdBy",
        "domainId",
        "environmentProfileId",
        "name",
        "projectId",
        "provider"
      ],
      "members":{
        "awsAccountId":{"shape":"AwsAccountId"},
        "awsAccountRegion":{"shape":"AwsRegion"},
        "createdAt":{"shape":"SyntheticTimestamp_date_time"},
        "createdBy":{"shape":"String"},
        "deploymentProperties":{"shape":"DeploymentProperties"},
        "description":{"shape":"Description"},
        "domainId":{"shape":"DomainId"},
        "environmentActions":{"shape":"EnvironmentActionList"},
        "environmentBlueprintId":{"shape":"EnvironmentBlueprintId"},
        "environmentProfileId":{"shape":"EnvironmentProfileId"},
        "glossaryTerms":{"shape":"GlossaryTerms"},
        "id":{"shape":"EnvironmentId"},
        "lastDeployment":{"shape":"Deployment"},
        "name":{"shape":"EnvironmentName"},
        "projectId":{"shape":"ProjectId"},
        "provider":{"shape":"String"},
        "provisionedResources":{"shape":"ResourceList"},
        "provisioningProperties":{"shape":"ProvisioningProperties"},
        "status":{"shape":"EnvironmentStatus"},
        "updatedAt":{"shape":"SyntheticTimestamp_date_time"},
        "userParameters":{"shape":"CustomParameterList"}
      }
    },
    "CreateEnvironmentProfileInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "environmentBlueprintIdentifier",
        "name",
        "projectIdentifier"
      ],
      "members":{
        "awsAccountId":{"shape":"AwsAccountId"},
        "awsAccountRegion":{"shape":"AwsRegion"},
        "description":{"shape":"Description"},
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "environmentBlueprintIdentifier":{"shape":"EnvironmentBlueprintId"},
        "name":{"shape":"EnvironmentProfileName"},
        "projectIdentifier":{"shape":"ProjectId"},
        "userParameters":{"shape":"EnvironmentParametersList"}
      }
    },
    "CreateEnvironmentProfileOutput":{
      "type":"structure",
      "required":[
        "createdBy",
        "domainId",
        "environmentBlueprintId",
        "id",
        "name"
      ],
      "members":{
        "awsAccountId":{"shape":"AwsAccountId"},
        "awsAccountRegion":{"shape":"AwsRegion"},
        "createdAt":{"shape":"SyntheticTimestamp_date_time"},
        "createdBy":{"shape":"String"},
        "description":{"shape":"Description"},
        "domainId":{"shape":"DomainId"},
        "environmentBlueprintId":{"shape":"EnvironmentBlueprintId"},
        "id":{"shape":"EnvironmentProfileId"},
        "name":{"shape":"EnvironmentProfileName"},
        "projectId":{"shape":"ProjectId"},
        "updatedAt":{"shape":"SyntheticTimestamp_date_time"},
        "userParameters":{"shape":"CustomParameterList"}
      }
    },
    "CreateFormTypeInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "model",
        "name",
        "owningProjectIdentifier"
      ],
      "members":{
        "description":{"shape":"Description"},
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "model":{"shape":"Model"},
        "name":{"shape":"FormTypeName"},
        "owningProjectIdentifier":{"shape":"ProjectId"},
        "status":{"shape":"FormTypeStatus"}
      }
    },
    "CreateFormTypeOutput":{
      "type":"structure",
      "required":[
        "domainId",
        "name",
        "revision"
      ],
      "members":{
        "description":{"shape":"Description"},
        "domainId":{"shape":"DomainId"},
        "name":{"shape":"FormTypeName"},
        "originDomainId":{"shape":"DomainId"},
        "originProjectId":{"shape":"ProjectId"},
        "owningProjectId":{"shape":"ProjectId"},
        "revision":{"shape":"Revision"}
      }
    },
    "CreateGlossaryInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "name",
        "owningProjectIdentifier"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "description":{"shape":"GlossaryDescription"},
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "name":{"shape":"GlossaryName"},
        "owningProjectIdentifier":{"shape":"ProjectId"},
        "status":{"shape":"GlossaryStatus"}
      }
    },
    "CreateGlossaryOutput":{
      "type":"structure",
      "required":[
        "domainId",
        "id",
        "name",
        "owningProjectId"
      ],
      "members":{
        "description":{"shape":"GlossaryDescription"},
        "domainId":{"shape":"DomainId"},
        "id":{"shape":"GlossaryId"},
        "name":{"shape":"GlossaryName"},
        "owningProjectId":{"shape":"ProjectId"},
        "status":{"shape":"GlossaryStatus"}
      }
    },
    "CreateGlossaryTermInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "glossaryIdentifier",
        "name"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "glossaryIdentifier":{"shape":"GlossaryTermId"},
        "longDescription":{"shape":"LongDescription"},
        "name":{"shape":"GlossaryTermName"},
        "shortDescription":{"shape":"ShortDescription"},
        "status":{"shape":"GlossaryTermStatus"},
        "termRelations":{"shape":"TermRelations"}
      }
    },
    "CreateGlossaryTermOutput":{
      "type":"structure",
      "required":[
        "domainId",
        "glossaryId",
        "id",
        "name",
        "status"
      ],
      "members":{
        "domainId":{"shape":"DomainId"},
        "glossaryId":{"shape":"GlossaryId"},
        "id":{"shape":"GlossaryTermId"},
        "longDescription":{"shape":"LongDescription"},
        "name":{"shape":"GlossaryTermName"},
        "shortDescription":{"shape":"ShortDescription"},
        "status":{"shape":"GlossaryTermStatus"},
        "termRelations":{"shape":"TermRelations"}
      }
    },
    "CreateGroupProfileInput":{
      "type":"structure",
      "required":[
        "domainIdentifier",
        "groupIdentifier"
      ],
      "members":{
        "clientToken":{
          "shape":"String",
          "idempotencyToken":true
        },
        "domainIdentifier":{
          "shape":"DomainId",
          "location":"uri",
          "locationName":"domainIdentifier"
        },
        "groupIdentifier":{"shape":"GroupIdentifier"}
      }
    },
    "CreateGroupProfileOutput":{
      "type":"structure",
      "members":{
        "domainId":{"shape":"DomainId"},
        "groupName":{"shape":"GroupProfileName"},
        "id":{"shape":"GroupProfileId"},
        "status":{"shape":"GroupProfileStatus"}
      }
    },
    "CreateListingChangeSetInput":{
      "type":"structure",
      "required":[
[...]
