{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-11-19",
    "endpointPrefix":"geo",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"Amazon Location Service",
    "serviceId":"Location",
    "signatureVersion":"v4",
    "signingName":"geo",
    "uid":"location-2020-11-19"
  },
  "operations":{
    "AssociateTrackerConsumer":{
      "name":"AssociateTrackerConsumer",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/consumers",
        "responseCode":200
      },
      "input":{"shape":"AssociateTrackerConsumerRequest"},
      "output":{"shape":"AssociateTrackerConsumerResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"tracking."}
    },
    "BatchDeleteGeofence":{
      "name":"BatchDeleteGeofence",
      "http":{
        "method":"POST",
        "requestUri":"/geofencing/v0/collections/{CollectionName}/delete-geofences",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteGeofenceRequest"},
      "output":{"shape":"BatchDeleteGeofenceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"geofencing."}
    },
    "BatchEvaluateGeofences":{
      "name":"BatchEvaluateGeofences",
      "http":{
        "method":"POST",
        "requestUri":"/geofencing/v0/collections/{CollectionName}/positions",
        "responseCode":200
      },
      "input":{"shape":"BatchEvaluateGeofencesRequest"},
      "output":{"shape":"BatchEvaluateGeofencesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"geofencing."}
    },
    "BatchGetDevicePosition":{
      "name":"BatchGetDevicePosition",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/get-positions",
        "responseCode":200
      },
      "input":{"shape":"BatchGetDevicePositionRequest"},
      "output":{"shape":"BatchGetDevicePositionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"tracking."}
    },
    "BatchPutGeofence":{
      "name":"BatchPutGeofence",
      "http":{
        "method":"POST",
        "requestUri":"/geofencing/v0/collections/{CollectionName}/put-geofences",
        "responseCode":200
      },
      "input":{"shape":"BatchPutGeofenceRequest"},
      "output":{"shape":"BatchPutGeofenceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"geofencing."}
    },
    "BatchUpdateDevicePosition":{
      "name":"BatchUpdateDevicePosition",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/positions",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdateDevicePositionRequest"},
      "output":{"shape":"BatchUpdateDevicePositionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"tracking."}
    },
    "CreateGeofenceCollection":{
      "name":"CreateGeofenceCollection",
      "http":{
        "method":"POST",
        "requestUri":"/geofencing/v0/collections",
        "responseCode":200
      },
      "input":{"shape":"CreateGeofenceCollectionRequest"},
      "output":{"shape":"CreateGeofenceCollectionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"geofencing."},
      "idempotent":true
    },
    "CreateMap":{
      "name":"CreateMap",
      "http":{
        "method":"POST",
        "requestUri":"/maps/v0/maps",
        "responseCode":200
      },
      "input":{"shape":"CreateMapRequest"},
      "output":{"shape":"CreateMapResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"maps."},
      "idempotent":true
    },
    "CreatePlaceIndex":{
      "name":"CreatePlaceIndex",
      "http":{
        "method":"POST",
        "requestUri":"/places/v0/indexes",
        "responseCode":200
      },
      "input":{"shape":"CreatePlaceIndexRequest"},
      "output":{"shape":"CreatePlaceIndexResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"places."},
      "idempotent":true
    },
    "CreateTracker":{
      "name":"CreateTracker",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/trackers",
        "responseCode":200
      },
      "input":{"shape":"CreateTrackerRequest"},
      "output":{"shape":"CreateTrackerResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"tracking."},
      "idempotent":true
    },
    "DeleteGeofenceCollection":{
      "name":"DeleteGeofenceCollection",
      "http":{
        "method":"DELETE",
        "requestUri":"/geofencing/v0/collections/{CollectionName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteGeofenceCollectionRequest"},
      "output":{"shape":"DeleteGeofenceCollectionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"geofencing."},
      "idempotent":true
    },
    "DeleteMap":{
      "name":"DeleteMap",
      "http":{
        "method":"DELETE",
        "requestUri":"/maps/v0/maps/{MapName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteMapRequest"},
      "output":{"shape":"DeleteMapResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"maps."},
      "idempotent":true
    },
    "DeletePlaceIndex":{
      "name":"DeletePlaceIndex",
      "http":{
        "method":"DELETE",
        "requestUri":"/places/v0/indexes/{IndexName}",
        "responseCode":200
      },
      "input":{"shape":"DeletePlaceIndexRequest"},
      "output":{"shape":"DeletePlaceIndexResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"places."},
      "idempotent":true
    },
    "DeleteTracker":{
      "name":"DeleteTracker",
      "http":{
        "method":"DELETE",
        "requestUri":"/tracking/v0/trackers/{TrackerName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteTrackerRequest"},
      "output":{"shape":"DeleteTrackerResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"tracking."},
      "idempotent":true
    },
    "DescribeGeofenceCollection":{
      "name":"DescribeGeofenceCollection",
      "http":{
        "method":"GET",
        "requestUri":"/geofencing/v0/collections/{CollectionName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeGeofenceCollectionRequest"},
      "output":{"shape":"DescribeGeofenceCollectionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"geofencing."}
    },
    "DescribeMap":{
      "name":"DescribeMap",
      "http":{
        "method":"GET",
        "requestUri":"/maps/v0/maps/{MapName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeMapRequest"},
      "output":{"shape":"DescribeMapResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"maps."}
    },
    "DescribePlaceIndex":{
      "name":"DescribePlaceIndex",
      "http":{
        "method":"GET",
        "requestUri":"/places/v0/indexes/{IndexName}",
        "responseCode":200
      },
      "input":{"shape":"DescribePlaceIndexRequest"},
      "output":{"shape":"DescribePlaceIndexResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"places."}
    },
    "DescribeTracker":{
      "name":"DescribeTracker",
      "http":{
        "method":"GET",
        "requestUri":"/tracking/v0/trackers/{TrackerName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeTrackerRequest"},
      "output":{"shape":"DescribeTrackerResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"tracking."}
    },
    "DisassociateTrackerConsumer":{
      "name":"DisassociateTrackerConsumer",
      "http":{
        "method":"DELETE",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/consumers/{ConsumerArn}",
        "responseCode":200
      },
      "input":{"shape":"DisassociateTrackerConsumerRequest"},
      "output":{"shape":"DisassociateTrackerConsumerResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"tracking."}
    },
    "GetDevicePosition":{
      "name":"GetDevicePosition",
      "http":{
        "method":"GET",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/devices/{DeviceId}/positions/latest",
        "responseCode":200
      },
      "input":{"shape":"GetDevicePositionRequest"},
      "output":{"shape":"GetDevicePositionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"tracking."}
    },
    "GetDevicePositionHistory":{
      "name":"GetDevicePositionHistory",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/devices/{DeviceId}/list-positions",
        "responseCode":200
      },
      "input":{"shape":"GetDevicePositionHistoryRequest"},
      "output":{"shape":"GetDevicePositionHistoryResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"tracking."}
    },
    "GetGeofence":{
      "name":"GetGeofence",
      "http":{
        "method":"GET",
        "requestUri":"/geofencing/v0/collections/{CollectionName}/geofences/{GeofenceId}",
        "responseCode":200
      },
      "input":{"shape":"GetGeofenceRequest"},
      "output":{"shape":"GetGeofenceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"geofencing."}
    },
    "GetMapGlyphs":{
      "name":"GetMapGlyphs",
      "http":{
        "method":"GET",
        "requestUri":"/maps/v0/maps/{MapName}/glyphs/{FontStack}/{FontUnicodeRange}",
        "responseCode":200
      },
      "input":{"shape":"GetMapGlyphsRequest"},
      "output":{"shape":"GetMapGlyphsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"maps."}
    },
    "GetMapSprites":{
      "name":"GetMapSprites",
      "http":{
        "method":"GET",
        "requestUri":"/maps/v0/maps/{MapName}/sprites/{FileName}",
        "responseCode":200
      },
      "input":{"shape":"GetMapSpritesRequest"},
      "output":{"shape":"GetMapSpritesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"maps."}
    },
    "GetMapStyleDescriptor":{
      "name":"GetMapStyleDescriptor",
      "http":{
        "method":"GET",
        "requestUri":"/maps/v0/maps/{MapName}/style-descriptor",
        "responseCode":200
      },
      "input":{"shape":"GetMapStyleDescriptorRequest"},
      "output":{"shape":"GetMapStyleDescriptorResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"maps."}
    },
    "GetMapTile":{
      "name":"GetMapTile",
      "http":{
        "method":"GET",
        "requestUri":"/maps/v0/maps/{MapName}/tiles/{Z}/{X}/{Y}",
        "responseCode":200
      },
      "input":{"shape":"GetMapTileRequest"},
      "output":{"shape":"GetMapTileResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"maps."}
    },
    "ListGeofenceCollections":{
      "name":"ListGeofenceCollections",
      "http":{
        "method":"POST",
        "requestUri":"/geofencing/v0/list-collections",
        "responseCode":200
      },
      "input":{"shape":"ListGeofenceCollectionsRequest"},
      "output":{"shape":"ListGeofenceCollectionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"geofencing."}
    },
    "ListGeofences":{
      "name":"ListGeofences",
      "http":{
        "method":"POST",
        "requestUri":"/geofencing/v0/collections/{CollectionName}/list-geofences",
        "responseCode":200
      },
      "input":{"shape":"ListGeofencesRequest"},
      "output":{"shape":"ListGeofencesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"geofencing."}
    },
    "ListMaps":{
      "name":"ListMaps",
      "http":{
        "method":"POST",
        "requestUri":"/maps/v0/list-maps",
        "responseCode":200
      },
      "input":{"shape":"ListMapsRequest"},
      "output":{"shape":"ListMapsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"maps."}
    },
    "ListPlaceIndexes":{
      "name":"ListPlaceIndexes",
      "http":{
        "method":"POST",
        "requestUri":"/places/v0/list-indexes",
        "responseCode":200
      },
      "input":{"shape":"ListPlaceIndexesRequest"},
      "output":{"shape":"ListPlaceIndexesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"places."}
    },
    "ListTrackerConsumers":{
      "name":"ListTrackerConsumers",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/list-consumers",
        "responseCode":200
      },
      "input":{"shape":"ListTrackerConsumersRequest"},
      "output":{"shape":"ListTrackerConsumersResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"tracking."}
    },
    "ListTrackers":{
      "name":"ListTrackers",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/list-trackers",
        "responseCode":200
      },
      "input":{"shape":"ListTrackersRequest"},
      "output":{"shape":"ListTrackersResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"tracking."}
    },
    "PutGeofence":{
      "name":"PutGeofence",
      "http":{
        "method":"PUT",
        "requestUri":"/geofencing/v0/collections/{CollectionName}/geofences/{GeofenceId}",
        "responseCode":200
      },
      "input":{"shape":"PutGeofenceRequest"},
      "output":{"shape":"PutGeofenceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"geofencing."}
    },
    "SearchPlaceIndexForPosition":{
      "name":"SearchPlaceIndexForPosition",
      "http":{
        "method":"POST",
        "requestUri":"/places/v0/indexes/{IndexName}/search/position",
        "responseCode":200
      },
      "input":{"shape":"SearchPlaceIndexForPositionRequest"},
      "output":{"shape":"SearchPlaceIndexForPositionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"places."}
    },
    "SearchPlaceIndexForText":{
      "name":"SearchPlaceIndexForText",
      "http":{
        "method":"POST",
        "requestUri":"/places/v0/indexes/{IndexName}/search/text",
        "responseCode":200
      },
      "input":{"shape":"SearchPlaceIndexForTextRequest"},
      "output":{"shape":"SearchPlaceIndexForTextResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "endpoint":{"hostPrefix":"places."}
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{
          "shape":"String",
          "locationName":"message"
        }
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "Arn":{
      "type":"string",
      "max":1600,
      "min":0,
      "pattern":"^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:([^/].*)?$"
    },
    "ArnList":{
      "type":"list",
      "member":{"shape":"Arn"}
    },
    "AssociateTrackerConsumerRequest":{
      "type":"structure",
      "required":[
        "ConsumerArn",
        "TrackerName"
      ],
      "members":{
        "ConsumerArn":{"shape":"Arn"},
        "TrackerName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"TrackerName"
        }
      }
    },
    "AssociateTrackerConsumerResponse":{
      "type":"structure",
      "members":{
      }
    },
    "BatchDeleteGeofenceError":{
      "type":"structure",
      "required":[
        "Error",
        "GeofenceId"
      ],
      "members":{
        "Error":{"shape":"BatchItemError"},
        "GeofenceId":{"shape":"Id"}
      }
    },
    "BatchDeleteGeofenceErrorList":{
      "type":"list",
      "member":{"shape":"BatchDeleteGeofenceError"}
    },
    "BatchDeleteGeofenceRequest":{
      "type":"structure",
      "required":[
        "CollectionName",
        "GeofenceIds"
      ],
      "members":{
        "CollectionName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"CollectionName"
        },
        "GeofenceIds":{"shape":"BatchDeleteGeofenceRequestGeofenceIdsList"}
      }
    },
    "BatchDeleteGeofenceRequestGeofenceIdsList":{
      "type":"list",
      "member":{"shape":"Id"},
      "max":10,
      "min":1
    },
    "BatchDeleteGeofenceResponse":{
      "type":"structure",
      "required":["Errors"],
      "members":{
        "Errors":{"shape":"BatchDeleteGeofenceErrorList"}
      }
    },
    "BatchEvaluateGeofencesError":{
      "type":"structure",
      "required":[
        "DeviceId",
        "Error",
        "SampleTime"
      ],
      "members":{
        "DeviceId":{"shape":"Id"},
        "Error":{"shape":"BatchItemError"},
        "SampleTime":{"shape":"Timestamp"}
      }
    },
    "BatchEvaluateGeofencesErrorList":{
      "type":"list",
      "member":{"shape":"BatchEvaluateGeofencesError"}
    },
    "BatchEvaluateGeofencesRequest":{
      "type":"structure",
      "required":[
        "CollectionName",
        "DevicePositionUpdates"
      ],
      "members":{
        "CollectionName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"CollectionName"
        },
        "DevicePositionUpdates":{"shape":"BatchEvaluateGeofencesRequestDevicePositionUpdatesList"}
      }
    },
    "BatchEvaluateGeofencesRequestDevicePositionUpdatesList":{
      "type":"list",
      "member":{"shape":"DevicePositionUpdate"},
      "max":10,
      "min":1
    },
    "BatchEvaluateGeofencesResponse":{
      "type":"structure",
      "required":["Errors"],
      "members":{
        "Errors":{"shape":"BatchEvaluateGeofencesErrorList"}
      }
    },
    "BatchGetDevicePositionError":{
      "type":"structure",
      "required":[
        "DeviceId",
        "Error"
      ],
      "members":{
        "DeviceId":{"shape":"Id"},
        "Error":{"shape":"BatchItemError"}
      }
    },
    "BatchGetDevicePositionErrorList":{
      "type":"list",
      "member":{"shape":"BatchGetDevicePositionError"}
    },
    "BatchGetDevicePositionRequest":{
      "type":"structure",
      "required":[
        "DeviceIds",
        "TrackerName"
      ],
      "members":{
        "DeviceIds":{"shape":"BatchGetDevicePositionRequestDeviceIdsList"},
        "TrackerName":{
          "shape":"BatchGetDevicePositionRequestTrackerNameString",
          "location":"uri",
          "locationName":"TrackerName"
        }
      }
    },
    "BatchGetDevicePositionRequestDeviceIdsList":{
      "type":"list",
      "member":{"shape":"Id"},
      "max":10,
      "min":1
    },
    "BatchGetDevicePositionRequestTrackerNameString":{
      "type":"string",
      "min":1,
      "pattern":"^[-._\\w]+$"
    },
    "BatchGetDevicePositionResponse":{
      "type":"structure",
      "required":[
        "DevicePositions",
        "Errors"
      ],
      "members":{
        "DevicePositions":{"shape":"DevicePositionList"},
        "Errors":{"shape":"BatchGetDevicePositionErrorList"}
      }
    },
    "BatchItemError":{
      "type":"structure",
      "members":{
        "Code":{"shape":"BatchItemErrorCode"},
        "Message":{"shape":"String"}
      }
    },
    "BatchItemErrorCode":{
      "type":"string",
      "enum":[
        "AccessDeniedError",
        "ConflictError",
        "InternalServerError",
        "ResourceNotFoundError",
        "ThrottlingError",
        "ValidationError"
      ]
    },
    "BatchPutGeofenceError":{
      "type":"structure",
      "required":[
        "Error",
        "GeofenceId"
      ],
      "members":{
        "Error":{"shape":"BatchItemError"},
        "GeofenceId":{"shape":"Id"}
      }
    },
    "BatchPutGeofenceErrorList":{
      "type":"list",
      "member":{"shape":"BatchPutGeofenceError"}
    },
    "BatchPutGeofenceRequest":{
      "type":"structure",
      "required":[
        "CollectionName",
        "Entries"
      ],
      "members":{
        "CollectionName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"CollectionName"
        },
        "Entries":{"shape":"BatchPutGeofenceRequestEntriesList"}
      }
    },
    "BatchPutGeofenceRequestEntriesList":{
      "type":"list",
      "member":{"shape":"BatchPutGeofenceRequestEntry"},
      "max":10,
      "min":1
    },
    "BatchPutGeofenceRequestEntry":{
      "type":"structure",
      "required":[
        "GeofenceId",
        "Geometry"
      ],
      "members":{
        "GeofenceId":{"shape":"Id"},
        "Geometry":{"shape":"GeofenceGeometry"}
      }
    },
    "BatchPutGeofenceResponse":{
      "type":"structure",
      "required":[
        "Errors",
        "Successes"
      ],
      "members":{
        "Errors":{"shape":"BatchPutGeofenceErrorList"},
        "Successes":{"shape":"BatchPutGeofenceSuccessList"}
      }
    },
    "BatchPutGeofenceSuccess":{
      "type":"structure",
      "required":[
        "CreateTime",
        "GeofenceId",
        "UpdateTime"
      ],
      "members":{
        "CreateTime":{"shape":"Timestamp"},
        "GeofenceId":{"shape":"Id"},
        "UpdateTime":{"shape":"Timestamp"}
      }
    },
    "BatchPutGeofenceSuccessList":{
      "type":"list",
      "member":{"shape":"BatchPutGeofenceSuccess"}
    },
    "BatchUpdateDevicePositionError":{
      "type":"structure",
      "required":[
        "DeviceId",
        "Error",
        "SampleTime"
      ],
      "members":{
        "DeviceId":{"shape":"Id"},
        "Error":{"shape":"BatchItemError"},
        "SampleTime":{"shape":"Timestamp"}
      }
    },
    "BatchUpdateDevicePositionErrorList":{
      "type":"list",
      "member":{"shape":"BatchUpdateDevicePositionError"}
    },
    "BatchUpdateDevicePositionRequest":{
      "type":"structure",
      "required":[
        "TrackerName",
        "Updates"
      ],
      "members":{
        "TrackerName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"TrackerName"
        },
        "Updates":{"shape":"BatchUpdateDevicePositionRequestUpdatesList"}
      }
    },
    "BatchUpdateDevicePositionRequestUpdatesList":{
      "type":"list",
      "member":{"shape":"DevicePositionUpdate"},
      "max":10,
      "min":1
    },
    "BatchUpdateDevicePositionResponse":{
      "type":"structure",
      "required":["Errors"],
      "members":{
        "Errors":{"shape":"BatchUpdateDevicePositionErrorList"}
      }
    },
    "Blob":{"type":"blob"},
    "BoundingBox":{
      "type":"list",
      "member":{"shape":"Double"},
      "max":6,
      "min":4,
      "sensitive":true
    },
    "ConflictException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{
          "shape":"String",
          "locationName":"message"
        }
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CountryCode":{
      "type":"string",
      "pattern":"^[A-Z]{3}$"
    },
    "CountryCodeList":{
      "type":"list",
      "member":{"shape":"CountryCode"},
      "max":100,
      "min":1
    },
    "CreateGeofenceCollectionRequest":{
      "type":"structure",
      "required":[
        "CollectionName",
        "PricingPlan"
      ],
      "members":{
        "CollectionName":{"shape":"ResourceName"},
        "Description":{"shape":"ResourceDescription"},
        "PricingPlan":{"shape":"PricingPlan"}
      }
    },
    "CreateGeofenceCollectionResponse":{
      "type":"structure",
      "required":[
        "CollectionArn",
        "CollectionName",
        "CreateTime"
      ],
      "members":{
        "CollectionArn":{"shape":"Arn"},
        "CollectionName":{"shape":"ResourceName"},
        "CreateTime":{"shape":"Timestamp"}
      }
    },
    "CreateMapRequest":{
      "type":"structure",
      "required":[
        "Configuration",
        "MapName",
        "PricingPlan"
      ],
      "members":{
        "Configuration":{"shape":"MapConfiguration"},
        "Description":{"shape":"ResourceDescription"},
        "MapName":{"shape":"ResourceName"},
        "PricingPlan":{"shape":"PricingPlan"}
      }
    },
    "CreateMapResponse":{
      "type":"structure",
      "required":[
        "CreateTime",
        "MapArn",
        "MapName"
      ],
      "members":{
        "CreateTime":{"shape":"Timestamp"},
        "MapArn":{"shape":"Arn"},
        "MapName":{"shape":"ResourceName"}
      }
    },
    "CreatePlaceIndexRequest":{
      "type":"structure",
      "required":[
        "DataSource",
        "IndexName",
        "PricingPlan"
      ],
      "members":{
        "DataSource":{"shape":"String"},
        "DataSourceConfiguration":{"shape":"DataSourceConfiguration"},
        "Description":{"shape":"ResourceDescription"},
        "IndexName":{"shape":"ResourceName"},
        "PricingPlan":{"shape":"PricingPlan"}
      }
    },
    "CreatePlaceIndexResponse":{
      "type":"structure",
      "required":[
        "CreateTime",
        "IndexArn",
        "IndexName"
      ],
      "members":{
        "CreateTime":{"shape":"Timestamp"},
        "IndexArn":{"shape":"Arn"},
        "IndexName":{"shape":"ResourceName"}
      }
    },
    "CreateTrackerRequest":{
      "type":"structure",
      "required":[
        "PricingPlan",
        "TrackerName"
      ],
      "members":{
        "Description":{"shape":"ResourceDescription"},
        "PricingPlan":{"shape":"PricingPlan"},
        "TrackerName":{"shape":"ResourceName"}
      }
    },
    "CreateTrackerResponse":{
      "type":"structure",
      "required":[
        "CreateTime",
        "TrackerArn",
        "TrackerName"
      ],
      "members":{
        "CreateTime":{"shape":"Timestamp"},
        "TrackerArn":{"shape":"Arn"},
        "TrackerName":{"shape":"ResourceName"}
      }
    },
    "DataSourceConfiguration":{
      "type":"structure",
      "members":{
        "IntendedUse":{"shape":"IntendedUse"}
      }
    },
    "DeleteGeofenceCollectionRequest":{
      "type":"structure",
      "required":["CollectionName"],
      "members":{
        "CollectionName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"CollectionName"
        }
      }
    },
    "DeleteGeofenceCollectionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteMapRequest":{
      "type":"structure",
      "required":["MapName"],
      "members":{
        "MapName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"MapName"
        }
      }
    },
    "DeleteMapResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeletePlaceIndexRequest":{
      "type":"structure",
      "required":["IndexName"],
      "members":{
        "IndexName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"IndexName"
        }
      }
    },
    "DeletePlaceIndexResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteTrackerRequest":{
      "type":"structure",
      "required":["TrackerName"],
      "members":{
        "TrackerName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"TrackerName"
        }
      }
    },
    "DeleteTrackerResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeGeofenceCollectionRequest":{
      "type":"structure",
      "required":["CollectionName"],
      "members":{
        "CollectionName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"CollectionName"
        }
      }
    },
    "DescribeGeofenceCollectionResponse":{
      "type":"structure",
      "required":[
        "CollectionArn",
        "CollectionName",
        "CreateTime",
        "Description",
        "UpdateTime"
      ],
      "members":{
        "CollectionArn":{"shape":"Arn"},
        "CollectionName":{"shape":"ResourceName"},
        "CreateTime":{"shape":"Timestamp"},
        "Description":{"shape":"ResourceDescription"},
        "UpdateTime":{"shape":"Timestamp"}
      }
    },
    "DescribeMapRequest":{
      "type":"structure",
      "required":["MapName"],
      "members":{
        "MapName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"MapName"
        }
      }
    },
    "DescribeMapResponse":{
      "type":"structure",
      "required":[
        "Configuration",
        "CreateTime",
        "DataSource",
        "Description",
        "MapArn",
        "MapName",
        "UpdateTime"
      ],
      "members":{
        "Configuration":{"shape":"MapConfiguration"},
        "CreateTime":{"shape":"Timestamp"},
        "DataSource":{"shape":"String"},
        "Description":{"shape":"ResourceDescription"},
        "MapArn":{"shape":"Arn"},
        "MapName":{"shape":"ResourceName"},
        "UpdateTime":{"shape":"Timestamp"}
      }
    },
    "DescribePlaceIndexRequest":{
      "type":"structure",
      "required":["IndexName"],
      "members":{
        "IndexName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"IndexName"
        }
      }
    },
    "DescribePlaceIndexResponse":{
      "type":"structure",
      "required":[
        "CreateTime",
        "DataSource",
        "DataSourceConfiguration",
        "Description",
        "IndexArn",
        "IndexName",
        "UpdateTime"
      ],
      "members":{
        "CreateTime":{"shape":"Timestamp"},
        "DataSource":{"shape":"String"},
        "DataSourceConfiguration":{"shape":"DataSourceConfiguration"},
        "Description":{"shape":"ResourceDescription"},
        "IndexArn":{"shape":"Arn"},
        "IndexName":{"shape":"ResourceName"},
        "UpdateTime":{"shape":"Timestamp"}
      }
    },
    "DescribeTrackerRequest":{
      "type":"structure",
      "required":["TrackerName"],
      "members":{
        "TrackerName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"TrackerName"
        }
      }
    },
    "DescribeTrackerResponse":{
      "type":"structure",
      "required":[
        "CreateTime",
        "Description",
        "TrackerArn",
        "TrackerName",
        "UpdateTime"
      ],
      "members":{
        "CreateTime":{"shape":"Timestamp"},
        "Description":{"shape":"ResourceDescription"},
        "TrackerArn":{"shape":"Arn"},
        "TrackerName":{"shape":"ResourceName"},
        "UpdateTime":{"shape":"Timestamp"}
      }
    },
    "DevicePosition":{
      "type":"structure",
      "required":[
        "Position",
        "ReceivedTime",
        "SampleTime"
      ],
      "members":{
        "DeviceId":{"shape":"Id"},
        "Position":{"shape":"Position"},
        "ReceivedTime":{"shape":"Timestamp"},
        "SampleTime":{"shape":"Timestamp"}
      }
    },
    "DevicePositionList":{
      "type":"list",
      "member":{"shape":"DevicePosition"}
    },
    "DevicePositionUpdate":{
      "type":"structure",
      "required":[
        "DeviceId",
        "Position",
        "SampleTime"
      ],
      "members":{
        "DeviceId":{"shape":"Id"},
        "Position":{"shape":"Position"},
        "SampleTime":{"shape":"Timestamp"}
      }
    },
    "DisassociateTrackerConsumerRequest":{
      "type":"structure",
      "required":[
        "ConsumerArn",
        "TrackerName"
      ],
      "members":{
        "ConsumerArn":{
          "shape":"Arn",
          "location":"uri",
          "locationName":"ConsumerArn"
        },
        "TrackerName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"TrackerName"
        }
      }
    },
    "DisassociateTrackerConsumerResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "GeofenceGeometry":{
      "type":"structure",
      "members":{
        "Polygon":{"shape":"LinearRings"}
      }
    },
    "GetDevicePositionHistoryRequest":{
      "type":"structure",
      "required":[
        "DeviceId",
        "TrackerName"
      ],
      "members":{
        "DeviceId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"DeviceId"
        },
        "EndTimeExclusive":{"shape":"Timestamp"},
        "NextToken":{"shape":"Token"},
        "StartTimeInclusive":{"shape":"Timestamp"},
        "TrackerName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"TrackerName"
        }
      }
    },
    "GetDevicePositionHistoryResponse":{
      "type":"structure",
      "required":["DevicePositions"],
      "members":{
        "DevicePositions":{"shape":"DevicePositionList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "GetDevicePositionRequest":{
      "type":"structure",
      "required":[
        "DeviceId",
        "TrackerName"
      ],
      "members":{
        "DeviceId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"DeviceId"
        },
        "TrackerName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"TrackerName"
        }
      }
    },
    "GetDevicePositionResponse":{
      "type":"structure",
      "required":[
        "Position",
        "ReceivedTime",
        "SampleTime"
      ],
      "members":{
        "DeviceId":{"shape":"Id"},
        "Position":{"shape":"Position"},
        "ReceivedTime":{"shape":"Timestamp"},
        "SampleTime":{"shape":"Timestamp"}
      }
    },
    "GetGeofenceRequest":{
      "type":"structure",
      "required":[
        "CollectionName",
        "GeofenceId"
      ],
      "members":{
        "CollectionName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"CollectionName"
        },
        "GeofenceId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"GeofenceId"
        }
      }
    },
    "GetGeofenceResponse":{
      "type":"structure",
      "required":[
        "CreateTime",
        "GeofenceId",
        "Geometry",
        "Status",
        "UpdateTime"
      ],
      "members":{
        "CreateTime":{"shape":"Timestamp"},
        "GeofenceId":{"shape":"Id"},
        "Geometry":{"shape":"GeofenceGeometry"},
        "Status":{"shape":"String"},
        "UpdateTime":{"shape":"Timestamp"}
      }
    },
    "GetMapGlyphsRequest":{
      "type":"structure",
      "required":[
        "FontStack",
        "FontUnicodeRange",
        "MapName"
      ],
      "members":{
        "FontStack":{
          "shape":"String",
          "location":"uri",
          "locationName":"FontStack"
        },
        "FontUnicodeRange":{
          "shape":"GetMapGlyphsRequestFontUnicodeRangeString",
          "location":"uri",
          "locationName":"FontUnicodeRange"
        },
        "MapName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"MapName"
        }
      }
    },
    "GetMapGlyphsRequestFontUnicodeRangeString":{
      "type":"string",
      "pattern":"^[0-9]+-[0-9]+\\.pbf$"
    },
    "GetMapGlyphsResponse":{
      "type":"structure",
      "members":{
        "Blob":{"shape":"Blob"},
        "ContentType":{
          "shape":"String",
          "location":"header",
          "locationName":"Content-Type"
        }
      },
      "payload":"Blob"
    },
    "GetMapSpritesRequest":{
      "type":"structure",
      "required":[
        "FileName",
        "MapName"
      ],
      "members":{
        "FileName":{
          "shape":"GetMapSpritesRequestFileNameString",
          "location":"uri",
          "locationName":"FileName"
        },
        "MapName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"MapName"
        }
      }
    },
    "GetMapSpritesRequestFileNameString":{
      "type":"string",
      "pattern":"^sprites(@2x)?\\.(png|json)$"
    },
    "GetMapSpritesResponse":{
      "type":"structure",
      "members":{
        "Blob":{"shape":"Blob"},
        "ContentType":{
          "shape":"String",
          "location":"header",
          "locationName":"Content-Type"
        }
      },
      "payload":"Blob"
    },
    "GetMapStyleDescriptorRequest":{
      "type":"structure",
      "required":["MapName"],
      "members":{
        "MapName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"MapName"
        }
      }
    },
    "GetMapStyleDescriptorResponse":{
      "type":"structure",
      "members":{
        "Blob":{"shape":"Blob"},
        "ContentType":{
          "shape":"String",
          "location":"header",
          "locationName":"Content-Type"
        }
      },
      "payload":"Blob"
    },
    "GetMapTileRequest":{
      "type":"structure",
      "required":[
        "MapName",
        "X",
        "Y",
        "Z"
      ],
      "members":{
        "MapName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"MapName"
        },
        "X":{
          "shape":"GetMapTileRequestXString",
          "location":"uri",
          "locationName":"X"
        },
        "Y":{
          "shape":"GetMapTileRequestYString",
          "location":"uri",
          "locationName":"Y"
        },
        "Z":{
          "shape":"GetMapTileRequestZString",
          "location":"uri",
          "locationName":"Z"
        }
      }
    },
    "GetMapTileRequestXString":{
      "type":"string",
      "pattern":"\\d+"
    },
    "GetMapTileRequestYString":{
      "type":"string",
      "pattern":"\\d+"
    },
    "GetMapTileRequestZString":{
      "type":"string",
      "pattern":"\\d+"
    },
    "GetMapTileResponse":{
      "type":"structure",
      "members":{
        "Blob":{"shape":"Blob"},
        "ContentType":{
          "shape":"String",
          "location":"header",
          "locationName":"Content-Type"
        }
      },
      "payload":"Blob"
    },
    "Id":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[-._\\p{L}\\p{N}]+$"
    },
    "IntendedUse":{
      "type":"string",
      "enum":[
        "SingleUse",
        "Storage"
      ]
    },
    "InternalServerException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{
          "shape":"String",
          "locationName":"message"
        }
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "LinearRing":{
      "type":"list",
      "member":{"shape":"Position"},
      "min":4
    },
    "LinearRings":{
      "type":"list",
      "member":{"shape":"LinearRing"},
      "min":1
    },
    "ListGeofenceCollectionsRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{"shape":"ListGeofenceCollectionsRequestMaxResultsInteger"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListGeofenceCollectionsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListGeofenceCollectionsResponse":{
      "type":"structure",
      "required":["Entries"],
      "members":{
        "Entries":{"shape":"ListGeofenceCollectionsResponseEntryList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListGeofenceCollectionsResponseEntry":{
      "type":"structure",
      "required":[
        "CollectionName",
        "CreateTime",
        "Description",
        "UpdateTime"
      ],
      "members":{
        "CollectionName":{"shape":"ResourceName"},
        "CreateTime":{"shape":"Timestamp"},
        "Description":{"shape":"ResourceDescription"},
        "UpdateTime":{"shape":"Timestamp"}
      }
    },
    "ListGeofenceCollectionsResponseEntryList":{
      "type":"list",
      "member":{"shape":"ListGeofenceCollectionsResponseEntry"}
    },
    "ListGeofenceResponseEntry":{
      "type":"structure",
      "required":[
        "CreateTime",
        "GeofenceId",
        "Geometry",
        "Status",
        "UpdateTime"
      ],
      "members":{
        "CreateTime":{"shape":"Timestamp"},
        "GeofenceId":{"shape":"Id"},
        "Geometry":{"shape":"GeofenceGeometry"},
        "Status":{"shape":"String"},
        "UpdateTime":{"shape":"Timestamp"}
      }
    },
    "ListGeofenceResponseEntryList":{
      "type":"list",
      "member":{"shape":"ListGeofenceResponseEntry"}
    },
    "ListGeofencesRequest":{
      "type":"structure",
      "required":["CollectionName"],
      "members":{
        "CollectionName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"CollectionName"
        },
        "NextToken":{"shape":"Token"}
      }
    },
    "ListGeofencesResponse":{
      "type":"structure",
      "required":["Entries"],
      "members":{
        "Entries":{"shape":"ListGeofenceResponseEntryList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListMapsRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{"shape":"ListMapsRequestMaxResultsInteger"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListMapsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListMapsResponse":{
      "type":"structure",
      "required":["Entries"],
      "members":{
        "Entries":{"shape":"ListMapsResponseEntryList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListMapsResponseEntry":{
      "type":"structure",
      "required":[
        "CreateTime",
        "DataSource",
        "Description",
        "MapName",
        "UpdateTime"
      ],
      "members":{
        "CreateTime":{"shape":"Timestamp"},
        "DataSource":{"shape":"String"},
        "Description":{"shape":"ResourceDescription"},
        "MapName":{"shape":"ResourceName"},
        "UpdateTime":{"shape":"Timestamp"}
      }
    },
    "ListMapsResponseEntryList":{
      "type":"list",
      "member":{"shape":"ListMapsResponseEntry"}
    },
    "ListPlaceIndexesRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{"shape":"ListPlaceIndexesRequestMaxResultsInteger"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListPlaceIndexesRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListPlaceIndexesResponse":{
      "type":"structure",
      "required":["Entries"],
      "members":{
        "Entries":{"shape":"ListPlaceIndexesResponseEntryList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListPlaceIndexesResponseEntry":{
      "type":"structure",
      "required":[
        "CreateTime",
        "DataSource",
        "Description",
        "IndexName",
        "UpdateTime"
      ],
      "members":{
        "CreateTime":{"shape":"Timestamp"},
        "DataSource":{"shape":"String"},
        "Description":{"shape":"ResourceDescription"},
        "IndexName":{"shape":"ResourceName"},
        "UpdateTime":{"shape":"Timestamp"}
      }
    },
    "ListPlaceIndexesResponseEntryList":{
      "type":"list",
      "member":{"shape":"ListPlaceIndexesResponseEntry"}
    },
    "ListTrackerConsumersRequest":{
      "type":"structure",
      "required":["TrackerName"],
      "members":{
        "MaxResults":{"shape":"ListTrackerConsumersRequestMaxResultsInteger"},
        "NextToken":{"shape":"Token"},
        "TrackerName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"TrackerName"
        }
      }
    },
    "ListTrackerConsumersRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListTrackerConsumersResponse":{
      "type":"structure",
      "required":["ConsumerArns"],
      "members":{
        "ConsumerArns":{"shape":"ArnList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListTrackersRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{"shape":"ListTrackersRequestMaxResultsInteger"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListTrackersRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListTrackersResponse":{
      "type":"structure",
      "required":["Entries"],
      "members":{
        "Entries":{"shape":"ListTrackersResponseEntryList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListTrackersResponseEntry":{
      "type":"structure",
      "required":[
        "CreateTime",
        "Description",
        "TrackerName",
        "UpdateTime"
      ],
      "members":{
        "CreateTime":{"shape":"Timestamp"},
        "Description":{"shape":"ResourceDescription"},
        "TrackerName":{"shape":"ResourceName"},
        "UpdateTime":{"shape":"Timestamp"}
      }
    },
    "ListTrackersResponseEntryList":{
      "type":"list",
      "member":{"shape":"ListTrackersResponseEntry"}
    },
    "MapConfiguration":{
      "type":"structure",
      "required":["Style"],
      "members":{
        "Style":{"shape":"MapStyle"}
      }
    },
    "MapStyle":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[-._\\p{L}\\p{N}]+$"
    },
    "Place":{
      "type":"structure",
      "required":["Geometry"],
      "members":{
        "AddressNumber":{"shape":"String"},
        "Country":{"shape":"String"},
        "Geometry":{"shape":"PlaceGeometry"},
        "Label":{"shape":"String"},
        "Municipality":{"shape":"String"},
        "Neighborhood":{"shape":"String"},
        "PostalCode":{"shape":"String"},
        "Region":{"shape":"String"},
        "Street":{"shape":"String"},
        "SubRegion":{"shape":"String"}
      }
    },
    "PlaceGeometry":{
      "type":"structure",
      "members":{
        "Point":{"shape":"Position"}
      }
    },
    "PlaceIndexSearchResultLimit":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "Position":{
      "type":"list",
      "member":{"shape":"Double"},
      "max":2,
      "min":2,
      "sensitive":true
    },
    "PricingPlan":{
      "type":"string",
      "enum":[
        "RequestBasedUsage",
        "MobileAssetTracking",
        "MobileAssetManagement"
      ]
    },
    "PutGeofenceRequest":{
      "type":"structure",
      "required":[
        "CollectionName",
        "GeofenceId",
        "Geometry"
      ],
      "members":{
        "CollectionName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"CollectionName"
        },
        "GeofenceId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"GeofenceId"
        },
        "Geometry":{"shape":"GeofenceGeometry"}
      }
    },
    "PutGeofenceResponse":{
      "type":"structure",
      "required":[
        "CreateTime",
        "GeofenceId",
        "UpdateTime"
      ],
      "members":{
        "CreateTime":{"shape":"Timestamp"},
        "GeofenceId":{"shape":"Id"},
        "UpdateTime":{"shape":"Timestamp"}
      }
    },
    "ResourceDescription":{
      "type":"string",
      "max":1000,
      "min":0
    },
    "ResourceName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[-._\\w]+$"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{
          "shape":"String",
          "locationName":"message"
        }
      },
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "SearchForPositionResult":{
      "type":"structure",
      "required":["Place"],
      "members":{
        "Place":{"shape":"Place"}
      }
    },
    "SearchForPositionResultList":{
      "type":"list",
      "member":{"shape":"SearchForPositionResult"}
    },
    "SearchForTextResult":{
      "type":"structure",
      "required":["Place"],
      "members":{
        "Place":{"shape":"Place"}
      }
    },
    "SearchForTextResultList":{
      "type":"list",
      "member":{"shape":"SearchForTextResult"}
    },
    "SearchPlaceIndexForPositionRequest":{
      "type":"structure",
      "required":[
        "IndexName",
        "Position"
      ],
      "members":{
        "IndexName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"IndexName"
        },
        "MaxResults":{"shape":"PlaceIndexSearchResultLimit"},
        "Position":{"shape":"Position"}
      }
    },
    "SearchPlaceIndexForPositionResponse":{
      "type":"structure",
      "required":[
        "Results",
        "Summary"
      ],
      "members":{
        "Results":{"shape":"SearchForPositionResultList"},
        "Summary":{"shape":"SearchPlaceIndexForPositionSummary"}
      }
    },
    "SearchPlaceIndexForPositionSummary":{
      "type":"structure",
      "required":[
        "DataSource",
        "Position"
      ],
      "members":{
        "DataSource":{"shape":"String"},
        "MaxResults":{"shape":"PlaceIndexSearchResultLimit"},
        "Position":{"shape":"Position"}
      }
    },
    "SearchPlaceIndexForTextRequest":{
      "type":"structure",
      "required":[
        "IndexName",
        "Text"
      ],
      "members":{
        "BiasPosition":{"shape":"Position"},
        "FilterBBox":{"shape":"BoundingBox"},
        "FilterCountries":{"shape":"CountryCodeList"},
        "IndexName":{
          "shape":"ResourceName",
          "location":"uri",
          "locationName":"IndexName"
        },
        "MaxResults":{"shape":"PlaceIndexSearchResultLimit"},
        "Text":{"shape":"SyntheticSearchPlaceIndexForTextRequestString"}
      }
    },
    "SearchPlaceIndexForTextResponse":{
      "type":"structure",
      "required":[
        "Results",
        "Summary"
      ],
      "members":{
        "Results":{"shape":"SearchForTextResultList"},
        "Summary":{"shape":"SearchPlaceIndexForTextSummary"}
      }
    },
    "SearchPlaceIndexForTextSummary":{
      "type":"structure",
      "required":[
        "DataSource",
        "Text"
      ],
      "members":{
        "BiasPosition":{"shape":"Position"},
        "DataSource":{"shape":"String"},
        "FilterBBox":{"shape":"BoundingBox"},
        "FilterCountries":{"shape":"CountryCodeList"},
        "MaxResults":{"shape":"PlaceIndexSearchResultLimit"},
        "ResultBBox":{"shape":"BoundingBox"},
        "Text":{"shape":"SyntheticSearchPlaceIndexForTextSummaryString"}
      }
    },
    "String":{"type":"string"},
    "SyntheticSearchPlaceIndexForTextRequestString":{
      "type":"string",
      "max":200,
      "min":1,
      "sensitive":true
    },
    "SyntheticSearchPlaceIndexForTextSummaryString":{
      "type":"string",
      "sensitive":true
    },
    "ThrottlingException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{
          "shape":"String",
          "locationName":"message"
        }
      },
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":false}
    },
    "Timestamp":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "Token":{
      "type":"string",
      "max":2000,
      "min":1
    },
    "ValidationException":{
      "type":"structure",
      "required":[
        "FieldList",
        "Message",
        "Reason"
      ],
      "members":{
        "FieldList":{
          "shape":"ValidationExceptionFieldList",
          "locationName":"fieldList"
        },
        "Message":{
          "shape":"String",
          "locationName":"message"
        },
        "Reason":{
          "shape":"ValidationExceptionReason",
          "locationName":"reason"
        }
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "Message",
        "Name"
      ],
      "members":{
        "Message":{
          "shape":"String",
          "locationName":"message"
        },
        "Name":{
          "shape":"String",
          "locationName":"name"
        }
      }
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"}
    },
    "ValidationExceptionReason":{
      "type":"string",
      "enum":[
        "UnknownOperation",
        "Missing",
        "CannotParse",
        "FieldValidationFailed",
        "Other"
      ]
    }
  }
}
