{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2021-12-01",
    "endpointPrefix":"verifiedpermissions",
    "jsonVersion":"1.0",
    "protocol":"json",
    "serviceFullName":"Amazon Verified Permissions",
    "serviceId":"VerifiedPermissions",
    "signatureVersion":"v4",
    "signingName":"verifiedpermissions",
    "targetPrefix":"VerifiedPermissions",
    "uid":"verifiedpermissions-2021-12-01"
  },
  "operations":{
    "CreateIdentitySource":{
      "name":"CreateIdentitySource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateIdentitySourceInput"},
      "output":{"shape":"CreateIdentitySourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "CreatePolicy":{
      "name":"CreatePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePolicyInput"},
      "output":{"shape":"CreatePolicyOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "CreatePolicyStore":{
      "name":"CreatePolicyStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePolicyStoreInput"},
      "output":{"shape":"CreatePolicyStoreOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "CreatePolicyTemplate":{
      "name":"CreatePolicyTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePolicyTemplateInput"},
      "output":{"shape":"CreatePolicyTemplateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteIdentitySource":{
      "name":"DeleteIdentitySource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIdentitySourceInput"},
      "output":{"shape":"DeleteIdentitySourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeletePolicy":{
      "name":"DeletePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePolicyInput"},
      "output":{"shape":"DeletePolicyOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeletePolicyStore":{
      "name":"DeletePolicyStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePolicyStoreInput"},
      "output":{"shape":"DeletePolicyStoreOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeletePolicyTemplate":{
      "name":"DeletePolicyTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePolicyTemplateInput"},
      "output":{"shape":"DeletePolicyTemplateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "GetIdentitySource":{
      "name":"GetIdentitySource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIdentitySourceInput"},
      "output":{"shape":"GetIdentitySourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetPolicy":{
      "name":"GetPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPolicyInput"},
      "output":{"shape":"GetPolicyOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetPolicyStore":{
      "name":"GetPolicyStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPolicyStoreInput"},
      "output":{"shape":"GetPolicyStoreOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetPolicyTemplate":{
      "name":"GetPolicyTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPolicyTemplateInput"},
      "output":{"shape":"GetPolicyTemplateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetSchema":{
      "name":"GetSchema",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSchemaInput"},
      "output":{"shape":"GetSchemaOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "IsAuthorized":{
      "name":"IsAuthorized",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"IsAuthorizedInput"},
      "output":{"shape":"IsAuthorizedOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "IsAuthorizedWithToken":{
      "name":"IsAuthorizedWithToken",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"IsAuthorizedWithTokenInput"},
      "output":{"shape":"IsAuthorizedWithTokenOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListIdentitySources":{
      "name":"ListIdentitySources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIdentitySourcesInput"},
      "output":{"shape":"ListIdentitySourcesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListPolicies":{
      "name":"ListPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPoliciesInput"},
      "output":{"shape":"ListPoliciesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListPolicyStores":{
      "name":"ListPolicyStores",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPolicyStoresInput"},
      "output":{"shape":"ListPolicyStoresOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListPolicyTemplates":{
      "name":"ListPolicyTemplates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPolicyTemplatesInput"},
      "output":{"shape":"ListPolicyTemplatesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "PutSchema":{
      "name":"PutSchema",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutSchemaInput"},
      "output":{"shape":"PutSchemaOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "UpdateIdentitySource":{
      "name":"UpdateIdentitySource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateIdentitySourceInput"},
      "output":{"shape":"UpdateIdentitySourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "UpdatePolicy":{
      "name":"UpdatePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePolicyInput"},
      "output":{"shape":"UpdatePolicyOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "UpdatePolicyStore":{
      "name":"UpdatePolicyStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePolicyStoreInput"},
      "output":{"shape":"UpdatePolicyStoreOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "UpdatePolicyTemplate":{
      "name":"UpdatePolicyTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePolicyTemplateInput"},
      "output":{"shape":"UpdatePolicyTemplateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "ActionId":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":".*"
    },
    "ActionIdentifier":{
      "type":"structure",
      "required":[
        "actionType",
        "actionId"
      ],
      "members":{
        "actionType":{"shape":"ActionType"},
        "actionId":{"shape":"ActionId"}
      }
    },
    "ActionType":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"Action$|^.+::Action"
    },
    "AttributeValue":{
      "type":"structure",
      "members":{
        "boolean":{"shape":"BooleanAttribute"},
        "entityIdentifier":{"shape":"EntityIdentifier"},
        "long":{"shape":"LongAttribute"},
        "string":{"shape":"StringAttribute"},
        "set":{"shape":"SetAttribute"},
        "record":{"shape":"RecordAttribute"}
      },
      "union":true
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BooleanAttribute":{
      "type":"boolean",
      "box":true
    },
    "ClientId":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":".*"
    },
    "ClientIds":{
      "type":"list",
      "member":{"shape":"ClientId"},
      "max":1000,
      "min":0
    },
    "CognitoUserPoolConfiguration":{
      "type":"structure",
      "required":["userPoolArn"],
      "members":{
        "userPoolArn":{"shape":"UserPoolArn"},
        "clientIds":{"shape":"ClientIds"}
      }
    },
    "Configuration":{
      "type":"structure",
      "members":{
        "cognitoUserPoolConfiguration":{"shape":"CognitoUserPoolConfiguration"}
      },
      "union":true
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "message",
        "resources"
      ],
      "members":{
        "message":{"shape":"String"},
        "resources":{"shape":"ResourceConflictList"}
      },
      "exception":true
    },
    "ContextDefinition":{
      "type":"structure",
      "members":{
        "contextMap":{"shape":"ContextMap"}
      },
      "union":true
    },
    "ContextMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"AttributeValue"},
      "min":0
    },
    "CreateIdentitySourceInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "configuration"
      ],
      "members":{
        "clientToken":{
          "shape":"IdempotencyToken",
          "idempotencyToken":true
        },
        "policyStoreId":{"shape":"PolicyStoreId"},
        "configuration":{"shape":"Configuration"},
        "principalEntityType":{"shape":"PrincipalEntityType"}
      }
    },
    "CreateIdentitySourceOutput":{
      "type":"structure",
      "required":[
        "createdDate",
        "identitySourceId",
        "lastUpdatedDate",
        "policyStoreId"
      ],
      "members":{
        "createdDate":{"shape":"TimestampFormat"},
        "identitySourceId":{"shape":"IdentitySourceId"},
        "lastUpdatedDate":{"shape":"TimestampFormat"},
        "policyStoreId":{"shape":"PolicyStoreId"}
      }
    },
    "CreatePolicyInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "definition"
      ],
      "members":{
        "clientToken":{
          "shape":"IdempotencyToken",
          "idempotencyToken":true
        },
        "policyStoreId":{"shape":"PolicyStoreId"},
        "definition":{"shape":"PolicyDefinition"}
      }
    },
    "CreatePolicyOutput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyId",
        "policyType",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "policyId":{"shape":"PolicyId"},
        "policyType":{"shape":"PolicyType"},
        "principal":{"shape":"EntityIdentifier"},
        "resource":{"shape":"EntityIdentifier"},
        "createdDate":{"shape":"TimestampFormat"},
        "lastUpdatedDate":{"shape":"TimestampFormat"}
      }
    },
    "CreatePolicyStoreInput":{
      "type":"structure",
      "required":["validationSettings"],
      "members":{
        "clientToken":{
          "shape":"IdempotencyToken",
          "idempotencyToken":true
        },
        "validationSettings":{"shape":"ValidationSettings"}
      }
    },
    "CreatePolicyStoreOutput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "arn",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "arn":{"shape":"ResourceArn"},
        "createdDate":{"shape":"TimestampFormat"},
        "lastUpdatedDate":{"shape":"TimestampFormat"}
      }
    },
    "CreatePolicyTemplateInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "statement"
      ],
      "members":{
        "clientToken":{
          "shape":"IdempotencyToken",
          "idempotencyToken":true
        },
        "policyStoreId":{"shape":"PolicyStoreId"},
        "description":{"shape":"PolicyTemplateDescription"},
        "statement":{"shape":"PolicyStatement"}
      }
    },
    "CreatePolicyTemplateOutput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyTemplateId",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "policyTemplateId":{"shape":"PolicyTemplateId"},
        "createdDate":{"shape":"TimestampFormat"},
        "lastUpdatedDate":{"shape":"TimestampFormat"}
      }
    },
    "Decision":{
      "type":"string",
      "enum":[
        "ALLOW",
        "DENY"
      ]
    },
    "DeleteIdentitySourceInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "identitySourceId"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "identitySourceId":{"shape":"IdentitySourceId"}
      }
    },
    "DeleteIdentitySourceOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeletePolicyInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyId"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "policyId":{"shape":"PolicyId"}
      }
    },
    "DeletePolicyOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeletePolicyStoreInput":{
      "type":"structure",
      "required":["policyStoreId"],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"}
      }
    },
    "DeletePolicyStoreOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeletePolicyTemplateInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyTemplateId"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "policyTemplateId":{"shape":"PolicyTemplateId"}
      }
    },
    "DeletePolicyTemplateOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeterminingPolicyItem":{
      "type":"structure",
      "required":["policyId"],
      "members":{
        "policyId":{"shape":"PolicyId"}
      }
    },
    "DeterminingPolicyList":{
      "type":"list",
      "member":{"shape":"DeterminingPolicyItem"}
    },
    "DiscoveryUrl":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"https://.*"
    },
    "EntitiesDefinition":{
      "type":"structure",
      "members":{
        "entityList":{"shape":"EntityList"}
      },
      "union":true
    },
    "EntityAttributes":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"AttributeValue"},
      "min":0
    },
    "EntityId":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":".*"
    },
    "EntityIdentifier":{
      "type":"structure",
      "required":[
        "entityType",
        "entityId"
      ],
      "members":{
        "entityType":{"shape":"EntityType"},
        "entityId":{"shape":"EntityId"}
      }
    },
    "EntityItem":{
      "type":"structure",
      "required":["identifier"],
      "members":{
        "identifier":{"shape":"EntityIdentifier"},
        "attributes":{"shape":"EntityAttributes"},
        "parents":{"shape":"ParentList"}
      }
    },
    "EntityList":{
      "type":"list",
      "member":{"shape":"EntityItem"},
      "min":0
    },
    "EntityReference":{
      "type":"structure",
      "members":{
        "unspecified":{"shape":"Boolean"},
        "identifier":{"shape":"EntityIdentifier"}
      },
      "union":true
    },
    "EntityType":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":".*"
    },
    "EvaluationErrorItem":{
      "type":"structure",
      "required":["errorDescription"],
      "members":{
        "errorDescription":{"shape":"String"}
      }
    },
    "EvaluationErrorList":{
      "type":"list",
      "member":{"shape":"EvaluationErrorItem"}
    },
    "GetIdentitySourceInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "identitySourceId"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "identitySourceId":{"shape":"IdentitySourceId"}
      }
    },
    "GetIdentitySourceOutput":{
      "type":"structure",
      "required":[
        "createdDate",
        "details",
        "identitySourceId",
        "lastUpdatedDate",
        "policyStoreId",
        "principalEntityType"
      ],
      "members":{
        "createdDate":{"shape":"TimestampFormat"},
        "details":{"shape":"IdentitySourceDetails"},
        "identitySourceId":{"shape":"IdentitySourceId"},
        "lastUpdatedDate":{"shape":"TimestampFormat"},
        "policyStoreId":{"shape":"PolicyStoreId"},
        "principalEntityType":{"shape":"PrincipalEntityType"}
      }
    },
    "GetPolicyInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyId"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "policyId":{"shape":"PolicyId"}
      }
    },
    "GetPolicyOutput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyId",
        "policyType",
        "definition",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "policyId":{"shape":"PolicyId"},
        "policyType":{"shape":"PolicyType"},
        "principal":{"shape":"EntityIdentifier"},
        "resource":{"shape":"EntityIdentifier"},
        "definition":{"shape":"PolicyDefinitionDetail"},
        "createdDate":{"shape":"TimestampFormat"},
        "lastUpdatedDate":{"shape":"TimestampFormat"}
      }
    },
    "GetPolicyStoreInput":{
      "type":"structure",
      "required":["policyStoreId"],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"}
      }
    },
    "GetPolicyStoreOutput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "arn",
        "validationSettings",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "arn":{"shape":"ResourceArn"},
        "validationSettings":{"shape":"ValidationSettings"},
        "createdDate":{"shape":"TimestampFormat"},
        "lastUpdatedDate":{"shape":"TimestampFormat"}
      }
    },
    "GetPolicyTemplateInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyTemplateId"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "policyTemplateId":{"shape":"PolicyTemplateId"}
      }
    },
    "GetPolicyTemplateOutput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyTemplateId",
        "statement",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "policyTemplateId":{"shape":"PolicyTemplateId"},
        "description":{"shape":"PolicyTemplateDescription"},
        "statement":{"shape":"PolicyStatement"},
        "createdDate":{"shape":"TimestampFormat"},
        "lastUpdatedDate":{"shape":"TimestampFormat"}
      }
    },
    "GetSchemaInput":{
      "type":"structure",
      "required":["policyStoreId"],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"}
      }
    },
    "GetSchemaOutput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "schema",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "schema":{"shape":"SchemaJson"},
        "createdDate":{"shape":"TimestampFormat"},
        "lastUpdatedDate":{"shape":"TimestampFormat"}
      }
    },
    "IdempotencyToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9-]*"
    },
    "IdentitySourceDetails":{
      "type":"structure",
      "members":{
        "clientIds":{"shape":"ClientIds"},
        "userPoolArn":{"shape":"UserPoolArn"},
        "discoveryUrl":{"shape":"DiscoveryUrl"},
        "openIdIssuer":{"shape":"OpenIdIssuer"}
      }
    },
    "IdentitySourceFilter":{
      "type":"structure",
      "members":{
        "principalEntityType":{"shape":"PrincipalEntityType"}
      }
    },
    "IdentitySourceFilters":{
      "type":"list",
      "member":{"shape":"IdentitySourceFilter"},
      "max":10,
      "min":0
    },
    "IdentitySourceId":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"[a-zA-Z0-9-]*"
    },
    "IdentitySourceItem":{
      "type":"structure",
      "required":[
        "createdDate",
        "details",
        "identitySourceId",
        "lastUpdatedDate",
        "policyStoreId",
        "principalEntityType"
      ],
      "members":{
        "createdDate":{"shape":"TimestampFormat"},
        "details":{"shape":"IdentitySourceItemDetails"},
        "identitySourceId":{"shape":"IdentitySourceId"},
        "lastUpdatedDate":{"shape":"TimestampFormat"},
        "policyStoreId":{"shape":"PolicyStoreId"},
        "principalEntityType":{"shape":"PrincipalEntityType"}
      }
    },
    "IdentitySourceItemDetails":{
      "type":"structure",
      "members":{
        "clientIds":{"shape":"ClientIds"},
        "userPoolArn":{"shape":"UserPoolArn"},
        "discoveryUrl":{"shape":"DiscoveryUrl"},
        "openIdIssuer":{"shape":"OpenIdIssuer"}
      }
    },
    "IdentitySources":{
      "type":"list",
      "member":{"shape":"IdentitySourceItem"}
    },
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "IsAuthorizedInput":{
      "type":"structure",
      "required":["policyStoreId"],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "principal":{"shape":"EntityIdentifier"},
        "action":{"shape":"ActionIdentifier"},
        "resource":{"shape":"EntityIdentifier"},
        "context":{"shape":"ContextDefinition"},
        "entities":{"shape":"EntitiesDefinition"}
      }
    },
    "IsAuthorizedOutput":{
      "type":"structure",
      "required":[
        "decision",
        "determiningPolicies",
        "errors"
      ],
      "members":{
        "decision":{"shape":"Decision"},
        "determiningPolicies":{"shape":"DeterminingPolicyList"},
        "errors":{"shape":"EvaluationErrorList"}
      }
    },
    "IsAuthorizedWithTokenInput":{
      "type":"structure",
      "required":["policyStoreId"],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "identityToken":{"shape":"Token"},
        "accessToken":{"shape":"Token"},
        "action":{"shape":"ActionIdentifier"},
        "resource":{"shape":"EntityIdentifier"},
        "context":{"shape":"ContextDefinition"},
        "entities":{"shape":"EntitiesDefinition"}
      }
    },
    "IsAuthorizedWithTokenOutput":{
      "type":"structure",
      "required":[
        "decision",
        "determiningPolicies",
        "errors"
      ],
      "members":{
        "decision":{"shape":"Decision"},
        "determiningPolicies":{"shape":"DeterminingPolicyList"},
        "errors":{"shape":"EvaluationErrorList"}
      }
    },
    "ListIdentitySourcesInput":{
      "type":"structure",
      "required":["policyStoreId"],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "nextToken":{"shape":"NextToken"},
        "maxResults":{"shape":"ListIdentitySourcesMaxResults"},
        "filters":{"shape":"IdentitySourceFilters"}
      }
    },
    "ListIdentitySourcesMaxResults":{
      "type":"integer",
      "box":true,
      "max":200,
      "min":1
    },
    "ListIdentitySourcesOutput":{
      "type":"structure",
      "required":["identitySources"],
      "members":{
        "nextToken":{"shape":"NextToken"},
        "identitySources":{"shape":"IdentitySources"}
      }
    },
    "ListPoliciesInput":{
      "type":"structure",
      "required":["policyStoreId"],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "nextToken":{"shape":"NextToken"},
        "maxResults":{"shape":"MaxResults"},
        "filter":{"shape":"PolicyFilter"}
      }
    },
    "ListPoliciesOutput":{
      "type":"structure",
      "required":["policies"],
      "members":{
        "nextToken":{"shape":"NextToken"},
        "policies":{"shape":"PolicyList"}
      }
    },
    "ListPolicyStoresInput":{
      "type":"structure",
      "members":{
        "nextToken":{"shape":"NextToken"},
        "maxResults":{"shape":"MaxResults"}
      }
    },
    "ListPolicyStoresOutput":{
      "type":"structure",
      "required":["policyStores"],
      "members":{
        "nextToken":{"shape":"NextToken"},
        "policyStores":{"shape":"PolicyStoreList"}
      }
    },
    "ListPolicyTemplatesInput":{
      "type":"structure",
      "required":["policyStoreId"],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "nextToken":{"shape":"NextToken"},
        "maxResults":{"shape":"MaxResults"}
      }
    },
    "ListPolicyTemplatesOutput":{
      "type":"structure",
      "required":["policyTemplates"],
      "members":{
        "nextToken":{"shape":"NextToken"},
        "policyTemplates":{"shape":"PolicyTemplatesList"}
      }
    },
    "LongAttribute":{
      "type":"long",
      "box":true
    },
    "MaxResults":{
      "type":"integer",
      "box":true,
      "max":20,
      "min":1
    },
    "Namespace":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":".*"
    },
    "NamespaceList":{
      "type":"list",
      "member":{"shape":"Namespace"}
    },
    "NextToken":{
      "type":"string",
      "max":8000,
      "min":1,
      "pattern":"[A-Za-z0-9-_=+/\\.]*"
    },
    "OpenIdIssuer":{
      "type":"string",
      "enum":["COGNITO"]
    },
    "ParentList":{
      "type":"list",
      "member":{"shape":"EntityIdentifier"},
      "max":100,
      "min":0
    },
    "PolicyDefinition":{
      "type":"structure",
      "members":{
        "static":{"shape":"StaticPolicyDefinition"},
        "templateLinked":{"shape":"TemplateLinkedPolicyDefinition"}
      },
      "union":true
    },
    "PolicyDefinitionDetail":{
      "type":"structure",
      "members":{
        "static":{"shape":"StaticPolicyDefinitionDetail"},
        "templateLinked":{"shape":"TemplateLinkedPolicyDefinitionDetail"}
      },
      "union":true
    },
    "PolicyDefinitionItem":{
      "type":"structure",
      "members":{
        "static":{"shape":"StaticPolicyDefinitionItem"},
        "templateLinked":{"shape":"TemplateLinkedPolicyDefinitionItem"}
      },
      "union":true
    },
    "PolicyFilter":{
      "type":"structure",
      "members":{
        "principal":{"shape":"EntityReference"},
        "resource":{"shape":"EntityReference"},
        "policyType":{"shape":"PolicyType"},
        "policyTemplateId":{"shape":"PolicyTemplateId"}
      }
    },
    "PolicyId":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"[a-zA-Z0-9-]*"
    },
    "PolicyItem":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyId",
        "policyType",
        "definition",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "policyId":{"shape":"PolicyId"},
        "policyType":{"shape":"PolicyType"},
        "principal":{"shape":"EntityIdentifier"},
        "resource":{"shape":"EntityIdentifier"},
        "definition":{"shape":"PolicyDefinitionItem"},
        "createdDate":{"shape":"TimestampFormat"},
        "lastUpdatedDate":{"shape":"TimestampFormat"}
      }
    },
    "PolicyList":{
      "type":"list",
      "member":{"shape":"PolicyItem"}
    },
    "PolicyStatement":{
      "type":"string",
      "max":10000,
      "min":1
    },
    "PolicyStoreId":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"[a-zA-Z0-9-]*"
    },
    "PolicyStoreItem":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "arn",
        "createdDate"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "arn":{"shape":"ResourceArn"},
        "createdDate":{"shape":"TimestampFormat"}
      }
    },
    "PolicyStoreList":{
      "type":"list",
      "member":{"shape":"PolicyStoreItem"}
    },
    "PolicyTemplateDescription":{
      "type":"string",
      "max":150,
      "min":0
    },
    "PolicyTemplateId":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"[a-zA-Z0-9-]*"
    },
    "PolicyTemplateItem":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyTemplateId",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "policyTemplateId":{"shape":"PolicyTemplateId"},
        "description":{"shape":"PolicyTemplateDescription"},
        "createdDate":{"shape":"TimestampFormat"},
        "lastUpdatedDate":{"shape":"TimestampFormat"}
      }
    },
    "PolicyTemplatesList":{
      "type":"list",
      "member":{"shape":"PolicyTemplateItem"}
    },
    "PolicyType":{
      "type":"string",
      "enum":[
        "STATIC",
        "TEMPLATE_LINKED"
      ]
    },
    "PrincipalEntityType":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":".*"
    },
    "PutSchemaInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "definition"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "definition":{"shape":"SchemaDefinition"}
      }
    },
    "PutSchemaOutput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "namespaces",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "namespaces":{"shape":"NamespaceList"},
        "createdDate":{"shape":"TimestampFormat"},
        "lastUpdatedDate":{"shape":"TimestampFormat"}
      }
    },
    "RecordAttribute":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"AttributeValue"}
    },
    "ResourceArn":{
      "type":"string",
      "max":2500,
      "min":1,
      "pattern":"arn:[^:]*:[^:]*:[^:]*:[^:]*:.*"
    },
    "ResourceConflict":{
      "type":"structure",
      "required":[
        "resourceId",
        "resourceType"
      ],
      "members":{
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"ResourceType"}
      }
    },
    "ResourceConflictList":{
      "type":"list",
      "member":{"shape":"ResourceConflict"}
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"ResourceType"}
      },
      "exception":true
    },
    "ResourceType":{
      "type":"string",
      "enum":[
        "IDENTITY_SOURCE",
        "POLICY_STORE",
        "POLICY",
        "POLICY_TEMPLATE",
        "SCHEMA"
      ]
    },
    "SchemaDefinition":{
      "type":"structure",
      "members":{
        "cedarJson":{"shape":"SchemaJson"}
      },
      "union":true
    },
    "SchemaJson":{
      "type":"string",
      "max":10000,
      "min":1
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":[
        "message",
        "resourceType"
      ],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"ResourceType"},
        "serviceCode":{"shape":"String"},
        "quotaCode":{"shape":"String"}
      },
      "exception":true
    },
    "SetAttribute":{
      "type":"list",
      "member":{"shape":"AttributeValue"}
    },
    "StaticPolicyDefinition":{
      "type":"structure",
      "required":["statement"],
      "members":{
        "description":{"shape":"StaticPolicyDescription"},
        "statement":{"shape":"PolicyStatement"}
      }
    },
    "StaticPolicyDefinitionDetail":{
      "type":"structure",
      "required":["statement"],
      "members":{
        "description":{"shape":"StaticPolicyDescription"},
        "statement":{"shape":"PolicyStatement"}
      }
    },
    "StaticPolicyDefinitionItem":{
      "type":"structure",
      "members":{
        "description":{"shape":"StaticPolicyDescription"}
      }
    },
    "StaticPolicyDescription":{
      "type":"string",
      "max":150,
      "min":0
    },
    "String":{"type":"string"},
    "StringAttribute":{"type":"string"},
    "TemplateLinkedPolicyDefinition":{
      "type":"structure",
      "required":["policyTemplateId"],
      "members":{
        "policyTemplateId":{"shape":"PolicyTemplateId"},
        "principal":{"shape":"EntityIdentifier"},
        "resource":{"shape":"EntityIdentifier"}
      }
    },
    "TemplateLinkedPolicyDefinitionDetail":{
      "type":"structure",
      "required":["policyTemplateId"],
      "members":{
        "policyTemplateId":{"shape":"PolicyTemplateId"},
        "principal":{"shape":"EntityIdentifier"},
        "resource":{"shape":"EntityIdentifier"}
      }
    },
    "TemplateLinkedPolicyDefinitionItem":{
      "type":"structure",
      "required":["policyTemplateId"],
      "members":{
        "policyTemplateId":{"shape":"PolicyTemplateId"},
        "principal":{"shape":"EntityIdentifier"},
        "resource":{"shape":"EntityIdentifier"}
      }
    },
    "ThrottlingException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "serviceCode":{"shape":"String"},
        "quotaCode":{"shape":"String"}
      },
      "exception":true,
      "retryable":{"throttling":true}
    },
    "TimestampFormat":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "Token":{
      "type":"string",
      "max":131072,
      "min":1,
      "pattern":"[A-Za-z0-9-_=]+.[A-Za-z0-9-_=]+.[A-Za-z0-9-_=]+"
    },
    "UpdateCognitoUserPoolConfiguration":{
      "type":"structure",
      "required":["userPoolArn"],
      "members":{
        "userPoolArn":{"shape":"UserPoolArn"},
        "clientIds":{"shape":"ClientIds"}
      }
    },
    "UpdateConfiguration":{
      "type":"structure",
      "members":{
        "cognitoUserPoolConfiguration":{"shape":"UpdateCognitoUserPoolConfiguration"}
      },
      "union":true
    },
    "UpdateIdentitySourceInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "identitySourceId",
        "updateConfiguration"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "identitySourceId":{"shape":"IdentitySourceId"},
        "updateConfiguration":{"shape":"UpdateConfiguration"},
        "principalEntityType":{"shape":"PrincipalEntityType"}
      }
    },
    "UpdateIdentitySourceOutput":{
      "type":"structure",
      "required":[
        "createdDate",
        "identitySourceId",
        "lastUpdatedDate",
        "policyStoreId"
      ],
      "members":{
        "createdDate":{"shape":"TimestampFormat"},
        "identitySourceId":{"shape":"IdentitySourceId"},
        "lastUpdatedDate":{"shape":"TimestampFormat"},
        "policyStoreId":{"shape":"PolicyStoreId"}
      }
    },
    "UpdatePolicyDefinition":{
      "type":"structure",
      "members":{
        "static":{"shape":"UpdateStaticPolicyDefinition"}
      },
      "union":true
    },
    "UpdatePolicyInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyId",
        "definition"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "policyId":{"shape":"PolicyId"},
        "definition":{"shape":"UpdatePolicyDefinition"}
      }
    },
    "UpdatePolicyOutput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyId",
        "policyType",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "policyId":{"shape":"PolicyId"},
        "policyType":{"shape":"PolicyType"},
        "principal":{"shape":"EntityIdentifier"},
        "resource":{"shape":"EntityIdentifier"},
        "createdDate":{"shape":"TimestampFormat"},
        "lastUpdatedDate":{"shape":"TimestampFormat"}
      }
    },
    "UpdatePolicyStoreInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "validationSettings"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "validationSettings":{"shape":"ValidationSettings"}
      }
    },
    "UpdatePolicyStoreOutput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "arn",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "arn":{"shape":"ResourceArn"},
        "createdDate":{"shape":"TimestampFormat"},
        "lastUpdatedDate":{"shape":"TimestampFormat"}
      }
    },
    "UpdatePolicyTemplateInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyTemplateId",
        "statement"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "policyTemplateId":{"shape":"PolicyTemplateId"},
        "description":{"shape":"PolicyTemplateDescription"},
        "statement":{"shape":"PolicyStatement"}
      }
    },
    "UpdatePolicyTemplateOutput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyTemplateId",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{"shape":"PolicyStoreId"},
        "policyTemplateId":{"shape":"PolicyTemplateId"},
        "createdDate":{"shape":"TimestampFormat"},
        "lastUpdatedDate":{"shape":"TimestampFormat"}
      }
    },
    "UpdateStaticPolicyDefinition":{
      "type":"structure",
      "required":["statement"],
      "members":{
        "description":{"shape":"StaticPolicyDescription"},
        "statement":{"shape":"PolicyStatement"}
      }
    },
    "UserPoolArn":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"arn:[a-zA-Z0-9-]+:cognito-idp:(([a-zA-Z0-9-]+:\\d{12}:userpool/[\\w-]+_[0-9a-zA-Z]+))"
    },
    "ValidationException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "fieldList":{"shape":"ValidationExceptionFieldList"}
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "path",
        "message"
      ],
      "members":{
        "path":{"shape":"String"},
        "message":{"shape":"String"}
      }
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"}
    },
    "ValidationMode":{
      "type":"string",
      "enum":[
        "OFF",
        "STRICT"
      ]
    },
    "ValidationSettings":{
      "type":"structure",
      "required":["mode"],
      "members":{
        "mode":{"shape":"ValidationMode"}
      }
    }
  }
}
