{
  "metadata": {
    "apiVersion": "2022-11-28",
    "endpointPrefix": "omics",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Omics",
    "serviceId": "Omics",
    "signatureVersion": "v4",
    "signingName": "omics",
    "uid": "omics-2022-11-28"
  },
  "operations": {
    "BatchDeleteReadSet": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/readset/batch/delete",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "BatchDeleteReadSetRequest"
      },
      "name": "BatchDeleteReadSet",
      "output": {
        "shape": "BatchDeleteReadSetResponse"
      }
    },
    "CancelAnnotationImportJob": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/import/annotation/{jobId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CancelAnnotationImportRequest"
      },
      "name": "CancelAnnotationImportJob",
      "output": {
        "shape": "CancelAnnotationImportResponse"
      }
    },
    "CancelRun": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/run/{id}/cancel",
        "responseCode": 202
      },
      "input": {
        "shape": "CancelRunRequest"
      },
      "name": "CancelRun"
    },
    "CancelVariantImportJob": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/import/variant/{jobId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CancelVariantImportRequest"
      },
      "name": "CancelVariantImportJob",
      "output": {
        "shape": "CancelVariantImportResponse"
      }
    },
    "CreateAnnotationStore": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/annotationStore",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateAnnotationStoreRequest"
      },
      "name": "CreateAnnotationStore",
      "output": {
        "shape": "CreateAnnotationStoreResponse"
      }
    },
    "CreateReferenceStore": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/referencestore",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateReferenceStoreRequest"
      },
      "name": "CreateReferenceStore",
      "output": {
        "shape": "CreateReferenceStoreResponse"
      }
    },
    "CreateRunGroup": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/runGroup",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRunGroupRequest"
      },
      "name": "CreateRunGroup",
      "output": {
        "shape": "CreateRunGroupResponse"
      }
    },
    "CreateSequenceStore": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSequenceStoreRequest"
      },
      "name": "CreateSequenceStore",
      "output": {
        "shape": "CreateSequenceStoreResponse"
      }
    },
    "CreateVariantStore": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/variantStore",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateVariantStoreRequest"
      },
      "name": "CreateVariantStore",
      "output": {
        "shape": "CreateVariantStoreResponse"
      }
    },
    "CreateWorkflow": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/workflow",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateWorkflowRequest"
      },
      "name": "CreateWorkflow",
      "output": {
        "shape": "CreateWorkflowResponse"
      }
    },
    "DeleteAnnotationStore": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/annotationStore/{name}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteAnnotationStoreRequest"
      },
      "name": "DeleteAnnotationStore",
      "output": {
        "shape": "DeleteAnnotationStoreResponse"
      }
    },
    "DeleteReference": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/referencestore/{referenceStoreId}/reference/{id}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteReferenceRequest"
      },
      "name": "DeleteReference",
      "output": {
        "shape": "DeleteReferenceResponse"
      }
    },
    "DeleteReferenceStore": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/referencestore/{id}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteReferenceStoreRequest"
      },
      "name": "DeleteReferenceStore",
      "output": {
        "shape": "DeleteReferenceStoreResponse"
      }
    },
    "DeleteRun": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/run/{id}",
        "responseCode": 202
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteRunRequest"
      },
      "name": "DeleteRun"
    },
    "DeleteRunGroup": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/runGroup/{id}",
        "responseCode": 202
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteRunGroupRequest"
      },
      "name": "DeleteRunGroup"
    },
    "DeleteSequenceStore": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/sequencestore/{id}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteSequenceStoreRequest"
      },
      "name": "DeleteSequenceStore",
      "output": {
        "shape": "DeleteSequenceStoreResponse"
      }
    },
    "DeleteVariantStore": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/variantStore/{name}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteVariantStoreRequest"
      },
      "name": "DeleteVariantStore",
      "output": {
        "shape": "DeleteVariantStoreResponse"
      }
    },
    "DeleteWorkflow": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/workflow/{id}",
        "responseCode": 202
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteWorkflowRequest"
      },
      "name": "DeleteWorkflow"
    },
    "GetAnnotationImportJob": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/import/annotation/{jobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAnnotationImportRequest"
      },
      "name": "GetAnnotationImportJob",
      "output": {
        "shape": "GetAnnotationImportResponse"
      }
    },
    "GetAnnotationStore": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/annotationStore/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAnnotationStoreRequest"
      },
      "name": "GetAnnotationStore",
      "output": {
        "shape": "GetAnnotationStoreResponse"
      }
    },
    "GetReadSet": {
      "endpoint": {
        "hostPrefix": "storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "RangeNotSatisfiableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sequencestore/{sequenceStoreId}/readset/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReadSetRequest"
      },
      "name": "GetReadSet",
      "output": {
        "shape": "GetReadSetResponse"
      }
    },
    "GetReadSetActivationJob": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sequencestore/{sequenceStoreId}/activationjob/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReadSetActivationJobRequest"
      },
      "name": "GetReadSetActivationJob",
      "output": {
        "shape": "GetReadSetActivationJobResponse"
      }
    },
    "GetReadSetExportJob": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sequencestore/{sequenceStoreId}/exportjob/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReadSetExportJobRequest"
      },
      "name": "GetReadSetExportJob",
      "output": {
        "shape": "GetReadSetExportJobResponse"
      }
    },
    "GetReadSetImportJob": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sequencestore/{sequenceStoreId}/importjob/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReadSetImportJobRequest"
      },
      "name": "GetReadSetImportJob",
      "output": {
        "shape": "GetReadSetImportJobResponse"
      }
    },
    "GetReadSetMetadata": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sequencestore/{sequenceStoreId}/readset/{id}/metadata",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReadSetMetadataRequest"
      },
      "name": "GetReadSetMetadata",
      "output": {
        "shape": "GetReadSetMetadataResponse"
      }
    },
    "GetReference": {
      "endpoint": {
        "hostPrefix": "storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "RangeNotSatisfiableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/referencestore/{referenceStoreId}/reference/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReferenceRequest"
      },
      "name": "GetReference",
      "output": {
        "shape": "GetReferenceResponse"
      }
    },
    "GetReferenceImportJob": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/referencestore/{referenceStoreId}/importjob/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReferenceImportJobRequest"
      },
      "name": "GetReferenceImportJob",
      "output": {
        "shape": "GetReferenceImportJobResponse"
      }
    },
    "GetReferenceMetadata": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/referencestore/{referenceStoreId}/reference/{id}/metadata",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReferenceMetadataRequest"
      },
      "name": "GetReferenceMetadata",
      "output": {
        "shape": "GetReferenceMetadataResponse"
      }
    },
    "GetReferenceStore": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/referencestore/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReferenceStoreRequest"
      },
      "name": "GetReferenceStore",
      "output": {
        "shape": "GetReferenceStoreResponse"
      }
    },
    "GetRun": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/run/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRunRequest"
      },
      "name": "GetRun",
      "output": {
        "shape": "GetRunResponse"
      }
    },
    "GetRunGroup": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/runGroup/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRunGroupRequest"
      },
      "name": "GetRunGroup",
      "output": {
        "shape": "GetRunGroupResponse"
      }
    },
    "GetRunTask": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/run/{id}/task/{taskId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRunTaskRequest"
      },
      "name": "GetRunTask",
      "output": {
        "shape": "GetRunTaskResponse"
      }
    },
    "GetSequenceStore": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sequencestore/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSequenceStoreRequest"
      },
      "name": "GetSequenceStore",
      "output": {
        "shape": "GetSequenceStoreResponse"
      }
    },
    "GetVariantImportJob": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/import/variant/{jobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVariantImportRequest"
      },
      "name": "GetVariantImportJob",
      "output": {
        "shape": "GetVariantImportResponse"
      }
    },
    "GetVariantStore": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/variantStore/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVariantStoreRequest"
      },
      "name": "GetVariantStore",
      "output": {
        "shape": "GetVariantStoreResponse"
      }
    },
    "GetWorkflow": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/workflow/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetWorkflowRequest"
      },
      "name": "GetWorkflow",
      "output": {
        "shape": "GetWorkflowResponse"
      }
    },
    "ListAnnotationImportJobs": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/import/annotations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAnnotationImportJobsRequest"
      },
      "name": "ListAnnotationImportJobs",
      "output": {
        "shape": "ListAnnotationImportJobsResponse"
      }
    },
    "ListAnnotationStores": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/annotationStores",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAnnotationStoresRequest"
      },
      "name": "ListAnnotationStores",
      "output": {
        "shape": "ListAnnotationStoresResponse"
      }
    },
    "ListReadSetActivationJobs": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/activationjobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReadSetActivationJobsRequest"
      },
      "name": "ListReadSetActivationJobs",
      "output": {
        "shape": "ListReadSetActivationJobsResponse"
      }
    },
    "ListReadSetExportJobs": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/exportjobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReadSetExportJobsRequest"
      },
      "name": "ListReadSetExportJobs",
      "output": {
        "shape": "ListReadSetExportJobsResponse"
      }
    },
    "ListReadSetImportJobs": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/importjobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReadSetImportJobsRequest"
      },
      "name": "ListReadSetImportJobs",
      "output": {
        "shape": "ListReadSetImportJobsResponse"
      }
    },
    "ListReadSets": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/readsets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReadSetsRequest"
      },
      "name": "ListReadSets",
      "output": {
        "shape": "ListReadSetsResponse"
      }
    },
    "ListReferenceImportJobs": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/referencestore/{referenceStoreId}/importjobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReferenceImportJobsRequest"
      },
      "name": "ListReferenceImportJobs",
      "output": {
        "shape": "ListReferenceImportJobsResponse"
      }
    },
    "ListReferenceStores": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/referencestores",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReferenceStoresRequest"
      },
      "name": "ListReferenceStores",
      "output": {
        "shape": "ListReferenceStoresResponse"
      }
    },
    "ListReferences": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/referencestore/{referenceStoreId}/references",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReferencesRequest"
      },
      "name": "ListReferences",
      "output": {
        "shape": "ListReferencesResponse"
      }
    },
    "ListRunGroups": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/runGroup",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRunGroupsRequest"
      },
      "name": "ListRunGroups",
      "output": {
        "shape": "ListRunGroupsResponse"
      }
    },
    "ListRunTasks": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/run/{id}/task",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRunTasksRequest"
      },
      "name": "ListRunTasks",
      "output": {
        "shape": "ListRunTasksResponse"
      }
    },
    "ListRuns": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/run",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRunsRequest"
      },
      "name": "ListRuns",
      "output": {
        "shape": "ListRunsResponse"
      }
    },
    "ListSequenceStores": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestores",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSequenceStoresRequest"
      },
      "name": "ListSequenceStores",
      "output": {
        "shape": "ListSequenceStoresResponse"
      }
    },
    "ListTagsForResource": {
      "endpoint": {
        "hostPrefix": "tags-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListVariantImportJobs": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/import/variants",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVariantImportJobsRequest"
      },
      "name": "ListVariantImportJobs",
      "output": {
        "shape": "ListVariantImportJobsResponse"
      }
    },
    "ListVariantStores": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/variantStores",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVariantStoresRequest"
      },
      "name": "ListVariantStores",
      "output": {
        "shape": "ListVariantStoresResponse"
      }
    },
    "ListWorkflows": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/workflow",
        "responseCode": 200
      },
      "input": {
        "shape": "ListWorkflowsRequest"
      },
      "name": "ListWorkflows",
      "output": {
        "shape": "ListWorkflowsResponse"
      }
    },
    "StartAnnotationImportJob": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/import/annotation",
        "responseCode": 200
      },
      "input": {
        "shape": "StartAnnotationImportRequest"
      },
      "name": "StartAnnotationImportJob",
      "output": {
        "shape": "StartAnnotationImportResponse"
      }
    },
    "StartReadSetActivationJob": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/activationjob",
        "responseCode": 200
      },
      "input": {
        "shape": "StartReadSetActivationJobRequest"
      },
      "name": "StartReadSetActivationJob",
      "output": {
        "shape": "StartReadSetActivationJobResponse"
      }
    },
    "StartReadSetExportJob": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/exportjob",
        "responseCode": 200
      },
      "input": {
        "shape": "StartReadSetExportJobRequest"
      },
      "name": "StartReadSetExportJob",
      "output": {
        "shape": "StartReadSetExportJobResponse"
      }
    },
    "StartReadSetImportJob": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/importjob",
        "responseCode": 200
      },
      "input": {
        "shape": "StartReadSetImportJobRequest"
      },
      "name": "StartReadSetImportJob",
      "output": {
        "shape": "StartReadSetImportJobResponse"
      }
    },
    "StartReferenceImportJob": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/referencestore/{referenceStoreId}/importjob",
        "responseCode": 200
      },
      "input": {
        "shape": "StartReferenceImportJobRequest"
      },
      "name": "StartReferenceImportJob",
      "output": {
        "shape": "StartReferenceImportJobResponse"
      }
    },
    "StartRun": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/run",
        "responseCode": 201
      },
      "input": {
        "shape": "StartRunRequest"
      },
      "name": "StartRun",
      "output": {
        "shape": "StartRunResponse"
      }
    },
    "StartVariantImportJob": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/import/variant",
        "responseCode": 200
      },
      "input": {
        "shape": "StartVariantImportRequest"
      },
      "name": "StartVariantImportJob",
      "output": {
        "shape": "StartVariantImportResponse"
      }
    },
    "TagResource": {
      "endpoint": {
        "hostPrefix": "tags-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "endpoint": {
        "hostPrefix": "tags-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateAnnotationStore": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/annotationStore/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAnnotationStoreRequest"
      },
      "name": "UpdateAnnotationStore",
      "output": {
        "shape": "UpdateAnnotationStoreResponse"
      }
    },
    "UpdateRunGroup": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/runGroup/{id}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateRunGroupRequest"
      },
      "name": "UpdateRunGroup"
    },
    "UpdateVariantStore": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/variantStore/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateVariantStoreRequest"
      },
      "name": "UpdateVariantStore",
      "output": {
        "shape": "UpdateVariantStoreResponse"
      }
    },
    "UpdateWorkflow": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/workflow/{id}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateWorkflowRequest"
      },
      "name": "UpdateWorkflow"
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ActivateReadSetFilter": {
      "members": {
        "createdAfter": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "createdBefore": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "status": {
          "shape": "ReadSetActivationJobStatus"
        }
      },
      "type": "structure"
    },
    "ActivateReadSetJobItem": {
      "members": {
        "completionTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "creationTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "id": {
          "shape": "ActivationJobId"
        },
        "sequenceStoreId": {
          "shape": "SequenceStoreId"
        },
        "status": {
          "shape": "ReadSetActivationJobStatus"
        }
      },
      "required": [
        "creationTime",
        "id",
        "sequenceStoreId",
        "status"
      ],
      "type": "structure"
    },
    "ActivateReadSetJobList": {
      "member": {
        "shape": "ActivateReadSetJobItem"
      },
      "type": "list"
    },
    "ActivateReadSetSourceItem": {
      "members": {
        "readSetId": {
          "shape": "ReadSetId"
        },
        "status": {
          "shape": "ReadSetActivationJobItemStatus"
        },
        "statusMessage": {
          "shape": "JobStatusMessage"
        }
      },
      "required": [
        "readSetId",
        "status"
      ],
      "type": "structure"
    },
    "ActivateReadSetSourceList": {
      "member": {
        "shape": "ActivateReadSetSourceItem"
      },
      "type": "list"
    },
    "ActivationJobId": {
      "max": 36,
      "min": 10,
      "pattern": "^[0-9]+$",
      "type": "string"
    },
    "AnnotationImportItemDetail": {
      "members": {
        "jobStatus": {
          "shape": "JobStatus"
        },
        "source": {
          "shape": "S3Uri"
        }
      },
      "required": [
        "jobStatus",
        "source"
      ],
      "type": "structure"
    },
    "AnnotationImportItemDetails": {
      "max": 1,
      "member": {
        "shape": "AnnotationImportItemDetail"
      },
      "min": 1,
      "type": "list"
    },
    "AnnotationImportItemSource": {
      "members": {
        "source": {
          "shape": "S3Uri"
        }
      },
      "required": [
        "source"
      ],
      "type": "structure"
    },
    "AnnotationImportItemSources": {
      "max": 1,
      "member": {
        "shape": "AnnotationImportItemSource"
      },
      "min": 1,
      "type": "list"
    },
    "AnnotationImportJobItem": {
      "members": {
        "completionTime": {
          "shape": "CompletionTime"
        },
        "creationTime": {
          "shape": "CreationTime"
        },
        "destinationName": {
          "shape": "String"
        },
        "id": {
          "shape": "String"
        },
        "roleArn": {
          "shape": "Arn"
        },
        "runLeftNormalization": {
          "shape": "RunLeftNormalization"
        },
        "status": {
          "shape": "JobStatus"
        },
        "updateTime": {
          "shape": "UpdateTime"
        }
      },
      "required": [
        "creationTime",
        "destinationName",
        "id",
        "roleArn",
        "status",
        "updateTime"
      ],
      "type": "structure"
    },
    "AnnotationImportJobItems": {
      "member": {
        "shape": "AnnotationImportJobItem"
      },
      "type": "list"
    },
    "AnnotationStoreItem": {
      "members": {
        "creationTime": {
          "shape": "CreationTime"
        },
        "description": {
          "shape": "StoreDescription"
        },
        "id": {
          "shape": "ResourceId"
        },
        "name": {
          "shape": "String"
        },
        "reference": {
          "shape": "ReferenceItem"
        },
        "sseConfig": {
          "shape": "SseConfig"
        },
        "status": {
          "shape": "StoreStatus"
        },
        "statusMessage": {
          "shape": "StatusMessage"
        },
        "storeArn": {
          "shape": "Arn"
        },
        "storeFormat": {
          "shape": "StoreFormat"
        },
        "storeSizeBytes": {
          "shape": "Long"
        },
        "updateTime": {
          "shape": "UpdateTime"
        }
      },
      "required": [
        "creationTime",
        "description",
        "id",
        "name",
        "reference",
        "sseConfig",
        "status",
        "statusMessage",
        "storeArn",
        "storeFormat",
        "storeSizeBytes",
        "updateTime"
      ],
      "type": "structure"
    },
    "AnnotationStoreItems": {
      "member": {
        "shape": "AnnotationStoreItem"
      },
      "type": "list"
    },
    "AnnotationType": {
      "enum": [
        "GENERIC",
        "CHR_POS",
        "CHR_POS_REF_ALT",
        "CHR_START_END_ONE_BASE",
        "CHR_START_END_REF_ALT_ONE_BASE",
        "CHR_START_END_ZERO_BASE",
        "CHR_START_END_REF_ALT_ZERO_BASE"
      ],
      "type": "string"
    },
    "Arn": {
      "max": 2048,
      "min": 20,
      "pattern": "^arn:([^: ]*):([^: ]*):([^: ]*):([0-9]{12}):([^: ]*)$",
      "type": "string"
    },
    "BatchDeleteReadSetRequest": {
      "members": {
        "ids": {
          "shape": "ReadSetIdList"
        },
        "sequenceStoreId": {
          "location": "uri",
          "locationName": "sequenceStoreId",
          "shape": "SequenceStoreId"
        }
      },
      "required": [
        "ids",
        "sequenceStoreId"
      ],
      "type": "structure"
    },
    "BatchDeleteReadSetResponse": {
      "members": {
        "errors": {
          "shape": "ReadSetBatchErrorList"
        }
      },
      "type": "structure"
    },
    "Blob": {
      "type": "blob"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "CancelAnnotationImportRequest": {
      "members": {
        "jobId": {
          "location": "uri",
          "locationName": "jobId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "jobId"
      ],
      "type": "structure"
    },
    "CancelAnnotationImportResponse": {
      "members": {},
      "type": "structure"
    },
    "CancelRunRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "RunId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "CancelVariantImportRequest": {
      "members": {
        "jobId": {
          "location": "uri",
          "locationName": "jobId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "jobId"
      ],
      "type": "structure"
    },
    "CancelVariantImportResponse": {
      "members": {},
      "type": "structure"
    },
    "ClientToken": {
      "max": 127,
      "min": 1,
      "pattern": "^[\\p{L}||\\p{M}||\\p{Z}||\\p{S}||\\p{N}||\\p{P}]+$",
      "type": "string"
    },
    "CommentChar": {
      "max": 1,
      "min": 1,
      "type": "string"
    },
    "CompletionTime": {
      "timestampFormat": "iso8601",
      "type": "timestamp"
    },
    "ConflictException": {
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "CreateAnnotationStoreRequest": {
      "members": {
        "description": {
          "shape": "StoreDescription"
        },
        "name": {
          "shape": "CreateAnnotationStoreRequestNameString"
        },
        "reference": {
          "shape": "ReferenceItem"
        },
        "sseConfig": {
          "shape": "SseConfig"
        },
        "storeFormat": {
          "shape": "StoreFormat"
        },
        "storeOptions": {
          "shape": "StoreOptions"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "storeFormat"
      ],
      "type": "structure"
    },
    "CreateAnnotationStoreRequestNameString": {
      "pattern": "^([a-z]){1}([a-z0-9_]){2,254}$",
      "type": "string"
    },
    "CreateAnnotationStoreResponse": {
      "members": {
        "creationTime": {
          "shape": "CreationTime"
        },
        "id": {
          "shape": "ResourceId"
        },
        "name": {
          "shape": "String"
        },
        "reference": {
          "shape": "ReferenceItem"
        },
        "status": {
          "shape": "StoreStatus"
        },
        "storeFormat": {
          "shape": "StoreFormat"
        },
        "storeOptions": {
          "shape": "StoreOptions"
        }
      },
      "required": [
        "creationTime",
        "id",
        "name",
        "status"
      ],
      "type": "structure"
    },
    "CreateReferenceStoreRequest": {
      "members": {
        "clientToken": {
          "shape": "ClientToken"
        },
        "description": {
          "shape": "ReferenceStoreDescription"
        },
        "name": {
          "shape": "ReferenceStoreName"
        },
        "sseConfig": {
          "shape": "SseConfig"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateReferenceStoreResponse": {
      "members": {
        "arn": {
          "shape": "ReferenceStoreArn"
        },
        "creationTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "description": {
          "shape": "ReferenceStoreDescription"
        },
        "id": {
          "shape": "ReferenceStoreId"
        },
        "name": {
          "shape": "ReferenceStoreName"
        },
        "sseConfig": {
          "shape": "SseConfig"
        }
      },
      "required": [
        "arn",
        "creationTime",
        "id"
      ],
      "type": "structure"
    },
    "CreateRunGroupRequest": {
      "members": {
        "maxCpus": {
          "shape": "CreateRunGroupRequestMaxCpusInteger"
        },
        "maxDuration": {
          "shape": "CreateRunGroupRequestMaxDurationInteger"
        },
        "maxRuns": {
          "shape": "CreateRunGroupRequestMaxRunsInteger"
        },
        "name": {
          "shape": "RunGroupName"
        },
        "requestId": {
          "idempotencyToken": true,
          "shape": "RunGroupRequestId"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "requestId"
      ],
      "type": "structure"
    },
    "CreateRunGroupRequestMaxCpusInteger": {
      "box": true,
      "max": 100000,
      "min": 1,
      "type": "integer"
    },
    "CreateRunGroupRequestMaxDurationInteger": {
      "box": true,
      "max": 100000,
      "min": 1,
      "type": "integer"
    },
    "CreateRunGroupRequestMaxRunsInteger": {
      "box": true,
      "max": 100000,
      "min": 1,
      "type": "integer"
    },
    "CreateRunGroupResponse": {
      "members": {
        "arn": {
          "shape": "RunGroupArn"
        },
        "id": {
          "shape": "RunGroupId"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreateSequenceStoreRequest": {
      "members": {
        "clientToken": {
          "shape": "ClientToken"
        },
        "description": {
          "shape": "SequenceStoreDescription"
        },
        "name": {
          "shape": "SequenceStoreName"
        },
        "sseConfig": {
          "shape": "SseConfig"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateSequenceStoreResponse": {
      "members": {
        "arn": {
          "shape": "SequenceStoreArn"
        },
        "creationTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "description": {
          "shape": "SequenceStoreDescription"
        },
        "id": {
          "shape": "SequenceStoreId"
        },
        "name": {
          "shape": "SequenceStoreName"
        },
        "sseConfig": {
          "shape": "SseConfig"
        }
      },
      "required": [
        "arn",
        "creationTime",
        "id"
      ],
      "type": "structure"
    },
    "CreateVariantStoreRequest": {
      "members": {
        "description": {
          "shape": "StoreDescription"
        },
        "name": {
          "shape": "CreateVariantStoreRequestNameString"
        },
        "reference": {
          "shape": "ReferenceItem"
        },
        "sseConfig": {
          "shape": "SseConfig"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "reference"
      ],
      "type": "structure"
    },
    "CreateVariantStoreRequestNameString": {
      "pattern": "^([a-z]){1}([a-z0-9_]){2,254}$",
      "type": "string"
    },
    "CreateVariantStoreResponse": {
      "members": {
        "creationTime": {
          "shape": "CreationTime"
        },
        "id": {
          "shape": "ResourceId"
        },
        "name": {
          "shape": "String"
        },
        "reference": {
          "shape": "ReferenceItem"
        },
        "status": {
          "shape": "StoreStatus"
        }
      },
      "required": [
        "creationTime",
        "id",
        "name",
        "status"
      ],
      "type": "structure"
    },
    "CreateWorkflowRequest": {
      "members": {
        "definitionUri": {
          "shape": "WorkflowDefinition"
        },
        "definitionZip": {
          "shape": "Blob"
        },
        "description": {
          "shape": "WorkflowDescription"
        },
        "engine": {
          "shape": "WorkflowEngine"
        },
        "main": {
          "shape": "WorkflowMain"
        },
        "name": {
          "shape": "WorkflowName"
        },
        "parameterTemplate": {
          "shape": "WorkflowParameterTemplate"
        },
        "requestId": {
          "idempotencyToken": true,
          "shape": "WorkflowRequestId"
        },
        "storageCapacity": {
          "shape": "CreateWorkflowRequestStorageCapacityInteger"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "requestId"
      ],
      "type": "structure"
    },
    "CreateWorkflowRequestStorageCapacityInteger": {
      "box": true,
      "max": 100000,
      "min": 0,
      "type": "integer"
    },
    "CreateWorkflowResponse": {
      "members": {
        "arn": {
          "shape": "WorkflowArn"
        },
        "id": {
          "shape": "WorkflowId"
        },
        "status": {
          "shape": "WorkflowStatus"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreationTime": {
      "timestampFormat": "iso8601",
      "type": "timestamp"
    },
    "DeleteAnnotationStoreRequest": {
      "members": {
        "force": {
          "location": "querystring",
          "locationName": "force",
          "shape": "PrimitiveBoolean"
        },
        "name": {
          "location": "uri",
          "locationName": "name",
          "shape": "String"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "DeleteAnnotationStoreResponse": {
      "members": {
        "status": {
          "shape": "StoreStatus"
        }
      },
      "required": [
        "status"
      ],
      "type": "structure"
    },
    "DeleteReferenceRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "ReferenceId"
        },
        "referenceStoreId": {
          "location": "uri",
          "locationName": "referenceStoreId",
          "shape": "ReferenceStoreId"
        }
      },
      "required": [
        "id",
        "referenceStoreId"
      ],
      "type": "structure"
    },
    "DeleteReferenceResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteReferenceStoreRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "ReferenceStoreId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DeleteReferenceStoreResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteRunGroupRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "RunGroupId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DeleteRunRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "RunId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DeleteSequenceStoreRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "SequenceStoreId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DeleteSequenceStoreResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteVariantStoreRequest": {
      "members": {
        "force": {
          "location": "querystring",
          "locationName": "force",
          "shape": "PrimitiveBoolean"
        },
        "name": {
          "location": "uri",
          "locationName": "name",
          "shape": "String"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "DeleteVariantStoreResponse": {
      "members": {
        "status": {
          "shape": "StoreStatus"
        }
      },
      "required": [
        "status"
      ],
      "type": "structure"
    },
    "DeleteWorkflowRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "WorkflowId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "Encoding": {
      "max": 20,
      "min": 1,
      "type": "string"
    },
    "EncryptionType": {
      "enum": [
        "KMS"
      ],
      "type": "string"
    },
    "EscapeChar": {
      "max": 1,
      "min": 1,
      "type": "string"
    },
    "EscapeQuotes": {
      "type": "boolean"
    },
    "ExportJobId": {
      "max": 36,
      "min": 10,
      "pattern": "^[0-9]+$",
      "type": "string"
    },
    "ExportReadSet": {
      "members": {
        "readSetId": {
          "shape": "ReadSetId"
        }
      },
      "required": [
        "readSetId"
      ],
      "type": "structure"
    },
    "ExportReadSetDetail": {
      "members": {
        "id": {
          "shape": "ReadSetId"
        },
        "status": {
          "shape": "ReadSetExportJobItemStatus"
        },
        "statusMessage": {
          "shape": "JobStatusMessage"
        }
      },
      "required": [
        "id",
        "status"
      ],
      "type": "structure"
    },
    "ExportReadSetDetailList": {
      "member": {
        "shape": "ExportReadSetDetail"
      },
      "type": "list"
    },
    "ExportReadSetFilter": {
      "members": {
        "createdAfter": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "createdBefore": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "status": {
          "shape": "ReadSetExportJobStatus"
        }
      },
      "type": "structure"
    },
    "ExportReadSetJobDetail": {
      "members": {
        "completionTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "creationTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "destination": {
          "shape": "S3Destination"
        },
        "id": {
          "shape": "ExportJobId"
        },
        "sequenceStoreId": {
          "shape": "SequenceStoreId"
        },
        "status": {
          "shape": "ReadSetExportJobStatus"
        }
      },
      "required": [
        "creationTime",
        "destination",
        "id",
        "sequenceStoreId",
        "status"
      ],
      "type": "structure"
    },
    "ExportReadSetJobDetailList": {
      "member": {
        "shape": "ExportReadSetJobDetail"
      },
      "type": "list"
    },
    "FileInformation": {
      "members": {
        "contentLength": {
          "shape": "FileInformationContentLengthLong"
        },
        "partSize": {
          "shape": "FileInformationPartSizeLong"
        },
        "totalParts": {
          "shape": "FileInformationTotalPartsInteger"
        }
      },
      "type": "structure"
    },
    "FileInformationContentLengthLong": {
      "box": true,
      "max": 5497558138880,
      "min": 1,
      "type": "long"
    },
    "FileInformationPartSizeLong": {
      "box": true,
      "max": 5368709120,
      "min": 1,
      "type": "long"
    },
    "FileInformationTotalPartsInteger": {
      "box": true,
      "max": 10000,
      "min": 1,
      "type": "integer"
    },
    "FileType": {
      "enum": [
        "FASTQ",
        "BAM",
        "CRAM"
      ],
      "type": "string"
    },
    "FormatOptions": {
      "members": {
        "tsvOptions": {
          "shape": "TsvOptions"
        },
        "vcfOptions": {
          "shape": "VcfOptions"
        }
      },
      "type": "structure",
      "union": true
    },
    "FormatToHeader": {
      "key": {
        "shape": "FormatToHeaderKey"
      },
      "type": "map",
      "value": {
        "shape": "FormatToHeaderValueString"
      }
    },
    "FormatToHeaderKey": {
      "enum": [
        "CHR",
        "START",
        "END",
        "REF",
        "ALT",
        "POS"
      ],
      "type": "string"
    },
    "FormatToHeaderValueString": {
      "max": 1000,
      "min": 0,
      "type": "string"
    },
    "GeneratedFrom": {
      "max": 127,
      "min": 1,
      "pattern": "^[\\p{L}||\\p{M}||\\p{Z}||\\p{S}||\\p{N}||\\p{P}]+$",
      "type": "string"
    },
    "GetAnnotationImportRequest": {
      "members": {
        "jobId": {
          "location": "uri",
          "locationName": "jobId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "jobId"
      ],
      "type": "structure"
    },
    "GetAnnotationImportResponse": {
      "members": {
        "completionTime": {
          "shape": "CompletionTime"
        },
        "creationTime": {
          "shape": "CreationTime"
        },
        "destinationName": {
          "shape": "StoreName"
        },
        "formatOptions": {
          "shape": "FormatOptions"
        },
        "id": {
          "shape": "ResourceId"
        },
        "items": {
          "shape": "AnnotationImportItemDetails"
        },
        "roleArn": {
          "shape": "Arn"
        },
        "runLeftNormalization": {
          "shape": "RunLeftNormalization"
        },
        "status": {
          "shape": "JobStatus"
        },
        "statusMessage": {
          "shape": "JobStatusMsg"
        },
        "updateTime": {
          "shape": "UpdateTime"
        }
      },
      "required": [
        "completionTime",
        "creationTime",
        "destinationName",
        "formatOptions",
        "id",
        "items",
        "roleArn",
        "runLeftNormalization",
        "status",
        "statusMessage",
        "updateTime"
      ],
      "type": "structure"
    },
    "GetAnnotationStoreRequest": {
      "members": {
        "name": {
          "location": "uri",
          "locationName": "name",
          "shape": "String"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "GetAnnotationStoreResponse": {
      "members": {
        "creationTime": {
          "shape": "CreationTime"
        },
        "description": {
          "shape": "StoreDescription"
        },
        "id": {
          "shape": "ResourceId"
        },
        "name": {
          "shape": "String"
        },
        "reference": {
          "shape": "ReferenceItem"
        },
        "sseConfig": {
          "shape": "SseConfig"
        },
        "status": {
          "shape": "StoreStatus"
        },
        "statusMessage": {
          "shape": "StatusMessage"
        },
        "storeArn": {
          "shape": "Arn"
        },
        "storeFormat": {
          "shape": "StoreFormat"
        },
        "storeOptions": {
          "shape": "StoreOptions"
        },
        "storeSizeBytes": {
          "shape": "Long"
        },
        "tags": {
          "shape": "TagMap"
        },
        "updateTime": {
          "shape": "UpdateTime"
        }
      },
      "required": [
        "creationTime",
        "description",
        "id",
        "name",
        "reference",
        "sseConfig",
        "status",
        "statusMessage",
        "storeArn",
        "storeSizeBytes",
        "tags",
        "updateTime"
      ],
      "type": "structure"
    },
    "GetReadSetActivationJobRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "ActivationJobId"
        },
        "sequenceStoreId": {
          "location": "uri",
          "locationName": "sequenceStoreId",
          "shape": "SequenceStoreId"
        }
      },
      "required": [
        "id",
        "sequenceStoreId"
      ],
      "type": "structure"
    },
    "GetReadSetActivationJobResponse": {
      "members": {
        "completionTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "creationTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "id": {
          "shape": "ActivationJobId"
        },
        "sequenceStoreId": {
          "shape": "SequenceStoreId"
        },
        "sources": {
          "shape": "ActivateReadSetSourceList"
        },
        "status": {
          "shape": "ReadSetActivationJobStatus"
        },
        "statusMessage": {
          "shape": "JobStatusMessage"
        }
      },
      "required": [
        "creationTime",
        "id",
        "sequenceStoreId",
        "status"
      ],
      "type": "structure"
    },
    "GetReadSetExportJobRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "ExportJobId"
        },
        "sequenceStoreId": {
          "location": "uri",
          "locationName": "sequenceStoreId",
          "shape": "SequenceStoreId"
        }
      },
      "required": [
        "id",
        "sequenceStoreId"
      ],
      "type": "structure"
    },
    "GetReadSetExportJobResponse": {
      "members": {
        "completionTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "creationTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "destination": {
          "shape": "S3Destination"
        },
        "id": {
          "shape": "ExportJobId"
        },
        "readSets": {
          "shape": "ExportReadSetDetailList"
        },
        "sequenceStoreId": {
          "shape": "SequenceStoreId"
        },
        "status": {
          "shape": "ReadSetExportJobStatus"
        },
        "statusMessage": {
          "shape": "JobStatusMessage"
        }
      },
      "required": [
        "creationTime",
        "destination",
        "id",
        "sequenceStoreId",
        "status"
      ],
      "type": "structure"
    },
    "GetReadSetImportJobRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "ImportJobId"
        },
        "sequenceStoreId": {
          "location": "uri",
          "locationName": "sequenceStoreId",
          "shape": "SequenceStoreId"
        }
      },
      "required": [
        "id",
        "sequenceStoreId"
      ],
      "type": "structure"
    },
    "GetReadSetImportJobResponse": {
      "members": {
        "completionTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "creationTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "id": {
          "shape": "ImportJobId"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "sequenceStoreId": {
          "shape": "SequenceStoreId"
        },
        "sources": {
          "shape": "ImportReadSetSourceList"
        },
        "status": {
          "shape": "ReadSetImportJobStatus"
        },
        "statusMessage": {
          "shape": "JobStatusMessage"
        }
      },
      "required": [
        "creationTime",
        "id",
        "roleArn",
        "sequenceStoreId",
        "sources",
        "status"
      ],
      "type": "structure"
    },
    "GetReadSetMetadataRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "ReadSetId"
        },
        "sequenceStoreId": {
          "location": "uri",
          "locationName": "sequenceStoreId",
          "shape": "SequenceStoreId"
        }
      },
      "required": [
        "id",
        "sequenceStoreId"
      ],
      "type": "structure"
    },
    "GetReadSetMetadataResponse": {
      "members": {
        "arn": {
          "shape": "ReadSetArn"
        },
        "creationTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "description": {
          "shape": "ReadSetDescription"
        },
        "fileType": {
          "shape": "FileType"
        },
        "files": {
          "shape": "ReadSetFiles"
        },
        "id": {
          "shape": "ReadSetId"
        },
        "name": {
          "shape": "ReadSetName"
        },
        "referenceArn": {
          "shape": "ReferenceArn"
        },
        "sampleId": {
          "shape": "SampleId"
        },
        "sequenceInformation": {
          "shape": "SequenceInformation"
        },
        "sequenceStoreId": {
          "shape": "SequenceStoreId"
        },
        "status": {
          "shape": "ReadSetStatus"
        },
        "subjectId": {
          "shape": "SubjectId"
        }
      },
      "required": [
        "arn",
        "creationTime",
        "fileType",
        "id",
        "sequenceStoreId",
        "status"
      ],
      "type": "structure"
    },
    "GetReadSetRequest": {
      "members": {
        "file": {
          "location": "querystring",
          "locationName": "file",
          "shape": "ReadSetFile"
        },
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "ReadSetId"
        },
        "partNumber": {
          "location": "querystring",
          "locationName": "partNumber",
          "shape": "GetReadSetRequestPartNumberInteger"
        },
        "sequenceStoreId": {
          "location": "uri",
          "locationName": "sequenceStoreId",
          "shape": "SequenceStoreId"
        }
      },
      "required": [
        "id",
        "partNumber",
        "sequenceStoreId"
      ],
      "type": "structure"
    },
    "GetReadSetRequestPartNumberInteger": {
      "box": true,
      "max": 10000,
      "min": 1,
      "type": "integer"
    },
    "GetReadSetResponse": {
      "members": {
        "payload": {
          "shape": "ReadSetStreamingBlob"
        }
      },
      "payload": "payload",
      "type": "structure"
    },
    "GetReferenceImportJobRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "ImportJobId"
        },
        "referenceStoreId": {
          "location": "uri",
          "locationName": "referenceStoreId",
          "shape": "ReferenceStoreId"
        }
      },
      "required": [
        "id",
        "referenceStoreId"
      ],
      "type": "structure"
    },
    "GetReferenceImportJobResponse": {
      "members": {
        "completionTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "creationTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "id": {
          "shape": "ImportJobId"
        },
        "referenceStoreId": {
          "shape": "ReferenceStoreId"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "sources": {
          "shape": "ImportReferenceSourceList"
        },
        "status": {
          "shape": "ReferenceImportJobStatus"
        },
        "statusMessage": {
          "shape": "JobStatusMessage"
        }
      },
      "required": [
        "creationTime",
        "id",
        "referenceStoreId",
        "roleArn",
        "sources",
        "status"
      ],
      "type": "structure"
    },
    "GetReferenceMetadataRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "ReferenceId"
        },
        "referenceStoreId": {
          "location": "uri",
          "locationName": "referenceStoreId",
          "shape": "ReferenceStoreId"
        }
      },
      "required": [
        "id",
        "referenceStoreId"
      ],
      "type": "structure"
    },
    "GetReferenceMetadataResponse": {
      "members": {
        "arn": {
          "shape": "ReferenceArn"
        },
        "creationTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "description": {
          "shape": "ReferenceDescription"
        },
        "files": {
          "shape": "ReferenceFiles"
        },
        "id": {
          "shape": "ReferenceId"
        },
        "md5": {
          "shape": "Md5"
        },
        "name": {
          "shape": "ReferenceName"
        },
        "referenceStoreId": {
          "shape": "ReferenceStoreId"
        },
        "status": {
          "shape": "ReferenceStatus"
        },
        "updateTime": {
          "shape": "SyntheticTimestamp_date_time"
        }
      },
      "required": [
        "arn",
        "creationTime",
        "id",
        "md5",
        "referenceStoreId",
        "updateTime"
      ],
      "type": "structure"
    },
    "GetReferenceRequest": {
      "members": {
        "file": {
          "location": "querystring",
          "locationName": "file",
          "shape": "ReferenceFile"
        },
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "ReferenceId"
        },
        "partNumber": {
          "location": "querystring",
          "locationName": "partNumber",
          "shape": "GetReferenceRequestPartNumberInteger"
        },
        "range": {
          "location": "header",
          "locationName": "Range",
          "shape": "Range"
        },
        "referenceStoreId": {
          "location": "uri",
          "locationName": "referenceStoreId",
          "shape": "ReferenceStoreId"
        }
      },
      "required": [
        "id",
        "partNumber",
        "referenceStoreId"
      ],
      "type": "structure"
    },
    "GetReferenceRequestPartNumberInteger": {
      "box": true,
      "max": 10000,
      "min": 1,
      "type": "integer"
    },
    "GetReferenceResponse": {
      "members": {
        "payload": {
          "shape": "ReferenceStreamingBlob"
        }
      },
      "payload": "payload",
      "type": "structure"
    },
    "GetReferenceStoreRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "ReferenceStoreId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "GetReferenceStoreResponse": {
      "members": {
        "arn": {
          "shape": "ReferenceStoreArn"
        },
        "creationTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "description": {
          "shape": "ReferenceStoreDescription"
        },
        "id": {
          "shape": "ReferenceStoreId"
        },
        "name": {
          "shape": "ReferenceStoreName"
        },
        "sseConfig": {
          "shape": "SseConfig"
        }
      },
      "required": [
        "arn",
        "creationTime",
        "id"
      ],
      "type": "structure"
    },
    "GetRunGroupRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "RunGroupId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "GetRunGroupResponse": {
      "members": {
        "arn": {
          "shape": "RunGroupArn"
        },
        "creationTime": {
          "shape": "RunGroupTimestamp"
        },
        "id": {
          "shape": "RunGroupId"
        },
        "maxCpus": {
          "shape": "GetRunGroupResponseMaxCpusInteger"
        },
        "maxDuration": {
          "shape": "GetRunGroupResponseMaxDurationInteger"
        },
        "maxRuns": {
          "shape": "GetRunGroupResponseMaxRunsInteger"
        },
        "name": {
          "shape": "RunGroupName"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "GetRunGroupResponseMaxCpusInteger": {
      "box": true,
      "max": 100000,
      "min": 1,
      "type": "integer"
    },
    "GetRunGroupResponseMaxDurationInteger": {
      "box": true,
      "max": 100000,
      "min": 1,
      "type": "integer"
    },
    "GetRunGroupResponseMaxRunsInteger": {
      "box": true,
      "max": 100000,
      "min": 1,
      "type": "integer"
    },
    "GetRunRequest": {
      "members": {
        "export": {
          "location": "querystring",
          "locationName": "export",
          "shape": "RunExportList"
        },
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "RunId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "GetRunResponse": {
      "members": {
        "arn": {
          "shape": "RunArn"
        },
        "creationTime": {
          "shape": "RunTimestamp"
        },
        "definition": {
          "shape": "WorkflowDefinition"
        },
        "digest": {
          "shape": "WorkflowDigest"
        },
        "id": {
          "shape": "RunId"
        },
        "logLevel": {
          "shape": "RunLogLevel"
        },
        "name": {
          "shape": "RunName"
        },
        "outputUri": {
          "shape": "RunOutputUri"
        },
        "priority": {
          "shape": "GetRunResponsePriorityInteger"
        },
        "resourceDigests": {
          "shape": "RunResourceDigests"
        },
        "roleArn": {
          "shape": "RunRoleArn"
        },
        "runGroupId": {
          "shape": "RunGroupId"
        },
        "runId": {
          "shape": "RunId"
        },
        "startTime": {
          "shape": "RunTimestamp"
        },
        "startedBy": {
          "shape": "RunStartedBy"
        },
        "status": {
          "shape": "RunStatus"
        },
        "statusMessage": {
          "shape": "RunStatusMessage"
        },
        "stopTime": {
          "shape": "RunTimestamp"
        },
        "storageCapacity": {
          "shape": "GetRunResponseStorageCapacityInteger"
        },
        "tags": {
          "shape": "TagMap"
        },
        "workflowId": {
          "shape": "WorkflowId"
        },
        "workflowType": {
          "shape": "WorkflowType"
        }
      },
      "type": "structure"
    },
    "GetRunResponsePriorityInteger": {
      "box": true,
      "max": 100000,
      "min": 0,
      "type": "integer"
    },
    "GetRunResponseStorageCapacityInteger": {
      "box": true,
      "max": 100000,
      "min": 0,
      "type": "integer"
    },
    "GetRunTaskRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "RunId"
        },
        "taskId": {
          "location": "uri",
          "locationName": "taskId",
          "shape": "TaskId"
        }
      },
      "required": [
        "id",
        "taskId"
      ],
      "type": "structure"
    },
    "GetRunTaskResponse": {
      "members": {
        "cpus": {
          "shape": "GetRunTaskResponseCpusInteger"
        },
        "creationTime": {
          "shape": "TaskTimestamp"
        },
        "logStream": {
          "shape": "TaskLogStream"
        },
        "memory": {
          "shape": "GetRunTaskResponseMemoryInteger"
        },
        "name": {
          "shape": "TaskName"
        },
        "startTime": {
          "shape": "TaskTimestamp"
        },
        "status": {
          "shape": "TaskStatus"
        },
        "statusMessage": {
          "shape": "TaskStatusMessage"
        },
        "stopTime": {
          "shape": "TaskTimestamp"
        },
        "taskId": {
          "shape": "TaskId"
        }
      },
      "type": "structure"
    },
    "GetRunTaskResponseCpusInteger": {
      "box": true,
      "min": 1,
      "type": "integer"
    },
    "GetRunTaskResponseMemoryInteger": {
      "box": true,
      "min": 1,
      "type": "integer"
    },
    "GetSequenceStoreRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "SequenceStoreId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "GetSequenceStoreResponse": {
      "members": {
        "arn": {
          "shape": "SequenceStoreArn"
        },
        "creationTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "description": {
          "shape": "SequenceStoreDescription"
        },
        "id": {
          "shape": "SequenceStoreId"
        },
        "name": {
          "shape": "SequenceStoreName"
        },
        "sseConfig": {
          "shape": "SseConfig"
        }
      },
      "required": [
        "arn",
        "creationTime",
        "id"
      ],
      "type": "structure"
    },
    "GetVariantImportRequest": {
      "members": {
        "jobId": {
          "location": "uri",
          "locationName": "jobId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "jobId"
      ],
      "type": "structure"
    },
    "GetVariantImportResponse": {
      "members": {
        "completionTime": {
          "shape": "CompletionTime"
        },
        "creationTime": {
          "shape": "CreationTime"
        },
        "destinationName": {
          "shape": "StoreName"
        },
        "id": {
          "shape": "ResourceId"
        },
        "items": {
[...]
